[2018-09-05 07:42] bertinatto opened #2 "Transfer ownership to kubernetes-sigs as sig-aws subproject"
Re-opening #1 as an issue.

The intent of this pull request is to complete the steps necessary to migrate coreos/alb-ingress-controller repository to k8s-sig-aws as a subproject.

The steps below use rules for [new](https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md#rules-for-new-repositories) and [donated](https://github.com/kubernetes/community/blob/master/kubernetes-

[2018-09-11 04:40] leakingtapan opened #3 "make test fails becuase glog format"
[code]

[2018-09-12 21:09] leakingtapan opened #5 "Fix import path after transfer to kubernetes-sigs"
Current import paths are depending on `github.com/bertinatto/ebs-csi-driver` which should be renamed to `github.com/kubernetes-sigs/aws-ebs-csi-driver`

[2018-09-13 09:19] #3 closed

[2018-09-17 17:02] leakingtapan opened #6 "Add contributing guideline"
A contributing guideline is needed for contributor. We could follow general kubernates guideline

[2018-09-17 18:46] leakingtapan opened #9 "Use ginkgo for sanity test"
This have several benefits that:
1. Using consistent testing framework as e2e test
2. Able to define multiple test configurations per: https://github.com/kubernetes-csi/csi-test/tree/master/pkg/sanity
3. Test results will be print to stdout as test runs as opposes to stuck
    for a while and dump all results at once in the old way

[2018-09-19 22:05] leakingtapan opened #10 "Add README.md for deploy CSI inside kubernetes"
It would be nice if we have a README.md file under https://github.com/d-nishi/aws-ebs-csi-driver/tree/master/deploy/kubernetes to instruct first time user on how to deploy EBS CSI driver on AWS. Basic step and best practices all could be added there.

[2018-09-19 22:09] leakingtapan opened #11 "Update example attacher and provisioner to use headless service."
Currently, the [attacher](https://github.com/d-nishi/aws-ebs-csi-driver/blob/master/deploy/kubernetes/attacher.yaml) and [provisioner](https://github.com/d-nishi/aws-ebs-csi-driver/blob/master/deploy/kubernetes/provisioner.yaml) are setting **service.spec.port** to be dummy port which is unnecessary. Because attacher/provisioner should be deployed as stateful set where loading balancing is not nee

[2018-09-24 07:47] #6 closed

[2018-09-24 17:12] leakingtapan opened #13 "Update to use go module"
We should update this repo to use go module to manage dependencies.
Detailed docs: https://github.com/golang/go/wiki/Modules

[2018-09-24 23:51] leakingtapan opened #14 "Add home page README.md"
This README should help users to on-board to the driver in an easy way.

[2018-09-24 23:52] leakingtapan opened #15 "Add golint check"
This should help on coding standards with external contributor.

[2018-09-25 16:19] leakingtapan opened #16 "Implement support for encrypted volume"
Creating encrypted EBS volume is currently supported in-tree AWS EBS driver [storage class](https://kubernetes.io/docs/concepts/storage/storage-classes/#aws). To achieve feature parity with in-tree implementation, CSI driver should have this feature as well.

We need to handler extra error case where:
* `AWS.CreatVolume` does not return errors when creating an encrypted volume using either non-exi

[2018-09-25 16:29] leakingtapan opened #17 "[Bug] Controller Service uses node AZ to create volume"
Currently, [AWS cloud interface](https://github.com/d-nishi/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L142) used by EBS CSI controller service is instantiated with the same AZ as where controller service is running. This causes the issue that EBS volume is only created at the AZ where controller service runs.

For example, if there are three nodes, each in us-west-2a, us-west-2b and us-wes

[2018-09-25 18:33] leakingtapan opened #18 "Add AWS EBS CSI Driver to CSI driver list"
Add to list here: https://kubernetes-csi.github.io/docs/Drivers.html

[2018-09-26 00:28] ddebroy commented on #11
LGTM

[2018-09-26 07:16] #11 closed

[2018-09-26 14:32] #9 closed

[2018-09-26 16:09] leakingtapan opened #20 "Fix bot"
We had bot setup. However, it isn't working obviously.

_Originally posted by @jsafrane in https://github.com/d-nishi/aws-ebs-csi-driver/pull/8#issuecomment-424738022_

[2018-09-26 19:03] leakingtapan opened #21 "Add version command to ebs-csi-driver cmd"
`./aws-ebs-csi-driver --version` should return version with following information in Json formation including:
* git commit sha
* driver version
* go compiler version
* build date
* Platform OS and Arch

[2018-09-26 19:03] leakingtapan opened #22 "Rename ebs-csi-driver to aws-ebs-csi-driver"
Update should include:
* binary name
* docker images that use the binary name
* docs that refer the binary name

[2018-09-26 20:58] leakingtapan opened #23 "Add test coverage in PR"
Any PR should have test coverage reported on PR request. Here is an example:
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/647

[2018-09-26 20:59] leakingtapan opened #24 "Report Test coverage to k8s upstream"

[2018-09-26 23:14] leakingtapan commented on #17
@ddebroy thanks for the input. Will take a look at topology awareness framework.

[2018-09-28 04:32] leakingtapan opened #25 "Implement Snapshot support"
Driver implementation should support following operations:
 - [x] CreateSnapshot
 - [x] DeleteSnapshot
 - [ ] ListSnapshots
 - [x] CreateVolume from snapshot

References:
* https://kubernetes.io/docs/concepts/storage/volume-snapshots/
* https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/
* https://kubernetes-csi.github.io/docs/Implement-Snapshot-Feature.html

[2018-09-28 22:12] leakingtapan opened #27 "Add Travis as CI"
The Travis job should do:
 - [x] Build the package and verify build pass
 - [x] Run unit test and verify tests succeed
 - [x] Run sanity test and verity it succeeds

[2018-10-02 05:04] leakingtapan opened #31 "Add support for storage class parameters"
There is a list of storage class parameters that will be passed down to driver and they should be picked up by driver if specified. See [here](https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs) for full list with descriptions.

There are several parameters we need to implement:
 - [x] type #63
 - [x] iopsPerGB #63
 - [x] fsType #62
 - [x] encrypted #16
 - [x] kmsKeyId #16
 - [x]

[2018-10-02 05:05] leakingtapan commented on #16
Ref #31

[2018-10-02 07:31] #27 closed

[2018-10-03 18:00] leakingtapan opened #35 "Improve Cache Implementation"
The current cache implement has some issues that could be improved:
* It requires explicit `Deprioritize` each time `GetNext` is called. The only time `Deprioritize` is called is after `GetNext`, we can combine the two methods together to help on maintainability and understanbility and reduce the chance that someone forget to call `Deprioritize`
* The behavior of `GetNext` is nondeterministic, thi

[2018-10-03 18:34] leakingtapan commented on #20
CLA bot is working. Ref #34

[2018-10-03 18:34] #20 closed

[2018-10-03 18:43] leakingtapan opened #36 "Basic testing infra with Prow"
Currently, we are using Travis as a work around to run unit test and sanity test. It is suggested that everything should be running in Prow.

Done:
* Every PR should trigger bot to run Prow job for AWS EBS CSI driver
* The Prow job should include unit test, sanity test and extensible for e2e, performance test (long run)

Reference:
* [GCE PD CSI Driver](https://github.com/kubernetes/test-infra/blo

[2018-10-03 18:54] leakingtapan opened #37 "Update cloud API to consume context"
There is a [list of APIs](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L103-L111) that does volume operations but they are not consuming context object from CSI driver interface and populating it down to underlying AWS API calls.

Those APIs should be updated to consume and populate context object. It has the benefit that, once any call to EBS CSI driver is

[2018-10-03 18:58] leakingtapan opened #38 "Implement wait for volume attach/detach"
As noted [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L263)

This is to ensure `AttachVolume` is fully completed before proceeding to mount.

We will also need to do similar thing for `DetachVolume`, `CreateVolume` and `DeleteVolume`

[2018-10-03 19:16] leakingtapan opened #39 "Populate MaxVolumesPerNode in NodeGetInfoResponse"
This is to help CO to decide how many volume maximum could be attached to the node without going over the limit.

Reference:
https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetinfo

[2018-10-04 00:17] leakingtapan commented on #23
This is done after coveralls is added.

[2018-10-04 00:17] #23 closed

[2018-10-04 05:30] leakingtapan commented on #15
This is available through: https://goreportcard.com/report/github.com/kubernetes-sigs/aws-ebs-csi-driver

[2018-10-04 05:30] #15 closed

[2018-10-04 08:46] #5 closed

[2018-10-04 08:46] #22 closed

[2018-10-04 08:56] #13 closed

[2018-10-04 09:04] bertinatto opened #41 "Create container registry account"
We need to host the driver in a container registry. Currently it's being stored in my personal account [1], but it'd be better to store it in its own account.

[1] https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/Makefile#L1

[2018-10-04 15:53] d-nishi commented on #41
Lets place it in docker hub for now. I could create a common place for all sig-aws subproject containers

[2018-10-08 07:55] #37 closed

[2018-10-09 18:00] leakingtapan opened #48 "Strip symbol for production build"
ldflags should be set to strip symbol using:
[code]

[2018-10-10 05:09] leakingtapan commented on #38
Ref https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/34/files#r223354237

[2018-10-10 08:31] bertinatto commented on #38
/assign

[2018-10-10 12:35] bertinatto opened #50 "Manifests files no longer work"
After `KubeletPluginsWatcher` graduated to beta [1], this feature comes
enabled by default.

Basically, it replaces the older driver registration
mechanism, where the sidecar container used register the driver in the
Kubelet. With `KubeletPluginsWather` enabled, this registrarion is done
by the Kubelet itself.

As a result of this, the currently sample manifests no longer work.

[1] https://github

[2018-10-10 12:44] bertinatto commented on #25
CC @tsmetana

[2018-10-10 14:01] bertinatto opened #52 "Cannot attach volume to instance in a different AZ"
PR https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/42
changed the `CreateDisk` behaviour by creating a volume in a random AZ
if such isn't provided. However, the volume might be created in an AZ where there's no driver
running.

This is the error that I'm getting:

[code]

[2018-10-10 14:01] bertinatto commented on #52
/kind bug

[2018-10-10 20:12] leakingtapan opened #54 "Fix docker build issues"
There are several issues with our current build process:
* Its referencing fedora-minimal as base image which not available without registry prefix
   - the proper base image path should be **registry.fedoraproject.org/fedora-minimal**
* Driver build environment depends on where Makefile is running, which has two issues:
   - golang version various on different environment
   - its cannot yet to b

[2018-10-11 17:15] #50 closed

[2018-10-12 20:46] leakingtapan opened #59 "Switch to use AmazonLinux for driver container base image"
https://hub.docker.com/_/amazonlinux/

[2018-10-14 22:18] leakingtapan opened #62 "Implement support for storage class parameter - fsType"
fsType format depends on [mount util](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L489).

Supported fs type will be whatever is supported by mkfs:
- ext2
- ext3
- ext4

[2018-10-14 22:19] leakingtapan opened #63 "Implement support for storage class parameter - volume type"
Volume type will include: gp2, io1, st1 and sc1. When io1 is specified, an extra `iopsPerGB` field should be taken

[2018-10-14 22:23] leakingtapan opened #64 "Implement support for storage class parameter - zone/zones/allowedTopologies"
`zone/zones` are needed for k8s version v1.10 and v1.11. These two fields are deprecated in v1.12 in favor of `allowedTopologies`.

[2018-10-15 18:12] leakingtapan opened #65 "Implement wait for volume create/delete"
Similar to #38

[2018-10-15 23:11] #38 closed

[2018-10-15 23:41] leakingtapan opened #66 "[Bug] e2e test failed when running in a region other than us-east-1"
/kind bug

The e2e test ec2 client has a [hard coded](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/tests/e2e/setup_test.go#L38) region, which causes e2e test to fail when it runs in a region other than us-east-1

[2018-10-16 04:54] leakingtapan commented on #52
@bertinatto this issue could be resolved, right?

[2018-10-16 07:12] bertinatto commented on #52
/close

[2018-10-16 07:12] #52 closed

[2018-10-17 13:38] bertinatto commented on #66
/assign

[2018-10-17 14:53] bertinatto commented on #65
I'm afraid that in large clusters this will increase the API usage considerably, possibly getting the rate-limited.

Kubernetes waits on volume creation only when it's using encryption keys [1]. Apparently it only waits on tag creation, so this ends up as a side effect.  As for deletion, it doesn't seem to wait at all.

[1] https://github.com/kubernetes/kubernetes/blob/95c99eb052baba498dfb366bb1e4

[2018-10-17 19:06] #66 closed

[2018-10-18 06:48] #62 closed

[2018-10-18 16:57] leakingtapan commented on #41
im talking to our internal team to put it under: https://hub.docker.com/u/amazon/

[2018-10-18 18:08] leakingtapan commented on #65
In this case, we could follow in-tree implementation then. And implement wait for creation only for encrypted volume.

Could you elaborate on this?

[2018-10-18 18:10] leakingtapan commented on #62
Ref: #31

[2018-10-18 18:31] leakingtapan commented on #36
For unit test, sanity test and code verification, it should be pretty doable by adding prow job [here](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs), since it doesn't rely on AWS infrastructure.

[2018-10-18 18:31] leakingtapan commented on #36
/cc @bertinatto

[2018-10-18 22:30] leakingtapan opened #72 "Differentiate client side error vs server side error for volume cloud interface"
/kind feature

[cloud interface](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L113) should differentiate client side error vs server side error from ec2 client. Otherwise, it will be very confusing when a client side is reported as internal error, and it will block caller from retrying the call properly.

Further more, with error code reported, external-prov

[2018-10-18 23:35] leakingtapan commented on #63
ref: #31

[2018-10-18 23:37] leakingtapan commented on #64
ref #31

[2018-10-19 08:52] bertinatto commented on #65
The in-tree implementation works like this:

* K8s sends the CreateVolume request
* K8s sends another request to create some tags on that volume
    * If this request fails, k8s tries again until a request succeeds or the timeout limit is reached
    * In other words, k8s doesn't wait for the volume to be **available**, but I believe that until the volume is not **available**, the tag creation won

[2018-10-19 16:14] #14 closed

[2018-10-20 03:53] leakingtapan commented on #10
Resolved by #71

[2018-10-20 03:53] #10 closed

[2018-10-22 16:57] leakingtapan opened #74 "Improve request logging format"
The logging format for each incoming request prints memory address within a struct if the request contains pointer. This will not be very useful during debugging. We could improve it to log concrete value.

Once example of `CreateVolume` request:
[code]

We cloud do similar logging as external-provisioner logging format for request/response. As an example:
[code]

[2018-10-22 18:43] leakingtapan commented on #64
Tested `allowedTopologies` is supported once topology is enabled using `VolumeScheduling`.

sc used tested:
[code]

No driver change will be needed for this feature. I will add documentation for this.

[2018-10-22 19:57] leakingtapan opened #75 "Add ISSUE template and PR template"

[2018-10-22 19:57] #63 closed

[2018-10-22 21:34] leakingtapan commented on #65
I researched the `CreateVolume` issue a bit. It is caused by the nature that the API is an async API so that any calls to it is executed under the hood of EBS as an asynchronous workflow. Given that, if an invalid KMS key is passed in `CreateVolume` the validation error is not known (at least now) until the async workflow is executed.  Im contacting the EBS service team for their plan on solve thi

[2018-10-22 21:57] #59 closed

[2018-10-24 04:18] #64 closed

[2018-10-24 19:26] leakingtapan opened #79 "Add changelog for alpha release"

[2018-10-24 19:49] leakingtapan commented on #36
/cc @gyuho

[2018-10-24 20:07] gyuho commented on #36
I've implemented a plugin to launch a temporary EC2 instance to run all integration tests. Should be ready by this week, once our test credential is mounted in upstream Prow.

[2018-10-25 09:15] bertinatto commented on #2
@d-nishi @leakingtapan: seems like we can close this, right?

Feel free to re-open it if necessary.

[2018-10-25 09:15] #2 closed

[2018-10-25 14:59] bertinatto commented on #25
/assign @tsmetana

[2018-10-26 07:51] #16 closed

[2018-10-26 16:00] leakingtapan commented on #31
All parameters are added.
/close

[2018-10-26 16:00] #31 closed

[2018-10-27 18:27] leakingtapan opened #82 "Update Driver Version for Alpha release"
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/driver.go#L33

[2018-10-27 18:35] leakingtapan commented on #2
Ref kubernetes/community#2780

[2018-10-29 16:54] leakingtapan commented on #35
/cc @bertinatto

Let me know how do you think of the problem and my proposal

[2018-10-29 17:50] leakingtapan commented on #35
Ah. Found out that this what the in-tree implements as well: https://github.com/kubernetes/kubernetes/blob/v1.12.2/pkg/cloudprovider/providers/aws/device_allocator.go#L42

[2018-10-29 18:01] leakingtapan opened #83 "Add golint to verification"
Should be added to `hack/verify-all` and similar to `gofmt`

[2018-10-29 22:04] leakingtapan opened #86 "WaitForAttach even when device is already assigned"
/kind bug

Inside `AttachDisk` [call](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L303), `c.waitForAttachmentState` is called even when the device is already assigned. We should only call it when device is not attached.

[2018-10-29 22:05] leakingtapan commented on #86
/cc @bertinatto

[2018-10-30 20:36] leakingtapan commented on #41
The account is created: https://hub.docker.com/r/amazon/aws-ebs-csi-driver/

/close

[2018-10-30 20:36] #41 closed

[2018-10-30 20:41] leakingtapan opened #87 "Setup automation to push container image to registry"
**Requirement**
The automation tool/service should be able to:
* build container image when PR is merged on github -  this ease the process to build container image and helps preventing human errors during container build
* push container image to container registry - Mainline build should be pushed to registry with latest tag. If the github event has a release tag, build the image with tag as rel

[2018-10-30 20:57] leakingtapan opened #89 "Update README"
With latest topology support:
* CSINodeInfo CRD

[2018-10-30 22:57] leakingtapan commented on #35
/cc @jsafrane @gnufied

[2018-10-31 14:20] bertinatto commented on #86
This is similar to the in-tree implementation and I think it's not a bug actually.

If `AttachDisk` is called when the device is already marked as "attaching", we want it to wait until it becomes "attached".

[2018-10-31 14:43] bertinatto commented on #35
Yes, I decoupled the device management code from k8s an created the package `devicemanager` package (and added tests).

This is also from in-tree. What kind of problem can we have with `sort.Sort`?

I'm not sure if I'm following. The device release is [deferred](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L326) even when it has a taint.

[2018-10-31 15:51] gnufied commented on #35
I thought the reason `GetNext`  and `Deprioritize` were separate functions is because we wanted to `Deprioritize` only after device has been successfully attached. There is already another mechanism that prevents concurrent use of same device names between attaches.

`GetNext` is indeed non-deterministic and feel free to change it. At the end of day though, the device allocator is a band-aid that

[2018-10-31 16:53] leakingtapan commented on #82
Discussed with @d-nishi, we will use `0.1.0-alpha` as alpha release version. And it will be bump to `0.2.0-beta` for beta release.

[2018-10-31 16:54] leakingtapan commented on #82
/cc @bertinatto

[2018-11-03 09:53] #82 closed

[2018-11-03 22:43] leakingtapan opened #94 "Switch to use Prow to report code coverage to coverall"
We can do similar thing as discussed here: https://github.com/kubernetes/test-infra/pull/9976

[2018-11-05 19:43] leakingtapan commented on #83
There are several choices outside:
1. golint: https://github.com/golang/lint this is used by upstream k/k however, the error is pretty verbose and most of the complaints are documentation issues regarding to public interface. Since AWS EBS CSI driver implements the CSI Spec, there is not real reason to document the same interface
2. golangci-lint: https://github.com/golangci/golangci-lint used by

[2018-11-05 22:13] leakingtapan commented on #86
You're right. I didn't realized that the same `AttachDisk` call could be called by CO again while one is already in progress.

/close

[2018-11-05 22:13] #86 closed

[2018-11-07 08:42] #83 closed

[2018-11-09 17:12] leakingtapan commented on #25
Punt the feature to beta release

[2018-11-12 17:59] leakingtapan opened #99 "Create Helm chart for driver"
Currently, user has to rely on the sample manifest files under deploy/kubernetes to deploy EBS CSI driver.

As a user who is looking for production ready EBS CSI driver to deploy on kubernetes, he shouldn't need to think about editing manifest file or asking best practices of editing it. We could leverage helmchart to make this a lot easier for user.

https://hub.helm.sh/

[2018-11-12 20:10] leakingtapan opened #101 "Raw Block Volume Support"
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#raw-block-volume-support

[2018-11-12 20:10] leakingtapan opened #102 "Mount Option Support"
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options

[2018-11-13 18:29] leakingtapan opened #104 "Finalize CSI Driver name"
There is a breaking change going to be introduced by CSI 1.0:
 - Change "reverse domain notation" requirement to "forward domain notation"

We should finalize the EBS CSI Driver name and update README for alpha release.

Proposed names:
* Driver name: `ebs.csi.aws.com`
* Topology Key (in form of prefix/name): `topology.ebs.csi.aws.com/zone`

Ref: kubernetes-sigs/gcp-compute-persistent-disk-csi-dri

[2018-11-13 18:29] leakingtapan commented on #104
/cc @d-nishi @bertinatto

[2018-11-13 20:34] #89 closed

[2018-11-13 22:21] leakingtapan opened #107 "Perform user acceptance test"
* Go through README
* Try out example CSI driver
* Report any issue found

[2018-11-14 00:05] leakingtapan commented on #104
/cc @bertinatto @jsafrane

[2018-11-14 00:12] d-nishi commented on #104
/lgtm

[2018-11-14 21:51] leakingtapan commented on #107
/cc @Jeffwan

[2018-11-14 21:53] leakingtapan commented on #107
/assign @Jeffwan

[2018-11-14 21:58] Jeffwan commented on #107
Find two typos

`kubectl create -f deploy/kubernetes/v.12+` should be `kubectl create -f deploy/kubernetes/v1.12+`

`kubectl create -f deploy/kubernetes/v.12+/sample_app` should be `kubectl create -f deploy/kubernetes/v1.12+/sample_app`

[2018-11-14 22:02] Jeffwan commented on #107
I am trying to resize volume and got following errors. Is this in expectation?

[code]

[2018-11-14 22:09] Jeffwan commented on #107
Can not find target file and we should update to latest in README.md

[code]

[2018-11-14 22:17] Jeffwan commented on #107
Another question, for ACCESS_KEY_ID and SECRET_ACCESS_KEY. Should the doc specify right permission for IAM user? I tried to revoke permission and got following error when claiming storage.

[code]

[2018-11-14 23:46] Jeffwan commented on #107
v.1.12+

[code]

Try 2 and 5 node cluster but still failed, looks like it against some volume affinity policy

v1.10. get a few warnings about `InvalidVolume.ZoneMismatch`.

[code]

but pods is still not up due to unknown reason.

[code]

[2018-11-15 05:39] #104 closed

[2018-11-15 17:30] leakingtapan opened #112 "Add SECURITY_CONTACTS"
https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#embargo-policy

[2018-11-15 18:36] leakingtapan commented on #107
Thanks for prove read the README and test out the driver!

Will fix

Resize is not supported yet.

The link is moved. Will create issue for the upstream doc and point to there

Will update the README with suggestions.

This is because kubernetes v1.10 does have volume scheduling feature yet.

[2018-11-15 19:06] leakingtapan opened #113 "Provide IAM Policy Template for the driver"
As a user, I would like to know what are the required the minimum IAM permission for the driver to function.

Ref #107

[2018-11-15 19:16] leakingtapan commented on #107
This is related to a known behavior: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/61#issuecomment-429900814

[2018-11-16 17:36] leakingtapan opened #115 "Create Github Page for Driver documentation"
We could use github page to organize driver documentations in a nicer way:
* https://pages.github.com/

The documentation could be generated using:
* Mkdoc: https://www.mkdocs.org/

It generates pretty decent page and is used by [nginx ingress controller doc](https://kubernetes.github.io/ingress-nginx/)  and is used by aws-alb-ingress-controller as well

It should be a mirror of our current docume

[2018-11-16 17:57] #107 closed

[2018-11-16 17:59] leakingtapan commented on #36
/cc @kschumy

[2018-11-16 17:59] #112 closed

[2018-11-16 18:11] leakingtapan opened #118 "Add end to end test cases"
This is the top level issue about implementing e2e test for the driver. The tests will exercise the driver functionalities along with kubernetes being the CO. The functionalities includes:

*Happy Scenarios*:
 - [x] It("should create a PV object, bind to a PVC and be deleted with Delete reclaimPolicy")
 - [x] It("should create a PV object, bind to a PVC and be retained with Retain reclaimPolicy")

[2018-11-16 18:13] leakingtapan commented on #118
/cc @gyuho

[2018-11-16 18:16] #75 closed

[2018-11-16 18:40] leakingtapan commented on #24
Duplicated to #94

[2018-11-16 18:40] #24 closed

[2018-11-16 18:46] leakingtapan commented on #72
This the scope is more than just fixing bugs. Update to be a feature

[2018-11-16 18:48] leakingtapan commented on #102
/kind feature

[2018-11-16 18:48] leakingtapan commented on #101
/kind feature

[2018-11-16 18:51] leakingtapan commented on #39
/kind feature

[2018-11-16 18:54] leakingtapan opened #119 "Upgrade driver to be CSI 1.0 compliant"
**Is your feature request related to a problem?/Why is this needed**
CSI 1.0 is released: https://github.com/container-storage-interface/spec/blob/release-1.0/spec.md
The driver should be upgraded to be compatible with it.

TODOs:
 - [x] upgrade driver (#122)
 - [x] update documentation of compatibility matrix (#147)

/kind feature
/kind cleanup
/kind documentation

[2018-11-16 23:56] leakingtapan opened #120 "Create release script"
This script will help us to automate part of the release process including:
 - [x] Generate download links with sha512
 - [x] Generate release note

[2018-11-17 01:56] gyuho commented on #118
Ack. We should have this ready by next quarter.

[2018-11-19 16:23] bertinatto commented on #119
/assign

[2018-11-19 18:38] leakingtapan commented on #25
/kind feature

[2018-11-21 13:52] bertinatto commented on #119
Code changes are addressed at #122.

[2018-11-21 14:01] bertinatto commented on #118
:+1:

@gyuho, @leakingtapan: just to make sure, perhaps are you working on this already?

[2018-11-21 17:35] leakingtapan commented on #118
I have some ideas and will implement one test case and send PR to see how it looks like. After that we can break this down into sub tasks one per test case.

/assign

[2018-11-22 13:04] bertinatto commented on #65
/assign

[2018-11-22 13:33] bertinatto commented on #65
The behaviour has changed since in 5cd3c00dba9.

[2018-11-23 14:21] bertinatto commented on #65
@leakingtapan, I have been thinking about this and I'd like to propose this:

Wait for the right volume state in `CreateDisk`, but poll the AWS API every 5 seconds during 1 minute. Assuming the volume takes in average 4 seconds to be `available`, this should result in only 1 extra request in most cases. Thoughts?

[2018-11-23 15:46] bertinatto commented on #101
Not supported by external provisioner yet: https://github.com/kubernetes-csi/external-provisioner/pull/135

[2018-11-23 16:58] leakingtapan commented on #118
To clarify a bit, the scope of this issue is to write e2e test cases so that we can at least run test against our personal cluster endpoint quickly. This will be an big improvement over manual testing.

And the work to set k8s cluster and the EBS CSI driver will be tracked separately by @gyuho and after that is done we will get full e2e test automation and integration with Prow.

[2018-11-25 00:46] leakingtapan opened #123 "Is MULTI_NODE_READER_ONLY Volume Capability required?"
According to [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md):
[code]
MULTI_NODE_READER_ONLY should be used for volume that can be published as readonly on multiple nodes, and this is not supported by EBS yet but got [set by the driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/driver.go#L71)

Should this be removed?

/cc @berti

[2018-11-26 17:32] leakingtapan opened #124 "Use csi-common for common methods"
**Is your feature request related to a problem?/Why is this needed**
/maintenance

[csi-commons](https://github.com/kubernetes-csi/drivers/tree/master/pkg/csi-common) in CSI drivers repo defines a set of common methods that could be shared between drivers. One example is `ParseEndpoint`.

We could reuse it instead of having similar implementations in different repo

[2018-11-26 21:48] leakingtapan commented on #102
@bertinatto do you know if this is supported by CSI already?

[2018-11-27 21:53] leakingtapan commented on #65
To clarify, we are proposing this for only `CreateDisk`? And this applies to both encrypted disk and regular disk, right?

[2018-11-28 08:17] bertinatto commented on #65
That's correct.

I have a PoC working, but I might have to play with the interval times, as the `context` coming from k8s has a timeout deadline that occasionally is run over.

[2018-11-28 10:14] #79 closed

[2018-11-28 13:54] tsmetana commented on #25
First version (does not implement snapshot listing yet): https://github.com/tsmetana/aws-ebs-csi-driver/tree/snapshots-updated

It's based on PR#122 (CSI-1.0) so I will wait with my PR.

[2018-11-28 15:46] bertinatto commented on #123
Thanks for pointing this out.

I mistakenly assumed it was supported. Just created a PR to remove it.

[2018-11-29 13:42] bertinatto commented on #102
@leakingtapan: yes, it has been added a month ago: https://github.com/kubernetes/kubernetes/pull/67898

[2018-11-29 13:45] bertinatto commented on #101
PR above has been merged recently, so we can start working on this.

[2018-11-29 13:49] bertinatto commented on #65
As for the delete operation, I propose to simply call DeleteVolume without waiting for the state.

This saves one or more requests, plus we'll get an error if something is wrong.

[2018-11-30 08:44] bertinatto commented on #25
@tsmetana: we just merged my PR into `next` branch. If you want to proceed with you PR you can point it against `next` as well.

[2018-11-30 22:37] callahanca commented on #113
Hi,
I'd like to work on this!

[2018-12-02 01:03] #113 closed

[2018-12-03 20:12] #74 closed

[2018-12-03 21:15] leakingtapan commented on #123
Fixed through #127

[2018-12-03 21:15] #123 closed

[2018-12-04 19:28] leakingtapan opened #137 "Incompatibale example manifest files on master branch"
/kind bug

**What happened?**
I deployed ./deploy/kubernetes/v1.12+ driver on my v1.12 cluster, csi-driver-registrar fails to start

Due to follow error:
[code]

**What you expected to happen?**
v1.12 manifest should still work with v1.12 cluster

[2018-12-04 19:43] leakingtapan commented on #137
This is caused by back ward incompatible changes made on CSI with regard to k/k v1.13. So that v1.13 manifests can not run on v1.12 cluster.

[2018-12-05 08:47] #137 closed

[2018-12-05 18:22] #21 closed

[2018-12-05 18:40] leakingtapan commented on #118
I updated the issue description and break down the test cases

[2018-12-06 17:35] leakingtapan opened #141 "Add e2e test to testgrid"
**Is your feature request related to a problem?/Why is this needed**
Once e2e test Prow job is enabled. The test result should be reported to [testgrid](https://testgrid.k8s.io/sig-aws-ebs-csi-driver)

/feature

**Describe the solution you'd like in detail**
Ref:
* https://github.com/kubernetes/test-infra/pull/9872
* https://github.com/kubernetes/test-infra/pull/9924

**Additional context**
* We w

[2018-12-09 01:09] leakingtapan opened #142 "Add unit test for node service"
**Is your feature request related to a problem?/Why is this needed**
Add unit test for node service

 - [ ] NodeStageVolume
 - [ ] NodeUnStageVolume
 - [ ] NodePublishVolume
 - [ ] NodeUnpublishVolume
 - [ ] MountOpetion support
 - [ ] NodeStageVolume Idempotency

[2018-12-09 01:10] #102 closed

[2018-12-09 06:28] leakingtapan opened #143 "Enhance Unit test using subtest"
**Is your feature request related to a problem?/Why is this needed**
golang [subtest](https://golang.org/pkg/testing/#hdr-Subtests_and_Sub_benchmarks) should be used in unit test.

This helps identifying different tests and its result in test results

[2018-12-10 18:50] leakingtapan opened #144 "Bump Driver version to 0.2.0"
**Is your feature request related to a problem?/Why is this needed**
The current version is `0.1.0-alpha`, it should be bumped to `0.2.0` for beta release.

[2018-12-10 19:54] leakingtapan opened #145 "Use Encryption Provider for Secret Encrpytion"
**Is your feature request related to a problem?/Why is this needed**
Putting AWS secrets in secret object is not a best practice, we should use encryption provider to encryption keys at rest.

[2018-12-11 19:46] leakingtapan opened #146 "Add Volume Resizing Support"
**Is your feature request related to a problem? Please describe.**
Volume Resizing Support includes:

* Should support all filesystem types: ext2, ext3, ext4, xfs. It should using different resize tool for different filesystem.

* And for different instance types including nvme.

* And for filesystems that requires resizing partition table.

**Describe the solution you'd like in detail**
This shou

[2018-12-12 04:17] SupriyaSirbi commented on #115
Hello,

I want to work on the same. Could you please assign it to me?

Thanks

[2018-12-12 07:19] leakingtapan commented on #115
thx for the help

/assign @SupriyaSirbi

[2018-12-12 07:20] leakingtapan commented on #115
@SupriyaSirbi make sure you signed CLA following our [contributor guideline](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CONTRIBUTING.md) thx

[2018-12-13 06:34] #65 closed

[2018-12-14 17:59] leakingtapan commented on #145
As best practice. Need to consider parallel effort of Pod identity: https://github.com/aws/containers-roadmap/issues/23

[2018-12-17 03:48] leakingtapan commented on #119
Documentation changes are addressed in #147

[2018-12-17 03:48] leakingtapan commented on #119
/close

[2018-12-17 03:48] #119 closed

[2018-12-18 05:09] leakingtapan opened #150 "[Design] Performance Test"
**Is your feature request related to a problem? Please describe.**
We need to do performance test to understand how well the driver performs and what are the scalability constraints. Metrics could be:
* Driver startup time
* Provisioning / attaching /staging large amount of volumes at the same time
* create volume latency/throughput
* delete volume latency/throughput
* attach volume latency/throug

[2018-12-21 18:13] #144 closed

[2018-12-25 17:03] leakingtapan opened #158 "Update driver manifest for driver-registrar"
**Is your feature request related to a problem? Please describe.**
The CSI sidecar driver registrar is split into two side cars: cluster-driver-registrar and node-driver-registrar. EBS CSI [node manifest file](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/latest/node.yaml) should be updated in according to this

**References**
* cluster-driver-registrar: https

[2018-12-25 18:10] leakingtapan opened #159 "Integration with k8s liveness probe"
**Is your feature request related to a problem? Please describe.**
See https://github.com/kubernetes-csi/livenessprobe for more details

[2018-12-26 14:17] dkoshkin commented on #158
I have some code I've been testing to do this, you can assign to me if you like.

[2018-12-26 18:36] leakingtapan commented on #158
/assign @dkoshkin

[2018-12-26 18:43] leakingtapan opened #161 "Rename VolumeNameTagKey"
**Is your feature request related to a problem?/Why is this needed**
`VolumeNameTagKey` is used as tag when creating EBS volume. It is used to implement idempotency when creating a new volume the key is used to check if the volume is already created.

The current key is `com.amazon.aws.csi.volume`. This is the old driver name which is unnecessarily named this way. We could rename the key to be `CS

[2018-12-27 00:56] kschumy commented on #36
Ref: #162

[2018-12-29 02:04] dkoshkin opened #164 "Pre-provisioned volumes is not deleted with persistentVolumeReclaimPolicy Delete"
/kind bug

**What happened?**
Created a `PersistentVolume` resource with an EBS volume and `persistentVolumeReclaimPolicy: Delete`, a `PersistentVolumeClaim` and a matching `Pod`. The volume binds correctly and can write to it.
However, when deleting the resources the EBS does not get deleted.

**What you expected to happen?**
The EBS volume to get deleted. Reading the Kubernetes code thats what i

[2019-01-02 16:40] bertinatto opened #165 "Race condition in CreateVolume"
/kind bug

**What happened?**

When the CO calls `CreateVolume` (through the sidecar container), it passes in a volume name. If a second call to create the volume is issued, we return the same volume created in the first request.

Since there's no way to specify the volume name through the EC2 API, we currently set the volume name as a [tag](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/bl

[2019-01-03 13:12] bertinatto opened #167 "Node Server not handling context"
/kind bug

**What happened?**

Node server calls (e.g., `NodeStageVolume`, `NodePublishVolume`, etc.) don't handle the context that is passed in by the CO.

We handle cancellation signals in order to prevent unnecessary computation.

/assign

[2019-01-03 13:16] bertinatto commented on #143
/assign

I've been thinking about this, so I'll take a stab at it.

[2019-01-03 13:18] bertinatto commented on #143
/unassign

Sorry, wrong issue.

[2019-01-03 13:22] bertinatto commented on #142
/assign

I've been thinking about this, so I'll take a stab at it.

[2019-01-03 19:32] leakingtapan commented on #142
To share some ideas in my mind, we can define the driver's `mounter` definition [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/driver.go#L43) using the `mounter.Interface` [interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount.go#L41) instead of `mount.SafeFormatAndMount` struct. Since it actual implements the interface [here](htt

[2019-01-04 05:07] leakingtapan commented on #167
This will be tricky since the underlying mounter library API doesn't support cancellation yet. @bertinatto do you have any ideas?

[2019-01-05 00:53] leakingtapan commented on #164
Im able to reproduce the issue too. And it works when in-tree EBS plugin is used with following manifest:
[code]

I have to comment out `fsType` since there has another issue when it is specified with following error:
[code]

[2019-01-05 05:19] leakingtapan commented on #164
Talked to @msau42

This is because provisioner annotation is missing from the PV spec, PV deletion work after added annotation

[code]

[2019-01-05 05:31] leakingtapan commented on #164
Feature request to external provisioner: https://github.com/kubernetes-csi/external-provisioner/issues/202

[2019-01-05 05:41] dkoshkin commented on #164
I wasn't able to get the volume to delete even with the annotation, I'll try with a fresh cluster in a couple of days and report back.

[2019-01-05 06:18] leakingtapan commented on #164
I have to make the zone match first, once the app pod is created successfully, the deletion works. Otherwise, if zone mismatches, I got another issue. Do you have the same problem?

[2019-01-07 15:01] dkoshkin commented on #164
OK I tried it again on a new Kubernetes `v1.13.1` cluster and the volume is not being deleted:
[code]
Here is some terminal output, you can see that the pod is running and writing out to the volume:
[code]
The controller-manager detaches the volume correctly, and I no longer see the log message about not being able to find the provisioner:
[code]
However the `csi-provisioner` is not getting the me

[2019-01-07 18:36] leakingtapan commented on #164
@dkoshkin How did you delete the pod and pvc after app pod is up and running?

[2019-01-07 18:56] dkoshkin commented on #164
@leakingtapan interesting I was deleting 3 different files in a directory at the same and it was not deleting the EBS volume.
I did see the same issue about the PV getting stuck being deleted if there was an issue when the pod tries to attach to the volume (I ran into this when the EBS volume was provisioned in a wrong AZ and had to delete the  `volumeattachment` resource to delete the PV)

[2019-01-07 20:04] leakingtapan commented on #164
That's what I saw last time I tried, but its not happening for me today (same cluster is used) 😓

To summarize, there are 2 issues related to this reported buggy behavior:

1. kubectl behaves differently between deleting multiple objects at the same time (either through many files under a directory or one manifest file that contains many specs) and deleting objects individually. I suspect, for the

[2019-01-08 00:49] leakingtapan commented on #165
And we have an `inFlight` cache for volume attach idempotency. Could we make these three idempotent solution consistent?

[2019-01-08 00:51] msau42 commented on #164
When pv reclaim policy is delete, you only delete the PVC object, not the PV.  Kubernetes will handle deletion of the PV object after it issues DeleteVolume on the driver.

[2019-01-08 00:53] leakingtapan commented on #161
/assign

[2019-01-08 15:11] bertinatto commented on #142
`FormatAndMount` is only implemented in `mount.SafeFormatAndMount`, so unless we drop it we need this type.

My idea was to use a file as a block device; and use it as a target device in the Node* calls. It might require root privileges, but it's more realistic.

[2019-01-08 17:42] leakingtapan opened #175 "NodeUnstageVolume Idempotency"
Why are we concerned about `NodeUnStageVolume` here? I thought CO should guarantee unstage is called after stage for the same target path. So that these two operations should never happen concurrently.

But this also makes me wondering how should be handle the idempotency of `NodeUnstageVolume` itself? We currently do NOT check whether the target path exists on disk before doing unmount. This will

[2019-01-08 17:48] leakingtapan commented on #175
/feature

[2019-01-09 03:49] leakingtapan commented on #142
`FormatAndMount` is a simple wrapper around `mounter.Interface.Mount(source, target, fstype, options)`

[2019-01-09 03:49] #161 closed

[2019-01-09 08:59] bertinatto commented on #142
From what I see, `SafeFormatAndMount.FormatAndMount()` [is a wrapper around  `SafeFormattAndMount.formatAndMount`](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount.go#L181-L183), that in turn [has a lot of logic in it](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L428-L510).

[2019-01-09 19:32] leakingtapan commented on #142
You are right, didn't look at the right file...

[2019-01-09 19:39] leakingtapan commented on #142
Given that, make `FormatAndMount` being an interface that `SafeFormatAndMount` implements make more make to be, the change will be in upstream which requires extra works, but this could benefit unit testing of other drivers which makes me think worth it.

I feel we can do something like:

[code]

How do you think? Also running unit test with sudo is a bit over killing

[2019-01-10 23:18] leakingtapan opened #177 "Investigate Deploying Multiple CSI Driver Best Practises"
Several Points:
* sidecars should be packaged with its own driver and we should allow duplicating them across different CSI drivers.
* Each sidecar container only supports only one CSI driver and they usually are tested, packaged and deployed along with a specific CSI driver release.
* each driver should have its own set of service accounts, cluster roles and cluster role bindings

[2019-01-12 00:18] leakingtapan opened #178 "Implement support for NVMe volume"
**Is your feature request related to a problem? Please describe.**
NVMe volume is created on [Nitro Instances](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances). For NVMe volume, EBS uses a different way to create device path which mount operation requires. The CSI driver needs to support this.

Refs:
* https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/

[2019-01-15 18:41] leakingtapan opened #179 "Use CSI secret field for aws secret handling"
**Is your feature request related to a problem? Please describe.**
We are currently passing secret using environment variable. And CSI spec provide a native way of passing secret. Investigate how this could be beneficial.

**Additional context**
* https://github.com/container-storage-interface/spec/blob/37e74064635d27c8e33537c863b37ccb1182d4f8/lib/go/csi/csi.pb.go#L4520-L4527
* https://github.com/

[2019-01-17 19:17] #158 closed

[2019-01-18 16:59] dkoshkin commented on #179
The fact that the driver supports using the metadata api and the EC2 instance role to acquire the needed permissions helps with this problem. Using the instance roles is also how the cloud-provider functionality worked, my thoughts is that most users will be comfortable using this mechanism and it provides a smooth transition from using the cloud-provider feature to this CSI driver.

[2019-01-18 17:15] dkoshkin opened #180 "Add the ability to provide arbitrary EBS volume tags"
**Is your feature request related to a problem? Please describe.**
With dynamically provisioned volumes there is always a danger of having orphaned EBS volumes. With current implementation, the only way to tie an EBS volume to a resource in Kubernetes is via the `CSIVolumeName` tag that gets automatically applied or with `volumeHandle` in the PV spec. However, both of these will not work if the Ku

[2019-01-20 03:46] leakingtapan opened #182 "Update e2e test framework to use default kubeconfig"
**Is your feature request related to a problem?/Why is this needed**
Right now, if $KUBECONFIG environment variable is not set the e2e test will fail with an unclear error message. We could fallback to $HOME/.kube/config it is missing

/feature

@dkoshkin

[2019-01-21 18:03] leakingtapan commented on #180
/feature

[2019-01-22 17:30] leakingtapan commented on #142
/assign @sreis

[2019-01-23 18:05] leakingtapan commented on #164
/close

[2019-01-23 18:05] #164 closed

[2019-01-25 19:10] #142 closed

[2019-01-25 19:13] leakingtapan opened #188 "Refactor metadata handling logic"
We need to refactor how EC2 metadata is passed around in our initialization logic.

The problem with that is that its going to leak AWS implementation details into this driver code.

Another problem is that `EC2Metadata` returned by `svc := ec2metadata.New(sess)` is also required in `&ec2rolecreds.EC2RoleProvider{Client: svc},`, passing in both also doesn't seem right.
Maybe we can have a new func

[2019-01-25 21:22] leakingtapan opened #189 "Add e2e test for failure scenarios"
**Is your feature request related to a problem?/Why is this needed**
 - [ ] It("should reattach a volume after a pod is rescheduled from a drained node and data can be read")
/feature

[2019-01-25 21:39] #118 closed

[2019-01-26 20:34] #175 closed

[2019-01-28 17:22] leakingtapan opened #192 "Report test result as independent test case in Testgrid for E2E tests"
**Is your feature request related to a problem? Please describe.**
Our e2e tests result are reported under [testgrid](https://testgrid.k8s.io/sig-aws-ebs-csi-driver#e2e-test-single-az). However, it only reports the aggregated overall result. We should make report each individual test result for each test case in testgrid.

See [gce pd](https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-dr

[2019-01-28 19:08] leakingtapan opened #194 "Add support for XFS file system type"
**Is your feature request related to a problem? Please describe.**
xfs is supported by EBS. So this should be supported by the driver as well.

**Additional context**
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-using-volumes.html

[2019-02-01 17:46] leakingtapan commented on #180
/assign @dkoshkin

[2019-02-01 17:49] leakingtapan commented on #146
The CSI interface for resize is not alpha yet.

[2019-02-01 17:50] leakingtapan commented on #115
@SupriyaSirbi are you still working on this task?

[2019-02-02 00:23] leakingtapan opened #199 "Implement Unit Test for ControllerPublishVolume and ControllerUnpublishVolume"
**Is your feature request related to a problem?/Why is this needed**
- [x] ControllerPublishVolume
- [x] ControllerUnpublishVolume

[2019-02-06 22:10] leakingtapan opened #202 "Remove vendor directory"
**Is your feature request related to a problem?/Why is this needed**
We should remove vendor directory so that we don't need to maintain the directory each time update any dependencies. This could also benefit us to build consistent image each time.

/feature

[2019-02-07 19:23] #48 closed

[2019-02-09 05:43] leakingtapan commented on #202
/close

[2019-02-09 05:43] #202 closed

[2019-02-09 08:17] frittentheke commented on #180
This feature also has some nice security implications.... I personally would like my provisioners IAM policy to require certain tags to be applied and then only allow the attacher to attach such volumes in their policy.

Otherwise I could i.e. hack into a worker node and reattach i.e. an etcd volume from another, totally unrelated EC2 (yeah, I know about encryption at rest for etcd 😉)

Just best p

[2019-02-11 07:25] leakingtapan opened #206 "Node Unit Test Failing on Mac"
/kind bug

**What happened?**
When I run `make test` on my mac machine, two node_test.go unit test are failing with errors:
[code]

This is not happening on Prow unit test

**What you expected to happen?**
Unit test pass on mac

**How to reproduce it (as minimally and precisely as possible)?**
Run `make test` on mac.

/cc @sreis

[2019-02-11 12:34] sreis commented on #206
@leakingtapan I had a quick look and it's because the [formatAndMount](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L437) will only append the options when running on Linux. You're running on Mac so it just uses goes directly to the [Mount call](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_unsupported.go#L85-L87) of the FakeMounter

[2019-02-11 17:17] #143 closed

[2019-02-11 18:03] leakingtapan commented on #25
/assign @dkoshkin
Dimitri will help debugging issues related to snapshot

[2019-02-11 21:13] leakingtapan opened #207 "Investigate Volume Cloning"
**Is your feature request related to a problem? Please describe.**
Volume Cloning and creating a new volume from existing volume is a feature supported by [CSI 1.0](https://github.com/container-storage-interface/spec/blob/master/spec.md#controller-service-rpc). We should investigate whether it is beneficial to EBS

**Describe the solution you'd like in detail**
TBD

[2019-02-11 21:48] leakingtapan commented on #124
Might be able to use [this](https://github.com/kubernetes-csi/csi-lib-common) repo to hold common driver logic instead of using from sample driver repo

[2019-02-12 12:50] tsmetana commented on #25
OK. I'm not sure which is the right place to discuss this... What is happening with the snapshots: in the waitForSnapshotCreate there is an truncated exponential backoff with a condition function that basically polls for the snapshot unitl it's "completed" or an error occurs. The polling loop uses ec2.DescribeSnapshotsWithContext(ctx, ...). After few iterations this call fails with GRPC error ("De

[2019-02-13 22:20] leakingtapan commented on #165
We should address this bug in q2

[2019-02-14 09:27] frittentheke opened #213 "controller.yaml is inconsistently using volumes to mount csi.sock - PR with potential fix"
/kind bug

**What happened?**
When using the provided deployment yaml files to set up the controller the driver-registrar container crashes.

**What you expected to happen?**
The full pod to start up successfully and then to register the CSI driver with the kubelet.

**How to reproduce it (as minimally and precisely as possible)?**
Simply apply https://github.com/kubernetes-sigs/aws-ebs-csi-driver

[2019-02-14 17:52] frittentheke opened #214 "csi-provisioner is unable to create volume via ebs-plugin with no helpful error"
/kind bug

**What happened?**

I installed a fresh Kubernetes 1.13.3 cluster using kubeadm on AWS.
I created the CSINodeInfo CRD via https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/storage-crds/csinodeinfo.yaml

And then applied controller.yaml + node.yaml.

After adjusting the volumes for the controller (see: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/212) thin

[2019-02-14 18:38] leakingtapan commented on #214
From the log:
[code]

The `CreateVolume` is timed out after 10s which is the [default value](https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L52) for external provisioner.

Could you paste the log for the ebs csi driver in the csi-controller pod?

[2019-02-14 18:55] leakingtapan commented on #213
@frittentheke thx for the issue and fix.
How did you create you cluster? And what are the feature flags enabled? Surprisingly, I haven't seen this issue on my 1.13.0 cluster which is created by kops.

[2019-02-14 20:47] frittentheke commented on #214
Thanks for the quick reply!

Certainly you may get the logs:
[code]

The initially posted logs contain output from all containers in the controller pod (fetched using stern) cluttered together.

[2019-02-14 20:49] frittentheke commented on #213
@leakingtapan  ... thanks for getting back to me this quickly!
I used kubeadm (1.13.3) and set

[code]

for both, kubelet and kube-apiserver.

[2019-02-15 06:49] leakingtapan commented on #214
Tested v1.13.3 cluster created using kops. I was not able to repo the issue. Is this consistently happen to you? What are the feature gates turned on? Also, could you check on aws console (or using cli) to see what's the status of the EBS volume? Is there any volume got created with tag `CSIVolumeName` that has the volume name being created eg `pvc-e6d74eec-307b-11e9-a224-0274920412e2` ?

[2019-02-15 06:53] leakingtapan commented on #214
NVM about the feature gate. Saw your reply from #213

[2019-02-15 07:18] leakingtapan commented on #213
I think t3.medium is the culprit. It is based of new nitro instance which uses nvme as the ebs volume driver. You will need #178 to get it work. Could you try using t2 and see if it works for you?

[2019-02-15 07:55] frittentheke commented on #214
@leakingtapan there is no volume created at all, not even without certain tags.
Thats why I was wondering if it's possible to turn on full AWS API request debugging somehow to see if the ebs-plugin is even trying to do anything.

Could you maybe look at the feature gates and other options you have for your kubelet and Kube-API server? Regarding https://github.com/kubernetes-sigs/aws-ebs-csi-driver

[2019-02-15 08:48] frittentheke commented on #213
Reading https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#recommended-mechanism-for-deploying-csi-drivers-on-kubernetes over and over again, I am quite convinced for the controller pod all that is required is a common or shared EmptyDir for the driver to place its csi.sock socket in and the helpers (csi-provisioner, ...) to be

[2019-02-15 15:49] frittentheke commented on #214
@leakingtapan
Luckly or sadly we were able to identify the root cause of this issue to be fully unrelated to the aws-ebs-csi-driver. The ebs-plugin was unable to resolve the IP of the  AWS API via DNS. So the plugin initialized just fine (using the metadata service), but then was unable to send out any requests to the AWS API.  If I may kindly ask to add more logging of the ebs-plugin when doing A

[2019-02-15 15:49] #214 closed

[2019-02-15 17:47] leakingtapan opened #216 "Implement Deep health check in driver probe"
**Is your feature request related to a problem? Please describe.**
Currently, the driver probe returns success as long as the grpc server is running. We should do deep health check in the probe to prevent issues like DNS resolution issue (eg #214)

**Describe the solution you'd like in detail**
TBD

**Additional context**
~We could also combine this with driver state reconstruction when controller

[2019-02-15 17:50] leakingtapan commented on #214
@frittentheke thx for root cause. I added an issue to track this as a feature request.

[2019-02-15 18:51] leakingtapan commented on #213
I looked at the clustre-driver-registrar [example](https://github.com/kubernetes-csi/cluster-driver-registrar#example). I am convinced too. Its much cleaner this way for the controller manifest.

@frittentheke thx for sending out the fix

[2019-02-15 18:56] leakingtapan commented on #213
This make me wonder we could probably do the same (by using emptyDir) for `plugin-dir` in node manifest where it still uses hostPath volume for csi.sock. Even though node-driver-registrar [example](https://github.com/kubernetes-csi/node-driver-registrar#example) documented otherwise

[2019-02-15 21:58] leakingtapan commented on #213
BTW, I noticed you are using t3.medium instance, this will required #178 to be implemented since nitro instance uses NVMe to EBS volume

[2019-02-16 07:30] frittentheke commented on #213
@leakingtapan thanks for accepting my PR.

Yeah, nvme type devices for nitro are currently still an issue, right. The idea stated in the corresponding issue is great to NOT rely on any udev mapping of devices. Container Linux already does things differently and an EBS CSI driver should be fully independed regarding how the OS is dealing with its device naming / mapping.

[2019-02-16 07:30] #213 closed

[2019-02-18 19:45] leakingtapan commented on #199
/assign @sreis

[2019-02-20 09:56] tsmetana commented on #25
The issues I mentioned in the previous comment were worked around in the patch that's been recently merged.

[2019-02-20 15:33] mgoodness commented on #180
A StorageClass parameter would not be sufficient for my use-case, which requires every EBS volume to be tagged with a product code for cost show-back purposes. We have hundreds of these codes. I'd rather not have to create the same number of StorageClasses (potentially multiplied by some combination of other parameters) for every cluster.

[2019-02-20 19:11] leakingtapan opened #220 "Refactor controller unit test with proper mock"
Proper mocking should be used for controller unit testing instead of using the current [fake cloud provider](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/fakes.go) that has fake logic that are implemented for sanity testing purpose.

**Goal**
* move fake cloud provider inside `tests/sanity` package and make sure it is only used there
* auto generate cloud provider us

[2019-02-21 07:12] leakingtapan opened #221 "Add Raw block volume e2e test"
**Is your feature request related to a problem? Please describe.**
Add Raw block volume e2e test

[2019-02-21 07:13] leakingtapan commented on #25
@tsmetana just to confirm that is `ListSnapshot` is used by k8s yet, so it is not implemented?

[2019-02-21 07:39] tsmetana commented on #25
No, ListSnapshot is not implemented yet. I'll add it to my TODO.

[2019-02-21 18:06] #199 closed

[2019-02-21 20:48] #101 closed

[2019-02-24 02:53] leakingtapan opened #223 "Report Metrics for the driver"
**Is your feature request related to a problem? Please describe.**
Report Metrics for the driver

**Describe the solution you'd like in detail**
TBD

**Ref**
* https://github.com/container-storage-interface/spec/issues/236

[2019-02-26 10:23] dkoshkin commented on #221
/assign

[2019-02-26 14:47] dkoshkin commented on #182
/assign

[2019-02-26 18:05] #182 closed

[2019-02-26 19:44] leakingtapan opened #228 "Add snapshot e2e test"
**Is your feature request related to a problem? Please describe.**
 - [ ] create snapshot
 - [ ] delete snapshot
 - [ ] create volume from snapshot

[2019-02-26 19:44] leakingtapan commented on #228
/assign @dkoshkin

[2019-02-26 19:57] leakingtapan commented on #159
/assign

[2019-02-26 19:57] leakingtapan commented on #178
/assign

[2019-02-27 17:58] #221 closed

[2019-02-28 19:06] dkoshkin commented on #180
There has been an ongoing discussion [here](https://github.com/kubernetes-csi/external-provisioner/issues/86).
At this point it is not possible to get the PVC annotations as that would leak the Kubernetes implementation details in the CSI spec.

[2019-02-28 19:42] leakingtapan commented on #87
The current plan for Beta is implementing the tool to just push to dockerhub

[2019-02-28 19:45] leakingtapan commented on #180
The issue mentioned by @dkoshkin is currently the biggest issue blocking us from support this feature in PVC. [Here](https://github.com/kubernetes-csi/external-provisioner/issues/170) is another related discussion.

[2019-03-01 09:06] #159 closed

[2019-03-01 09:19] bertinatto commented on #220
+1

The fake cloud provider object was introduced way before I started using gomock, so we should definitely get rid of it in unit tests.

[2019-03-04 20:47] leakingtapan commented on #146
/cc @sreis

[2019-03-05 17:36] leakingtapan commented on #99
Punt to next cycle given we are approaching code freeze and configuration option requirements for helm chat is not yet clear.

[2019-03-05 21:45] leakingtapan opened #233 "Implement ListSnapshot"
**Is your feature request related to a problem? Please describe.**
As a follow up to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/25

/cc @tsmetana

[2019-03-05 21:46] leakingtapan commented on #25
@tsmetana I created a follow up issue for the left task: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/233

I am going to close this one since the major tasks are done.

/close

[2019-03-05 21:46] #25 closed

[2019-03-05 21:49] leakingtapan commented on #206
We should consider options proposed [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/233). And potential expand this to support to test nvme volume support which going to be added recently

[2019-03-06 21:23] #178 closed

[2019-03-10 18:24] leakingtapan opened #237 "Add nvme e2e test"
**Is your feature request related to a problem? Please describe.**
e2e tests need to support creating cluster with nitro instance

[2019-03-11 08:25] frittentheke commented on #178
@leakingtapan I'd really love to test this with m5 (AWS Nitro-based) instances. But apparently "latest" ist not at "latest" currently: https://hub.docker.com/r/amazon/aws-ebs-csi-driver/tags, I do know you are working on this (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/87), but could you maybe give it a manual kick in the meantime?

[2019-03-11 17:37] #228 closed

[2019-03-11 18:03] leakingtapan commented on #178
@frittentheke thx for reaching out. The latest image is updated.

[2019-03-11 18:06] leakingtapan commented on #87
The automated tool is deployed. From now on, any new changes pushed to mainline will be built into dockerhub with latest tag. And any releases pushed will be built into dockerhub with branch name as the tag.

/close

[2019-03-11 18:06] #87 closed

[2019-03-15 10:42] frittentheke commented on #178
@leakingtapan I just now got to test this and it just works using t3 instances with NVME now.
Thanks for implementing this to quickly.

[2019-03-17 01:51] leakingtapan opened #242 "Upgrade to Golang 1.12"

[2019-03-17 01:52] leakingtapan opened #243 "Build the driver for windows"
**Is your feature request related to a problem? Please describe.**
k8s windows support is becoming GA in 1.14

Ref:
* ebsnvme-id: https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/nvme-ebs-volumes.html#identify-nvme-ebs-device
* https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ebs-using-volumes.html
* windows device name mapping: https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec

[2019-03-18 20:30] leakingtapan commented on #242
/cc @gyuho

[2019-03-20 17:11] leakingtapan opened #246 "Removes driver manifest's dependency on secret"
**Is your feature request related to a problem? Please describe.**
Currently, aws secret is a hard dependency of driver manifest file even when instance profile role is used for IAM authentication. We should update the secret vendoring in manifest file flexible instead of as a hard dependency

[2019-03-21 00:41] leakingtapan opened #250 "Use sigs.k8s.io/aws-ebs-csi-driver as import path"
**Is your feature request related to a problem? Please describe.**
Import from `sigs.k8s.io/aws-ebs-csi-driver` instead of `github.com/kubernetes-sigs/aws-ebs-csi-driver`

[2019-03-21 22:21] #246 closed

[2019-03-23 21:49] leakingtapan opened #252 "Combine driver manifest files into one"
**Is your feature request related to a problem? Please describe.**
So that use can refer to a single manifest file using URL to deploy the driver.

[2019-03-24 05:12] #252 closed

[2019-03-24 06:55] leakingtapan opened #255 "Support Leader Election"
**Is your feature request related to a problem? Please describe.**
To improve availability of controller service when it is being restarted or rescheduled. We should support leader election for controller service.

After this we could switch to use deployment for controller service instead of stateful set.

**Ref**
* https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/11

[2019-03-24 21:44] leakingtapan opened #256 "Update README for configuring driver permission"
**Is your feature request related to a problem? Please describe.**
We should have a dedicated section in README for driver permission setup. There are two ways to grant driver permissions:
* using secret
* using instance profile role

[2019-03-26 16:20] #194 closed

[2019-03-27 21:20] anusha-ragunathan opened #259 "aws ebs csi driver on Kube 1.14 doesnt register driver under `csidrivers.storage.k8.io` as expected"
/kind bug

**What happened?**
- Install Kube 1.14 GA (via Docker EE)

[code]

#Confirm that CSIDrivers and CSINodes are part of core api-resources.
[code]
- Install aws ebs csi driver
[code]
- Now query the list of installed csi drivers.

[code]

This should list the aws ebs driver. Note that the driver can be listed using the old method as follows:
[code]

**What you expected to happen?**
Driver

[2019-03-27 21:20] anusha-ragunathan commented on #259
cc @leakingtapan

[2019-03-27 23:42] leakingtapan commented on #259
Seems 1.14 is still using `csidrivers.csi.storage.k8s.io` as the resource name: https://github.com/kubernetes/kubernetes/blob/v1.14.0/staging/src/k8s.io/csi-api/pkg/crd/manifests/csidriver.yaml#L8

Where is the `csidrivers.storage.k8s.io` coming from?

[2019-03-27 23:43] leakingtapan commented on #259
cluster-driver-registrar is still missing 1.14 release: https://quay.io/repository/k8scsi/csi-cluster-driver-registrar?tag=latest&tab=tags

[2019-03-28 00:10] anusha-ragunathan commented on #259
Does CSI CRD matter anymore, now that 1.14 has the `csidrivers` resource built-into core?

[2019-03-28 19:12] anusha-ragunathan commented on #259
I updated the manifest.yaml to use the `canary` for most images.

[code]

[2019-03-28 19:17] anusha-ragunathan commented on #259
With this, I'm able to query the installed driver correctly.

[code]

However, Node Attach fails due to error:
 ```failed to attach: node "ip-172-31-30-54.us-west-2.compute.internal" has no NodeID annotation```

`kubectl logs pod/ebs-csi-controller-0 -c csi-attacher -n kube-system` output here:
[logs.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/3019803/logs.txt)

Error essentia

[2019-03-29 00:39] leakingtapan commented on #259
Looks like the external-attacher needs to be updated still.

[2019-03-31 04:12] leakingtapan opened #261 "Upgrade to CSI 1.1.0"
**Is your feature request related to a problem? Please describe.**
https://github.com/container-storage-interface/spec/blob/release-1.1/spec.md

[2019-04-02 13:15] zacharya commented on #220
If no one has taken this up, I'd like to contribute

[2019-04-02 15:09] bertinatto opened #262 "Implement expand support"
The current CSI specification supports `EXPAND_VOLUME` controller and node capability. AWS EBS supports volume expansion, so we should look into implement that.

[2019-04-02 15:10] bertinatto commented on #262
/kind feature
/assign

[2019-04-02 21:00] leakingtapan commented on #262
Ref: #146

[2019-04-02 22:47] #256 closed

[2019-04-03 03:21] leakingtapan commented on #220
@zacharya I updated the issue description. let me know if you have any questions, will be happy to clarify more.

[2019-04-03 03:27] leakingtapan commented on #179
@dkoshkin agree with instance profile is good choice now. We could revisit this issue later.

[2019-04-03 03:40] leakingtapan opened #264 "Update e2e test to run against Kubernetes 1.14.0"
**Is your feature request related to a problem? Please describe.**
Update e2e test to run against Kubernetes 1.14.0. See [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/hack/run-e2e-test#L52) about how the e2e test is ran.

[2019-04-03 15:38] bertinatto opened #265 "Move variable declaration out of Makefile"
Some variables in the Makefile [1] are filled with the results of some commands (jq, curl, etc.). Those commands are always executed, even when I'm executing targets that don't need those variables.

As an example, this is what I get when I try to build the driver (`golang` image doen't have `jq`):

[code]

It would be better to move the integration test code to another script under `hack/`, then

[2019-04-03 16:27] leakingtapan commented on #265
We could move those integration specific variable/commands to [this](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/hack/test-integration.sh) file.

[2019-04-03 16:56] leakingtapan commented on #262
/close
In favor of the #146

[2019-04-03 16:56] #262 closed

[2019-04-03 16:56] leakingtapan commented on #146
/assign @bertinatto

[2019-04-04 05:18] leakingtapan commented on #261
Ref: #257
/close

[2019-04-04 05:18] #261 closed

[2019-04-04 16:26] leakingtapan commented on #265
/assign

[2019-04-05 04:03] zacharya commented on #220
I submitted #269 for this.  Let me know if you have any issues with the implementation or test refactors.

[2019-04-05 18:15] #265 closed

[2019-04-05 19:03] leakingtapan opened #272 "Build production container image from distroless"
**Is your feature request related to a problem? Please describe.**
https://github.com/GoogleContainerTools/distroless

[2019-04-08 04:11] leakingtapan commented on #259
I suspect upgrading the sidecars too early will be a breaking change. Since in 1.13, the CSINodeInfo is not built-in CRD yet, and the upgraded sidecars will try to talk to the built-in CRD with name `csinode.storage.k8s.io` instead of `csinodeinfos.csi.storage.k8s.io`

[2019-04-08 04:13] leakingtapan commented on #259
@anusha-ragunathan have you tried your amended manifest (with canary image tags) in 1.13 cluster?

[2019-04-08 20:35] anusha-ragunathan commented on #259
@leakingtapan : I have a 1.14 cluster. In 1.14, CSINodeInfo and CSIDriverInfo are both part of the core API resources. So the sidecars should be updated to reflect that. However, the sidecars havent been updated to reflect that, which leads to this problem.

According to @ddebroy, updating sidecars will happen in a week or so.

[2019-04-08 20:46] leakingtapan commented on #259
What I mean is we probably cannot upgrade the sidecars, since it could break when running the upgraded driver in 1.13 cluster.

[2019-04-08 20:48] zacharya commented on #233
Is anyone working on this? I'd like to take it on.

[2019-04-08 20:51] leakingtapan commented on #233
/assign @zacharya

[2019-04-08 21:18] anusha-ragunathan commented on #259
This is indeed a breaking change. I would expect a driver set for cluster version 1.13 and below and another driver set for cluster version 1.14 and above.

However, since both features (CSIDriver and CSINodeInfo) are in beta, breaking changes are expected. So it should be okay. Thoughts?

[2019-04-08 22:18] ddebroy commented on #259
The features `CSIDriverRegistry` and `CSINodeInfo` were in alpha before. They are [promoted](https://github.com/kubernetes/kubernetes/commit/6265f4f78c7bf27697b8781e391605b4d4e683fc#diff-84e72664a7cc9add01954d3a7b8cbb45) to Beta starting v1.14. Therefore, I think no backward compatibility should be expected wrt those features in clusters prior to v1.14 according to k8s deprecation policies.

Regar

[2019-04-09 17:17] anusha-ragunathan commented on #259
@ddebroy : Using the new set of sidecar canaries worked!

[2019-04-09 17:20] anusha-ragunathan commented on #259
[code]

[2019-04-09 17:25] anusha-ragunathan commented on #259
Updates to manifest.yaml
[diff.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/3060212/diff.txt)

[2019-04-11 22:23] #35 closed

[2019-04-14 06:13] leakingtapan opened #278 "Make Storageclass Parameters Case Insensitive"
/kind bug

**What happened?**
Ref: https://github.com/kubernetes/kubernetes/issues/75941

[2019-04-15 00:54] leakingtapan opened #279 "Excessive Memory Usage of Liveness Probe"
/kind bug

**What happened?**
Ref: https://github.com/kubernetes-csi/livenessprobe/issues/45

[2019-04-16 20:20] leakingtapan opened #280 "Use aws native wait function for volume"
**Is your feature request related to a problem?/Why is this needed**
The driver need to wait for volume creation after it is created; wait for volume attachment after it is attached to some instance. We currently implement the functionality ourselves, but instead the aws natvie wait functions could be used:

* ec2.[WaitUntilVolumeAvailableWithContext](https://docs.aws.amazon.com/sdk-for-go/api/ser

[2019-04-16 20:21] leakingtapan commented on #280
/cc @bertinatto

[2019-04-16 20:38] bertinatto commented on #280
+1

[2019-04-18 19:32] zacharya commented on #233
I'm ready to put in a PR on this, just have one question:

The [CSI spec](https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/csi.pb.go#L3198) allows `ListSnapshotsRequest.MaxEntries` to be anything 0 or greater, but the AWS API requires `DescribeSnapshotsInput.MaxResults` to be between 5 and 1000.  I'm setting `DescribeSnapshotsInput.MaxResults` if `ListSnapshotsRequest.Max

[2019-04-19 01:28] zacharya commented on #280
I'd like to take this on if there are no objections

[2019-04-19 03:24] leakingtapan commented on #233
What's the `DescribeSnapshotsInput` behavior when maxResults is less than 5?

After trim, the next time `ListSnapshots`is called, is the elements between 2 and 4 going to be returned?

I feel this way is better. @bertinatto how do you think?

[2019-04-19 03:44] leakingtapan commented on #279
The bug is fixed in liveness probe v1.0.2 release

[2019-04-19 09:31] #279 closed

[2019-04-19 11:59] zacharya commented on #233
When it's less than 5, it will return an `InvalidParameterValue` error.  In this way it differs from being greater than 1000 where it will just truncate and return a `NextToken` value that starts with 1001.  We could return an error, but then there would be AWS-specific CSI behavior leaking through.

Between 2 and 4 is tough.  This is where some type of state comes in.  I'm not sure I have a good

[2019-04-20 02:40] leakingtapan commented on #220
/close

[2019-04-20 02:40] #220 closed

[2019-04-22 17:00] leakingtapan commented on #280
/assign @zacharya

[2019-04-22 17:24] leakingtapan opened #284 "Enable release notes automation"
**Is your feature request related to a problem?/Why is this needed**
Similar to https://github.com/kubernetes-csi/docs/issues/142

[2019-04-22 17:32] leakingtapan opened #285 "Use Kustomize for manifest file customization"
**Is your feature request related to a problem? Please describe.**
Similar to https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/tree/f91162a036d5f3ec3c07c0452f43897c775263a4/deploy/kubernetes

**Ref**
* https://github.com/kubernetes-sigs/kustomize

/cc @bertinatto

[2019-04-24 16:11] zacharya commented on #233
@bertinatto Any thoughts here?

[2019-04-25 07:05] leakingtapan commented on #233
I'm fine with keeping it simple by returnning gRPC `InvalidArgument` when page size is smaller then 5. This way we could still improve it later for the <5 cases. Don't think we need to optimize this case too much just to cover the <5 case, since `ListSnapshot` API is not yet adopted by K8S AFAIK.

[2019-04-30 11:46] bertinatto opened #287 "Return error if snapshot doesn't exist"
/kind bug

**What happened?**

It seems like we're not returning a `status.NotFound` error when `CreateVolume` is given a non-existent snapshot ID.

https://github.com/kubernetes-csi/csi-test/blob/e1f2421c7f0a0cc7f9942fea1192392f253891db/pkg/sanity/controller.go#L738

CC @tsmetana @leakingtapan

[2019-04-30 11:54] bertinatto commented on #287
My guess is that AWS will return an `InvalidSnapshot.NotFound` error. In that case, we just have to  return an `cloud.ErrNotFound` in `CreateDisk`; and in `CreateVolume` return an `status.NotFound`.

[2019-04-30 13:15] tsmetana commented on #287
/assign

[2019-04-30 13:57] tsmetana commented on #287
The strange thing is that the tesuite complains about controller returning `nil` not a wrong error. I'll take a look at this.

[2019-04-30 14:05] bertinatto commented on #287
Yes, I fixed that in #288. However, in addition to fixing the fake cloud implementation (ie #288), we need to make sure this is fixed in `cloud.go` as well.

[2019-04-30 14:23] tsmetana commented on #287
OK. So we miss the error "translation". Thanks for explaining.

[2019-04-30 16:36] leakingtapan commented on #188
/remove-lifecycle stale

[2019-04-30 16:36] leakingtapan commented on #189
/remove-lifecycle stale

[2019-05-02 08:30] #278 closed

[2019-05-03 14:48] bertinatto opened #290 "Dynamic volume limits"
**Is your feature request related to a problem?/Why is this needed**

[NodeGetInfo](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/v0.3.0/pkg/driver/node.go#L283-L295) should return an `NodeGetInfoResponse` with the maximum number of volumes that the node supports set in the field `MaxVolumesPerNode`.

This number may vary on a per-instance-type basis, so we should detect the instance

[2019-05-03 15:01] gnufied commented on #290
Just for reference the in-tree implementation is here - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/awsebs/aws_ebs.go#L106

[2019-05-07 12:47] tsmetana opened #292 "Volumes attaching fails"
/kind bug

**What happened?**
When trying to provision EBS volume, the attaching fails - the volume is stuck in "attaching" state.

Pod events:
[code]
The log excerpt from the driver:
[code]

**What you expected to happen?**
Volume gets attached just normally, pod starts.

**How to reproduce it (as minimally and precisely as possible)?**
Using the manifest with "canary" versions of the sidecars wi

[2019-05-08 16:42] leakingtapan commented on #292
@tsmetana the `nameAllocator.GetNext(inUse)` should take into consideration that the volume names that are already used (this was the same before the refactoring). One possibility is [`d.getDeviceNamesInUser` ](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/devicemanager/manager.go#L118) returns stale data.

Is this volume attachment happening shortly after the instanc

[2019-05-09 06:19] leakingtapan commented on #287
/close

[2019-05-09 06:19] #287 closed

[2019-05-09 18:42] anusha-ragunathan commented on #292
I am experiencing the same issue.

Kube cluster 1.14
same result after updating side cars to use canary or v1.1.0
pvc/pv creation works
pod fails to attach EBS volume.
I can reproduce this 100% of the time

[2019-05-09 19:27] anusha-ragunathan commented on #292
error logs from ebs-plugin:
[code]

[2019-05-09 19:30] anusha-ragunathan commented on #292
AWS console shows that the volume that's attempting to be attached is `/dev/xvda` and is in state `attaching`. However, this is in conflict with the root partition of my AWS EC2 instance.

[2019-05-09 19:59] anusha-ragunathan commented on #259
Applying the diff doesnt work anymore.

[2019-05-10 05:59] tsmetana commented on #292
@leakingtapan -- just as described by @anusha-ragunathan (thanks for adding the info) -- this happens every time (i.e., the current master HEAD is unusable for me), the age of the cluster doesn't affect the problem.

[2019-05-10 18:19] leakingtapan commented on #292
I tried the [dynamic provisioning example](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/dynamic-provisioning) on 1.14 cluster and it works for me. The cluster is provisioned using `kops`:

[code]

k8s version:
[code]

But can't reproduce the issue. How are you guys create the cluster? And what is the instance type being used?

@anusha-ragunathan since you c

[2019-05-10 20:23] anusha-ragunathan commented on #292
I have a 3 node cluster provisioned using Docker Enterprise UCP 3.2.0.
AWS instances are `t2.2xlarge`

[2019-05-11 05:03] leakingtapan commented on #292
Still can't reproduce using `t2.2xlarge`. The simply fix will be starting the device path from `/dev/xvdb` instead of `/dev/xvda`. But let's root cause this first

[2019-05-11 05:52] #39 closed

[2019-05-11 12:04] #233 closed

[2019-05-12 16:31] leakingtapan commented on #192
/remove-lifecycle stale

[2019-05-12 16:33] leakingtapan commented on #72
/remove-lifecycle stale

[2019-05-12 16:33] #94 closed

[2019-05-12 16:34] leakingtapan commented on #115
/remove-lifecycle stale

[2019-05-13 07:29] tsmetana commented on #292
I think I just used `t2.medium` with CentOS 7.5, turned SELinux to permissive, installed docker, added docker user group, started up the service, copied compiled vanilla kubernetes on it and started a single-node cluster with `ALLOW_PRIVILEGED=true hack/local-up-cluster.sh -O`...

[2019-05-13 16:23] leakingtapan commented on #207
/remove-lifecycle stale

[2019-05-14 04:29] leakingtapan opened #294 "Run e2e test for CSI migration"
**Is your feature request related to a problem? Please describe.**
Run upstream ebs plugin e2e test case again EBS CSI driver.

**Ref**
* https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-driver#Migration%20Kubernetes%20Master%20Driver%20Stable
* https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/258/files

[2019-05-14 17:35] riteshnaik opened #295 "Support for multiple pods on the same node to share the same EBS volume"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to share the PV backed with EBS volume to share between the pods on the same node if pods are Deployment objects. I could get this behavior working by using the StatefulSets but not with Deployment.

I have a use case to use the dataset optimized for EBS to access on all the pods in readonly mode.  Cur

[2019-05-15 11:07] tsmetana commented on #292
I think the necessary condition for reproducing the bug is to have the system installed on `/dev/sd*` so `/dev/xvda` is (seemingly) available for the dynamically allocated devices.

[2019-05-15 17:15] anusha-ragunathan commented on #292
@leakingtapan : I reproduced the issue with added debug log to dump the `instance` in `AttachDisk`
[aws_ebs.log](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/3183678/aws_ebs.log)

[2019-05-15 17:32] anusha-ragunathan commented on #292
There's definitely some enumeration issue going on.
-  The instance has 3 block devices and claims that `/dev/sda` is the root device.
- However, Linux only sees 2 `/dev/xvd` partitions, where `/dev/xvda` is the boot partition.

Linux partition details:
[code]

BlockDeviceMappings on the EC2 instance:

[code]

[2019-05-15 17:48] anusha-ragunathan commented on #292
Instance says "hey! /dev/xvda is available". So plugin starts to attach volume with under that device name. However, Linux partition has `/dev/xvda` as the system partition and rejects request.

[2019-05-17 22:42] #292 closed

[2019-05-27 22:16] leakingtapan commented on #259
Upgrading cluster-driver-registrar will be blocked on https://github.com/kubernetes-csi/cluster-driver-registrar/issues/44

[2019-05-27 22:30] leakingtapan commented on #259
Updated other sidecars [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/291), since it is required to unblock 1.14 e2e testing.

[2019-05-28 01:34] leakingtapan opened #299 "Fix e2e test cluster leak"
/kind bug

**What happened?**
When e2e test takes too long to finish, the prow job will be killed abruptly. This causes test cluster to be leaked.

See [here](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_aws-ebs-csi-driver/296/pull-aws-ebs-csi-driver-e2e-single-az/1130475480751804418/build-log.txt) for an example leaked cluster.

**What you expected to happen?**
T

[2019-05-28 02:41] #264 closed

[2019-05-28 04:54] leakingtapan opened #300 "Add support for CSI reserved storageclass parameter"
**Is your feature request related to a problem? Please describe.**
Old storage class parameter keys will be deprecated in favor of new key names.

See https://kubernetes-csi.github.io/docs/external-provisioner.html#storageclass-parameters for more details

/cc @bertinatto

[2019-05-28 06:19] leakingtapan commented on #206
/assign

[2019-05-28 23:04] #206 closed

[2019-05-28 23:05] leakingtapan commented on #150
/remove-lifecycle stale

[2019-05-29 00:39] #259 closed

[2019-05-31 16:25] christopherhein commented on #295
/cc @leakingtapan

[2019-05-31 16:31] leakingtapan commented on #295
This should be working already see e2e test case: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/tests/e2e/dynamic_provisioning.go#L269

[2019-06-04 00:08] frittentheke commented on #180
/remove-lifecycle stale

[2019-06-04 05:01] leakingtapan commented on #99
/remove-lifecycle stale

[2019-06-04 06:19] leakingtapan commented on #177
The above point is good enough as of now.
/close

[2019-06-04 06:19] #177 closed

[2019-06-05 16:20] bertinatto commented on #294
Running those tests will give us a lot more confidence :+1:

I think @pohly made changes necessary to facilitate running k8s e2e tests against CSI drivers. He wrote a blog post about it:

https://kubernetes.io/blog/2019/03/22/kubernetes-end-to-end-testing-for-everyone/

And I think we can use the pmem CSI driver as an example: https://github.com/intel/pmem-CSI

[2019-06-06 07:54] #99 closed

[2019-06-06 16:40] leakingtapan opened #305 "Investigate how to keep helm chart in sync with deploy manifest"
**Is your feature request related to a problem? Please describe.**
We created Helm chart for the driver [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/303). Since we still have a deploy/kubernetes/manifest.yaml, this creates a problem about how to sync the two.

**Describe the solution you'd like in detail**
Potential solutions:
* deprecate the deploy/kubernetes/manifest.yaml (n

[2019-06-07 19:33] pohly commented on #294
Today I also submitted a PR which shows how to do that testing in Prow:
https://github.com/kubernetes-csi/csi-driver-nfs/pull/14

Not sure whether that is relevant for you, though.

[2019-06-10 18:20] leakingtapan opened #306 "Make IOPS max cap dynamic per instance"
**Is your feature request related to a problem? Please describe.**
The [current MaxIOPS](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/67f791d605f302206e5cb6e48db6c4ded0b3f85d/pkg/cloud/cloud.go#L61) for io1 volume is hard coded at 20,000. There are some use case for its higher IOPS eg, 64,000.

We could make this cap dynamic based on instance type.
Please up vote this issue if this m

[2019-06-11 08:58] bertinatto opened #307 "Node service vs idempotency"
/kind bug

I think our `inFlight` object isn't providing idempotency for the node service. For example:

1) CO calls `NodeStageVolume` for a 500 GB volume.
2) The driver starts formatting the volume.
3) CO calls calls `NodeStageVolume` **again** for the same volume.
4) The driver returns an error [0] because the first request `NodeStageVolume` call hasn't returned yet (the driver is still formatti

[2019-06-11 18:29] leakingtapan commented on #307
The `inFlight` object locks around the `NodeStageVolumeRequest` which contains the volume ID with other fields like `GetStagingTargetPath`, what if there is an node request for the same volume but different path?

[2019-06-12 08:22] bertinatto commented on #307
I think the `inFlight` object only locks when the key (which is a request's hash containing the volume ID and other fields, like you mentioned above) is being inserted and deleted:

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/2ea44a9e8cb60d1b98c1db7410a585a263d2c46e/pkg/driver/internal/inflight.go#L48-L61

It won't lock until a `NodeStageVolume` call completes to start processing th

[2019-06-14 15:53] #146 closed

[2019-06-16 05:05] leakingtapan commented on #237
/remove-lifecycle stale

[2019-06-19 22:58] leakingtapan opened #308 "Add resizing support in helm chart"
**Is your feature request related to a problem? Please describe.**
We will make volume resizing a configurable feature through helm chart. Since it is still an alpha feature.

[2019-06-19 23:03] leakingtapan commented on #120
/remove-lifecycle stale

[2019-06-20 16:34] leakingtapan commented on #242
/remove-lifecycle stale

[2019-06-20 22:00] leakingtapan opened #309 "snapshot not found when using ListSnapshot"
/kind bug

**What happened?**

[code]

If I look in the AWS CLI:
[code]

Using the tag, I see it too:

[code]

csi-snapshotter log:
[code]

**What you expected to happen?**
`k get volumesnapshot -o yaml -n demo` succeeds

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version: latest master branch

[2019-06-20 22:02] leakingtapan commented on #309
Looks a bug in [ListSnapshot](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/controller.go#L424) where snapshot ID is passed in `GetSnapshotByName` where name is expected.

[2019-06-20 22:04] leakingtapan commented on #309
The fix will be create a separate API `GetSnapshotById` for this case.

[2019-06-24 02:22] leakingtapan opened #310 "Add documentation for resize support"
**Is your feature request related to a problem?/Why is this needed**
Add documentation for resize support

[2019-06-28 19:20] leakingtapan opened #312 "Add doc for installing the driver using Helm"
**Is your feature request related to a problem?/Why is this needed**
Add doc for installing the driver using Helm

[2019-06-29 06:45] leakingtapan opened #314 "Make volume snapshot configurable from Helm"
**Is your feature request related to a problem?/Why is this needed**
Since volume snapshot is still an alpha feature, we don't want to turn it on by default. One way to make it configurable without user modifying manifest is using helm.

/feature

[2019-06-29 06:46] leakingtapan commented on #312
This will depend on adding the helm chart to https://github.com/helm/helm

[2019-06-29 11:23] #309 closed

[2019-06-29 18:21] #308 closed

[2019-06-30 06:47] leakingtapan opened #316 "Add e2e test for volume resize"
**Is your feature request related to a problem?/Why is this needed**
Add e2e test for volume resize

[2019-06-30 20:29] leakingtapan opened #317 "Add e2e test for snapshot import"
**Is your feature request related to a problem? Please describe.**
Add e2e test for snapshot import

[2019-07-01 05:35] #314 closed

[2019-07-08 19:08] leakingtapan commented on #272
/remove-lifecycle stale

[2019-07-08 19:08] leakingtapan commented on #243
/remove-lifecycle stale

[2019-07-08 19:08] leakingtapan commented on #165
/remove-lifecycle stale

[2019-07-11 23:26] #124 closed

[2019-07-19 06:39] leakingtapan opened #318 "Update manifest to remove app/v1beta1 and app/v1beta2"
**Is your feature request related to a problem? Please describe.**
apps/v1beta2 and apps/v1beta1 are deprecated and will be removed in 1.16 kubernetes/kubernetes#70672

We need to update both driver [manifest](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/manifest.yaml#L116) and driver [helm](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aw

[2019-07-23 01:26] wongma7 commented on #216
Alternative is to add more logging as suggested in original issue.

[2019-07-23 21:41] leakingtapan opened #319 "Add node selector for linux node only"
**Is your feature request related to a problem? Please describe.**
Since the driver won't work on Windows, we need to add node selector to driver manifest to only select linux nodes.

[2019-07-24 17:46] leakingtapan commented on #310
/assign

[2019-07-24 17:47] leakingtapan commented on #284
/remove-lifecycle stale

[2019-07-24 17:47] leakingtapan commented on #255
/remove-lifecycle stale

[2019-07-24 17:47] leakingtapan commented on #223
/remove-lifecycle stale

[2019-07-24 17:48] leakingtapan opened #320 "Upgrade to golang 1.12"
**Is your feature request related to a problem? Please describe.**
Upgrade to golang 1.12

[2019-07-24 17:49] leakingtapan commented on #294
@pohly thx for the input. Will definitely take a look
/assign

[2019-07-25 19:18] leakingtapan opened #323 "Upgrade e2e test for 1.15 cluster"
**Is your feature request related to a problem? Please describe.**
Upgrade e2e test for 1.15 cluster

[2019-07-25 19:18] leakingtapan commented on #323
/cc @bertinatto

[2019-07-26 19:04] leakingtapan commented on #319
/assign

[2019-07-29 17:28] shanesiebken opened #324 "EBS CSI Driver doesn't respect fstype from existing storage"
/kind bug

**What happened?**
The AWS EBS CSI Driver fails to mount pre-existing (in-tree) storage with CSIMigration / CSIMigrationAWS feature flags where the fstype on the storage is different than ext4 (the driver's default).

**What you expected to happen?**
The AWS CSI Driver should successfully read the in-tree storage fstype and mount the volume correctly.

**How to reproduce it (as minimall

[2019-07-31 17:31] leakingtapan commented on #324
Another potential issue is [NodePublishVolume](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/node.go#L443) is not taking the fstype as well

[2019-08-06 15:15] jsafrane opened #326 "Driver does not format volumes as xfs"
/kind bug

**What happened?**
This storage class should provision XFS volumes:
[code]

It provisions this PV (truncated):
[code]

Such PV is then formatted as ext4.

**What you expected to happen?**
The PV is formatted as xfs.

**Anything else we need to know?**:
There are actually two issues:

- CreateVolume call should check `csi.storage.k8s.io/fstype` parameter. I am not sure it's actually pass

[2019-08-06 15:29] shanesiebken commented on #324
@leakingtapan I think addressing [this issue](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/326) would solve this issue as well. I believe the fstype is passed in the volume capability from the Migration shim.

[2019-08-07 18:07] jsafrane opened #330 "ControllerUnpublish should return no error on success."
/kind bug

**What happened?**
The driver returns `codes.Internal` when detaching a volume from deleted node or detaching a deleted volume (deleted outside of the CSI driver). As AWS detaches volumes when a node is deleted and deleted volume must have been detached before, returning success is more appropriate.

When `codes.Internal` is returned, CO will retry again, introducing endless loop betwee

[2019-08-07 18:39] leakingtapan commented on #326
/assign

Yep. Confirming that the driver doesn't respect `csi.storage.k8s.io/fstype` yet. This is something we need to fix

[2019-08-07 20:15] #319 closed

[2019-08-07 20:51] davidz627 commented on #294
@leakingtapan I also wrote up how to do this here: https://docs.google.com/document/d/16h9vLLbqQCN83KnlPtn7qL_GB1TYwhWkoA5G4FS3KBI/edit#heading=h.bzyig0rahh0w

If you have any confusion/issues with the instructions please comment on the doc so we can improve it for others as well :)

[2019-08-07 20:52] davidz627 commented on #294
/cc @davidz627

[2019-08-07 21:55] #242 closed

[2019-08-07 22:49] jieyu commented on #180
OK, looks like upstream does not like the either of the proposals. But this is a real production issue. Can we do some workaround like: introduce a config options (i.e., a cmdline flag) for the controller service so that it'll always attach some tags to all the dynamically provisioned EBS volumes. The default can be empty so that it matches the current behavior. Thoughts?

[2019-08-08 01:15] leakingtapan opened #331 "Add migration tests to testgrid"
**Is your feature request related to a problem? Please describe.**
Add migration tests to testgrid. They will will be standalone tabs [here](https://testgrid.k8s.io/sig-aws-ebs-csi-driver) with:

 - [x] `e2e-migration-test-latest` - runs against 1.16 upstream k8s release
 - [ ] `e2e-migration-test-stable` - runs against 1.15 upstream k8s release

/cc @wongma7

[2019-08-08 01:17] leakingtapan opened #332 "Run migration test as prow periodics"
**Is your feature request related to a problem? Please describe.**
Run migration test as prow periodics.

/cc @wongma7

[2019-08-08 02:11] leakingtapan commented on #180
Given my understanding of the use cases, we need a way to dynamically tag the volumes given some user input. Passing the tag through controller service cmd flag won’t help in those cases

[2019-08-08 02:16] #320 closed

[2019-08-08 05:10] leakingtapan commented on #180
I remember chatted with @saad-ali a while back. One potential solution to this problem could be user creates volume tags inside PV annotation, and we create a separated small controller that watches PV and it reads PV's annotation and tags the corresponding volume with the tags.

@mgoodness @frittentheke @jieyu @dkoshkin WDYT?

[2019-08-08 13:57] dkoshkin commented on #180
The PVs are not created by a user PVCs are, I think it would be strange as a user to have add annotations because how would you do it, a controller :P?

[2019-08-08 16:33] jieyu commented on #180
@leakingtapan this is our issue: we need to make sure all volumes dynamic provisioned are tagged with a cluster uuid so that we can safely delete the volume during cluster teardown. For that particular use case, we don't necessarily need to dynamically tag the volumes given some user input.

That's the reason I was suggesting the above solution, which sounds less intrusive and backwards compatible

[2019-08-08 16:46] leakingtapan opened #333 "Add the ability to provide static EBS volume tags"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**
Add a config option  (eg. cmd flag)  to controller service, so that it'll always attach some tags to all the dynamically provisioned EBS volumes. The default can be empty so that it matches the current behavior.

**Describe alternatives you've considered**
We can either implement this

[2019-08-08 16:49] leakingtapan commented on #180
@jieyu I see your point. Just created a separate issue to track your request since I feel we might be able to solve it under that specific situation with your suggestion as one option.

[2019-08-08 16:53] leakingtapan commented on #180
If we were to provide arbitrary EBS volume tagging functionality, I think we need to consider both dynamic provisioning and static provisioning case. If we want user to create tag annotations as part of PVC, this solves for dynamic provisioning. But I'm not sure how it will work for static provisioning.

But I agree that asking user to add annotation in PV when dynamic provisioning is used is weir

[2019-08-08 17:22] shanesiebken opened #334 "Node can't access volumeattachments resource"
/kind bug

**What happened?**
When a pod with a persistent volume is deleted, the new pod fails to attach / mount the storage with the following error:

[code]

**What you expected to happen?**
Volume should move to new pod and successfully mount.

**How to reproduce it (as minimally and precisely as possible)?**

1. Create a deployment with a pod that mounts a PVC provisioned by AWS EBS CSI Drive

[2019-08-08 18:04] jieyu commented on #333
@leakingtapan let us know how to proceed. Happy to submit PR for the feature.

[2019-08-09 16:53] wongma7 commented on #334
What's the spec.nodename of the volumeattachment object "csi-4b2c0c56..." and does it match the actual "<node_name>"? Authorization to get volumeattachments is handled by the node authorizer https://github.com/kubernetes/kubernetes/pull/58360/.

[2019-08-09 23:06] shanesiebken commented on #334
In this case, the volumeattachment object doesn't exist. From the digging I did into the node authorizer, it looks like it's returning a "not authorized" if the attachment isn't found.

[2019-08-09 23:28] wongma7 commented on #334
kubernetes is the one that creates/deletes volumeattachments so there might be something in the logs if you turn the controller-manager logging verbosity up to 4 like "detacher deleted ok VolumeAttachment.ID" https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L448

[2019-08-11 06:06] leakingtapan commented on #115
/remove-lifecycle stale

[2019-08-11 06:09] leakingtapan commented on #333
Since I see there are mutiple ways to implement this, could you create an issue with a high level design to begin with. Would happy to review it.

@jieyu

[2019-08-11 18:46] leakingtapan commented on #192
/remove-lifecycle stale

[2019-08-11 21:06] leakingtapan opened #338 "New e2e test layout on testgrid"
**Is your feature request related to a problem? Please describe.**
As we are adding more and more test into testgrid, we need re-organize the testgrid tabs as follows:
* verify
* unit-test - run both unit test and sanity test
* ~integration-test~ deprecated
* e2e-test-latest - run both single az and multi az tests on latest kubernetes version
* e2e-test-stable - run both single az and multi az tes

[2019-08-11 21:18] leakingtapan opened #339 "Add unit test for NodeExpand"
**Is your feature request related to a problem? Please describe.**
Add unit test for NodeExpand

[2019-08-11 21:50] #310 closed

[2019-08-12 20:25] wongma7 commented on #338
SGTM. Best we can do for testing on latest kubernetes version is the latest alpha release (kops won't accept master branch or git hash).

[2019-08-13 21:05] #192 closed

[2019-08-14 00:20] #237 closed

[2019-08-14 00:34] leakingtapan commented on #285
/remove-lifecycle stale

[2019-08-14 15:37] sridharvellingiri opened #342 "no matches for kind "CSIDriver" in version "storage.k8s.io/v1beta1""
Hi,
I have deployed EKS cluster version 1.13 in AWS and followed the steps to configure ebs csi driver and I got the below error

After I have run the below command and I got the error for CSIDriver and all other services has been created from manifest.yaml

[code]

Am I doing something wrong.! Can you please help me to identify the solution to configure this ebs csi driver in my clsuter.

Since I

[2019-08-14 19:25] wongma7 commented on #342
Master branch isn't compatible with 1.13, please try an older manifest.yaml. The README needs a slight update.

Also, the snapshot feature `VolumeSnapshotDataSource` is still alpha in 1.13 so please keep that in mind if you plan to rely on it.

[2019-08-14 19:28] wongma7 commented on #342
@leakingtapan actually I'm not sure if master branch is incompatible with 1.13 if the only issue is the CSIDriver object?

[2019-08-14 22:19] leakingtapan commented on #342
@wongma7 the latest driver container image is still compatible with 1.13, what's causing issue here is the CSIDriver object (which is still alpha at 1.13) and the [Topology support](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/manifest.yaml#L152) that is enabled (still alpha at 1.13, but going beta at 1.14).

@sridharvellingiri if you remove the line about [T

[2019-08-15 00:24] #324 closed

[2019-08-15 00:43] leakingtapan commented on #326
/close

As the PR is merged

[2019-08-15 00:43] #326 closed

[2019-08-15 08:18] sridharvellingiri commented on #342
@leakingtapan Thanks for coming back.

I have removed Topology line "--feature-gates=Topology=true" and "apiVersion:
 storage.k8s.io/v1beta1" section completely. so i didn't get the error CSIDriver now.
It's all deployed but all pods were not completely deployed. Please find the error below
Found from the k8s dashboard events (attached screenshot)

MountVolume.SetUp failed for volume "registration

[2019-08-15 15:06] gnufied opened #346 "Fix raw block volume resizing for EBS"
We need to fix raw block volume resizing (`NodeExpandVolume`) to not resize the volume if given `volume_path` in resize request is a block device and not a mounted file system.

[2019-08-15 15:07] gnufied commented on #346
@wongma7 will you have time to fix this?

[2019-08-15 15:50] shanesiebken commented on #334
Oh, that is good to know. I will take a look at that if I see this error again. Thanks!

[2019-08-15 16:21] wongma7 commented on #346
/assign
Yes, will have a look

[2019-08-15 17:11] leakingtapan commented on #342
What's your worker node version?

[2019-08-15 17:19] leakingtapan commented on #346
It's more explicit to return `NodeExpansionRequired=false` during `ControllerExpandVolume` call when the controller block volume expansion is requested. But I also realized that volume capability is not passed into `ControllerExpandVolume` which make controller harder to know if is this request for block or filesystem.

[2019-08-15 17:39] wongma7 commented on #346
Yeah, @leakingtapan let's help review https://github.com/container-storage-interface/spec/pull/381 & https://github.com/container-storage-interface/spec/issues/380 to get volume capability passed to ControllerExpandVolume

[2019-08-15 18:07] gnufied opened #347 "Allow overriding node attach limits as driver CLI parameter"
Given all the complexities around how limits will be calculated on the node, it is a good idea to just allow an admin to override the limits when starting the csi-ebs driver.

[2019-08-15 20:17] leakingtapan commented on #347
Not sure how is this going to work if the worker nodes are of different instance type where each has a different attach limit. I think this should be a per node attributes.

[2019-08-15 20:20] leakingtapan commented on #346
I can understand not do node resize for block volume. But what does `not a mounted file system` mean?

@gnufied

[2019-08-15 20:22] gnufied commented on #347
The `CSINode` object where limits are actually saved are *per-node* basis, so we should be able to support this as per-node attribute.

Are you referring to how will this be set during deploy time?

[2019-08-15 20:25] gnufied commented on #346
the `volume_path` specified in `NodeExpandVolumeRequest` field could be a mount point (or a directory with file system) or it could be a block device (such as `/dev/xvdba`). We should be able to differentiate between two and only resize the volume if `volume_path` is a mounted file system and not a raw block device. I think skipping fs resize if `mount_path` is a raw block device should do the job

[2019-08-15 20:31] gnufied commented on #347
The flow of this code is:

csi-ebs-driver-on-node --> store-limit-> CSINode --> scheduler uses CSINode object during counting volumes.

So it is perfectly possible to support this on per-node basis. It is another problem, how will tools like kops will surface this configuration parameter though..

[2019-08-16 01:27] jieyu commented on #333
@leakingtapan The proposal is to add a new cli command option `--extra-volume-tags` of type [`mapStringString`](https://github.com/kubernetes/kubernetes/blob/a22763b24ee53b5efca5c60b000a63875a6b6f2a/staging/src/k8s.io/component-base/cli/flag/map_string_string.go). By default, it's an empty map which maps the the current behavior.

When doing dynamic provisioning (i.e., in [`CreateVolume`](https://

[2019-08-16 08:21] sridharvellingiri commented on #342
Im in one of the worker node and I have found the below directories (attached scrrenshot) available in "/var/lib/kubelet" folder
EKS kubernetes cluster version is 1.13 and sorry Im not sure how to check worker node version here
Whats is the expected directory location can be replaced in manifest file instead of "/var/lib/kubelet/plugins_registry/" ?

![Screenshot 2019-08-16 at 09 15 47](https://us

[2019-08-16 08:45] sridharvellingiri commented on #342
![Screenshot 2019-08-16 at 09 43 05](https://user-images.githubusercontent.com/36194798/63155344-4452e500-c00a-11e9-9951-5b1f8638192d.png)
Looks my worker nodes are in v1.11.5 version. I will upgrade and try the rest.
Thank you for your guidance.

[2019-08-16 23:46] leakingtapan commented on #333
@jieyu Several questions for this approach:
* What will happen if reserved tags are used eg. `kubernetes.io/cluster` or `CSIVolumeName`?
* How many key/value pairs are you looking for pass in? Since AWS tag has a [limit](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions) of 50 tags per resource.
* What's the maximum length for key and value you need to tag?
* Are

[2019-08-16 23:55] jieyu commented on #333
@leakingtapan thanks for the feedback! those are good questions. Will definitely address those and add validation.

We care about more than just cluster ID. For instance, we deploy some kind of cloud cleaner to periodically cleanup resources that are expired unless you add a special tag `expiration` to prevent cloud cleaner from cleaning up the volume.

Good question. Yes, allowing adding tags to

[2019-08-19 06:02] leakingtapan opened #350 "Removed deprecated provisioner flag"
**Is your feature request related to a problem? Please describe.**
Removed deprecated provisioner flag with following error:
[code]

[2019-08-19 15:19] sridharvellingiri commented on #342
@leakingtapan , Is this driver will do auto restoration from the lastest snapshot without any manual steps.
For example: After deployed app with attached EBS mountpoint. Later if I delete the EBS volume or corrupted, is the driver will get restored with new EBS volume from the latest snapshot automatically??

[2019-08-19 18:26] leakingtapan commented on #342
@sridharvellingiri the EBS CSI driver doesn't do auto restoration for cluster admin. But it provides building blocks for cluster admin to build on top it. One feature it provides is volume snapshot, cluster admin can create snapshot by creating snapshot object. And the driver takes care of creating the snapshot under the hood. For application developer, they can choose to restore volume from a sna

[2019-08-21 17:50] jieyu commented on #333
@leakingtapan does the above sound good to you? If yes, I can start working on it.

[2019-08-21 21:01] leakingtapan commented on #333
Sounds good to me. Will be happy to review the code.

[2019-08-21 21:18] leakingtapan commented on #333
BTW, are you looking for using this feature in the context of k8s or other CO?

[2019-08-21 21:18] jieyu commented on #333
@leakingtapan currently, only in context of k8s

[2019-08-21 21:20] leakingtapan opened #351 "[Design][K8S] EBS Tagger Sidecar"
**Is your feature request related to a problem? Please describe.**
This is Kubernetes specific feature. Following are requirements:
* User needs to provide arbitrary tag for created EBS volume through PVC annotation.
* Driver needs to tag created EBS volume with a list of built-in Kubernetes tags as follow:

Key | Value
-- | --
Name | kubernetes-dynamic-pvc-e814cb42-57c3-11e9-8335-0ef9bfaa78f6
kub

[2019-08-21 21:22] leakingtapan commented on #180
I created a high level design using operator for this problem.

[2019-08-21 21:23] leakingtapan commented on #351
/cc @wongma7

[2019-08-21 21:36] leakingtapan commented on #333
@jieyu I spent some time on the design of arbitrary tag #351. I feel both solve your problem. Let me know which one fits better for you.

[2019-08-21 22:30] jieyu commented on #333
@leakingtapan thanks for the pointer and the design! I looked at the design. Unfortunately it does not solve our use case. We have two personas:
1. cluster admin, who sets up the cluster (e.g., storage class)
2. developers, who creates PVC.

The proposal in #351 requires developers to annotate PVC. This is undesirable in our use case because they might just forgot to annotate their PVCs. Since clu

[2019-08-21 22:32] leakingtapan commented on #333
makes sense. Thx for clarification !

[2019-08-22 00:24] leakingtapan commented on #285
/assign

[2019-08-22 07:29] bertinatto opened #352 "Use mount flags in NodeStageVolume"
/kind bug

**What happened?**

Mount flags are passed to both `NodeStageVolume` and `NodePublishVolume`, however only the latter use them.

**How to reproduce it (as minimally and precisely as possible)?**

1. Create a StorageClass with `mountOptions`
2. Create PVC using the StorageClass above
3. Create a pod that uses the PVC above
4. Check the mounts in the worker node (`mount` command)

[2019-08-22 16:52] leakingtapan commented on #352
@bertinatto I understand `NoeStageVolume` is called for formatting the filesystem and mount it onto a global path. `NodePublishVolume` is used for mounting the volume from global path to container with the mount option specified. Why mount option needs to be applied to the `NoeStageVolume` call?

[2019-08-23 05:01] leakingtapan commented on #347
Probably I missed something. How could cluster operator set this new CLI parameter differently for drivers on different node? Since it is deployed as daemon set, I am assuming the pods in daemon set are identical

[2019-08-25 17:24] frittentheke commented on #216
/remove-lifecycle rotten

[2019-08-25 20:35] #120 closed

[2019-08-26 08:03] frittentheke commented on #351
@leakingtapan thank you for looking into this issue!

This tagger sidecar approach unfortunately has a major drawback: There is not enforced tagging right when the volume is created.

If you look at my comment regarding best-practices on doing IAM policies https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/180#issuecomment-462024613 or also https://github.com/kubernetes-sigs/aws-ebs-csi-

[2019-08-28 12:59] bertinatto commented on #352
Initially, that was my understanding as well. The mount flags were not being passed in to the `NodeStageVolume` call. However, this PR changed that: https://github.com/kubernetes/kubernetes/pull/80191.

The GCEPD driver is already using the flags in both calls.

[2019-08-31 06:52] frittentheke commented on #295
/remove-lifecycle stale

@riteshnaik did you get to check out if it works already?

[2019-09-01 13:50] #167 closed

[2019-09-01 17:15] leakingtapan commented on #333
/assign @jieyu

[2019-09-01 17:17] leakingtapan commented on #323
This is done
/close

[2019-09-01 17:17] #323 closed

[2019-09-02 04:11] leakingtapan commented on #342
/close this issue since the original one is resolved.
Please reopen if the same issue persists.

[2019-09-02 04:11] leakingtapan commented on #342
/close

[2019-09-02 04:11] #342 closed

[2019-09-02 04:12] leakingtapan commented on #316
releated to #346

[2019-09-04 23:23] leakingtapan opened #361 "Add support fo IAM for Service Account"
**Is your feature request related to a problem? Please describe.**
Add support fo IAM for Service Account.

**Additional context**
* https://aws.amazon.com/about-aws/whats-new/2019/09/amazon-eks-adds-support-to-assign-iam-permissions-to-kubernetes-service-accounts/
* https://github.com/aws/containers-roadmap/issues/23
* https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-ser

[2019-09-04 23:28] leakingtapan commented on #361
/cc @wongma7

[2019-09-05 04:37] leakingtapan commented on #150
/remove-lifecycle stale

[2019-09-05 04:38] leakingtapan commented on #299
/remove-lifecycle stale

[2019-09-05 04:38] leakingtapan commented on #305
/remove-lifecycle stale

[2019-09-05 06:15] #250 closed

[2019-09-06 18:59] #285 closed

[2019-09-07 04:45] leakingtapan commented on #318
this is done.
/close

[2019-09-07 04:45] #318 closed

[2019-09-09 07:02] MeikelLP opened #365 "AWS volume type 'standard' missing"
**What happened?**

In our Rancher fork we wanted to add the volume type `standard` as it is a valid volume type [in AWS](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html) (see "Previous Generation Volume Types").

In Rancher we get the message:
[code]

**What you expected to happen?**

Standard is accepted as volume type.

[The array/enum](https://github.com/kubernetes-sigs

[2019-09-09 20:57] leakingtapan commented on #365
Although being undocumented on K8S side: https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs, it is supported by EBS as the link you pasted. Will take a look into this.

[2019-09-10 07:17] RottenLeaf24 opened #366 "Can't expand the pvc create by aws-ebs-csi-driver!"
/kind bug

**What happened?**
I want to expand the pvc,so I edit the pvc to more large size like the example of volume resizing.But nothing happened.
then, I used the describe command check the pvc,find the warning message like this:

[code]
It looks like the ebs-csi-controller have no csi-resizer,then I read the file of controller.yaml for deploy aws-ebs-csi-driver,also can't find the csi-resizer

[2019-09-11 00:19] leakingtapan commented on #207
/remove-lifecycle rotten

[2019-09-11 00:19] leakingtapan commented on #207
/remove-lifecycle stale

[2019-09-11 05:25] leakingtapan commented on #307
/remove-lifecycle stale

[2019-09-11 05:28] leakingtapan commented on #366
The stable overlay doesn't come with external resizer. If you want to test out the resizing feature, try the overlay/alpha:

[code]

[2019-09-11 05:35] leakingtapan commented on #366
Updating the doc to reduce confusion: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/367

[2019-09-11 05:56] #366 closed

[2019-09-11 06:00] RottenLeaf24 commented on #366
@leakingtapan
Thank you very much for your kind reply.I will try that new feature.

[2019-09-11 10:15] RottenLeaf24 opened #368 "aws-ebs-csi-driver can't create pvc!"
/kind bug

**What happened?**
When I create a pvc by the aws-ebs-csi-driver,it always select a wrong zone to request the volume.In this situation，get error:
[code]
My ec2 instance zone is ap-northeast-1b,it looks like request to a wrong zone,so can't create the ebs volume.

**What you expected to happen?**
I want the aws-ebs-csi-driver can send the request to a correct zone,and create a volume as

[2019-09-11 19:13] gnufied opened #370 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
/kind bug

While reviewing the EBS driver code, I found that we don't correctly handle concurrent processing of `NodeUnstage` call if a previous `NodeStage` was in-progress and same thing applies to `NodeUnpublish` call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://github.com/container-storage-interface/spec/blob/master/

[2019-09-12 05:16] leakingtapan commented on #368
Have you tried setting `volumeBindingMode` to `WaitForFirstConsumer`, you will need volume toplogy for the driver to create volume in the same zone as your ec2 instance.

Another issue is which zones are your worker nodes running in? I saw you have both ap-northeast-1x zones and ap-southeast-1x zones.

[2019-09-12 06:06] RottenLeaf24 commented on #368
@leakingtapan It works! After I set the ```volumeBindingMode``` to ```WaitForFirstConsumer```.
It's my fault，I didn't consider that parameter will impacted the volume bound.

In addition，our worker node are running in two region，which is Singapore and Tokyo.

Thank you very much for your answer, very helpful to me.

[2019-09-16 03:48] RottenLeaf24 opened #374 "The pvc filesystem can't resize?"
/kind bug

**What happened?**

When I use the resize function,I find the pv size has changed,but the pvc size not change.I used the kubectl edit pvc command to change the pvc size to a large one.The pvc status change to ```FileSystemResizePending```,Even if the pod has recreated several times.the pvc size still no change.

**What you expected to happen?**

I want the pvc size can change to my spec

[2019-09-16 04:31] leakingtapan commented on #374
What's your worker node version? And do you have CSI driver node service log? The pod name starts with `ebs-csi-node-`

[2019-09-16 04:43] RottenLeaf24 commented on #374
@leakingtapan
worker node version is 1.15.3.
When recreate the pod,get logs like this:
[code]

[2019-09-16 04:51] leakingtapan commented on #374
Is `ebs-csi-node-57h6q` on the node where the volume being resized?

[2019-09-16 04:54] RottenLeaf24 commented on #374
@leakingtapan
Yes,it is .And the volume has resized on aws console,also the pv has resized.only the pvc not.

[2019-09-16 18:59] leakingtapan commented on #374
I tested on my 1.15.0 cluster but couldn't reproduce the issue. Do you have your csi-resizer (part of ebs-csi-controller-0) log and kubelet log on the node?

[2019-09-17 08:25] RottenLeaf24 commented on #374
@leakingtapan
The csi-resizer log like this:
[code]
It seems like,aws already executed the resize operation.But kubernetes don't response.I have set the feature gates in cluster.There is anything else need to configure on aws ec2 ?

[2019-09-17 16:53] leakingtapan commented on #374
Did you set the feature gate `ExpandCSIVolumes` and `CSIBlockVolume` on kubelet as well? And do you have kubelet log?

[2019-09-18 08:16] RottenLeaf24 commented on #374
@leakingtapan
Kubelet has set the feature gate.
I don't find any useful message in the kubelet log:
[code]
I am installed the cluster with kubeadm,will this be the reason?

[2019-09-19 13:50] fiftoine opened #376 "Snapshot file out.txt empty following Volume snapshot example"
/kind bug

**What happened?**
I followed the [snapshot example](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot) and checked that a snapshot is created from the AWS console. When I do the restore step, and check the content of the `out.txt` file, it starts empty and the app pod appends new dates.

**What you expected to happen?**
The `out.txt` file sh

[2019-09-21 05:27] leakingtapan commented on #374
I don’t think kubeadm matters here. The issue is NodeExpand is not called by kubelet. I need more info to figure what happened

[2019-09-23 15:29] jicowan commented on #342
There is no [Topology support](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/manifest.yaml#L152).  You can please post the manifest so we can edit it?

[2019-09-24 08:31] RottenLeaf24 commented on #374
@leakingtapan
I am very grateful for your enthusiasm reply.I have try my best to solve this problem.But I can't find more infomation of the bug.Fortunately this issue will not affect the use of pvc.Only wait to see if there is any chance to solve this problem later.Thank you again for your help.

[2019-09-24 09:43] XiaoYangZhu commented on #342
I came across the same issue when doing on EKS 1.13 today with content below:
yaml:
apiVersion: storage.k8s.io/v1beta1
kind: CSIDriver
metadata:
  name: fsx.csi.aws.com
spec:
  attachRequired: false

error:
no matches for kind "CSIDriver" in version "storage.k8s.io/v1beta1"

Any suggest how to fix this?

[2019-09-24 16:47] leakingtapan commented on #342
@XiaoYangZhu @jicowan  You are seeing the error because, `CSIDriver` CRD was not built-in by 1.13. It was an alpha object at 1.13. Could you use 1.14 cluster for v0.2 EFS driver? Could you elaborate more on your use cases, so I can assist further?

[2019-09-26 03:09] RottenLeaf24 commented on #368
@leakingtapan
I'm so sorry,I thought the problem had been solved before.But that’s just a coincidence.This question is reproduced today.Because of I used the node selector.After testing,I found if the pvc assign in Singapore it will be create successful.But when the pvc create in tokyo it always failed and Feedback error：
[code]
In addition, the last time it was successful, because all the pvc ass

[2019-09-26 09:38] RottenLeaf24 commented on #368
@leakingtapan
The reason for this phenomenon seems to be multizone.The node in current cluster have two zone in Tokyo and one zone in Singapore.For dig into the problem,I create a test cluster there are three nodes in the same zone.This problem has ever occurred.It can be easily create pvc.

[2019-09-27 06:36] RottenLeaf24 opened #378 "Support create pvc in other regions"
/kind feature

**What happened?**
When I create pvc use aws-ebs-csi-driver,if the pvc in Tokyo region always get the error like:
[code]
The reason for this phenomenon is cause by multiple region.
After multiple tests, I can confirm the aws-ebs-csi-driver can only create pvc in the same region with controller.When the region of pvc and controller is different,the ebs-csi-node can report it's own zo

[2019-09-27 06:42] RottenLeaf24 commented on #374
@leakingtapan
I have found the reason of can't expand file system is I only set the --feature-gates of kubelet on the master node.So the worker node can't execute the expand operation.
And we can close the issue.

[2019-09-27 06:53] #374 closed

[2019-09-27 11:02] pierresteiner commented on #312
Really looking forward for this one. We are using TF to deploy and the helm chart would really streamline things

[2019-09-27 15:28] leakingtapan commented on #374
Great to hear

/cat

[2019-09-27 15:31] leakingtapan commented on #312
Are u looking for making this driver available on helm repo? There is already helm chart defined inside this repo. And I heard helm 3 is moving away from centralized repo

[2019-09-27 17:32] leakingtapan commented on #378
Yep. The current controller service assumes that PVC's are in the same region as the controller. This is definitely something I can improve. I would like to assign this as a feature. Please up vote if this feature is important to you.

/kind feature

[2019-09-27 17:34] leakingtapan commented on #306
/remove-lifecycle stale

[2019-09-27 17:35] leakingtapan commented on #300
/remove-lifecycle stale

[2019-09-27 17:36] leakingtapan commented on #280
/close

[2019-09-27 17:36] #280 closed

[2019-09-27 19:03] #189 closed

[2019-09-28 08:48] RottenLeaf24 commented on #378
That's wonderful,this feature will bring us great convenience.And I think this feature will also bring a lot of benefits to other users who have cross-regional kubernetes cluster on aws.

[2019-09-28 18:42] #365 closed

[2019-09-28 21:45] leakingtapan commented on #331
`runs against 1.15 upstream k8s release` is not needed since 1.15 k8s doesn't have enough change for migration testing(eg. inline volume)

/close

[2019-09-28 21:45] #331 closed

[2019-09-28 21:57] pierresteiner commented on #312
Ho, maybe I am just missing guidance then.

I am looking for the URL to put in the helm install command; when it is in the helm repo it is very easy. I am not sure how to proceed here. End goal for me would be to use this URL within Terraform

[2019-09-29 03:45] #255 closed

[2019-09-29 09:06] pierresteiner commented on #312
One way could be to add an asset to the releases that contains only the helm chart (/aws-ebs-csi-driver with the Charts.yaml top level).

This tarball could then be easily deployed using helm install ...

[2019-09-29 09:44] pierresteiner opened #381 "Error: Chart requires kubernetesVersion: >=1.13.0 which is incompatible with Kubernetes v1.14.6-eks-5047ed"
/kind bug

**What happened?**
helm install failed because of version incompatibility
**What you expected to happen?**
Installation should succeed
**How to reproduce it (as minimally and precisely as possible)?**
helm install .../aws-ebs-csi-driver/ against a 1.14 EKS cluster
**Anything else we need to know?**:

**Environment**
- Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.1

[2019-09-29 09:57] pierresteiner commented on #381
It is broken on 0.4.0, but it is fixed on master.

[2019-09-29 09:57] #381 closed

[2019-09-30 01:42] leakingtapan commented on #312
@pierresteiner
I uploaded the helm-chart.tgz as v0.4 release artifacts. You should be able to install the helm using following example:

[code]

[2019-09-30 01:48] leakingtapan commented on #312
Also updating the readme

[2019-09-30 07:02] SVC-GitEis-AWSInfra commented on #312
Thank you very much ! This is awesome !
Sadly, the current helm is bugged (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/381) and does not install to EKS.

You fixed that in master (kubeVersion: ">=1.13.0-0"). It would awesome if you could backport that to the tarball

[2019-09-30 07:06] pierresteiner commented on #312
Thank you very much ! This is awesome !
Sadly, the current helm is bugged (#381) and does not install to EKS.

You fixed that in master (kubeVersion: ">=1.13.0-0"). It would awesome if you could backport that to the tarball

[2019-10-01 00:21] leakingtapan commented on #312
Updated

[2019-10-01 16:39] #312 closed

[2019-10-07 03:58] zerkms opened #384 "Stable installation instructions point to the private repository"
/kind bug

**What happened?**
The current stable deployment instructions refer to the kustomize config that tries to pull from the private AWS ECR repository
[code]
eg `602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-ebs-csi-driver`

**What you expected to happen?**
It should not

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environ

[2019-10-07 04:44] frittentheke commented on #165
/remove-lifecycle stale

[2019-10-07 17:26] leakingtapan commented on #384
That's the official public repo hosted by EKS where ppl can use to pull images. Do you have any issue on using the image url?

[2019-10-07 20:36] zerkms commented on #384
[code]

[2019-10-07 21:14] jammerful opened #387 "CSI Resizer Crashes on v0.4.0"
/kind bug

**What happened?**
The csi-resizer pod crashes:
[code]

**What you expected to happen?**
The csi-resizer to work.

**How to reproduce it (as minimally and precisely as possible)?**
* Install via helm:
[code]
* See the `csi-resizer` container crash the `ebs-csi-controller-0` pod

**Environment**
- Kubernetes version (use `kubectl version`):
[code]
- Driver version: v0.4.0

Is this becaus

[2019-10-07 21:15] jammerful commented on #387
@leakingtapan A tangential question, are you going to continue to support the helm install or just kustomize?

[2019-10-08 14:59] jammerful commented on #387
Figured out this is because I didn't enable a feature gate on my EKS cluster, also from what I can tell I'm not able to set feature gates on the kube-apiserver for EKS.
@leakingtapan does this sound right? Thanks.

[2019-10-08 16:52] leakingtapan commented on #384
try
[code]

[2019-10-08 16:57] leakingtapan commented on #387
Yep, EKS doesn't enable alpha feature gates. That's why resize and snapshot are only in alpha overlay.

[2019-10-08 16:57] leakingtapan commented on #387
I will keep supporting both :)

[2019-10-08 17:29] Quarky9 commented on #384
I added the basic ECR IAM permission the nodes and that seemed to have fixed it.
Using containerd not docker btw.

[2019-10-08 20:44] zerkms commented on #384
@Quarky9 it did not change anything

[code]

You must have at least any authentication

@leakingtapan where would one run it given the readme tells (not to mean that aws might be not installed on the kubernetes cluster, or you may have no access to the cluster command line, or you may not have AWS account at all):

[code]

[2019-10-08 23:08] jammerful commented on #387
Thanks!

/close

[2019-10-08 23:08] #387 closed

[2019-10-09 02:27] leakingtapan commented on #352
Tested dynamic provisioning with `ro` mount option, the volume is not mounted as `ro` ...

[2019-10-09 04:59] leakingtapan commented on #384
[code]
The above is meant to prove that the images are public accessible as long as you have a IAM identity.

Kubelet has built-in credential provider that does ecr login automatically for you as long as worker node has proper IAM permission to access ECR.

[2019-10-09 05:01] leakingtapan commented on #317
/remove-lifecycle stale

[2019-10-09 05:02] leakingtapan commented on #272
/remove-lifecycle stale

[2019-10-09 05:02] zerkms commented on #384
Right, I see now, thanks.

[2019-10-09 05:02] #384 closed

[2019-10-09 12:12] siwyd commented on #361
Any chance of getting a bump of the AWS SDK go for 0.4.0 to support this @leakingtapan ?

[2019-10-09 18:01] leakingtapan commented on #361
it's bumped for master: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/8f90013e88c933191a1119bfecc2d53b43bdab9c

You can use container images with latest tag from dockerhub. Is this okay for you?

[2019-10-09 18:46] #72 closed

[2019-10-09 19:28] siwyd commented on #361
@leakingtapan Will give that a try tomorrow, thanks!

[2019-10-11 21:59] leakingtapan opened #389 "Handle DescribeInstances eventual consistency"
**Is your feature request related to a problem? Please describe.**
See https://github.com/kubernetes/kubernetes/issues/77389 for more details for the specific race condition.

**Describe the solution you'd like in detail**
There is a potential [fix](https://github.com/kubernetes/kubernetes/pull/83567) upstream for in-tree EBS CSI plugin. We should do the same for EBS CSI.

[2019-10-11 23:16] leakingtapan commented on #389
/cc @wongma7

[2019-10-15 17:12] jammerful commented on #387
@leakingtapan I had a question and was hoping you could help me out. I need to use the snapshot feature right now in EKS, and found the [old external storage repository](https://github.com/kubernetes-incubator/external-storage/tree/master/snapshot). The external storage repo has the disclaimer that the code is pre-alpha.

Empirically, have you had to make substantial changes to the code to get it

[2019-10-15 19:52] leakingtapan commented on #387
Don't think this is possible if you want to restore a volume from snapshot since `VolumeSnapshotDataSource` feature gate needs to be enabled on apiserver. However, if you just want to create snapshot (without restore from data source), this might work, but I haven't tested.

The EBS CSI snapshot feature was implemented independent of external-storage snapshot, the implementation is based off CSI s

[2019-10-16 01:55] jammerful commented on #387
It just uses a set of CRDs and a controller and is not based on the CSI at all. It seems to work fine from my testing.

Thanks, I had just assumed that it was based off the existing work, in that case I'll find out in a few weeks.

[2019-10-16 12:53] siwyd commented on #361
@leakingtapan I tried the alpha kustomize overlay today and it seems to be working for me now!

[2019-10-22 20:28] frittentheke commented on #223
/remove-lifecycle stale

[2019-10-23 08:42] jsafrane opened #393 "Unify cloud provider between legacy and CSI driver"
[Kubernetes cloud provider for AWS](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/aws) is still being actively maintained and bugs are fixed there. It could be worth importing it instead of using a fork in this repo. The code there has been well tested in real world and it would ensure that migration to CSI is as smooth as possible.

On the other ha

[2019-10-23 12:08] pierresteiner commented on #312
We faced a little issue and found out that the version in values.yaml does not match the version of the release:
[code]
It should be v0.4.0. It is correct in master, wrong in the tarball. Can you please fix it?

[2019-10-23 19:17] wongma7 commented on #393
100% agree. For example, https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/389 refers to a fix in legacy cloudprovider. If we use legacy, we could get the fixes for free instead of having to backport every improvement to our "mini" cloudprovider fork in pkg/cloud

[2019-10-24 00:28] leakingtapan commented on #290
/remove-lifecycle stale

[2019-10-25 12:52] jsafrane commented on #352
I cannot confirm this with today's amazon/aws-ebs-csi-driver:latest. With these objects:

[code]

The volume is mounted as rw:
[code]

From driver logs:
[code]

IMO, you should pass mount options during NodeStage too. Passing it to bind-mount in NodePublish may work for `ro`, which is supported for bind mounts, however, other options will be silently ignored.

[2019-10-29 16:57] leakingtapan commented on #346
/assign @sreis

[2019-10-30 04:52] leakingtapan opened #395 "Automate chart creation during release"
**Is your feature request related to a problem? Please describe.**
Automate chart creation during release

[2019-10-30 04:53] leakingtapan commented on #312
@pierresteiner fixed the chart :) Added a issue to make this less error prune: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/395

[2019-10-31 23:58] #333 closed

[2019-11-05 19:27] leakingtapan commented on #330
/remove-lifecycle stale

[2019-11-06 08:29] bertinatto commented on #294
/remove-lifecycle stale

[2019-11-06 14:08] gliptak opened #397 "tar: Ignoring unknown extended header keyword when extracting helm-chart.tgz"
When extracting https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/download/v0.4.0/helm-chart.tgz ```tar``` warns ```tar: Ignoring unknown extended header keyword```

[code]

When extracting with ```7zip``` an additional attribute(?) directory called ```PaxHeader``` created:

[code]

[2019-11-06 19:57] leakingtapan commented on #397
What's the OS are you using?

[2019-11-06 20:34] gliptak commented on #397
Cygwin

[2019-11-06 21:01] zerkms opened #399 "RegisterPlugin error -- failed to get plugin info using RPC GetInfo at socket /var/lib/kubelet/plugins/ebs.csi.aws.com/csi.sock"
/kind bug

**What happened?**

All cluster nodes have the following lines in the kubelet log:

[code]

It works though: ebs volumes are successfully created, mounted, and destroyed, when necessary.

And the driver looks registered:

[code]
And the file socket looks like exists there

[code]

**What you expected to happen?**

I think there should be no such error message

**How to reproduce it (as

[2019-11-07 03:16] leakingtapan commented on #294
Al the tests are running with: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/362

[2019-11-07 19:49] leakingtapan commented on #399
See similar error on EFS CSI driver on 1.17.beta cluster as well:

[code]

[2019-11-08 05:35] leakingtapan commented on #294
See here for dashboard:
* https://testgrid.k8s.io/sig-aws-ebs-csi-driver#pull-migration-test-latest
* https://testgrid.k8s.io/sig-aws-ebs-csi-driver#migration-test-latest

[2019-11-08 19:20] leakingtapan commented on #300
`csi.storage.k8s.io/fstype` is already supported through https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/335 And this is the only key we care about for now.

/close

[2019-11-08 19:20] #300 closed

[2019-11-11 03:35] zerkms commented on #399
I've given 3 more days for somebody else to comment, but now I'm unsure whether @leakingtapan your comment means there should be any input from me or you just confirmed it's a bug in this project?
Or should it be reported somewhere (main kubernetes repository?) instead?

[2019-11-11 08:17] jsafrane opened #406 "Run kubernetes e2e tests without migration"
E2E tests for CSI migration are added in #294. We need the same e2e tests also with plain CSI driver, without migration.

In other words, install the driver and run upstream e2e tests with the CSI driver (with the driver in StorageClass, no migration), as described in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/external/README.md.

Since most of the work (cluster & driver

[2019-11-11 16:26] leakingtapan commented on #399
@zerkms thx for reporting the issue. My comment was just a small findings I got while debugging other issues. More time still need to be spent on this issue to root cause the problem

[2019-11-11 16:32] leakingtapan commented on #406
Another additional work is the current [testing script ](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/hack/run-e2e-test) is not that configurable for tuning feature gates (hard coded to enabled migration). I have already written a [new](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/tester/single-az-config.yaml) framework (which is more configurable) for e2e

[2019-11-11 17:52] leakingtapan opened #408 "Update to use kops 1.16 for migration testing"
**Is your feature request related to a problem? Please describe.**
kops 1.16.0-alpha.1 is cut. We need to migration to use it for CSI migration testing

[2019-11-12 00:01] #408 closed

[2019-11-12 18:47] leakingtapan commented on #406
I just switched to use kops 1.16 alpha: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/409

[2019-11-12 18:49] leakingtapan commented on #339
/remove-lifecycle stale

[2019-11-15 09:41] zhucan commented on #346
@gnufied what's version with the kubernetes support NodeExpandVolume for raw block volume? v1.14&v1.15 doesn't support it?

[2019-11-18 16:26] leakingtapan commented on #346
@zhucan There is not feature flag for raw block volume expansion, it fall under `ExpandCSIVolumes` flag, which is beta since 1.16

[2019-11-19 00:17] leakingtapan commented on #334
/remove-lifecycle stale

[2019-11-19 01:59] zhucan commented on #346
@leakingtapan Yes, In my kubernetes cluster(v1.15.0), The expansion(NodeExpandVolume) for raw block not be called.

[2019-11-19 21:28] leakingtapan opened #411 "Patch sidecars for CVE-2019-11255"
**Is your feature request related to a problem? Please describe.**
See https://github.com/kubernetes/kubernetes/issues/85233 for details

[2019-11-20 06:28] frittentheke commented on #180
/remove-lifecycle stale

[2019-11-22 03:49] thundergolfer opened #412 "Controller is not respecting "requisite" AccessibilityRequirements when creating EBS volumes"
/kind bug

**What happened?**

We have created a `storageclass` with Topology requirements of `us-east-1a`. We dynamically create a `pvc` using that `storageclass` which does correctly send a `CreateVolume` request asking for `key:"com.amazon.aws.csi.ebs/zone" value:"us-east-1a"`, but the created volume is in `us-east-1d`. (See logs copied in below)

**What you expected to happen?**

That the crea

[2019-11-22 11:18] jnaulty opened #415 "e2e/unit/integration flake: pull-aws-ebs-csi-driver-e2e-single-az"
/kind bug

**What happened?**
e2e test failure from a non-related change (change was in a markdown file)
With error:
[code]

**What you expected to happen?**
When changing documentation, all tests should pass.

**How to reproduce it (as minimally and precisely as possible)?**
Run `/test pull-aws-ebs-csi-driver-e2e-single-az`

**Anything else we need to know?**:

Useful links:
- 1st failure for #41

[2019-11-22 21:46] leakingtapan commented on #415
Thx for reporting! the test cases with `sc1` does have flaky issue. We need to look into this. I suspect one issue could be due to sc1's minimum size is 500GiB which cause it takes long time to format the filesystem and causes timeout.

[2019-11-22 22:32] leakingtapan commented on #412
The used storage class's topology key is incorrect, it should be `topology.ebs.csi.aws.com/zone`. A formal storageclass will be like:

[code]

[2019-11-22 22:40] leakingtapan commented on #412
PR to clarify this: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/416

[2019-11-22 22:40] leakingtapan commented on #412
@thundergolfer thx for reporting the issue. Could you test if this new key works for you?

[2019-11-23 07:46] thundergolfer commented on #412
@leakingtapan Thanks for the quick reply.

Yes I think fixing this key has stopped the AZ mismatch problem from happening.

cc @groodt

[2019-11-24 21:27] frittentheke commented on #216
/remove-lifecycle stale

[2019-11-24 21:28] frittentheke commented on #351
/remove-lifecycle stale

[2019-11-25 18:55] leakingtapan commented on #347
/remove-lifecycle stale

[2019-11-25 19:31] leakingtapan commented on #393
I like the idea of unifying the two cloud provider between legacy cloud provider and the once being implemented in this CSI driver. I would like more discussion on which one to pick before we can go with importing legacy cloud provider. Several questions:
1. I'm assuming you are proposing to use [legacy provider for AWS](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legac

[2019-11-25 19:36] leakingtapan commented on #412
/close
Free feel to reopen if you have more questions.

[2019-11-25 19:36] #412 closed

[2019-11-25 19:42] leakingtapan commented on #115
/remove-lifecycle stale

[2019-11-25 19:43] leakingtapan commented on #361
/assign

[2019-11-25 20:24] gini-schorsch opened #418 "volume mode "Persistent" not supported by driver ebs.csi.aws.com (only supports [])"
/wrong bot user - SRY - pls close this

[2019-11-25 20:31] #418 closed

[2019-11-25 20:31] gini-schorsch commented on #418
wrong bot user - SRY - pls close this

[2019-11-25 20:35] glotzerhotze opened #419 "volume mode "Persistent" not supported by driver ebs.csi.aws.com (only supports [])"
/kind bug

**What happened?**
We want to upgrade our current kubernetes cluster running on debian-9-stretch (backports kernel 4.19.0) from v1.15.3 to v1.16.3

To test this - in a non-destructive way - we spun up an additional spot-worker-node (debian-10-buster based with backports kernel 5.3.0) running kubelet v1.16.3 and added that node without problems to the cluster.

As far as we understand ve

[2019-11-26 23:19] leakingtapan commented on #419
This seems an issue related to [volume lifecycle mode](https://github.com/kubernetes/kubernetes/blob/v1.16.3/pkg/volume/csi/csi_plugin.go#L770) that got added since 1.16

[2019-11-27 00:06] leakingtapan commented on #419
I suspect the problem is due the [defaulting logic](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/storage/v1beta1/defaults.go#L52-L53) was only added since 1.16. So that a CSI driver object got created earlier was not defaulted correctly.

What's the output of `kubectl get csidriver -o yaml`?

And could you try reinstall the CSI driver and see if it works?

[2019-11-28 17:43] jsafrane commented on #393
Yes

I don't disagree...

Yes, probably.

Ack, all I want is to pull the fixes we do in the legacy cloud provider also into the CSI driver. The legacy provider has been tested really lot in production.

[2019-11-29 19:18] glotzerhotze commented on #419
Hi leakingtapan - thanks for looking into this subject and giving some insights as to what is going wrong.

It took me a few days to get back to this and replicate the problem with a 4 node testing cluster. So I can confirm that the same error messages shows up when joining a 1.16.3 worker node to a functional 1.15.6 cluster (1 master - 2 workers) - so far, no news.

Since I learned that when upgr

[2019-12-01 05:23] leakingtapan commented on #316
/remove-lifecycle stale

[2019-12-01 18:04] krmichel opened #422 "Helm chart doesn't allow annotations which are needed when using with kube2iam or similar"
**Is your feature request related to a problem? Please describe.**
I would like to use the helm chart to deploy the driver, however I also use kube2iam for permissions management and using the chart I can't properly annotate to allow the necessary permissions.

**Describe the solution you'd like in detail**
Modification of helm chart to allow for annotations to be added.

**Describe alternatives y

[2019-12-04 18:07] leakingtapan commented on #150
/remove-lifecycle stale

[2019-12-05 16:14] krmichel opened #425 "e2e flake: pull-aws-ebs-csi-driver-e2e-single-az"
/kind bug

**Which jobs are failing**:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/423

**Which test(s) are failing**:
[ebs-csi-e2e] [single-az] Dynamic Provisioning

**Since when has it been failing**:
3 times on the above PR with not related code changes

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_aws-ebs-csi-driver/423/pull-aws

[2019-12-08 14:47] paulmin55 opened #426 "restored snapshot volume contents are missing"
/kind bug

**What happened?**
I created an EBS volume snapshot attached to a statefulset pod using the ebs-csi-driver `VolumeSnapshot`.  The snapshot was created and the `Ready to Use` state was showing value: `true`.

Snapshot Status:
[code]

When I restored the snapshot to mount point `/var/lib/mysql`, I noticed that the contents of the target volume mount on the container didn't contain the sna

[2019-12-09 15:11] gyj0825 commented on #399
I have the same problem on kubernetes 1.15.3 and driver version 0.4.0
kubelet error logs as follows:
`Dec  9 22:59:12 ip-10-0-8-162 kubelet: E1209 22:59:12.830347   24463 goroutinemap.go:150] Operation for "/var/lib/kubelet/plugins/ebs.csi.aws.com/csi.sock" failed. No retries permitted until 2019-12-09 23:01:14.830320874 +0800 CST m=+2205.924636419 (durationBeforeRetry 2m2s). Error: "RegisterPlugi

[2019-12-09 20:25] tenitski opened #427 "Max number of volumes calculation is incorrect"
/kind bug

**What happened?**
Unable to start a pod which uses a volume:

  Warning  FailedMount         119s (x41 over 92m)  kubelet, ip-???????.ap-southeast-2.compute.internal  Unable to mount volumes for pod "mysql-0_example(?????)": timeout expired waiting for volumes to attach or mount for pod "example"/"mysql-0". list of unmounted volumes=[mysql-data]. list of unattached volumes=[mysql-data

[2019-12-10 15:50] paulmin55 commented on #426
So turns out this was an EKS 1.14 limitation not having support for feature gate  volumesnapshotdatasource.

[2019-12-10 15:50] #426 closed

[2019-12-11 06:07] MartinForReal opened #428 "Driver name can't be changed."
**Is your feature request related to a problem? Please describe.**
I need to run multiple CSI drivers on the same Kubernetes cluster because the worker nodes in my cluster are provisioned under user account (which is different from the account which provisions master node ). So I can't provision new volume using the same CSI driver due to access issues.

**Describe the solution you'd like in detai

[2019-12-12 08:09] leakingtapan commented on #427
@tenitski Thx for creating the issue here. As I mentioned in the other [thread](https://github.com/kubernetes/kubernetes/issues/80967#issuecomment-521302485)

We need a way to let CNI plugin and CSI driver to share this attach limit so that both side could work correctly. And the current CSI attach limit feature doesn't address this issue at all.

[2019-12-12 08:13] leakingtapan commented on #428
@MartinForReal the CSI driver name needs to be unique and stable, it's not supposed to be configured dynamically. And CSI driver controller service deployment is supposed to be one per cluster.

For you use case, is it possible for you to assign the CSI driver a role that can assume role in other account?

[2019-12-13 02:45] MartinForReal commented on #428
@leakingtapan This might be reasonable but I can hardly agree.

This might not be true because if I use different storage implementation on the same cluster. There will be more than one CSI controller on the same cluster available.

And the driver identification is stable after the controller daemon is started. Here we treat each controller as a unique storage provider even though these controller

[2019-12-13 11:30] leakingtapan commented on #428
Different storage implementation comes with different csi drivers. You can see that all aws csi driver has different driver name, efs.csi.aws.com, ebs.csi.aws.com, which enables you to deploy them all in the same cluster.

Where do u see this is documented?

[2019-12-13 14:15] MartinForReal commented on #428
@leakingtapan As you said in the last comment. We can have multiple instances of the driver if we can change the name. such as ebs.csi.aws.com.us-east1, ebs.csi.aws.com.cn-west2, ebs.csi.aws.com.cn-west-user1

[2019-12-13 20:22] gnufied commented on #427
I do not think we will have a design that will allow flexibility we are looking for in calculating CNI and impact of other network interfaces (at least in short/medium term).

We should fix - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/347

[2019-12-15 00:10] otterley commented on #347
On EC2 Nitro instances, the number of attachable EBS volumes is not a fixed value that can be calculated and supplied when the CSI driver is launched, regardless of instance type, that is correct throughout the lifetime of the node.  Because the formula is _MaxEbsAttachableVolumes = MaxAttachments - AttachedENIs_, where _MaxAttachments_ depends on the EC2 instance type, the value must be recalcula

[2019-12-15 00:22] otterley commented on #427
I disagree with the approach suggested in #347 - I don't believe we should burden our customers with the responsibility of determining what the correct value should be, especially when we can calculate that for them, and because the values could be raised in the future.

It could also customers into a false sense of correctness and reliability. If they set the value too high because of how many EN

[2019-12-15 04:31] leakingtapan commented on #347
Agree that this proposal is very suboptimal

[2019-12-15 12:51] gnufied commented on #347
Designing a generic mechanism to calculate number of attachments as shared resource is kind of a tricky problem. There are various ways overrides can be configured such as pre-allocating a number for ENIs or percentage of attachments(and subtracting it from max). It would be nice if AWS had a API for determining `MaxEbsAttachableVolumes` an instance supports, so as we can remove the hacks in this

[2019-12-16 05:49] phantooom opened #429 "multi user support"
out kubernetes node distributed in multi Amazon account.  the network communicate use vpc peering + aws cni plugin.

these days,we need a Dynamic Provisioning  volume plugin . we found this plugin not support currently. is this feature in your road map? or any suggestion?

[2019-12-24 06:22] zhoudayongdennis opened #431 "ebs CSI volume detach failure"
/kind bug

**What happened?**
1. define stateful pod in kubernates cluster successfully, after reboot node one by one, there was pods in ContainerCreating status. e.g.
default            app-ebs-1                                                          0/1     ContainerCreating   0          21h     <none>
2. checking pods app-ebs-1 as below event:
Events:
  Type     Reason              Age

[2019-12-24 22:27] andy812 opened #432 "Filesystem resize failed"
/kind bug

I have no problem with resizing PVC/PV, but filesystem resizing is not working.
When i changed resources.requests.storage size in PVC, i got some events:
[code]
FileSystemResizeSuccessful - wrong message, because when i run `df -h` inside my pod, i see the same size as before resizing.
csi-resizer logs:
[code]
There is no messages about successful filesystem resize.
I expect successful

[2019-12-25 17:43] leakingtapan commented on #370
/remove-lifecycle stale

[2019-12-26 00:39] #352 closed

[2019-12-26 05:25] #330 closed

[2019-12-26 06:48] #432 closed

[2019-12-26 06:49] andy812 commented on #432
Fixed on my side (i checked feature gates list)

[2019-12-29 19:30] leakingtapan commented on #431
related to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/375

Have you tested the driver in the latest image tag?

[2019-12-29 19:37] leakingtapan commented on #429
@phantooom thx for reporting the issue. The driver only supports dynamic provisioning within the same account. To clarify, are you asking for dynamic provisioning EBS volume in different aws accounts?

[2019-12-30 07:41] #429 closed

[2020-01-03 02:31] zhoudayongdennis commented on #431
just compare your change with the private change I made to pass the failure. Just want to confirm with you, for ErrNotFound return value, it will NOT be treated as failure case, right?

here was the change you made in DetachDisk function of Cloud.go:

@@ -401,6 +401,11 @@ func (c *cloud) DetachDisk(ctx context.Context, volumeID, nodeID string) error {

	_, err = c.ec2.DetachVolumeWithContext(ctx,

[2020-01-03 02:38] zhoudayongdennis commented on #431
My project checkout the branch 0.4.0 instead of main branch.

what's the difference between 0.4.0 and main? Should i use the main branch for image build?

[2020-01-03 06:07] zhoudayongdennis commented on #431
any schedule for new branch release?

[2020-01-03 07:17] leakingtapan opened #435 "Upgrade to CSI 1.2 spec"
**Is your feature request related to a problem? Please describe.**
Upgrade to CSI 1.2 spec

[2020-01-03 07:22] leakingtapan commented on #431
Here is a list of changes: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/compare/v0.4.0...master

Are you using it for testing purpose or production use? If production use, I would recommend wait for the v0.5.0 release

[2020-01-03 07:23] leakingtapan commented on #361
This is done.

/close

[2020-01-03 07:23] #361 closed

[2020-01-03 07:26] leakingtapan commented on #294
this is done as part of CSI migration beta.

/close

[2020-01-03 07:26] #294 closed

[2020-01-03 07:26] leakingtapan commented on #376
/remove-lifecycle stal

[2020-01-03 07:27] leakingtapan commented on #376
/remove-lifecycle stale

[2020-01-03 07:30] zhoudayongdennis commented on #431
ok, I will wait for 0.5.0. Do you have the schedule for it?

[2020-01-03 07:40] leakingtapan commented on #431
Yep. With the change, the driver will return success when detaching a NotFound volume

[2020-01-08 15:43] mrPsycho opened #436 "Adding tags semi-dynamically"
Hello,

this change https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/333 is very helpful.
but, is it possible to put tags from enviroment variables?

i mean next:
on latest version of driver `CSIVolumeName` tag is added with value from `Volume` field. But, is it possible to add other tags, like `Name`, or `Labels`? or even pod name, where it is attached at first time?

/triage support

[2020-01-08 18:21] leakingtapan commented on #436
To be compatible with in-tree EBS plugin behavior, there is list of dynamic values I'm looking for adding. See [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/351#issue-483658726) for a complete list.

Why do you need to set the tag through environment? Is there anything that is not enough with the cli flag from #333?

From the examples you gave, it seem fitting into the [Add t

[2020-01-08 22:37] leakingtapan commented on #376
@fiftoine how long have you waited before taking snapshot? If the file was just written when the snapshot was taken, the data might be still cached in kernel and NOT flushed into disk yet. I am actually able to reproduce this if the snapshot is taken too soon. To solve your problem, you can either run `kubectl exec -ti app -- sync` before taking the snapshot. Or you can wait some longer time for t

[2020-01-08 22:38] leakingtapan commented on #376
Feel free to reopen the issue if this still happen to you with the above solution.

/close

[2020-01-08 22:38] #376 closed

[2020-01-08 22:56] leakingtapan commented on #165
/remove-lifecycle stale

[2020-01-08 23:01] leakingtapan commented on #207
/remove-lifecycle stale

[2020-01-08 23:01] leakingtapan commented on #306
/remove-lifecycle stale

[2020-01-08 23:04] leakingtapan commented on #295
/remove-lifecycle rotten

[2020-01-08 23:05] leakingtapan commented on #307
/remove-lifecycle stale

[2020-01-09 07:21] mrPsycho commented on #436
to be honest, we are trying to add more functionality to new "jenkins core". and it is installed on Amazon AWS, what is obvious.
After several adjustments we found, that cool PR, that allows us to add custom tag, like BackupStrateg, and now we are able to use AWS Backup solution.

but there is a problem - how to find correct backup for needed "managed master"... so, we need a way how to put this t

[2020-01-09 16:12] mrPsycho commented on #436
i have a progress:
after reading https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/ i noticed example:
[code]

and this almost that what is needed.
I've tried this:
[code]
but it returns `ebs-csi-controller-0`
which is wrong....

How to find correct variable?

[2020-01-10 12:17] mrPsycho commented on #436
is it possible to turn on more log level on containers inside `ebs-csi-controller-0`?
to understand what it giving to it to create ebs?

[2020-01-13 16:38] kvalliy opened #439 "Raw Block device attach failure"
/kind bug

What happened?
First time I attach a raw block PVC to a pod , it works fine.Once the pod usign the raw block device is up and running , I delete the pod and then try to recreate the pod with the same PVC , this time the PVC fails to mount with the following error
[code]
I am able to reproduce this consistently every time I delete and recreate a pod using raw block PVC , seems like the i

[2020-01-13 23:32] kvalliy commented on #439
on debugging further on the node , I see that the reason the plugin is unable to delete the device file is because it seems to be mounted to devtmpfs on the node
[code]
not sure what does this mounting

[2020-01-14 08:34] leakingtapan commented on #439
Given the above msg :
[code]
Is something holding up to the mount point so that umount failed? Do you have the `ebs-csi-node-xxx` log for which node the pod is deployed to?

[2020-01-14 11:20] mrPsycho commented on #436
ok. for now issue like closed.

our approach:
[code]

[2020-01-14 11:20] #436 closed

[2020-01-14 16:26] kvalliy commented on #439
@leakingtapan
[code]

[2020-01-14 16:31] kvalliy commented on #439
on the node itself , I see these being left behind
[code]

[2020-01-14 17:21] kvalliy commented on #439
so seems like while mounting , it gets mounted twice but while unmounting , it gets unmounted only once ?
[code]
on the node when mounted
[code]

[2020-01-15 05:25] leakingtapan commented on #346
/kind bug

[2020-01-15 16:33] alijahnas opened #440 "'AZ is not provided' error when provisioning EBS volume"
/kind bug

**What happened?**
[code]

**What you expected to happen?**
I tried to provision a volume on EBS but I got that the AZ is not provided from https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L272
So the controller tries to pick a random AZ but it doesn't have the policy describeAvailabilityZone on IAM.
After giving it the policy, it succeeds on provisio

[2020-01-16 13:21] alijahnas commented on #440
I figured it out for the AZ problem. The
[code]
wasn't set on the provisioner sidecar

[2020-01-16 13:21] #440 closed

[2020-01-16 23:15] sstarcher commented on #351
I just tossed this controller together.  It does not work specifically for the csi, but for the built-in kubernetes ebs provider.  It fetches the labels from the pv and pvc and applies them to the AWS EBS volume.

https://github.com/sstarcher/kube-ebs-tagger

[2020-01-17 18:26] kvalliy commented on #439
The issue seems to be that NodeStageVolume and NodePublishVolume get called twice , leading to the block device being bind mounted to twice , and only one is being removed during the unpublish part , I think the Nodepublish needs to not mount , is the raw block device is already mounted
[code]

[2020-01-20 21:53] zerkms commented on #223
/remove-lifecycle stale

[2020-01-22 06:56] #411 closed

[2020-01-22 08:25] bertinatto commented on #290
/remove-lifecycle stale

[2020-01-22 22:56] nrb opened #442 "Upgrade to csi-snapshotter to v1beta1 API"
**Is your feature request related to a problem?/Why is this needed**
The common [csi-snapshotter 2.0.0 has been released](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v2.0.0), with support for the v1beta1 CRDs. It would be helpful to have the latest support for the EBS driver, rather than the v1alpha-based drivers.

/feature

**Describe the solution you'd like in detail**
YA

[2020-01-24 01:06] leakingtapan commented on #419
Looks like the original problem is gone by upgrading master node to 1.16 first.

For the following error:
[code]

Feels something wrong with volume attachment. What's the log of `ebs-csi-controller-xxx` where the pod ID being the leader controller service. You can find the leader using `kubectl get leases -n kube-system`. Do you see any `ControllerPublishVolume` call for this specific volume? If n

[2020-01-27 08:47] gini-schorsch commented on #419
So the cluster is on v1.17.0 already, as I tried to resolve the problem via updating the setup a few weeks back already. It is still the same 4-node single master setup I initially started with as described above.

We are running these components in the cluster:

- ebs-csi-controller (statefulset)
  - amazon/aws-ebs-csi-driver:v0.4.0
  - quay.io/k8scsi/csi-provisioner:v1.5.0
  - quay.io/k8scsi/csi

[2020-01-27 17:27] #378 closed

[2020-01-27 17:37] leakingtapan commented on #419
@gini-schorsch
Looks the volume creation timeout after 1 mins:
[code]

How did you setup the IAM permission for the driver?

[2020-01-28 17:51] fmedery opened #443 "move help chart to https://github.com/aws/eks-charts"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature

**Describe the solution you'd like in detail**
More and more of our helm charts are hosted on https://github.com/aws/eks-charts

It will be easier for the customer to list all the AWS helm charts that way

**Describe alternativ

[2020-01-28 17:57] leakingtapan commented on #443
I would prefer `cp` instead of `mv` as the chart is not eks only

[2020-01-29 10:05] sermilrod commented on #180
/remove-lifecycle stale

[2020-01-29 15:30] jsafrane opened #444 "Failed to restore snapshot in 1.17"
/kind bug

**What happened?**
I deployed the driver with snapshotter v2.0.0 (i.e. v1beta1 implementation) and took a snapshot of a volume. When I tried to restore it, external-provisioner failed with:

[code]

From the [provisioner sources](https://github.com/kubernetes-csi/external-provisioner/blob/8444597be20f8739eae1be5a0d9aa5c2eb6cbf91/pkg/controller/controller.go#L617-L628) it's clear that it

[2020-01-29 18:21] leakingtapan commented on #444
/kind feature
As snapshot v1beta1 is not supported yet. This will be fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/442

[2020-01-30 08:28] lazydragon opened #445 "cross az sync as supported by openebs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2020-01-30 08:56] jsafrane commented on #444
This is not about v1beta1 API, that's handled by external-snapshotter. This is about CSI v1.0. Anyway, I should have a PR soon.

[2020-01-31 01:16] leakingtapan commented on #445
This feature will be relying on EBS. please file a request to EBS first.

[2020-02-04 18:55] #444 closed

[2020-02-05 12:39] zanghao2 opened #447 "FailedMount volume for pod"
/kind bug

**What happened?**
1. I deploy aws-ebs according to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/deploy/kubernetes/base
2. I create sc use ebs.csi.aws.com provisioner
3. I create a pvc use sc and a pod use the pvc
4. aws-ebs ebs-csi-controller creates volume and publish to the node that the pod deployed.
5. The pod can not create, the information is :
[code]
pvc and

[2020-02-05 12:45] zanghao2 commented on #447
here is the kubelet error:
[code]

[2020-02-05 13:43] SimonDreher commented on #431
I am also interested, if there is a planned time for the release of 0.5.0?

This is blocking us from migrating to kubernetes v1.15, since there we need v0.4.0 and with this bug all deployments with persistent volumes will break (until manual fix) every time their node is dying ...

If 0.5.0 release still takes time, is there the possibility to cherry-pick the fix for this and release a 0.4.1 relea

[2020-02-05 20:10] bartelsb commented on #419
We are also experiencing this issue. We are only deploying the ebs-plugin on our controller nodes. Our IAM permissions for controller nodes look like this:
[code]

We have a slightly different setup than OP (Flannel CNI, using in-tree AWS provider instead of CCM, 3 controller nodes in a 6 node cluster), but otherwise, the details look about the same. All of our volumes are dynamically provisioned.

[2020-02-05 20:43] leakingtapan commented on #419
@bartelsb see some of the above conversations for your context. What's your cluster version and what's your upgrade process look like? The recommended process will be 1) upgrade master node 2) upgrade worker node 3) upgrade addons (eg. CSI driver)

[2020-02-05 20:50] leakingtapan commented on #447
Looks like attach volume failed. So, we need to figure out why this is happening. Several question:
1. What's ur storageclass/pv/pvc spec?
2. Do you need the volume created from AWS console or CLI?
3. Is the volume created in the same zone as the worker nodes that its trying to attach?

[2020-02-05 20:59] bartelsb commented on #419
We start with k8s 1.15.5. We deploy the CSI driver using the `amazon/aws-ebs-csi-driver:latest` image (so should be same versions of components or newer as specified above). Next, we upgrade each node of the cluster to k8s 1.17.0, starting with the controller (master) nodes. Finally, we restart all of our workloads, including those mentioned above that have PVCs. Our Prometheus workload is able to

[2020-02-05 21:02] bartelsb commented on #419
We are considering pulling out the CSI driver entirely, so that if this is related to our Kubernetes version in some way, deploying the CSI driver doesn't block us from upgrading to v1.17.

[2020-02-06 03:21] zanghao2 commented on #447
@leakingtapan
1.storageclass:
[code]
pvc:
[code]
pv:
[code]
2. ebe-csi-controller create volume and the volume is in AWS console.
3.In the same zone

[2020-02-06 09:15] glotzerhotze commented on #419
so for us the issue was resolved after fixing a misconfigured CNI setup, which prevented inter-node-communication and thus a provisioning of storage never got triggered.

We have not tried upgrading our current working cluster (v1.15.x) to any newer versions, but we can confirm that mounting volumes and provisioning storage works on v1.17.x when starting from scratch (aka. building a new test-clus

[2020-02-06 23:11] msau42 commented on #389
Is there a plan to port https://github.com/kubernetes/kubernetes/pull/83567 to the CSI driver, or to do it as part of https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/393?

[2020-02-07 06:24] leakingtapan commented on #389
I would like to do it separately instead of part of #393

[2020-02-13 11:13] Amos-85 opened #448 "Add ability to change kubelet default path"
There is no option in the helm chart values file to define the kubelet mountPath

it would be nice if we can define it if some cluster has some kubelet path other then the default one which is /var/lib/kubelet

[2020-02-13 17:56] leakingtapan commented on #448
Hey @Amos-85 thx for reporting the issue. Could you add more details on why "some cluster has some kubelet path other then the default one"?

[2020-02-13 20:48] Amos-85 commented on #448
Hi @leakingtapan
**Case 1**
- [RKE](https://rancher.com/docs/rke/latest/en/) use this path` /opt/rke/var/lib/kubelet` as default.

**Case 2**
- Sometimes you don't want to deploy k8s components under root paths cause of small root fs.

[2020-02-14 22:02] flickerfly commented on #180
Is there two different problems here? I can't create an EBS volume without an OWNER tag due to billing requirements forcing me to configure other storage. That can be the same tag every time when associated with the cluster. Perhaps that's an easier problem to solve first?

Then figuring out how to provide a method for changing up tags depending on certain scenarios can come as a follow-up problem

[2020-02-14 22:09] jieyu commented on #180
@flickerfly you might want to checkout this feature https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/333

[2020-02-15 15:49] Missshao opened #449 "CSI support attach a volume to multiple instances with amazon EBS Multi-Attach"
**Describe the solution you'd like in detail**
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volumes-multi.html

[2020-02-19 23:30] msau42 opened #450 "Clarify why kubernetes tag prefix is disallowed"
/kind bug

**What happened?**
I'm wondering why the kubernetes.io tag prefix is [restricted](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/2c0ad7b0e7840d3dbc8deb28161c665794892ae8/pkg/driver/validation.go#L53). Assuming that the aws in-tree cloud provider is removed from K8s entirely in the future, there should be nothing in K8s that is using this tag prefix on EBS volumes right?

[2020-02-20 05:23] leakingtapan commented on #450
We are reserving this for the driver itself. Hence, it is disallowed to be used by end user. Hope this make sense to you.

/cc @jieyu

[2020-02-20 07:01] msau42 commented on #450
It's likely that in the future the deployer of the CSI driver is a Kubernetes distribution itself (especially once intree is turned off). In that case I think it is reasonable for the K8s distribution to use the prefix.

There's also the theoretical principle that a CSI driver should be k8s agnostic.

[2020-02-20 07:26] leakingtapan commented on #450
Makes sense. What's the upstreams recommendation for setting k8s related tags in CSI drivers? The EBS CSI driver just supports setting static tags now. And that is what's being validated to disallow kubernetes.io tag. I also see the currently populated [in-tree tags](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/351#issue-483658726) are all dynamical tag values. We probably could lo

[2020-02-20 07:40] leakingtapan commented on #351
@frittentheke

Thx for your input. The major drawback of current CSI spec is that there is no way for the driver to know what's the tag value it's suppose to use during volume creation (except for storageclass parameter, which has other problems on ease of use). So we either stuck on this feature or build a sidecar as post volume creation tag.

[2020-02-20 07:42] leakingtapan commented on #449
/kind feature

[2020-02-21 05:13] varunkumar commented on #449
Is there any WIP on this?

[2020-02-21 15:02] infa-ssaurabh opened #451 "Expand the IO1 volume once PVC is created"
**Is your feature request related to a problem? Please describe.**
Once I create a provisioned iops volume with pvc, I can't incase the volume later. When I edit the pvc configuration with higher size, it gives error as:
"Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC."

**Describe the solution you'd like in detail**
M

[2020-02-21 16:05] infa-ssaurabh commented on #333
Where to add the cli arg: --extra-volume-tags
In my ebs-csi-controller deployment, aws-ebs-csi-driver doesn't have argument like --extra-volume-tags

flag provided but not defined: -extra-volume-tags
Usage of /bin/aws-ebs-csi-driver:
  -add_dir_header
    	If true, adds the file directory to the header
  -alsologtostderr
    	log to standard error as well as files
  -endpoint string
    	CSI Endpo

[2020-02-21 16:12] leakingtapan commented on #333
What’s the version you are using?

[2020-02-21 16:21] infa-ssaurabh commented on #333
aws-ebs-csi-driver:v0.4.0

[2020-02-21 16:36] leakingtapan commented on #333
This feature is only available in master branch or latest image tag. We have yet to cut a release

[2020-02-21 17:01] infa-ssaurabh commented on #333
I don't see that feature even with latest tag(i took it fro dev), with alpha its completely different:
flag provided but not defined: -extra-volume-tags
Usage of /bin/aws-ebs-csi-driver:
  -add_dir_header
    	If true, adds the file directory to the header
  -alsologtostderr
    	log to standard error as well as files
  -endpoint string
    	CSI Endpoint (default "unix://tmp/csi.sock")
  -log_back

[2020-02-21 20:33] jieyu commented on #333
@infa-ssaurabh The feature is merged in master branch, if you build the controller from master, you should be able to see those flags. We've tested internally and worked. @leakingtapan when we can expect the next release?

[2020-02-21 21:21] leakingtapan commented on #395
/remove-lifecycle stale

[2020-02-21 21:41] leakingtapan commented on #395
Potentially using github workflow that is triggered after a release is cut. The workflow will tar the helm and upload to the given release

[2020-02-21 21:44] leakingtapan commented on #317
/remove-lifecycle stale

[2020-02-24 00:19] gliptak commented on #397
See the same with ```Gnu tar```

[code]

[2020-02-24 00:19] gliptak commented on #397
/remove-lifecycle stale

[2020-02-24 06:55] Rajeev9045 opened #453 "EBS CSI volume attache failure."
Hi Everyone, working wiith csidriver and facing issue volume attachment to the node. and getting bellow error. Can someone help ?.
`csi_handler.go:98] Error processing "csi-7832bc7b43a4bb1e36500a6e56c08874dd5a61699321950baa9066baa470388e": failed to attach: node "NODE NAME" has no NodeID annotation`

*AttachVolume.Attach failed for volume "pvc-068ebc92-4b78-4dea-9" : node "node name" has no NodeID

[2020-02-24 17:49] leakingtapan commented on #449
Hey, there is no progress on this feature yet as we still need the design for this

[2020-02-24 17:50] leakingtapan commented on #406
/remove-lifecycle stale

[2020-02-24 19:38] #284 closed

[2020-02-25 07:14] leakingtapan opened #454 "Cluster leak during e2e test"
/kind bug

**What happened?**
[code]
This happens when a new PR is submitted while the exiting e2e test is still on going

[2020-02-25 07:28] Rajeev9045 commented on #453
@rfranzke can you help with this. I have checked with AWS support , there seems to be no issue at their end. This seems to be some annotation related issue. any idea how to fix.
cc: @k8s-ci-robot

[2020-02-25 09:13] rfranzke commented on #453
@Rajeev9045 I'm not very familiar with CSI. Why do you think I could help?

[2020-02-25 12:41] Rajeev9045 commented on #453
@rfranzke I saw your commit on this , this was the last commit so i tagged you.

[2020-02-25 13:11] rfranzke commented on #453
OK, I think my commit was unrelated.

[2020-02-25 17:30] ryaneorth opened #455 "Persistent Volumes being created twice"
/kind bug

**What happened?**
I am running a cluster using kops version 1.15.2 on AWS. The default storageclass is `gp2`. Last week we enabled the EBS CSI driver per the docs in this repository. We _did not_ enable the `CSIMigration` or `CSIMigrationAWS` feature gates as we are not yet ready to migrate over the "in-tree" storageclass (`gp2`). While the driver itself works when we create a PVC refe

[2020-02-25 18:31] leakingtapan commented on #455
This issue is fixed by this: https://github.com/kubernetes-csi/external-provisioner/pull/341/commits/3184db61ab93bbe588fff4a223bf23c49a5d5937

And we are picking up 1.5.0 external provisioner in the next release

[2020-02-25 18:35] ryaneorth commented on #455
Perfect, thank you @leakingtapan for the prompt response! When do you plan to do the next release?

[2020-02-25 22:04] ryaneorth commented on #455
It looks like the bug-fix for this was back-ported to the external-provisioner version 1.3.1 so I assume I can update to use that in the meantime:

https://github.com/kubernetes-csi/external-provisioner/commit/263a709099b66afd30622f59e00d926dec9cd178

[2020-02-26 07:25] #442 closed

[2020-02-26 07:25] #455 closed

[2020-02-27 00:16] msau42 commented on #450
Sorry for the delay. https://github.com/kubernetes-csi/external-provisioner/pull/399 will make it possible to be compatible with the in-tree tagging with PVC name and namespace, but it does require the CSI driver to explicitly act on these fields, so does make it not CO-agnostic.

My use case for the static tag is to use "kubernetes.io/cluster" prefix, which despite the prefix, is not a first-clas

[2020-02-28 09:50] jsafrane commented on #393
/remove-lifecycle stale

[2020-02-29 21:14] krmichel commented on #422
/remove-lifecycle stale

[2020-03-01 16:32] frittentheke commented on #316
/remove-lifecycle stale

[2020-03-01 19:46] leakingtapan commented on #415
sample failure: https://prow.k8s.io/log?id=1234190954236219395&job=pull-aws-ebs-csi-driver-e2e-single-az

[2020-03-01 19:46] leakingtapan commented on #415
/remove-lifecycle stale

[2020-03-01 19:46] leakingtapan commented on #425
duplicate of https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/415

[2020-03-01 20:23] #422 closed

[2020-03-01 20:25] #395 closed

[2020-03-01 20:25] #397 closed

[2020-03-01 20:29] krmichel commented on #305
/reopen

[2020-03-01 20:32] krmichel commented on #305
@leakingtapan, I don't know if this has been dealt with, but I think that if `helm template` was used with a correct values file it could be used to create the base manifests.  Then the helm chart could be maintained and Kustomize manifests could just synced by generating them from the chart.  Thoughts?

[2020-03-01 21:19] leakingtapan commented on #339
/remove-lifecycle stale

[2020-03-02 02:20] leakingtapan commented on #305
/reopen
It’s a good idea :)

[2020-03-02 13:20] krmichel commented on #305
/remove-lifecycle rotten
Yeah, let me read up a little bit more on Kustomize and I will take a crack at it.

[2020-03-05 20:49] qwertmax commented on #447
@zanghao2 did you get a fix for that issue?

[2020-03-06 01:29] zanghao2 commented on #447
@qwertmax
Maybe you can check if your api-server and kubectl have set the relevant feature-gate by referring to the official website.
My error is that my information cannot be synchronized on the api-server, csi-attacher cannot receive the status of volume mount, and the status of node is not updated.

[2020-03-06 01:29] #447 closed

[2020-03-08 19:59] zerkms commented on #399
/remove-lifecycle stale

[2020-03-12 01:19] msau42 commented on #450
@leakingtapan do you see another way the ebs-driver can get the k8s cluster name to set the "kubernetes.io/cluster" tag?

[2020-03-12 01:45] msau42 opened #464 "Implement ListVolumes"
**Is your feature request related to a problem?/Why is this needed**
When a Node gets deleted, and Pod is rescheduled, Kubernetes thinks that the the volume is still attached to the original node and fails to attach to the new node with Multi-Attach error.

/feature

**Describe the solution you'd like in detail**
The latest csi-attacher v2.1 adds support for the ListVolumes capability: https://git

[2020-03-12 01:46] msau42 commented on #464
cc @jsafrane

[2020-03-12 04:56] leakingtapan commented on #450
Assuming the controller service is running inside ec2, I’m thinking of reading the cluster name from ec2 instance tag

[2020-03-12 16:42] msau42 commented on #450
That assumes the deployment mechanism will tag the ec2 instances where the driver is running on, and that the driver is running in the same cluster. It also makes this particular tag handling special cased in the driver, which I guess will already need to be done for the other kubernetes.io tags.

[2020-03-12 16:49] msau42 commented on #450
A more flexible option could be to: 1) continue to make this special cased, but make the behavior more explicit with an arg 2) don't special case it, and allow it to be passed in via the generic tags

[2020-03-14 04:33] leakingtapan commented on #427
/remove-lifecycle stale

[2020-03-20 02:11] MartinForReal commented on #428
/remove-lifecycle stale

[2020-03-21 05:36] leakingtapan commented on #425
/close

[2020-03-21 05:36] #425 closed

[2020-03-21 05:37] leakingtapan commented on #415
As the minimum size for sc1 volume is 500GiB, is could be taking too much time on formatting the filesystem

[2020-03-22 21:48] groodt opened #469 "Helm chart image registries different to kustomize manifests"
/kind bug

**What happened?**

The Helm chart is referencing images in Dockerhub and quay.io.

The kustomize manifests appear to be referencing images in:
602401143452.dkr.ecr.us-west-2.amazonaws.com/eks

**What you expected to happen?**
They should be the same presumably?

**How to reproduce it (as minimally and precisely as possible)?**
Compare the image versions in the Helm chart with the outpu

[2020-03-23 17:07] jsafrane opened #470 "Add Kubernetes e2e tests of the driver"
Kubernetes allows to run its e2e tests against a CSI driver: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external

It will go through all Kubernetes features - dynamic provisioning, topology, subpath, volume expansion, snapshots, cloning... It allows a CSI driver to select features to tests (e.g. no cloning for AWS EBS).

What is necessary:

1. Kubernetes cluster.
2. Upst

[2020-03-23 17:37] leakingtapan commented on #470
Are you trying to test CSI migration with the k/k external test suites or test EBS CSI with the external test? Either way the tester config file [single-az-config.yaml](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/tester/single-az-config.yaml), tells the tester what cluster to spin up and what test to run.

If you want to download k/k source and compile it, you could put it in

[2020-03-23 18:34] hugoprudente opened #471 "nodeSelector for targeting nodes on amd64 arch not arm64 for multi arch clusters"
**Is your feature request related to a problem?/Why is this needed**
When deploying the CSI Driver on a Multi Architecture node x86_64 and ARM64 the deployment and daemonSet does not support ARM64 and deploy the pods causing CrashLoopBackOff.

/feature

**Describe the solution you'd like in detail**
As multi node architectures can be recurrent, adding nodeSelector specific would resolve this issue

[2020-03-25 19:45] geofffranks opened #474 "Cannot Run with IAM Service Account and no metadata service"
/kind bug

**What happened?**
The ebs-plugin container on the ebs-csi-controller crashes repeatedly while talking to the metadata service:

[code]

**What you expected to happen?**

When specifying the AWS_REGION variable, and an IAM role service account, the ebs-csi-driver should not need to access the metadata service, and run on its own.

**How to reproduce it (as minimally and precisely as pos

[2020-03-26 19:45] krmichel commented on #469
I already have a [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/475) to keep the helm chart and the manifest in sync.  If @leakingtapan or someone else can tell me which set of images should be used I can update them, if needed, on that PR to fix this.

[2020-03-26 20:17] leakingtapan commented on #469
Let's keep the combination of quay.io (for side car image) and dockerhub (for driver itself). Since ecr is lacking on latest images.
@krmichel

[2020-03-26 21:42] leakingtapan commented on #474
How is ur `AWS_REGION` specified? The metadata service is used as a [fallback](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/db95482f8963350d70e9932b0936e6794fe76bf2/pkg/driver/controller.go#L74) when `AWS_REGION` is not set.

[2020-03-27 13:35] franklevering commented on #474
@leakingtapan
I am having the same issue with the ebs-plugin, it is trying to access the metadata service while an `AWS_REGION` is defined as an environment variable. I've specified `AWS_REGION` the following way:

[code]

Following the error log it is trying to access the metadata service when creating a new `nodeService`, see [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/e9ef

[2020-03-27 14:35] geofffranks commented on #474
We've specified it as such:

[code]
Also have tried AWS_DEFAULT_REGION as the AWS CLI uses that variable name

[2020-03-30 21:14] leakingtapan commented on #448
It is possible now if you update the path yourself here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L38 if this is the path being concerned?

[2020-03-30 22:58] Amos-85 commented on #448
@leakingtapan, the file you mentioned refer to kustimize, not for the helm chart.

the `/var/lib/kubelet` is not template in the helm chart:
[as-daemonset-reference](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aws-ebs-csi-driver/templates/daemonset.yaml#L47)

[2020-04-01 23:33] leakingtapan commented on #448
Yep. the above is a workaround while the path is not configurable. You could either manually edit the helm or kustomize file.

But free feel to submit a PR to make helm configubale, I will review the change

[2020-04-02 12:19] T00mm opened #477 "Imagepullbackoff because basic auth credentials"
/kind bug

**What happened?**
Following the guide after this step

`kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master"`

The images should be pulled in but it seems that the ECR can't be accessed. Other images do not have this problem.

`  Normal   Scheduled  23m                   default-scheduler                                     Succ

[2020-04-02 13:10] MrNorm commented on #207
+1

[2020-04-05 17:20] iainbryson opened #480 "[DOCS] Elaborate on migration instructions"
Currently, the docs say this:

It would be great to link to (or include inline) an example of this.  i.e. you start with a (presumably EKS) cluster with `StorageClass` with `provisioner: kubernetes.io/aws-ebs`, and you move to the CSI.  Apart from installing the CSI driver, what do you need to do?  Is just `apply`ing `provisioner: kubernetes.io/aws-ebs` on the storage class sufficient? Will it era

[2020-04-06 19:36] inetika commented on #477
Same issue but with vanilla kubernetes run on EC2 (1.14.8) with `AmazonEC2ContainerRegistryFullAccess` policy attached for each node.

[2020-04-06 23:06] inetika commented on #477
Adding `--cloud-provider=aws` and `kubernetes.io/cluster/<cluster-name>` tags to each instance solved it.

[2020-04-08 09:17] arjunrn opened #482 "Support for Ephemeral Local Volumes"
**Is your feature request related to a problem? Please describe.**
The EBS driver currently only support Persistent Volumes. We run several workloads which would benefit from having support for [Ephemeral Local Volumes](https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html) where we don't need to create persistent volumes for Jobs, Deployments or any other custom controllers.

**Descr

[2020-04-09 21:37] jshrack-ssi commented on #443
Could this please get done? Without sourcing this from an actual Helm repo it makes automation quite challenging.

[2020-04-11 02:50] rverma-jm commented on #180
Hijacking this open issue, but wondering if we can propagate ASG tags to ebs, may be indirectly using the ec2 tags. that would be really helpful

[2020-04-13 06:34] leakingtapan commented on #443
@jshrack-ssi please create an issue in the aws/eks-chart repo for hosting the eks specific chart in the repo.

/close

[2020-04-13 06:34] #443 closed

[2020-04-13 06:35] leakingtapan commented on #347
/remove-lifecycle stale

[2020-04-13 06:36] leakingtapan commented on #339
/remove-lifecycle stale

[2020-04-13 06:36] leakingtapan commented on #339
/remove-lifecycle rotten

[2020-04-13 06:37] leakingtapan commented on #338
/close

[2020-04-13 06:37] #338 closed

[2020-04-13 06:37] leakingtapan commented on #306
/remove-lifecycle stale

[2020-04-13 06:37] leakingtapan commented on #295
/remove-lifecycle stale

[2020-04-13 06:38] leakingtapan commented on #216
/remove-lifecycle stale

[2020-04-13 06:38] leakingtapan commented on #165
/remove-lifecycle stale

[2020-04-13 06:38] leakingtapan commented on #115
/remove-lifecycle stale

[2020-04-13 06:38] leakingtapan commented on #115
/remove-lifecycle rotten

[2020-04-13 06:39] leakingtapan commented on #307
/remove-lifecycle stale

[2020-04-13 11:33] saraAlizadeh commented on #399
got the same error in Kubernetes 1.18.
any progress?

[2020-04-13 22:06] prashantokochavara commented on #474
I seem to be having the same issue when running it on my OpenShift cluster in AWS. My service account has full admin rights, but still this panics and fails.

[2020-04-14 19:01] prashantokochavara commented on #474
@leakingtapan - is this a bug? Or am I missing some env variables somewhere?
@geofffranks / @franklevering  - were you able to resolve this?

[2020-04-14 19:54] leakingtapan commented on #474
It sounds like a bug if AWS_REGION is specified but not honored. But I haven’t got enough time to root cause the issue

[2020-04-15 03:14] sstoner commented on #399
https://github.com/kubernetes-csi/node-driver-registrar#usage

[2020-04-15 10:36] rgarcia89 commented on #223
Awesome to see that this will be part of milestone 0.6
very looking forward to it

[2020-04-15 11:06] T00mm commented on #477
@inetika
Where exactly did you add the --cloud-provider=aws? Or did you install through helm?

[2020-04-15 11:22] T00mm commented on #477
Got it working with Helm V3 with the following command

`helm install aws-ebs-csi-driver \
    --set enableVolumeScheduling=true \
    --set enableVolumeResizing=true \
    --set enableVolumeSnapshot=true \
    --set cloud-provider=aws \
    https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/download/v0.5.0/helm-chart.tgz`

[2020-04-15 20:35] inetika commented on #477
@T00mm to kube api, controller and kubelets as described here: https://docs.google.com/document/d/17d4qinC_HnIwrK0GHnRlD1FKkTNdN__VO4TH9-EzbIY/edit

[2020-04-17 03:43] leakingtapan commented on #439
/remove-lifecycle stale

[2020-04-17 14:19] nitesh-sharma-trilio commented on #474
I am also facing the issue.

[2020-04-18 15:32] tanalam2411 commented on #474
hello folks did anyone got a way out of this I am facing this while integrating my OCP with EBS thanks in advance.

[2020-04-20 23:09] prashantokochavara commented on #474
@leakingtapan -- is it  possible to get a rough estimate on when this fix would be available?

[2020-04-21 07:46] TBBle opened #485 "Support pre-created Service Accounts in the Helm chart"
**Is your feature request related to a problem?/Why is this needed**

When using eksctl to build a cluster, it can auto-create Service Accounts with the desired IAMs Roles already configured.

However, the EBS-CSI Helm chart cannot use those existing roles as it tries to create its own, and Helm won't create resources over existing resources; nor should it.

/feature

**Describe the solution you'd

[2020-04-23 01:37] leakingtapan opened #487 "Bump test cluster version"
**Is your feature request related to a problem? Please describe.**
Bump test cluster version

[2020-04-24 16:28] mvaldesdeleon commented on #474
Hi Everyone. I've been looking into this issue a bit closer, and can confirm that this is not a misconfiguration, and also not related to the `AWS_REGION` environment variable being defined or not.

If you follow the stack trace [1], you end up realising that the driver relies heavily on the metadata service to retrieve the current instance id, availability zone for topology-aware dynamic provisio

[2020-04-25 00:53] aviau commented on #455
I am getting this issue with with K8S 1.5.11 on EKS, how does one change the external provisioner version to one with the fix?

[2020-04-26 07:09] dghubble commented on #477
I also have the expectation that the image be truly publicly available. [#384](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/384) describes the image as public, but hosting on ECR which requires Kubelets enable an optional in-tree cloud provider path and have IAM roles isn't the same as being public.

What about publishing or mirroring to a public image registry (quay, gcr.io)? Allo

[2020-04-27 11:37] Rajeev9045 commented on #453
@bgsilvait I see you last commit , do you have idea ?

[2020-04-27 17:51] prashantokochavara commented on #474
@mvaldesdeleon - where are you running the iptables command exactly? Is this something manually you are setting on the nodes?

[2020-04-27 18:25] maxbraun commented on #474
@prashantokochavara Martin is referring to the Worker Nodes, where IAM Credential Access is restricted (https://docs.aws.amazon.com/de_de/eks/latest/userguide/restrict-ec2-credential-access.html)

[2020-05-03 11:14] literalice opened #492 "Fargate node cannot run ebs-csi-controller"
/kind bug

**What happened?**

When the `ebs-csi-controller` pods are bound to fargate nodes, the pods stay in `CrashLoopBackOff` status.

**What you expected to happen?**

The `ebs-csi-controller` pods should successfully run.

**How to reproduce it (as minimally and precisely as possible)?**

1. Creates a fargate profile for `kube-system` namespace.
2. Deploys the csi driver like this:

[code]

[2020-05-04 02:22] #305 closed

[2020-05-04 02:22] #469 closed

[2020-05-04 04:00] leakingtapan opened #493 "Simplify kustomize generation"
**Is your feature request related to a problem? Please describe.**

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/475#discussion_r415123820

[2020-05-04 17:01] wongma7 commented on #492
Yes, the driver depends on the metadata service (discussed here) https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474.

I agree with adding the annotation. Even if the metadata issue were overcome, there's no point running the driver on a fargate node where ebs volumes can't be attached.

[2020-05-04 18:30] nomatterz opened #494 "Can not start ebs-plugin container in ebs-csi-node daemonset properly"
/kind bug

**What happened?**

I've tried to install driver according to official EKS docs. Just created EKS cluster and workers, attached IAM role to node and applied `kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master"`

Here is what i get
[code]

I've disabled liveness probe to get into container to troubleshoot. Here is what i found:
F