[2021-04-13 23:46] #722 closed

[2021-04-14 08:53] hdiass commented on #207
Is VolumeCloning something you guys support or not ?

[2021-04-15 17:12] pjajootibco opened #829 "There is no way to override the namespace of driver service accounts and deployments, statefulsets and daemonset in Charts"
There is no way to override the namespace of driver service accounts and deployments, stateful sets, and daemonset in Charts

Can you please parameterize the namespace part for the applicable resources; so that we can choose to deploy them in the resources we desire.

[2021-04-15 21:36] AndyXiangLi commented on #290
We already have this resolved
/close

[2021-04-15 21:36] AndyXiangLi commented on #803
/close

[2021-04-15 21:36] #803 closed

[2021-04-15 21:36] AndyXiangLi commented on #805
/close

[2021-04-15 21:36] #805 closed

[2021-04-16 00:01] pabrahamusa commented on #738
After upgrading blkid to v2.36, the problem reduced a lot. However once in a while I still face staefulset pvc not mounting. So had to create custom script and attach to Pod to handle it automatically.

[2021-04-16 01:03] dctrwatson commented on #738
After cycling through more PVCs, still very occasionally seeing this issue too.

[2021-04-16 04:27] gnufied commented on #738
@ayberk I could link you the bugzillas but I have debugged several cases where reported filesystem was completely random. Like hp-fs, msdos, atari etc. I though this bug was entirely zeroing issue on encrypted partitions and not related to `blkid` bugs.

[2021-04-16 14:25] nithu0115 opened #833 "VolumeAttachment does not get deleted for over 20minutes even though the node is gone"
/kind bug

**What happened?**
To test node failure situation with statefulsets using EBS CSI driver, we conducted some tests, we are manually terminating the node where my sts pod is running by calling `aws ec2 terminate-instances --instance-id` API call. The node is removed from etcD within 40-55 seconds and does not appear when I run `kubectl get nodes` command. A new instance comes up in 1 minu

[2021-04-16 18:22] wongma7 commented on #833
What deleted the PV pvc-e8623bf3-6463-441c-9bac-fb8af1541458

[2021-04-16 19:18] #216 closed

[2021-04-16 20:39] dctrwatson commented on #738
Another error: `rpc error: code = Internal desc = could not format "/dev/nvme23n1" and mount it at "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-750ee1f5-9bb0-477b-b903-479ded704eca/globalmount": expected format ext4 but current format is unknown data, probably partitions`

[2021-04-16 21:38] #571 closed

[2021-04-18 23:29] pjajootibco opened #837 "Windows support"
I have a question regarding EBS Driver for Windows? Is https://github.com/kubernetes-sigs/aws-ebs-csi-driver this driver supported for Windows? If yes, how can enable it, I could not find examples or any documentation on the Github project. But I found an open ticket for windows support https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/243, hence wanted to check if it is supported at al

[2021-04-19 02:04] rverma-nsl opened #838 "Allow specifying kms key in the storage class"
**Is your feature request related to a problem? Please describe.**
Allowing specifying the kms key in storage class(probably annotation) will help in configuring multiple pvc without the need of specifying key individually. This will also help deploying any exiting charts without overriding by using ebs-csi-driver as default storage class.

[2021-04-19 07:02] bertinatto commented on #290
@AndyXiangLi the [current implementation](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/66efa6843ad08936ae50d7ef20f2237886de1d5e/pkg/driver/node.go#L626-L636) is very limited in the sense that it doesn't take into account every instance type available. For instance, the limit will always be 39 or 25, but [this page](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.htm

[2021-04-19 09:04] niemeyer commented on #474
Same problem here. Have done the CSI and CNI installation by the book following the official guides as linked from the web console, and now observing the same panic reported in this issue. Modifying the base files to include the AWS_REGION environment variable doesn't seem to help either.

[2021-04-19 09:35] niemeyer commented on #821
Indeed following the official instructions in an attempt to get an EKS with EBS working properly fails after a long sequence of documented manual steps.

[2021-04-19 17:05] AndyXiangLi commented on #837
Hi @pjajootibco, windows is not supported for current version, you will need to use in-tree driver for windows nodes.
We are working on this and you can track the status in PR #823

[2021-04-19 17:45] #389 closed

[2021-04-20 01:01] #838 closed

[2021-04-20 07:15] dntosas opened #839 "[node] Is hostNetwork:true mandatory?"
Hello team!

A quick one, is `hostNetwork: true` mandatory for node daemonSet? Check in here --> https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/61d72fc8b1bc9ebcbc78288d9a07dc08db91be59/charts/aws-ebs-csi-driver/templates/node.yaml#L36

We manage to run the Driver successfully without this and wonder if we miss something in here.

/triage support

[2021-04-20 14:58] nithu0115 commented on #833
I'm not sure what deleted that PV. To test node failure, all I am doing is terminate the node and rest is taken care by ebs-csi-controller.

[2021-04-20 17:25] wongma7 commented on #839
The reason it is there is because driver needs access to instance metadata. we are working on removing this requirement https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474 by falling back to other means of getting info if instance metadata is unavailable

[2021-04-20 17:35] wongma7 commented on #829
can you share the helm install command you are using? It should respect the namespace argument and deploy resources in that ns.

[2021-04-20 17:37] wongma7 commented on #818
@carloruiz I didn't think of that but it makes sense.

@ayberk what do you think, should resize also update iops?

[2021-04-20 17:39] wongma7 commented on #816
to be clear you mean gp2 provisioned by csi has metrics but not gp3 provisioned by csi? do you have driver logs by any chance ? Are there any mentions of 'NodeGetVolumeStats' errors?

[2021-04-20 17:42] wongma7 commented on #833
Are you sure the controller is doing something wrong? if you terminate the node ungracefully i.e. without draining it, i am not sure if the 8min timer is necessarily incorrect behavior.

see also https://github.com/kubernetes/enhancements/pull/1116

[2021-04-20 17:48] wongma7 commented on #806
/assign

[2021-04-20 18:02] wongma7 commented on #806
the throttling in particular is hard to emit unless we copy the retry handler and sdk setup from cloud provider : https://github.com/kubernetes/cloud-provider-aws/blob/5f394ba297bf280ceb3edfc38922630b4bd83f46/pkg/providers/v1/retry_handler.go#L100 .  our custom cloud.go is much simpler.

I am still trying to weigh what is easier, copy/pasting what we need from the old cloud provider, or refactorin

[2021-04-20 19:15] wongma7 commented on #806
Yeah I agree ideally we should rely on aws-sdk for retry handling as much as possible. We can configure a min delay so even if that Retry-After header is missing, we should't need the custom k8s retryer: https://github.com/aws/aws-sdk-go/blob/e2d6cb448883e4f4fcc5246650f89bde349041ec/aws/client/default_retryer.go#L95. (In fact we recently started tuning the sdk built-in retryer already to mitigate

[2021-04-20 19:35] nithu0115 commented on #833
yes

it could some time take 8mins or 12 mins. Btw, I'm using Managed node groups. I assume that the MNG has ASG life cyclehook which will intercept the request, cordon/drain the nodes. That said, I see the node disappear within 1 minute after termination and is not available when i run `kubectl get nodes`. This is triggering KCM to reschedule the Pod to a different node and the Pod is stuck waiti

[2021-04-20 19:39] wongma7 commented on #833
let me clarify, volume attachment involves both controller and kube-controller-manager, so the bug is probably in kcm/kubernetes itself since we need https://github.com/kubernetes/enhancements/pull/1116 to handel cases where the node gets terminated ungracefully.

[2021-04-20 20:21] wongma7 commented on #806
other major difference callled out in comment:

https://github.com/kubernetes/cloud-provider-aws/blob/5f394ba297bf280ceb3edfc38922630b4bd83f46/pkg/providers/v1/retry_handler.go#L38
 Note that we share a CrossRequestRetryDelay across multiple AWS requests; this is a process-wide back-off,
// whereas the aws-sdk-go implements a per-request exponential backoff/retry

[2021-04-20 20:51] wongma7 opened #840 "Set SDK user agent"
**Is your feature request related to a problem?/Why is this needed**
It is easier to track API calls in my account if calls have useful human-readable user agents.

/feature

**Describe the solution you'd like in detail**
If we set  AWS_EXECUTION_ENV then the default AddHostExecEnvUserAgentHander https://docs.aws.amazon.com/sdk-for-go/api/aws/corehandlers/#pkg-variables will append the set value t

[2021-04-20 20:51] wongma7 commented on #840
/help-wanted

[2021-04-20 22:32] ayberk commented on #818
Yeah I think that makes sense in this case. Since iopsPerGB is set, it really isn't a surprise bill situation.

[2021-04-20 22:36] ayberk opened #841 "Add CSIServiceAccountToken support to helm template"
**Is your feature request related to a problem?/Why is this needed**
With `CSIServiceAccountToken` becoming beta, we should add the relevant fields to our helm charts. See https://kubernetes-csi.github.io/docs/token-requests.html
/feature

**Describe the solution you'd like in detail**
Simply add the helm values and update the template.

**Describe alternatives you've considered**
Users can modify

[2021-04-20 22:36] ayberk commented on #841
/help-wanted

[2021-04-21 06:06] srfaytkn commented on #818
After this changes, can I still dynamically update the iops value regardless of the volume size from the aws console? Sometimes iops increase may be required without the need for a larger disk size.

[2021-04-21 06:56] dntosas commented on #839
thanx @wongma7 makes sense :)

[2021-04-21 06:56] #839 closed

[2021-04-22 00:49] tirumerla commented on #829
Hi @wongma7 - I'm having the same issue as i'm packaging multiple charts as subcharts ( csi sriver, cluster autoscaler, jupyterhub ). In this i would want csi driver, cluster autoscaler to be in it's own namespace ( preferably `kube-system`) and jupyterhub in it's own namespace ( eg. `jupyterhub`) When i do `helm install .... -n jupyterhub` both cluster autoscaler and ebs-csi driver are getting de

[2021-04-22 11:28] coder0028 commented on #449
Is there any progress? There is an open issue on stackoverflow [https://stackoverflow.com/a/67210073/7755174](https://stackoverflow.com/a/67210073/7755174)

[2021-04-22 15:53] AndyXiangLi commented on #449
@coder0028 We haven't start on this feature but any help are welcome!

[2021-04-22 16:41] pjajootibco commented on #829
I tried the helm command from the documentation and I can see that it's deploying the resources in the namespace provided in the command. I think I had messed up earlier. Sorry for the trouble.

[2021-04-22 16:41] #829 closed

[2021-04-22 18:19] #806 closed

[2021-04-22 18:58] wongma7 commented on #829
no worries @pjajootibco !

@tirumerla do you mind creating a new issue? Could you link me to examples of other charts that let you override with .VAlues.Namespace? We have definitely struggled a little bit with helm installation best practices, so maybe we should add  support for .VAlues.Namespace override to be consistent with these other charts?

[2021-04-23 07:23] vincentmrg opened #847 "extraVolumeTags chart templating type format issue"
/kind bug

**What happened?**
Extra-volume-tags with a value of a type other than string are not correctly formatted.

**How to reproduce it (as minimally and precisely as possible)?**
Here is an example:
[code]

**Proposal**
Tags formating [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/57e57bb10bd5e7f52596b673d61ce45d751e3025/charts/aws-ebs-csi-driver/templates/_helpers.tpl#L64

[2021-04-23 07:32] tirumerla opened #848 "Running into no topology key found on CSINode with 0.10.2"
/kind bug

**What happened?**

Hi @wongma7 , @ayberk

* Controller is failing to provision a volume with storage class. Getting `no topology key found on CSINode` when using with `0.10.2`.  I tested with `0.9.1` and works fine without any issue.

**What you expected to happen?**

* Volume should have been provisioned without any issue. Works fine with `0.9.1`.

**Anything else we need to know?**:

[2021-04-23 18:35] AndyXiangLi commented on #569
/reopen

[2021-04-23 21:37] #569 closed

[2021-04-24 19:14] aianus commented on #848
I ran into this issue today and solved it by ensuring the `ebs-csi-node` DaemonSet was running on all nodes, even those with taints (which was not the default, needed to set `node.tolerateAllTaints` to `true` in the helm chart)

[2021-04-27 09:52] saintdle opened #853 "Instructions and Helm Charts for containers in use are confusing and provide different behaviours"
/kind bug

**What happened?**

When following the [linked instructions ](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot) for snapshot feature with the EBS CSI driver, creating a snapshot just hangs completely. Unable to read any logs from the snapshot controller as it's exited and no previous logs are available.

If I roll the deployment back, and de

[2021-04-27 18:24] wongma7 commented on #797
@krmichel sorry I missed your questions.

What I meant by "snapshot is not alpha anymore" is we should not gate its installation by a flag, and it should not be in the alpha kustomize overlay, it should be installed by default.

As for snapshot controller and its associated CRDs, if there is a way to install it only if it DNE then I would like that. I think the vast majority of users will apprecia

[2021-04-27 18:26] wongma7 commented on #797
(sorry, just catching up with past discussion).

However I am fine if we postpone the snapshot controller/CRD question for later. Because currently we don't do it, if we start doing it then we are setting the expectation that we will always do it. BTW, I was planning to do a refactor similar to https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/406 taht more clearly splits up the `controll

[2021-04-27 18:27] wongma7 commented on #853
Sorry about this, yes we're aware of this issue...by default, the helm chart doesnt install necessary snapshot, including CRD, and it's not documented that you need to do it yourself. I think this is a consequence of the chart not being updated for a while (since snapshot feature was alpha but has since graduated to ga... not making excuse, just explaining.)

related:
https://github.com/kubernetes

[2021-04-27 18:58] wongma7 opened #854 "Reduce default log verbosity"
/kind bug

**What happened?** the verbosity is set to 5 by default, https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/node.yaml#L64 . see the description of levels here : 4/5 are meant for debugging  https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

**What you expected to happen?**

**How to re

[2021-04-27 19:00] wongma7 commented on #854
see also efs equivalent https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/426

[2021-04-28 06:03] tirumerla commented on #848
@aianus that was it. Somehow i missed it. Appreciate your help!

[2021-04-28 06:03] #848 closed

[2021-04-28 12:29] saintdle commented on #853
No worries, was just a good few hoops to jump through, and we kept hitting different outcomes for what we needed at the time.

[2021-04-28 18:38] #512 closed

[2021-04-28 22:27] wongma7 opened #858 "Run chart releaser from branches"
**What happened?** This would enable us to branch helm chart releases (e.g. have a different chart for 0.10.x vs 0.9.x).

And it would reduce confusion in the release process. Currently you release the image to registries by pushing a tag on the release branch but you release a corresponding helm chart by pushing something to the master branch.

See efs fix for details: https://github.com/kubernet

[2021-04-29 15:23] pjajootibco opened #861 "EKS-EBS: Re-attachment of EBS volume takes ~9 mins when an EC2 instance goes down v/s ~1 min when ec2-instance (node) is cordoned and pod is rescheduled"
NOTE: I am running an EKS setup. And I am using the "dynamic-provisioning" example from the EBS CSI Driver Github repo (modified the pod to be deployed as a deployed)

Scenario 1:
*Steps to reproduce*
1. Assuming you have an EKS cluster and 2 ec2-instances in the same AZ (I had ASG to autoscale worker nodes)
2. Run the dynamic-provisioning example from the EBS CSI Driver Github Repo (just modify t

[2021-04-29 23:40] wongma7 opened #863 "Accept registry build-arg for building from non-Docker Hub base images"
/kind bug

**What happened?** when building the image I ( or the build system) may get throttled tryingt o pull the base image golang or amazonlinux from docker hub.

Something like this works, need to flesh it out before I make a PR:

ARG REGISTRY=
FROM ${REGISTRY}/golang:1.15.6 AS builder

 docker build . --build-arg REGISTRY=xxx.dkr.ecr.us-west-2.amazonaws.com

**What you expected to happen?**

[2021-04-30 09:02] zerkms commented on #399
/remove-lifecycle stale

[2021-05-01 00:06] mikestef9 commented on #821
We have official instructions for using IRSA with the EBS CSI driver

https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

Could anyone post more specifics about issues they are encountering?

[2021-05-01 02:17] niemeyer commented on #821
I believe the issue I have is the one being fixed by the recently merged but still unreleased #855. The symptom is ebs-plugin failing unless the metadata is exposed, instead of using the service account for doing its job in all cases.

[2021-05-03 08:39] ThomasBoutelier opened #867 "Nodes migrate from private to public subnets: FailedAttachVolume: DeadlineExceeded"
/kind bug

**What happened?**

On AWS, I tried to migrate nodes from private subnet to the public subnet, but the pods with ebs volume wouldn't boot. The volume was still attached to the previous nodes.

The volumeattachment showed that the pvc were still bounded to the previous nodes, I was unable to remove the attachment.

The pod showed the error:

Warning FailedAttachVolume 18s (x3 over 43s) a

[2021-05-03 21:47] wongma7 commented on #243
/lifecycle frozen

working oni t

[2021-05-03 22:42] fitchtech opened #868 "EBS and EFS storage controller node port conflict"
I cannot deploy both the aws-ebs-csi-driver and aws-efs-csi-driver to the same EKS 1.19 cluster. I get an error that no ports are available. If I deploy the EFS controller I cannot deploy the EBS controller and vice versa, can only deploy one of the other. Deploying EBS CSI v1 and EFS CSI v1.2 via the helm charts.

[2021-05-03 23:05] wongma7 commented on #868
yes, sorry about this, it should be fixed on the EFS side with helm chart 1.2.4: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/439

Appreciate the report, it reminded me to get it merged.

IF problem persists, please create an issue in efs repo, efs is theone at fault!

In the long term, we don't want to require hostNetwork at all, of course besides the potential for port conflicts, i

[2021-05-03 23:05] #868 closed

[2021-05-03 23:34] timmyers opened #869 "Fast Snapshot Restore Support"
**Describe the solution you'd like in detail**
I would like a way (potentially via a parameter of the `VolumeSnapshotClass`) for EBS snapshots to have Fast Snapshot Restore (FSR) enabled https://aws.amazon.com/blogs/aws/new-amazon-ebs-fast-snapshot-restore-fsr/.

**Describe alternatives you've considered**
Enabling FSR on snapshots outside the loop of the EBS CSI driver.

[2021-05-03 23:41] abatilo commented on #869
This would actually be incredibly useful.

[2021-05-04 10:38] groodt commented on #821
Yes, I can confirm that with version v0.10.0 it doesn't work without patching it through to the `hostNetwork`.

I'm going to try version `1.0.0` and will report back.

[2021-05-04 14:39] shihtiy-tw opened #870 "EBS Resize is not working due to the namespace misconfiguration in clusterrolebinding."
/kind bug

**What happened?**

When I use the alpha version of EBS csi driver by `kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/alpha/?ref=master"`. I cannot resize the EBS volume by following [the resize example](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/resizing#usage) and get the following error messages:

[2021-05-04 15:57] shihtiy-tw commented on #870
I have tested the snapshot feature as well. I also ran into permission issue. After I changed the namespaces to kube-system in the clusterrolebinding of ebs-csi-snapshotter-binding and ebs-csi-snapshot-controller-binding, the snapshot was created successfully.

[2021-05-05 03:40] groodt commented on #821
I've run this `kubectl kustomize "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/ecr?ref=v1.0.0" > aws-ebs-csi-driver.yaml`

and it appears that the DaemonSet still requires `hostNetwork`. Should this still be required, even if IRSA should now be possible?

[2021-05-05 06:05] mlopez-eb opened #871 "VolumeSnapShot Ready to Use False"
/kind bug

**What happened?**

I'm on Kubernetes version 1.19 through AWS EKS (highest available).
I deployed CSI driver with alpha features and attempted to follow instructions for [Volume Snapshot](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot). I meticulously followed every step for driver install and snapshot, but upon creating the snapshot, the

[2021-05-05 14:41] shihtiy-tw commented on #871
Hi @mlopez-eb,

I was able to reproduce the same issue and I saw that you are using the EBS CSI driver of alpha version in your use case. Would you check the clusterrolebinding for "ebs-csi-snapshotter-binding" by

[code]

And check if the subject are like following:

[code]

If yes, it may be related to the issue I reported in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/870. It i

[2021-05-05 16:00] kirrmann commented on #760
Just a note, I had the same issue which was caused by using a own config for kube-scheduler

[2021-05-05 21:37] wongma7 commented on #723
fixed

[2021-05-05 21:37] #723 closed

[2021-05-05 21:38] wongma7 commented on #760
Yes, if you use your own config make sure to include NoVolumeZoneConflict.

[2021-05-06 03:45] gowthams316 opened #872 "EBS CSI Driver of alpha driver does not allow for EBS volume resize due to change in the clusterrolebinding subject serviceaccount that is pointing to default namespace"
/kind bug

**What happened?**
EBS CSI Driver of alpha driver does not allow for EBS volume resize due to change in the clusterrolebinding subjects serviceaccount `ebs-csi-controller-sa` that is pointing to `default` namespace instead of `kube-system` namespace.

**What you expected to happen?**
When I use the alpha version of EBS csi driver by `kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-

[2021-05-06 09:12] shihtiy-tw commented on #870
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/872

[2021-05-06 23:17] vdhanan opened #875 "add e2e tests for multi-arch support"
**Is your feature request related to a problem?/Why is this needed**
at the moment we only run e2e tests on x86 architecture. we should ensure that the tests also pass on arm.

/feature

**Describe the solution you'd like in detail**
create arm nodes via kops, execute the existing tests on these nodes (assuming test containers support multi-arch)

[2021-05-06 23:45] wongma7 commented on #875
keep this open ,but i created a table a while back https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/696 just to visualize we need arm equivalent of every test suite

[2021-05-09 03:26] lens0021 opened #876 "Can't start v1 docker image "panic: runtime error: invalid memory address or nil pointer dereference""
/kind bug

**What happened?**

[`amazon/aws-ebs-csi-driver:v1.0.0` and `amazon/aws-ebs-csi-driver:v1.0.0-amazonlinux`](https://hub.docker.com/r/amazon/aws-ebs-csi-driver)  docker image cannot start.

[code]

[code]

Adding `-e "AWS_REGION=xx-xxxx-x"` does not help.

**What you expected to happen?**

I expected it starts like v0.10.1:

[code]

**How to reproduce it (as minimally and precisely as po

[2021-05-09 23:15] groodt commented on #839
Now that https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474 has been resolved, does the DaemonSet still require access to the `hostNetwork`? The YAML is currently still specifying it.

[2021-05-10 10:09] groodt commented on #821
Pretty sure this is still failing with `v1.0.0` @mikestef9 @niemeyer

Here is the error I'm seeing:

[code]

I've got my `AWS_REGION` set in the environment of the container.

[2021-05-10 10:34] niemeyer commented on #821
I haven't tried it yet, but did you update all of your deployment from v1.0.0 or just cherry picked the new image?

I see 0b61573a4 added CSI_NODE_NAME to the `ebs-plugin` container in `node.yaml` a few days ago.

[2021-05-10 10:43] groodt commented on #821
I generated my YAML as follows:
`kubectl kustomize "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/ecr?ref=v1.0.0" > aws-ebs-csi-driver.yaml`

`CSI_NODE_NAME` seems to only be included in the DaemonSet, not the Deployment.

[2021-05-10 13:38] amirkhonov opened #877 "Can't dynamically create volume with extraTags"
/kind bug

**What happened?**
The following policy is attached to the EKS worker nodes role:
[code]

I'm running the controller with these args:
[code]

But the driver can't create the volume:
[code]

**What you expected to happen?**

Dynamic volume is created with the necessary tags.

**How to reproduce it (as minimally and precisely as possible)?**

1. Install the aws-ebs-csi-driver with `--set

[2021-05-10 18:07] AndyXiangLi commented on #869
Hi @timmyers , Do you just want FSR enabled or want driver to enable it upon snapshot creation? You can always enable the FSR on EBS console and driver will take advantages of that when restore volume from snapshot.  [ref](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-fast-snapshot-restore.html)

[2021-05-10 19:46] rkennedy-tpl commented on #821
I deployed ebs-csi and after a few errors and some troubleshooting, my initial diagnosis was "it seems to **NOT** be using the ServiceAccount identity and instead falling thru to the EC2 Node IAM account via Instance Metadata Service".

I had to revert [this commit](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/5fc28426c283d00f589cbcff968dbed13e78b268) on the Chart before being able

[2021-05-10 20:12] rkennedy-tpl commented on #821
I would evaluate it as "irritating, but not surprising". software is produced by humans; software organizations are often large and cluttered, especially ones as large as AWS.

alternatively, "it's open source", and **we** are expected to be the testers 😒

similarly, AWS seems to currently support k8s versions 1.16 - 1.19, so it's a little irritating that I needed to revert a commit to run on 1.17

[2021-05-10 21:56] niemeyer commented on #821
@groodt @rkennedy-tpl I suggest reporting your findings related to the service account issues under #474, which was just closed with the intended fixing of that issue. Hopefully it was something minor left out.

On the bright side, it looks like the intention is for this to become an add-on in the console next to CNI, so the development team will be forced to iron out such issues upfront if they e

[2021-05-10 23:51] AndyXiangLi commented on #872
/close
Thank you for bring this up! Recent [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/879) fixed this issue, I will close this.

[2021-05-10 23:52] #872 closed

[2021-05-10 23:52] AndyXiangLi commented on #871
Same issue with #872 and #870, fixed in this [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/879)
/close

[2021-05-10 23:52] #871 closed

[2021-05-10 23:53] AndyXiangLi commented on #870
Same issue with #872 and #871, fixed in this [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/879)
/close

[2021-05-10 23:53] #870 closed, assigned to nobody

[2021-05-11 00:24] wongma7 commented on #821
Yes, this is a bug. cc @vdhanan let's add it and test it. I've reopened https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474 until we can confirm it's fixed in a clean helm install + EKS + IAM for SA + instance metadata disabled. Potentially we are doing something wrong in how we set up SDK too, causing it to try to retrieve creds from instance metadata even with env variables set. I d

[2021-05-11 00:38] wongma7 commented on #821
/cc @AndyXiangLi
I think I am on the hook for verifying the instance metadata fix on EKS + IAM for SA, let me take that part but appreciate assistance with any other stuff mentioned above.

[2021-05-11 00:39] chaospuppy opened #880 "Support for Velero"
**Is your feature request related to a problem?/Why is this needed**
Velero currently cannot create snapshots of EBS volumes provisioned by the `ebs.csi.aws.com` provisioner due to a missing (or more accurately, renamed) field in the created PV's `spec.csi` map.

/feature

**Describe the solution you'd like in detail**
Adding a `spec.csi.volumeID` to the PV spec generated by the `ebs.csi.aws.com`

[2021-05-11 01:34] lawliet89 commented on #180
/remove-lifecycle stale

[2021-05-11 01:39] lens0021 commented on #876
Oh, I didn't. Before I tested with 'docker run', I had tried to run the driver using Hashicorp Nomad as described in [here](https://learn.hashicorp.com/tutorials/nomad/stateful-workloads-csi-volumes?in=nomad/stateful-workloads) and failed.
Then, is it fine and expexted that there is no way to run the driver with docker command directly since v1.0.0? If so, I would close this issue.

[2021-05-11 06:33] OliverCole commented on #180
/remove-lifecycle stale

[2021-05-11 11:01] niemeyer commented on #821
The security best practices documentation for EKS recommends for good reasons to not make metadata available to the pods. Sounds like it would be worth introducing tests for that scenario indeed, as otherwise it's not a very realistic recommendation. And this isn't just about EBS.. if one pod needs access to metadata the launch template needs to have metadata hops set to >=2, which opens it up to

[2021-05-11 20:15] chaospuppy commented on #880
Closing this because the [csi plugin](https://github.com/vmware-tanzu/velero-plugin-for-csi) exists, so my issue it totally resolved already.

[2021-05-11 20:15] #880 closed, assigned to nobody

[2021-05-11 21:47] timmyers commented on #869
I am ideally looking for the ability of the driver to enable it upon snapshot creation.  I think the UX of having a `VolumeSnapshotClass` that specifies this as a parameter would make sense.

[2021-05-11 22:05] AndyXiangLi commented on #867
Hi @ThomasBoutelier , Can you provide some detailed reproduce step?

[2021-05-12 07:22] languitar opened #883 "Upgrade from 1.0.0 to 1.0.1 fails"
/kind bug

**What happened?**

Our cluster tried to auto-upgrade the Chart version from 1.0.0 to 1.0.1. This fails with the following error message:

**What you expected to happen?**

Upgrade for a patch version simply works

**How to reproduce it (as minimally and precisely as possible)?**

This is the helm release we use:

[code]

**Anything else we need to know?**:

**Environment**
- Kubernetes

[2021-05-12 07:57] languitar commented on #883
CC @Jeinhaus you might have to continue this thread

[2021-05-12 17:25] huffmanca commented on #679
@wongma7 ,

I think this is reproducible using the following test:

Taking the following steps:
1. Setup a cluster on AWS
2. Enable csi migration
3. Run the in-tree e2e test
4. At this point the test fails with similar errors above. The Pod is stuck in a `Terminating` state, the PVC has a deletion timestamp, but we see the following continually on the node's journalctl:
[code]

In this case we're

[2021-05-12 19:48] wongma7 commented on #883
the namespace of roleref got broken between 0.10.x and 1.0.0, so we tried changing it back to fix 0.10->to 1.0 and now broke it again for 1.0.0->1.0.1

Will need to use helm logic (delete and recreate if object exists) to fix this.

[2021-05-12 19:53] wongma7 commented on #883
"helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/charts/aws-efs-csi-driver/templates/csidriver.yaml#L6

I guess the only issue with helm hook is then we have to think about the helm.sh/resource-policy. "Garbage collection of hook resources when the corresponding release is deleted may b

[2021-05-12 19:57] wongma7 commented on #679
In the original issue the paths were different, and it looks like it casn happen if feature gate is enabled without draining.

In this one the paths are same, and actually I think the path " /var/lib/kubelet/pods/bcc53e0c-3c2d-453a-aa13-7e81f67c1c6e/volumes/kubernetes.io~csi/pvc-8a72162b-db8b-4499-b9e4-623fe22241f5/moun" looks correct. even in migration scenario the path should be csi .

however I

[2021-05-12 19:58] wongma7 commented on #883
/cc @vdhanan
 helm woes, this one stemming from the name being fixed. let me know how you want to proceed. I kind of want to avoid the hook if possible

[2021-05-13 14:59] niemeyer commented on #821
@wongma7 Thanks for the transparency. Even if the outcome wasn't ideal, the honesty here gives a feeling we can expect a better situation soon.

[2021-05-13 18:01] vdhanan commented on #883
/assign

[2021-05-13 20:09] #692 closed

[2021-05-13 20:10] wongma7 commented on #693
/remove-lifecycle rotten

[2021-05-13 20:47] huffmanca commented on #679
Just looking through the test I don't see any explicit unmounts. It seems that the primary unmounting is expected in `test/e2e/storage/utils/utils.go` in TestVolumeUnmountsFromDeletedPodWithForceOption. Perhaps simply from the Pod deletion while the kubelet is down?

[2021-05-14 00:36] wongma7 commented on #679
OK I checked that test and it stops  kubelet, deletes the pod, then starts kubelet, so I misunderstood I thought there was an expectation that the volume gets unmounted while kubelet is down, but it's testing that the volume gets unmounted after kubelet comes back up. So yeah if we are failing that, it's a real bug, I think it has to do with kubelet's volume reconstruction logic (i.e. reconstruct

[2021-05-14 06:18] kli-abine opened #885 "Please allow me to set other fields in custom storage class in the helm chart"
Please allow me to set other fields in custom storage class in the helm chart

**Is your feature request related to a problem?/Why is this needed**

I have a use case where custom storage class will be created by helm chart. I need to set the allowVolumeExpansion and ReclaimPolicy fields on the storage class.
In the helm chart.

/feature

**Describe the solution you'd like in detail**

Allow me to

[2021-05-14 15:36] tgross commented on #876
Hi @AndyXiangLi! I'm one of the developers of Nomad. I just took a pass through the section of the code in question and it looks like when the [`InClusterConfig`](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/0e9b0b92cd143c7a9d7390be54559e9ead167154/pkg/cloud/metadata.go#L79) call is being made, we're getting a nil config back and the `ErrNotInCluster` error that gets returned is bein

[2021-05-14 22:36] charlieoleary opened #886 "Helm template for controller-poddisruptionbudget.yaml does not honor --namespace setting"
/kind bug

**What happened?**

I installed the latest version of the Helm chart into a custom namespace. The `ebs-csi-controller-pod-disruption-budget` was created in the `kube-system` namespace instead of the namespace I specified.

**What you expected to happen?**

I expected all resources to be created in the specified namespace.

**How to reproduce it (as minimally and precisely as possible)?*

[2021-05-16 06:22] arcivanov opened #887 "CSIDriver v1 is not available in 1.17"
/kind bug

The chart indicates >=1.17 compatibility. And yet in 1.17 in storage v1 CSIDriver is not available.
Either discontinue support for 1.17 and bump the chart to 1.18 minimum or bust down  resource version to v1beta1

The incoming fix will do the latter.

[2021-05-17 03:36] yufan022 opened #889 "Can't create volume with full-private cluster"
/kind bug

**What happened?**
EBS CSI can't create volume with full-private EKS cluster.
Refer docs: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

I got some error logs:
[code]
[code]

my eks yaml:
[code]

Default VPC endpoint created by eksctl
![image](https://user-images.githubusercontent.com/30121694/118431107-357df280-b708-11eb-8584-bd9c4fbf6fd1.png)

**What you expected to ha

[2021-05-17 05:49] wd commented on #887
I was just about to post the same issue. Can't deploy v1.0.0 to kubernetes 1.17.
[code]

[2021-05-17 16:45] vdhanan commented on #825
/assign

[2021-05-17 17:28] rkennedy-tpl commented on #821
kinda frustrating that when I dig into why specifically Fargate + EBS-CSI is unsupported, it brings me right back to here and to a number of other issues, at least one of which was acknowledged over a year ago.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/492#issuecomment-623584627

[2021-05-17 18:31] AndyXiangLi commented on #876
Hi @tgross, the reason we making this change is avoiding expose instance metadata on pod level and we also suggest our customer to disable instance metadata service on their cluster for the security concern. But what you mentioned makes sense, driver should be working if instance metadata service is available but clusterConfig is not.  [NewMetadata](https://github.com/kubernetes-sigs/aws-ebs-csi-d

[2021-05-17 20:06] vdhanan commented on #886
/assign

[2021-05-17 20:14] vdhanan commented on #875
/assign

[2021-05-18 14:52] tgross commented on #876
That will solve the crash. It would also need to have a no-op for the call to [`clientset.CoreV1().Nodes().Get()`](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/0e9b0b92cd143c7a9d7390be54559e9ead167154/pkg/cloud/metadata.go#L105) so that it doesn't just error-out later instead of panicking.

[2021-05-18 16:41] AndyXiangLi commented on #889
Hi @yufan022, there could be multiple reasons cause this issue, can you enable debug mode and restart driver? Basically add --aws-sdk-debug-log=true in the controller manifests. For more [info]( https://github.com/kubernetes-sigs/aws-ebs-csi-driver#deploy-driver-with-debug-mode)

[2021-05-19 07:26] yufan022 commented on #889
[code]

@AndyXiangLi I guess this error is caused by full-private clusters. I have tried to deploy in a public subnet cluster, and CSI is worked.

[2021-05-19 10:37] xposix commented on #889
I'm about to configure a cluster in similar manner, so I'm interested in the solution to this.

[2021-05-19 10:40] xposix opened #892 "Avoid using root user in the csi-controller image"
We are deploying the EBS CSI driver in a very secure environment so we need to do a scan of every image that goes into the environment.

We saw that the ebs-csi-controller image uses the root user inside and that doesn't go well with our security rules.

Do you guys know if this is something done like that by design? or it's just something that can be improved?

[2021-05-19 13:55] yufan022 commented on #889
[code]
@AndyXiangLi
Found it [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/817), Use these environment variables in chart values, It works. Thanks for the help.

@xposix It's already supported in this [pr](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/817)

[2021-05-19 17:20] huffmanca opened #893 "NodeUnpublishVolume doesn't appear to flush the volume cache"
/kind bug

**What happened?**
We're seeing repeated failures in the snapshot tests when using the AWS EBS CSI Driver. See https://github.com/kubernetes/kubernetes/issues/101279 for full details.

However, even after merging https://github.com/kubernetes/kubernetes/pull/101280 it seems that these tests continue to fail. Any of the following (inside of k8s/k8s) resolves the issue:

* Adding a `sync`

[2021-05-19 17:21] huffmanca commented on #893
@AndyXiangLi and @vdhanan ,

I spoke to @wongma7 about this issue, and he mentioned that either of you may be able to provide a bit more information on why this may be occurring. Tagging you here.

[2021-05-19 17:34] AndyXiangLi commented on #889
Thanks, I will close this issue then
/close

[2021-05-19 17:34] #889 closed

[2021-05-19 18:24] AndyXiangLi commented on #892
Hi @xposix, what do you mean use root user inside, can you provide more info? You can setup driver permission [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#set-up-driver-permission) Thanks!

[2021-05-19 19:27] xposix commented on #892
sorry, the user inside the OS in the container is root:

[code]
Security best practises advise to avoid this scenario and encourage using any other OS users with uid different to 0.

Does it make sense?

[2021-05-20 13:25] jsafrane commented on #893
I think it's `NodeUnstage` that does not flush the caches - `NodeUnpublish` just removes a bind mount. When `NodeUnstage` finishes (i.e. all volume mounts are unmounted), we expect all caches are written to the backend volume and user / test can safely take a snapshot of the volume, expecting to have all data in the snapshot.

[2021-05-20 13:32] jsafrane commented on #893
Just an idea: would it help if the driver called `blockdev --flushbufs <device>` on NodeUnstage? How else we can we ensure that data are really written to the backend volume?

[2021-05-20 15:29] jjayesh-gohil opened #896 "EBS volume mount turns into ReadOnly after upgrading k8s from 1.18.15 to 1.18.19"
/kind bug

**What happened?**
After upgrading k8s from 1.18.15 to 1.18.19 some of the ebs volumes mounted on nodes turns into ReadOnly

**What you expected to happen?**
Volumes to be keep working as before

**How to reproduce it (as minimally and precisely as possible)?**
- Existing cluster at k8s 1.18.15  with ebs csi driver 1.0.0 installed
- Upgrade k8s to 1.18.19
- As soon as all master nodes u

[2021-05-20 19:08] arohter commented on #480
EKS 1.20.4 is now out ... we don't see `CSIMigrationAWS` being enabled yet ...  any status update?

[2021-05-20 20:50] #883 closed

[2021-05-20 21:43] chrisayoub commented on #896
Maybe you ran into this issue?
https://github.com/kubernetes/kubernetes/pull/101737

It got cherrypicked into 1.19
https://github.com/kubernetes/kubernetes/pull/101804

But for 1.18, you might need to patch it yourself.

[2021-05-20 22:06] jjayesh-gohil commented on #896
@chrisayoub thanks. We will work on getting this fix into our environment and verify if fixes the issue.

[2021-05-21 01:31] wongma7 commented on #480
@arohter it's not planned to be turned on by default in kubernetes until 1.22 and EKS doesn't intend to turn it on before that

Details on criteria for turning it on by default are here:
https://docs.google.com/document/d/1j6uF9sOoGCQ9nNFVrdvCWyn77o9k3-758qsEj2K3BAY/edit#heading=h.5jcp7r6168vr

[2021-05-21 01:44] wongma7 commented on #893
btw how come our CI is not catching this, is it new to 1.21?

[2021-05-21 01:48] msau42 commented on #893
What puzzles me is `unmount` should flush the filesystem before returning success.

[2021-05-21 07:06] bertinatto commented on #165
/remove-lifecycle stale.

[2021-05-21 07:06] bertinatto commented on #165
/remove-lifecycle stale

[2021-05-21 17:07] wongma7 commented on #797
latest discussion on enableVolumeSnapshot:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/856#discussion_r622527209

maybe we should deprecate & rename it to installSnapshotController . on one hand I have heard argument that snapshot controller should be pre-installed by the k8s distro/vendor or cluster admin, because it is a reusable component for multiple csi drivers not specific to

[2021-05-21 17:08] #876 closed

[2021-05-21 17:10] wongma7 opened #898 "Refactor NewMetadataService + add instance metadata documentation"
**What happened?**  https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/897 enables us to  refactor the metadata code to be simpler , to be 100% clear that the driver will  retrieve NodeGetInfo info from EITHER ec2 metadata OR k8s client. This will also let us simplify the unit tests and write a new unit test that, if metadata is enabled, do not try to create a k8s client.

**What you expec

[2021-05-21 17:17] wongma7 commented on #892
can you try changing  securityContext: runAsUser: of the controller? The controller should not need to be root, you are right. But the node does. They are based on the same image, so unless we start distributing different images, the image exec user will be root

[2021-05-21 17:44] wongma7 commented on #893
is the nodesInUse check working, https://github.com/kubernetes/kubernetes/blame/82d8d08c7871d2a3efbe532da284a211c2b985dd/test/e2e/storage/testsuites/snapshottable.go#L194, I don't think the volume name there will contain the PV name. https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/volume/csi/csi_plugin.go#L324 I will double check myself but I'm just throw

[2021-05-21 17:59] vdhanan commented on #886
hoping to release a new helm chart with this fix today

[2021-05-21 17:59] wongma7 commented on #893
volumesInUse looks like this:

[code]

so I think/hope it's an easy fix in the test to search for volumeHandle instead of pv.Name

[2021-05-21 18:01] wongma7 commented on #893
one issue, I assume the test is not CSI specific and in-tree plugins have their own way of coming up with volumeName...

[2021-05-21 18:28] charlieoleary commented on #886
Thanks for jumping on this so quickly.

[2021-05-21 18:30] #886 closed

[2021-05-21 18:43] huffmanca commented on #893
It looks like @wongma7 is correct, and I foolishly assumed that we were using pv.Name regardless of source. With CSI volumes we're using the volumeHandle, meaning that we're not guaranteed to wait for NodeUnpublish to be called in this case. It seems that simply adding a couple more steps was enough to let NodeUnpublish complete (over the course of my tests it seems this typically completes in 2-4

[2021-05-23 14:18] aayushrangwala commented on #869
I would like to work on this

/assign

[2021-05-24 19:27] #448 closed

[2021-05-24 19:27] #672 closed

[2021-05-24 19:27] #746 closed

[2021-05-24 19:27] #758 closed

[2021-05-24 19:27] #797 closed

[2021-05-24 19:27] #887 closed

[2021-05-24 19:38] wongma7 opened #899 "Create volumes with one topology label, not both"
/kind bug

**What happened?** https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/controller.go#L658 Details: https://github.com/kubernetes/kubernetes/issues/102248

The expressions are ANDED, meaning a provisioned PV will only land on nodes that have BOTH labels. this was not the intention, we want it to be able to land on nodes with one or the other.

**What you expected

[2021-05-24 19:51] wongma7 opened #900 "(helm) Upgrade test"
/kind bug

**What happened?** there should be a CI test to upgrade from latest stable chart to PR chart

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version:

[2021-05-25 08:38] jsafrane commented on #899
Why? When the CSI driver returns only `topology.ebs.csi.aws.com/zone` label for a volume, we can be sure that a pod that uses the CSI volume will land on a node that has both the CSI driver (i.e. it has the label) and is in the right zone.

Translation we use for CSI migration will make sure that the label is translated from CSI `topology.ebs.csi.aws.com/zone` to in-tree `topology.kubernetes.io/zo

[2021-05-25 09:28] dorroddorrod commented on #854
Any updates on this ?
The controller basically bombarding our logging database (ES) with lots of `info` messages

[2021-05-25 09:34] utk231 opened #901 "Issue while deploying EBS CSI driver using [ aws-ebs-csi-driver:latest ] image on Graviton2 Powered Worker Nodes"
/kind bug

What happened? Following the instructions at https://github.com/kubernetes-sigs/aws-ebs-csi-driver to deploy the driver on Amazon EKS cluster running with Graviton2 based worker nodes. The driver pods ebs-csi-controller, ebs-csi-node keep crashing.

What you expected to happen? - CSI-Controller & CSI-Node pod to be in `Running` state but goes in `CrashLoopBackOff` immediately after star

[2021-05-25 18:04] wongma7 commented on #899
I thought the NodeGetInfo response for topology labels doesn't get translated, so if we only return topology.ebs.csi.aws.com/zone then translated PVs with topology.kubernetes.io/zone won't get scheduled . That's why I thought we need to add both labels in NodeGetInfo response. Let me verify. (BTW we are lacking a migration topology e2e, I'll create issue/add it soon).

I agree with you that driver

[2021-05-25 23:35] wongma7 commented on #854
/assign

[2021-05-25 23:38] wongma7 commented on #854
@dorroddorrod you may manually edit the controller deployment yaml or node daemonset --v arg as shown in the patch https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/903/files

After the patch gets merged verbosity 2 will be default

[2021-05-26 00:25] #854 closed

[2021-05-26 04:22] eytanhanig opened #904 "Custom Pod Labels in Helm Chart"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The Helm chart should allow users to add additional labels to each of the different pods. This is important for a number use cases, including the ability to filter metrics based on custom internal labels.

**Describe the solution you'd l

[2021-05-26 05:48] touseefspeaks commented on #901
**While deploying ebs driver on eks cluster(1.18) i am facing with following issue:**
**Kubectl version**:  `Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:36:53Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Mino

[2021-05-26 06:51] utk231 commented on #901
@touseefspeaks Please remove following entries from `kustomization.yaml` file under `aws-ebs-csi-driver/deploy/kubernetes/base/` as it's not present on repository at the location https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/deploy/kubernetes/base

- poddisruptionbudget-controller.yaml
- poddisruptionbudget-snapshot-controller.yaml

[2021-05-26 11:31] krmichel commented on #901
The files should have been there.  They got dropped in a rebase.  There is now a PR to add them.

[2021-05-26 12:13] utk231 commented on #901
@krmichel The original issue is that when `aws-ebs-csi-driver:latest` is specified as image source in controller and node YAML Files, Driver pods keep going to `CrashLoopBackOff` state after starting. Will that issue be fixed in this PR #906 ?

[2021-05-26 14:09] krmichel commented on #901
No, sorry.  I had too many emails this morning and thought that these were two different issues.  The PR will only address the missing PDBs.  I have unlinked it from this issue.

[2021-05-26 16:29] dorroddorrod commented on #854
Can we set the verbosity level using helm ?
for example
[code]

[2021-05-26 23:01] xposix commented on #892
Thanks for the information.
Closing ticket.

[2021-05-26 23:01] #892 closed

[2021-05-27 09:57] zerkms commented on #679
It started happening to me after cluster upgrade from 1.19.x to 1.20.x

[2021-05-27 14:30] akhilles opened #909 "Consider releasing kustomize archives"
**Is your feature request related to a problem?/Why is this needed**
`kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-0.10"` takes a long time.

/feature

**Describe the solution you'd like in detail**
Publish zip, tarball archives with just the `deploy/` files.

**Describe alternatives you've considered**
Publish a tag with just the `

[2021-05-27 19:18] wongma7 commented on #909
good idea, after we started checking in vendor dir the repo size has ballooned.

[2021-05-31 07:30] olemarkus opened #911 "e2e " volume snapshot controller should check snapshot fields, check restore correctly works after modifying source data, check deletion" flakes"
/kind bug

**What happened?**

kOps started running the aws cbs csi driver e2e suite and shows some tests are flaking.

All of them are variants of "volume snapshot controller should check snapshot fields, check restore correctly works after modifying source data, check deletion".

See https://k8s-testgrid.appspot.com/kops-misc#kops-scenario-aws-ebs-csi-driver
We were wondering if these were known

[2021-05-31 20:51] mszumilak commented on #536
With 1.20 VolumeSnapshots are no longer in beta, CRDs are still not available though. Any update on this?

[2021-06-01 18:20] wongma7 commented on #911
it should be fixed by a change in the test https://github.com/kubernetes/kubernetes/pull/102021

[2021-06-01 19:05] olemarkus commented on #911
Thanks. We'll just monitor the situation then.

[2021-06-02 07:22] #664 closed

[2021-06-02 16:47] olemarkus opened #915 "Kubernetes e2e suite.[sig-storage] Volume limits should verify that all nodes have volume limits"
/kind bug

**What happened?**

When using the CSI driver, the following tests fail:
```Kubernetes e2e suite.[sig-storage] Volume limits should verify that all nodes have volume limits```

See https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-scenario-aws-cloud-controller-manager/1400097064578191360

This test is _not_  a part of the CSI migration test suite the EBS CSI driver is us

[2021-06-02 21:45] wongma7 commented on #915
I think it is because the csi driver daemonset pod is not running on the control plane node(s). I haven't verified yet though. The test naively checks all ready&schedulable nodes, that includes control plane nodes.

With migration off, the in-tree EBS driver will set attachable-volumes-aws-ebs. So the kubelet on control plane node will set it.

With migration on, the CSI EBS driver will set attach

[2021-06-03 03:01] rifelpet commented on #915
[Here](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-grid-scenario-aws-cloud-controller-manager/1400217873212772352/artifacts/cluster-info/nodes.yaml) is the list of Nodes from a failing test. Note that _none_ of them have `attachable-volumes-aws-ebs` set.

The ebs-csi-node daemonset does run on the control plane nodes. In the yaml above, `ip-172-20-57-200.eu-west-3.compute.inter

[2021-06-03 10:49] vpnachev opened #918 "AWS CSI driver deleted the volume for PV but has not updated the PV spec and it keep trying to attach this deleted volume to the node"
/kind bug

**What happened?**
Together with @ialidzhikov we observed in our cluster multiple statefulset apps cannot start due to volume failed to be attached.
[code]

It turn out that the volume for the PV is actually deleted by the driver during the creation.
1. External provisioner is calling the `CreateVolume`
2. The driver starts creating the volume and then wait until it is available
3. Duri

[2021-06-03 10:53] ialidzhikov commented on #918
I am cc-ing the folks that were involved with #771 (as this is PR that introduces the race condition)
/cc @AndyXiangLi @wongma7 @ayberk

[2021-06-03 16:11] pierluigilenoci commented on #586
Has anything moved forward around here? ❤️

[2021-06-03 21:51] wongma7 commented on #918
The inFlight requests map is intended to insulate us from races like this. Haven't had a chance to dig deep yet but I will be checking that first.

[2021-06-03 22:03] wongma7 commented on #915
My bad, what I said is wrong, the premise that we need to set this annotation when migration is on is wrong: the test failure is misleading because it only checks the annotation, but, we want it to check CSINode.spec.drivers.allocatable

Let me check if the test can be adapted for the migration scenario or if I can write a new one

example CSINode:
[code]

[2021-06-03 22:06] wongma7 commented on #915
https://github.com/kubernetes/kubernetes/blob/4ad08fa5b611826505fa2892cdce463f12d32b35/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L109

when CSI driver is installed, CSINode gets updated, the annotation key doesn't get set. So I'm not sure why the test expects it to be set. I still don't have a full picture.

[2021-06-03 22:18] wongma7 commented on #915
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/scheduler/framework/plugins/nodevolumelimits/csi.go#L169

The scheduler knows how to translate in-tree PVs to CSI PVs in case migration is on https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/scheduler/framework/plugins/nodevolumelimits/csi.go#L192. And after it has t

[2021-06-03 22:32] wongma7 opened #920 "Test Migration enable/disable/upgrade/downgrade scenarios"
/kind bug

**What happened?** as prerequisite to turning CSIMigrationAWS on by default we need a test for https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md#upgradedowngrade-migrateunmigrate-scenarios

Users trying migration have run into issues where if they don't drain the node first their volumes get stuck, and things like that. We need th

[2021-06-03 23:59] groodt commented on #821
Any progress or updates on this @wongma7

[2021-06-04 07:28] olemarkus commented on #915
Thanks for all these details. So there should be a k/k issue on fixing this then?

Meanwhile, we'll filter this particular test on our side.

[2021-06-04 14:19] ialidzhikov commented on #918
If by the inFlight requests map, you mean the logic in pkg/driver/controller.go#L220-L225

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/f6784061734899c03f248cb317f10984a8c81f8d/pkg/driver/controller.go#L220-L225

then this logic is executed after the "early exit" for already existing volume (pkg/driver/controller.go#L212-L218)

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/bl

[2021-06-04 14:20] ialidzhikov commented on #918
/priority important-soon

[2021-06-04 17:16] wongma7 commented on #915
yes, tracking in  https://github.com/kubernetes/kubernetes/issues/79660#issuecomment-854884112 to write a new test/enhance the existing volume  limits test

[2021-06-04 19:27] vdhanan commented on #821
the lingering instance metadata issues should be resolved in v1.1.0 (just released)

[2021-06-04 21:53] wongma7 commented on #821
the test with instance metadata disabled and controller using IAM for SA (configured via eksctl) is getting reviewed https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/907

[2021-06-04 22:30] gabegorelick opened #923 "Copy volumes across AZ"
**Is your feature request related to a problem?/Why is this needed**

The fact that EBS volumes are tied to a specific availability zone is a [well documented issue](https://aws.amazon.com/blogs/containers/amazon-eks-cluster-multi-zone-auto-scaling-groups/). From https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html,

Often times, the explosion in the number of ASGs that the us

[2021-06-04 23:17] wongma7 commented on #923
volume cloning https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/207 should help. The user has to be the one to initiate the cloning though by setting dataSource. PVC:PV binding is 1:1 so without dataSource the driver has no way of knowing if 2 PVCs want the same data. How it would look is: You have an existing Pod_A+PVC_A+PV_A in zone A. You create a Pod_B+PVC_B and it gets scheduled i

[2021-06-06 00:17] #681 closed

[2021-06-07 15:14] gabegorelick commented on #923
Unfortunately, requiring the cluster admin to manually clone volumes doesn't solve the issue with Cluster Autoscaler where you really need any cloning to be automatic. In that sense, perhaps CA or a third-party tool could detect this situation (volume needing to be moved) and handle it automatically. But ideally if this could be handled at the storage level, that would be the most seamless solutio

[2021-06-07 18:56] wongma7 commented on #918
1. sounds simplest to me!

in fact it's probably safer to do the same for ALL functions that, according to the spec, MUST be idempotent. i.e. wrap DeleteVolume, Create/DeleteSnapshot, etc. Otherwise it's too hard for us to avoid all potential race conditions when multiple calls are in flight. We cannot trust kubelet/external-provisioner/external-attacher to keep track of multiple calls, they can r

[2021-06-07 19:45] wongma7 commented on #923
Yes, but if you have two PVCs referring to the same volume they will work as long as their pods are scheduled to the same Node. The access modes have to be read in terms of Nodes, not Pods, i.e. RWO means the volume can be read/written by one Node. Like if you want to use the same volume in different namespaces, then you need PVC_A+PV_A and PVC_B+PV_B, where PV_A and PV_B both refer to vol-1234, a

[2021-06-07 20:34] gabegorelick commented on #923
Thank you for writing all that up.

This is in line with what I was envisioning. Some kind of controller that sees you need a volume from a different zone and automatically copies/moves it instead of the scheduler/provisioner/autoscaler/whatever just hanging or erroring out, which is more or less what happens today.

Technically, the issue arises any time you have a pod with a dependency on a spec

[2021-06-07 21:14] wongma7 commented on #923
I think then it's up to AWS ASG to provide a way to launch in specific zone, or for cluster autoscaler to come up with some hacky workaround (like, suspend ASG processes, launch an instance in a specific zone, attach to ASG,  resume ASG processes?), or for us to implement volume cloning them for some other tool to automate the dataSource/volume cloning process. Or for EBS to provide cross zone rep

[2021-06-07 21:58] gabegorelick commented on #923
Yep. Any of those solutions would probably work. AWS is in the best position to fix this, either at the ASG or EBS level. Barring that, it's a complicated issue that cuts across K8s systems (storage, CA, scheduling). I think that's why I haven't seen a good solution beyond "don't use EBS with multi-AZ ASGs."

Thanks. I thought this may be the case, but I figured it was worth bringing up for discus

[2021-06-07 22:36] wongma7 commented on #923
right, something must detect a pod can't be scheduled because there are 0 available nodes to satisfy its EBS volume requirement and then act accordingly, easier said than done

cluster autoscaler docs also suggest creating 1 asg in each zone and running 1 cluster autoscaler in each  https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#common-notes-and-gotchas

[2021-06-08 21:40] wongma7 opened #926 "Bump sidecar images in helm chart/kustomize"
/kind bug

**What happened?** sidecars are out of date, should bump them to latest minor/patch versions, let CI test, and release new helm chart. https://kubernetes-csi.github.io/docs/sidecar-containers.html

snapshot has a major version bump 3.0->4.0, I rememger I tried but couldn't bump it, something to do with the v1beta1 -> v1 API but I don't  remember right now.

**What you expected to happen

[2021-06-09 00:57] wongma7 opened #928 "Multiple ControllerPublish/ControllerUnpublish calls may run concurrently"
/kind bug

**What happened?** https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerpublishvolume

- WaitForAttachmentState doesn't respect the provided context, so even if the caller (external-attacher) cancels the context it will keep running. The caller may then initiate another call with a new context while other WaitForAttachmentState is still running. The result i

[2021-06-09 00:57] wongma7 commented on #928
there is some context in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/924#issuecomment-857074463

[2021-06-09 01:17] #918 closed

[2021-06-09 07:03] mapdegree commented on #800
Hi @AndyXiangLi ,
Is the functionality for adding tags on demand via CSI already introduced?

[2021-06-09 07:12] mapdegree commented on #180
Any updates on the feature request from the AWS product group to add arbitrary AWS tags on EBS volumes via the CSI plugin?

Having AWS tags provisioned through a K8S manifest for an EBS volume is an essential functionality for us for various reasons (security, cost monitoring, etc.).

[2021-06-09 07:33] kpmanojpg commented on #738
Experienced same issue and EBS (AWS) team confirmed it's driver bug. We noticed this is happening when EBS size more than 1 TB.

"pvc-38xxxxxxxxx" : rpc error: code = Internal desc = could not format "/dev/xvdbd" and mount it at "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-38xxxxxx/globalmount"

 unable to attach or mount volumes: unmounted volumes=[vol1], unattached volumes=[authorized-keys

[2021-06-09 17:37] wongma7 commented on #928
actually since we call DescribeVolumesWithContext and context is cancelled, there shouldn't be additional calls...if anything we are calling it less frequently than if we let external-attacher dictate retry logic

[2021-06-09 18:15] wongma7 opened #929 "Opt-in to xfs e2e test VolumeSourceXFS when bumping dependencies to 1.22"
/assign

**What happened?** should make sure we always add nouuid to xfs mounts with the e2e test

context: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/913
https://github.com/kubernetes/kubernetes/pull/102538

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version

[2021-06-09 19:33] wongma7 commented on #180
What is missing, is the extraTags/extraVolumeTags argument sufficient? https://github.com/kubernetes-sigs/aws-ebs-csi-driver#tagging. If you specify it, tags get added to all volumes provisioned by the plugin.

I am thinking we also need an extraTags StorageClass parameter to add more granularity?

[2021-06-09 20:22] flickerfly commented on #180
@wongma7 I don't think I'm seeing the documentation you think I'm seeing so it is hard to say if this brings a solution or not. Is there better docs about implementing what you are talking about?

[2021-06-09 21:40] wongma7 commented on #180
@flickerfly it's the last row in the table, look for the string "extraTags". By "argument" it means argument to the ebs-csi-driver binary, i.e. the spec.containers.args.

If you are using helm, you can set it using  .Values.extraVolumeTags https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/controller.yaml#L70.

(I think this is another reason that

[2021-06-09 22:11] flickerfly commented on #180
What does it look like in a manifest directly? I don't usually use helm. Also, I'm not seeing anything on the extraVolumeTags and how it differs.

[2021-06-09 22:32] wongma7 opened #930 "Improve documentation around extraTags argument"
/kind bug

**What happened?** There is no example of how to set it. The arg help text shows that it's like key=value,key=value (comma-separated) but this isn't good enough because users are not interacting with the binary as a CLI, they are using it as a Pod.

Plus I had to check code the difference between extraTags and extraVolumeTags (they are the same but the latter is deprecated).

**What you

[2021-06-09 22:34] wongma7 commented on #180
Here's mine I just tested, you must edit args of the `aws-ebs-csi-driver` container (as opposed to the sidecar containers like `csi-resize` or `livenessprobe`. It should be the first entry in the `spec.containers` array.
[code]

There is no functional difference between extraVolumeTags and extraTags, you can use either or, but extraVolumeTags is deprecated for some reason.

I created a new issue h

[2021-06-10 14:25] flickerfly commented on #180
@wongma7 Thank you for that! I sub'd to #930.

If what I'm understanding is correct, I'd not currently be able to have any tags unique to specific situations. When I can add these to the StorageClass, I'd need to have a different StorageClass in order to have a different set of tags for each namespace for example? Ideally, I'd like to set the tags at the PVC and have them passed down. This would m

[2021-06-11 00:24] wongma7 commented on #793
done

[2021-06-11 00:24] #793 closed

[2021-06-11 04:40] bitva77 commented on #180
Appreciate the `extraTags` option.

However, is there any way to add tags to an EBS volume based on the `PersistentVolume`?  I'd love to be able to see which service/pod an EBS volume was created by.

Setting `extraTags` in the driver helps with cluster identification but not specifically which pod created said volume

[2021-06-11 12:23] wunzeco commented on #748
@ABNER-1 @mtimm
I encountered exactly the same issue as @kamit78 described here. I was able to resolve this issue by following the suggestion in this stackoverflow post - https://stackoverflow.com/a/67400755/10094410

Specifically, I updated my `trust-policy.json` to look like below

[code]

The only addition which isn't mentioned in the docs (https://docs.aws.amazon.com/eks/latest/userguide/ebs-c

[2021-06-11 18:53] wongma7 commented on #904
/close

thanks for fix!!

[2021-06-11 18:53] #904 closed

[2021-06-14 06:10] tanvp112 opened #934 "Missing enableVolumeScheduling and enableVolumeResizing?"
/kind bug

**What happened?**

Latest release helm-chart-aws-ebs-csi-driver-1.2.2 has the enableVolumeScheduling and enableVolumeResizing removed from values.yaml and there is no documentation about it. Do we still need to --set enableVolumeScheduling=true while installing the driver to support dynamic provisioning? Same question goes to enableVolumeResizing, does this affect allowVolumeExpansion?

[2021-06-14 14:33] krmichel commented on #586
I am still waiting for the information that is needed for setting up the org.

[2021-06-14 14:41] krmichel commented on #934
Those features have moved to stable and are just enabled now.

[2021-06-14 18:06] vdhanan commented on #926
/assign

[2021-06-15 01:07] tanvp112 commented on #934
Noted with thanks.

[2021-06-15 01:07] #934 closed

[2021-06-15 07:57] pierluigilenoci commented on #586
@ayberk could you please follow up on this?

[2021-06-15 09:30] WojciechKarpiel opened #935 "Example IAM policy is insufficient"
/kind bug

**What happened?**
I was following [this guide](https://aws.amazon.com/blogs/containers/using-ebs-snapshots-for-persistent-storage-with-your-eks-cluster/), and when my pod attempted to use a restored PVC (with snapshot datasource), I've got following error
[code]

**What you expected to happen?**
I expected PVC to be created and bound successfully

**How to reproduce it (as minimally an

[2021-06-15 13:26] pierluigilenoci commented on #180
@wongma7 having the PVC name and namespace would already be great, perhaps using the syntax used by EKS's default storage class.

[code]

[2021-06-15 13:34] pierluigilenoci commented on #180
Even for EFS it would be nice to have it. Ref: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/446

[2021-06-15 18:31] wongma7 commented on #935
is the error message accurate though? "InvalidVolume.NotFound: The volume 'vol-04da06270c9fd721e' does not exist." Why is ec2 returning this error, does this volume actually exist or not?

[2021-06-15 19:34] wongma7 commented on #935
Somewhat related to this issue, I think we do need to provide more examples though with more documentation. The current example https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/example-iam-policy.json is a bit too restrictive because it breaks in migration scenario. Also it doesn't match the policy we use for e2e testing https://github.com/kubernetes-sigs/aws-ebs-csi-driver/b

[2021-06-15 19:50] wongma7 opened #936 "Emit AWS API call metrics from e2e tests"
**What happened?** Running the CSI driver can be expensive in terms of AWS API calls, for example during attach or create the driver calls DescribeVolumes multiple times. we need to export/gather data to catch regressions and potentially compare to in-tree driver.

The metrics are prometheus, I'm planning to translate them to cloudwatch and upload to the AWS CI account.
Alternatively or in additio

[2021-06-15 19:58] wongma7 commented on #936
kind of unrelated but also driver memory usage so people have more guidance on what to set resource.requests/limit to avoid node oversubscribe (given the daemonset will be on all nodes)

[2021-06-15 21:04] wongma7 commented on #180
@pierluigilenoci I just found while trying to add it that this functionality already exists. To enable it you have to set extraCreateMetadata true in helm chart. After you do so, volumes created by the CSI provisioner will have thos same tags. kubernetes.io/created-for/pv/name:
kubernetes.io/created-for/pvc/name:
kubernetes.io/created-for/pvc/namespace:
I submitted a PR https://github.com/kubernet

[2021-06-16 07:22] pierluigilenoci commented on #180
Thank you @wongma7, I try it right away!

[2021-06-16 13:07] kostenkoi commented on #497
@qw1mb0, unfortunately, this doesn't work

helm upgrade --install aws-ebs-csi-driver \
    --namespace kube-system \
    --set enableVolumeScheduling=true \
    --set enableVolumeResizing=true \
    --set enableVolumeSnapshot=true \
    --set extraVolumeTags=isMonitored=false \
    aws-ebs-csi-driver/aws-ebs-csi-driver

sorry, but the link provided in the comment above also not found, so it's uncl

[2021-06-16 17:18] nicholasmhughes opened #939 "Track volumes provisioned by the in-tree EBS plugin"
**Is your feature request related to a problem? Please describe.**
To my knowledge, [EKS not yet supporting the CSIMigrationAWS feature gate](https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/kubernetes-versions.md#kubernetes-117) (I'm happy to be proven wrong here). Due to this fact, I can't perform a full migration from the in-tree EBS plugin to the EBS CSI Driver.

Since s

[2021-06-16 18:38] wongma7 commented on #480
Some things that NEED to be documented/fixed somewhere BEFORE 1.22 release:

- The requirement to set --k8s-tag-cluster-id=$SAME_CLUSTER_ID_AS_kube-controller-manager on ebs-csi-controller container so that CSI-provisioned volumes get the same KubernetesCluster tag as in-tree-provisioned volumes. Especially if you rely on a tag-based IAM policy to control AttachVolume/ModifyVolume/CreateVolume/*Vo

[2021-06-17 04:47] judgeaxl opened #942 "Snapshotter sidecar is deployed by Helm chart even if enableVolumeSnapshot == false"
/kind bug

**What happened?**

When disabling snapshots, the ebs-snapshot-controller is no longer deployed, but the snapshot sidecar in the ebs-csi-controller is still deployed, causing repeated errors in the logs if the snapshot CRDs have not been deployed.

Example:
[code]

**What you expected to happen?**

In addition to not deploying the snapshot controller itself, it should not deploy the sna

[2021-06-17 08:45] groodt commented on #821
I've tried to deploy v1.1.0 on my cluster. The rollout worked and everything seemed healthy, but it fails to provision PVC.

Here is the error:
[code]

[2021-06-17 09:40] WojciechKarpiel commented on #935
I've tried again with the current policy, results are the same

Sorry, I've missed a crucial detail:
Kubernetes events say the snapshot creation failed
[code]
Despite this, VolumeSnapshot is in `ready: true` state, but fails when trying to create PVC (as described above)
Do you know why PVC is modified? The `ec2:ModifyVolume` permission is already in the IAM policy, don't know what else should be

[2021-06-17 13:05] TheBaus opened #943 "Helm "mustAppend" not defined when upgrading helm chart to v1.1.x or 1.2.x from v1.0.3"
/kind bug

**What happened?**
Trying to upgrade helm chart to version 1.1.0 from version 1.0.3, Helm then throws a mustAppend error:
`Error: parse error in "aws-ebs-csi-driver/templates/controller.yaml": template: aws-ebs-csi-driver/templates/controller.yaml:54: function "mustAppend" not defined`

**What you expected to happen?**
Helm chart to upgrade to new targetRevision with no problems.

**How

[2021-06-17 13:14] krmichel commented on #943
What version of helm is being used?

[2021-06-17 13:18] TheBaus commented on #943
Ah sorry all, I only thought of Argo's version of Helm being the issue.

Upgraded Argo from v1.8.4 to v2.0.2 and now the upgrade proceeds.

Apologies for this and closing.

[2021-06-17 13:18] #943 closed

[2021-06-17 13:19] TheBaus commented on #943
Thanks for asking so quick @krmichel.

[2021-06-17 13:20] krmichel commented on #942
@wongma7 Do we want to make the snapshot functionality something that can be disabled again?  We removed the option from the controller since it moved out of alpha but if it is going to cause issues without the controller then maybe we need the flag still.  Did was there ever a decision about whether this chart would continue to install the snapshot controller or expect it to already be installed?

[2021-06-17 18:17] wongma7 commented on #942
If we do offer again an option to disable it, and I'm not sure if we should yet, then I would like to name it differently to disambiguate installing the sidecar (`installSnapshotSidecar`?) from installing the snapshot controller+CRDs (`installSnapshotController`?).

This PR is adding functionality to install the CRDs https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/938/files#diff-1d5fa76

[2021-06-17 18:17] wongma7 commented on #942
Another idea:

snapshotController.enable = true/false
sidecars.snapshotterImage.enable = true/false

[2021-06-17 18:30] wongma7 commented on #935
There is this new feature called IAM Access Analyze. I have never tried it but in theory if you analyze the role that the policy is attached to then it will spit out exactly what you want and we can do a diff between it and the example.
https://aws.amazon.com/blogs/security/iam-access-analyzer-makes-it-easier-to-implement-least-privilege-permissions-by-generating-iam-policies-based-on-access-activ

[2021-06-17 19:08] wongma7 commented on #821
@groodt it looks like the controller is going down the creds chain, can you share the yaml spec of the csi controller pod like ` kubectl get po -o yaml bs-csi-controller-5c5cf8b9dc-spbpq`? Are the AWS_ environment variables there? IAM roles for SA should have injected environment variables onto the pod containing AWS creds, and then the controller should have found those creds.

For reference, in

[2021-06-17 22:49] groodt commented on #821
Thanks! You helped me realise that I patched the IRSA annotation to `ebs-csi-node-sa` and not `ebs-csi-controller-sa`.

I've redeployed and now I see the variables injected into the environment.
[code]

I'll confirm for sure that everything is working after I do a few checks.

Follow-up question:
Is it expected that the `ebs-csi-node` still has access to hostNetwork and is not using IRSA? Is that

[2021-06-17 23:11] wongma7 commented on #821
@groodt nice!

ebs-csi-node will not need hostNetwork anymore as of helm chart 1.2.3 + driver version 1.1.0, neither will it need IRSA. This scenario has been exercised by the new test.

The reason that ebs-csi-controller needs IRSA if you have instance metadata disabled is because it needs credentials in order to make AWS API calls, and those credentials need to come from somewhere, so basically

[2021-06-17 23:55] groodt commented on #821
Thanks very much @wongma7 That table clears up a lot for me.

I can now confirm that EBS volumes are binding successfully in my environments with v1.1.0 and IRSA.

I'll confirm how things work by removing `hostNetwork` for `ebs-csi-node`.

Final question I think. I imagine that this low-level driver will continue to require a privileged securityContext?
[code]

We've been doing security audits of

[2021-06-18 00:21] wongma7 commented on #821
Yes, ebs-csi-node needs to be privileged to perform `mount`. If I recall, CAP_SYS_ADMIN is not sufficient for doing `mount`. Despite https://man7.org/linux/man-pages/man7/capabilities.7.html saying that CAP_SYS_ADMIN lets you do `mount`, it didn't work when last I tried, I needed to be privileged, however that was not recently.

 It's privileged also because it needs read/write access to paths on

[2021-06-19 19:57] RK-GITHUB opened #945 "Dynamic provisioning not working for AWS EBS CSI Driver"
/kind bug

**What happened?**
I am trying to test dynamic provisioning for aws ebs csi driver, but not working

**What you expected to happen?**
PV should be created for pod PVC

**How to reproduce it (as minimally and precisely as possible)?**
I followed steps listed on https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

**Anything else we need to know?**:
[code]

**Environment**

Sing

[2021-06-20 22:42] groodt commented on #821
I've tried to remove `hostNetwork` from the  `ebs-csi-node` DaemonSet and it doesn't appear to work.

[code]

[2021-06-21 05:30] judgeaxl commented on #942
I've got to say I'm happy with any solution that gets rid of the errors.

I think the main issue with baking the CRDs into the deployment would be if they conflict with anything else also installing them, e.g. if the cluster managers start to deploy them by default.

I get the impression though that volume snapshots is an optional feature, and if that's the case, then I think it makes sense to all

[2021-06-21 16:38] AndyXiangLi commented on #945
Hi @RK-GITHUB, from the log, it is saying storage class not found, can you make sure you have the storage class created in the same namespace while you create pvc and pod?

[2021-06-21 17:39] RK-GITHUB commented on #945
@AndyXiangLi : I installed SC that present in specs folder
[code]

[2021-06-21 18:00] AndyXiangLi commented on #945
Can you paste the driver log here? You can do kubectl logs -n kube-system -c ebs-plugin ${csi-driver-controller-pod-id}

[2021-06-21 18:28] RK-GITHUB commented on #945
[code]

[code]

[code]

[2021-06-22 02:11] judgeaxl commented on #942
If this project decides the snapshotting feature should be mandatory, and I don't have an opinion either way, then I think installing the CRDs and snapshot controller should be listed as a prerequisite, rather than being sort of half, or even fully installed by this chart. After all, I might have installed them from somewhere else for another reason, they're on a different release cycle, etc.

[2021-06-22 05:13] TheRealDwright opened #946 "Namespace changes in 1.1.0 breaks upgrades from 1.1.0 if not using default namespaces"
/kind bug

**What happened?**
When upgrading to 1.1.0 from 1.0.0 all ClusterRoleBinding's and RoleBinding's were shifted in to the kube-system namespace while our deployment which references the [upstream overlays](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/deploy/kubernetes/overlays/stable?ref=f0011c9fc23afbcea3bd8af97627da8ad3dc1e84) is deployed to a namespace other than k

[2021-06-22 05:13] TheRealDwright commented on #946
Introduced in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/878

[2021-06-22 10:13] WojciechKarpiel commented on #935
I've used `IAM Access Analyze`, it generated insufficient policy (same problem as with the example policy)

For reference, IAM policy generated by the tool:
[code]

[2021-06-22 21:22] #946 closed

[2021-06-22 22:41] wongma7 commented on #935
Can you share logs or excerpts from the driver around the time of the error.

`kubectl logs -n kube-system (kubectl get lease -n kube-system ebs-csi-aws-com -o=jsonpath="{.spec.holderIdentity}") ebs-plugin`

The command `kubectl get lease -n kube-system ebs-csi-aws-com -o=jsonpath="{.spec.holderIdentity}` is to find out which Pod replica is the leader. Then from that Pod we want the `ebs-plugin` c

[2021-06-22 22:57] tsunny opened #950 "EBS CSI Driver helm charts are missing namespace information"
/kind bug

**What happened?**
The helm charts do not have `namespace: {{ .Release.Namespace }}` field. This causes the template to not have namespace when with `helm template --namespace kube-system`

**What you expected to happen?**
Expected the namespace to be included in the generated manifests using helm

**How to reproduce it (as minimally and precisely as possible)?**
[code]

Check the gener

[2021-06-22 23:08] krmichel commented on #950
That is generally how helm works. Most charts don't put the namespace in the template metadata. What is it that you are doing with the output of helm template that you need it to have the namespace explicitly in the manifests?

[2021-06-22 23:16] #536 closed

[2021-06-22 23:19] tsunny commented on #950
I am adding few custom labels/annotations and few custom tolerations.

The current chart works fine for `helm install` but we do not use `helm install` in our pipeline.

[2021-06-22 23:21] krmichel commented on #950
How do you apply the manifests? Kubectl or some other means?

[2021-06-22 23:30] tsunny commented on #950
We use kubectl apply -f on the final manifests.

[2021-06-22 23:36] krmichel commented on #950
Is there a reason that you can't add the `--namespace` flag to the `kubectl apply`?

[2021-06-23 01:08] tsunny commented on #950
Sure. I can add that. But, the value that I am passing to the `helm template` command is ignored. My expectation was that I would set the namespace during manifest generation (because there is an option provided by helm to do that). However, the chart does not support this option.

This is not a major bug but nice to have in the chart.

[2021-06-23 01:28] tsunny opened #951 "Snapshotter stateful chart does not consider tolerations"
/kind bug

**What happened?**
The `Value.node.tolerateAllTaints` is not used by the [snapshotter template](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/snapshot-controller.yaml#L39).

As a result, if there is any taint on the node with `NoExecute` effect this will cause the snapshot controller to evicted from the node after 300 seconds.

**W

[2021-06-23 06:08] WojciechKarpiel commented on #935
Hi!

Logs from `csi-snapshotter` (none except for initialization logs):
[code]

Excerpt from logs of `ebs-plugin` (I've separated creating the original volume and restoring snapshot by a blank line for readability, there were no actual logs in between. The error is repeated over and over):
[code]

Yes, I've used `WaitForFirstConsumer`. I've switched to `Immediate` now, but results are the same, ex

[2021-06-23 13:30] krmichel commented on #951
The link you sent is to the controller and it uses [.Values.controller.tolerations](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/controller.yaml#L47) to add additional tolerations if desired.  So, if you want you could add the `- operator: Exists` toleration in your values.  The controller is a deployment and generally, it doesn't make sense

[2021-06-23 15:17] krmichel commented on #950
It isn't ignored.  It is used in the role bindings.  I am hesitant to add the namespace to everything.  If we add it to all the resources and don't miss any then it would get you what you want.  My concern is in the future a new resource gets added and it not having a namespace gets missed in PR.  It wouldn't really matter to those doing `helm install/upgrade`  but for you, it would then cause the

[2021-06-23 20:19] #747 closed

[2021-06-23 21:48] wongma7 commented on #950
This sounds like a helm issue, why does helm install/upgrade respect the --namespace tag but not helm template? https://github.com/helm/helm/issues/3553

IMO, leaving namespace blank is the least bad option even if it breaks this particular use-case. We arrived here with a lot of trial and  error, previously we did set namespace to something, so I am reluctant to now set `namespace: {{ .Release.Na

[2021-06-23 21:50] joshsouza opened #953 "Documentation update: `CSIMigrationAWSComplete` flag as part of the migration process"
**Is your feature request related to a problem?/Why is this needed**
When performing a migration from the in-tree provider to the CSI driver, there is a final necessary step of setting the `CSIMigrationAWSComplete` flag on your `kube-controller-manager`. Failure to do so can result in serious problems. (In our case, a kubernetes upgrade resulted in the in-tree detaching _all_ EBS volumes in our cl

[2021-06-23 21:54] wongma7 commented on #953
that's not expected. Did you drain all nodes and detach all volumes before turning on/upgrading CSIMigration and CSIMigrationAWS in KCM? (step 4 here) https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md#upgradedowngrade-migrateunmigrate-scenarios

[2021-06-23 22:01] wongma7 commented on #953
You might have hit this bug where KCM marks the volumes "uncertain" and detaches them immediately after you upgraded KCM with the feature flag on. the fix is being backported to  1.19+

https://github.com/kubernetes/kubernetes/pull/101737
https://github.com/kubernetes/kubernetes/pull/101423

[2021-06-23 22:02] gnufied commented on #953
I think we are going to need separate CI suite with those `XXXComplete` flags. I wonder if we have failures in more than one place.

[2021-06-23 22:04] wongma7 commented on #953
Do you see any logs in KCM like this?

"2021-06-05 12:31:29 {"log":"Marking volume attachment as uncertain as volume:\"kubernetes.io/aws-ebs/aws://eu-central-1a/vol-1\" (\"worker\") is not attached (Detached)","pid":"1","severity":"INFO","source":"attach_detach_controller.go:757"}"

ref: https://github.com/kubernetes/kubernetes/issues/102856

 yeah another CI suite would not hurt, need to toggle X

[2021-06-23 23:49] joshsouza commented on #953
Before upgrading state:
k8s `v1.17.17`, feature flags: `CSIMigrationAWS: true` (`CSIMigration` is on by default in `1.17`)
Changing KCM leaders from one master node to another resulted in no abnormal behaviors. Caches for attach/detach would sync etc...

Upgrading state:
2/3 masters running `v1.17.17`, one running `v1.18.20`, with the same flags/config.
Forced a failover of KCM to the new node.
Lo

[2021-06-23 23:51] joshsouza commented on #953
As far as draining is concerned: We do not perform any in-place upgrades/changes to kubelet. So to enable the flag we would spin up an entirely new server with that new config (with the flag enabled), which to my understanding bypassed the issues that can be caused by changing it on a kubelet that already has pods live. When the kubelet joins the cluster (with no pods or volumes) it is then assign

[2021-06-24 00:34] wongma7 commented on #953
If the driver is not installed on Nodes (i.e. their CSINode does not list EBS CSI as one of the installed drivers), then it is expected that the in-tree plugin performs Attach and Detach, regardless of whether KCM CSIMigrationAWS is on or off. Ref: https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/controller/volume/attachdetach/util/util.go#L289 . So it makes sense that the in-tree pl

[2021-06-24 00:47] joshsouza commented on #953
We did the CSI migration after we upgraded to `1.17`. We've got the driver deployed as a daemonset on all the nodes, as well as the controllers in place, and everything has been working with that as expected (Volumes created using the storageclasses with the in-tree specified as their provisioner before the upgrade continued to work and attach/detach properly, new volumes created with those storag

[2021-06-24 00:51] joshsouza commented on #953
If this is helpful:
[code]

It's definitely in the list of CSI drivers k8s knows about

[2021-06-24 07:53] centur commented on #945
I have the same problem, but not only with dynamic, but with static template also.
I created EBS volume, updated all corresponding blocks in example templates. I can see that pv bounds to pvc, but app pod stuck in permanent pending state.

[2021-06-24 10:07] dolisss opened #954 "PVC are in Pending state"
/kind bug

I deployed CSI Driver as stated here: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

**What I expect?** : Pod should run using PVC that are provisioned dynamically

**how to reproduce this issue** :  I  followed the document to install this and I can see the below error

 Below are the logs describing PVC:
   Warning  ProvisioningFailed    93s (x2 over 93s)  persistentvo

[2021-06-24 17:56] wongma7 commented on #915
https://github.com/kubernetes/kubernetes/pull/103074 has merged, so the 1.22 version of this "should verify that all nodes have volume limits" test will get skipped if Migration is enabled. As a replacement: if storage.testdriver https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external is passed and it supports volume limits then the test called "should verify that all csinod

[2021-06-24 17:56] #915 closed

[2021-06-24 18:22] wongma7 opened #955 "Make NodePublish mount idempotent"
/kind bug

**What happened?** as of kubernetes 1.20, kubelet doesn't check if the target path exists or is mounted for us https://github.com/kubernetes/kubernetes/pull/88759 . path existence should be idempotent i.e. if path already exists, NodeStage/NodePublish should not error. mount should be idempotent i.e. if the thing that's supposed to be mounted at the path is already there then  NodeStage

[2021-06-24 18:33] wongma7 commented on #953
No, you don't need to increase verbosity if the log isn't there.

After KCM detached the volumes, what reattached them, CSI? If possible could you share full KCM logs with  me from before and after the upgrade, my name is the same on slack? If CSIMIgration was already enabled on 1.17 KCM and kubelets, it does not make any sense how upgrading to 1.18 would change that.

To be clear my intention is

[2021-06-24 18:39] wongma7 commented on #953
I'll try to reproduce on kops . Basically I would expect that if I already havemi gration enabled everywhere and then I go and update my control plane including KCM, KCM attach detach controller should fill its cache and then do nothing. Not try to detach everything..

[2021-06-24 19:12] joshsouza commented on #953
I'll reach out on slack to follow up with the logs I captured. I agree that we should get to the bottom of why this is happening for the community in general, hopefully we can get there.

[2021-06-25 01:17] tsunny commented on #950
@krmichel -
1. We just don't use helm in the pipeline for historical reasons. And, it is beyond my control to change the pipelines we are using. And going down this path of discussion will not help solve this issue

2. "The namespace being ignored" might be wrong usage of terms. Sorry. The missing `{{ .Release.Namespace }}` in helm charts is what I was referring to.

3. Regarding your concern abou

[2021-06-25 19:47] wongma7 commented on #920
I' ll make a separate issue to track running this in CI, it's not mandatory yet and kind of expensive but definitely want to exercise it automatically . Also it's a pain to run manually anyway since you have to babysit it for 30+ minutes while it goes thru upgrade/downgrade

[2021-06-25 19:47] #920 closed

[2021-06-26 03:44] #611 closed

[2021-06-28 18:48] AndyXiangLi commented on #954
Hi @dolisss, Sorry I'm not able to reproduce the issue on my side..  looks like provisioner have some trouble talk tot csi driver. Can you also paste the log from driver?

[2021-06-28 18:52] AndyXiangLi commented on #945
@RK-GITHUB Looks like the ebs-csi-controller is not up and running... Can you double check what is happening there? Sorry I was not able to reproduce this issue on my end..

[2021-06-28 19:09] dolisss commented on #954
@AndyXiangLi I can see **daemonset.apps/ebs-csi-node,** **deployment.apps/ebs-csi-controller**, **statefulset.apps/ebs-snapshot-controller**  Kubernetes object running as a part of deploying CSI driver. Please can you help me understand what refers to the driver logs here?

[2021-06-28 20:10] AndyXiangLi commented on #954
I'm referring to the controller log, basically controller is responsible for any aws request like CreateVolume, and you can grab the log by running kubectl logs -n kube-system -c ebs-plugin ${your-controller-pod-id}

[2021-06-28 23:35] wongma7 commented on #598
/remove-lifecycle rotten
/lifecycle frozen

this is still relevant.

the images are in eks-distro's public ECR repos e.g. public.ecr.aws/eks-distro/kubernetes-csi/external-provisioner https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/ecr/kustomization.yaml#L10 but I know public ECR doesn't work for everyone (private vpc)

I'll update when this has

[2021-06-29 09:01] froblesmartin commented on #939
As it is said here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/480#issuecomment-845588464, EKS won't enable it until, at least, it becomes enabled by default in K8s.

[2021-06-29 14:50] dolisss commented on #954
@AndyXiangLi Ohh I see, please find the below logs:

W0629 14:33:29.966118       1 metadata.go:191] Failed to parse the outpost arn:
E0629 14:33:59.940825       1 driver.go:119] GRPC error: rpc error: code = Internal desc = RequestCanceled: request context canceled
caused by: context canceled
E0629 14:33:59.940813       1 driver.go:119] GRPC error: rpc error: code = Internal desc = RequestCanceled

[2021-06-29 16:22] krmichel commented on #950
/kind feature
@tsunny

1. I am just trying to help achieve your goal, but if you can't change the pipelines it makes it more difficult.  I assume since you say you can't change the pipelines, at least not much, that you wouldn't be able to use the kustomize manifests that are in the deploy/kubernetes directory of the repo to meet your needs?
2. I understand what you are trying to say is that you w

[2021-06-29 18:34] stevehipwell commented on #954
We've seen the same behaviour on multiple EKS clusters, usually after upgrading cluster version meaning that the nodes are being replaced.

[2021-06-29 18:39] krmichel commented on #950
/remove-kind bug

[2021-06-29 18:43] krmichel commented on #951
/remove-kind bug
/kind support

[2021-06-30 14:59] longrunningprocess opened #956 "Provide an example of "parameters" usage in docs or tests"
**Is your feature request related to a problem?/Why is this needed**
I was hoping to find an example of a recurring schedule for snapshots in the https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/examples/kubernetes/snapshot/specs/classes/snapshotclass.yaml file but did not see a `"parameters"` implementation there.

**Describe the solution you'd like in detail**
I'd like to to see

[2021-06-30 21:37] wongma7 commented on #956
Currently the driver doesn't accept any SnapshotClass parameters.

The EBS API doesn't provide us an easy/first-class way to implement support for a parameter equivalent to longhorn's `recurringSnapshot`.

I don't know how longhorn implements their snapshotting but for EBS, under the hood our implementation of "CreateSnapshot" is  simple, the driver just calls EBS API's CreateSnapshot with the pro

[2021-06-30 23:00] longrunningprocess commented on #956
gotcha, that's sort of what I was afraid might be the case.  I was hoping the idea of establishing a schedule for these was an abstract k8s concept that would be implemented be each platform but what you said confirms that recurring schedules is going to depend on the runtime, thanks again!

[2021-06-30 23:00] #956 closed

[2021-07-01 02:35] wongma7 commented on #427
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-01 14:29] gsaraf commented on #497
I got stuck on this for a bit as well. The problem is that extraVolumeTags is a map, so the correct syntax is `--set 'extraVolumeTags.isMonitored=false'`.

[2021-07-01 20:34] wongma7 commented on #942
I think the snapshotter sidecar spitting out errors shouldn't affect the operation of the rest of the driver, but the Pod will show 5/6 containers unhealthy, so I understand obviously it would be better without  the errors.

Yes the feature is optional, it's just that with the 3 moving pieces involved (CRDs, snapshot controller, snapshot sidecar) all having to be compatible/updated in lockstep, it

[2021-07-01 20:37] wongma7 commented on #635
Our chart's handling of snapshotter controller and CRDs is causing a lot of headaches for both users and maintainers (i have spent way too much time thinking and writing comments about it -_-). I intend to remove the CRDs and controller and simply list it as a prerequisite to the chart. As of 1.20 kops will install the controller and CRDs by default. Other distros may do the same. Users whose dist

[2021-07-01 20:37] wongma7 commented on #635
/remove lifecycle-rotten

[2021-07-01 20:38] wongma7 commented on #942
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/635#issuecomment-872534979

[2021-07-01 21:09] wongma7 commented on #899
@himanshu-kun

The fallback he is referring to in that comment is in the driver controller when it is deciding in which zone to create a volume, but the scheduler doesn't have such a fallback, the scheduler is doing the AND and potentially blocking PVs/Pods from getting scheduled

this issue is fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/912 released in 1.1.0, from tha tver

[2021-07-01 21:09] #899 closed

[2021-07-01 22:07] #942 closed

[2021-07-02 18:15] wongma7 opened #961 "Update windows nodepublish to csi-proxy v1 API"
/kind bug

**What happened?**

csi-proxy v1 API is available, while the beta APIs will still be around we should use v1 https://github.com/kubernetes-csi/csi-proxy/releases/tag/client%2Fv1.0.0-rc.1

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
-

[2021-07-02 18:41] wongma7 opened #962 "Configurable topology labels"
/kind bug

**What happened?**

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/729 <- autoscaler reads the in-tree topology labels
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/899 <- csi migration translation reads in-tree topology labels and our ebs-specific topology label  and translates both to normal topology label which results in PV having duplicate labels

to so

[2021-07-02 22:16] riturajx opened #963 "Driver app status and ebs-claim 'pending' indefinitely"
/kind bug

**What happened?**
I followed the steps on this page: [https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html](https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html)

**What you expected to happen?**
After running the command 'kubectl get pods', I expected to see STATUS as 'running'. However, it remains 'pending' indefinitely (waited 4+ hours).

**How to reproduce it (as

[2021-07-02 23:55] krmichel opened #964 "Breaking changes for v2.0.0 of the helm chart"
/kind feature

**Describe the solution you'd like in detail**
There are deprecated values in the helm chart.  They should be removed in the next major release of the chart.
The helm chart still supports helm v2 which was end of lifed in November 2020.  The next major release should require helm v3 or above.

**Additional context**
PR #856 deprecated the fields in favor of a more clear organization

[2021-07-03 00:02] krmichel commented on #964
@wongma7 Do you want me to take a stab at removing the snapshot controller installation along with the other breaking changes I am making?  I might need some advice on how the documentation for it being a prerequisite should be worded.

[2021-07-03 00:42] #701 closed

[2021-07-05 02:56] KqLLL commented on #963
I have the same problem.

[2021-07-05 04:34] kostenkoi commented on #497
@gsaraf, thanks! Will check

[2021-07-05 20:36] krmichel commented on #635
/assign

[2021-07-05 20:37] krmichel commented on #964
/assign

[2021-07-05 21:31] krmichel commented on #853
This issue is related to issue #635

[2021-07-05 21:35] krmichel commented on #847
/assign

[2021-07-05 21:40] krmichel commented on #798
This issue is related to issue #635

[2021-07-05 21:45] krmichel commented on #706
/kind-remove bug
/kind support

[2021-07-05 21:48] krmichel commented on #706
/remove-kind bug

[2021-07-05 21:53] krmichel commented on #951
The snapshot controller will likely no longer be installed by this chart since it isn't part of this project.  Related to issue #635

[2021-07-05 22:13] krmichel commented on #885
/remove-kind feature
/kind support

You can already do this.  The [example in the charts values file](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/values.yaml#L177) already shows how to set the `reclaimPolicy` and the `allowVolumeExpansion` can be set the same way.

[2021-07-05 22:22] krmichel commented on #536
This is related to issue #635

[2021-07-05 23:39] riturajx commented on #963
Attaching the relevant policies solved the issue.

[2021-07-05 23:39] #963 closed

[2021-07-06 01:44] kli-abine commented on #885
it's working, thanks!

[2021-07-06 01:44] #885 closed

[2021-07-06 18:06] wongma7 commented on #729
/remove-lifecycle stale

label best practices needs discussion with kubernetes upstream . It's not clear at this time whether we should be putting the standard label or if the standard label should be reserved forr use by in-tree drivers (which simplifies migration because migration translates from our custom label to the standard label.)

[2021-07-07 02:50] schollii commented on #954
@AndyXiangLi I can get you all the logs you want, I am seeing this error with vanilla install according to https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html in an EKS 1.19 cluster. Here are some of the errors I'm seeing:
[code]
It seems to me that the CRD were not created, eg `kubectl get crd` does not show `VolumeSnapshotContent`. Maybe there is a step missing in those docs, I'm check

[2021-07-07 04:02] schollii commented on #954
So further investigation shows that the chart 1.2.3 does not contain the `crds` folder:
[code]

So this is the issue: the chart was incorrectly packaged. I could not find how the chart is created, I looked for `helm package` command, none in Makefile or anywhere else, so I am unable to submit a PR.

[2021-07-07 13:21] krmichel commented on #954
This is related to issue #635

[2021-07-07 13:55] schollii commented on #954
Related, but the root cause is that the crds are not in the chart so anyone installing the helm chart via instructions elsewhere (such as AWS docs) will miss that critical step, and moreover will assume the crds are in the chart since they are in the charts folder in github.

Summary solution here, at least for now until #635 is resolved (and probably even after, based on the discussion there), is

[2021-07-08 04:43] robsonvn commented on #935
I had the same issue and turns out that it was related to KMS permission, it was using the default KMS but the role had no access to it, so I added the missing permissions to the example policy.

Perhaps setting `encryped` parameter of the Storage Class to false might be enough for some.

_Note: I'm using terraform to replace variables._

**Helm Values**
[code]
**Policy:**

[code]

[2021-07-08 04:45] robsonvn commented on #954
Not sure if is 100% related, but I ran into an issue similar which was missing KMS permissions. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/935#issuecomment-876120442

[2021-07-12 11:43] WojciechKarpiel commented on #935
Thanks a lot, adding the KMS permissions solved the issue for me!
How did you figure it out?

[2021-07-12 21:56] nirmalaagash commented on #909
@wongma7 What are your thoughts on ignoring the vendor folder in upcoming commits?

[2021-07-13 09:15] robsonvn commented on #935
I analysed the events in Cloud Trail and noticed it was in a loop of Creating Volume and Deleting Volume, and by analysing the Creating Volume events, it was saying that it was `creating` and was using the default KMS key. I created another KMS giving access to the role which was being assumed by the Service Account and voilà it worked.

IMO this is a bug still, just don't know if on this project

[2021-07-13 09:24] robsonvn commented on #935
I analysed the events in Cloud Trail and noticed it was in a loop of Creating Volume and Deleting Volume, and by analysing the Creating Volume events, it was saying that it was creating and was using the default KMS key. I created another KMS giving access to the role which was being assumed by the Service Account and voilà it worked.

IMO this is a bug still, just don't know if on this project or

[2021-07-13 17:56] #635 closed

[2021-07-13 17:56] #847 closed

[2021-07-13 17:56] #964 closed

[2021-07-14 12:14] krmichel commented on #853
Version 2.0.0 of the chart no longer installs the snapshot controller or its CRDs.  The documentation linked here should be updated to reflect that.

[2021-07-14 12:17] krmichel commented on #798
Version 2.0.0 of the helm chart no longer installs the snapshot controller or its CRDs.  The [snapshot controller](https://github.com/kubernetes-csi/external-snapshotter) is now listed as a pre-req if you want to use snapshot functionality.  The `enableVolumeSnapshot` value no longer exists and the sidecar is enabled based on whether the snapshot API is available in the target cluster.

[2021-07-14 12:19] krmichel commented on #951
Version 2.0.0 of the helm chart no longer installs the snapshot controller or its CRDs. The [snapshot controller](https://github.com/kubernetes-csi/external-snapshotter) is now listed as a pre-req if you want to use snapshot functionality. The enableVolumeSnapshot value no longer exists and the sidecar is enabled based on whether the snapshot API is available in the target cluster.

[2021-07-14 12:24] krmichel commented on #954
Version 2.0.0 of the helm chart no longer installs the snapshot controller or its CRDs. The [snapshot controller](https://github.com/kubernetes-csi/external-snapshotter) is now listed as a pre-req if you want to use snapshot functionality. The enableVolumeSnapshot value no longer exists and the sidecar is enabled based on whether the snapshot API is available in the target cluster.  The AWS docs n

[2021-07-15 09:08] danielwegener commented on #180
Works great, Thanks!

[2021-07-15 20:58] #961 closed

[2021-07-15 21:07] #898 closed

[2021-07-15 21:58] wongma7 opened #974 "EFS/FSx helm chart value inconsistencies"
/kind cleanup

I would like all AWS CSI maintained helm charts to be consistent. I am currently working on the FSx helm chart. Most inconsistencies require breaking changes (must release a major helm chart version) to fix. We recently released v2 of the EBS helm chart and it fixed a lot of inconsistencies but some remain that I didn't catch. I will use this issue to track inconsistencies that can

[2021-07-16 09:49] tyrken opened #975 "Helm chart needs an option to disable Windows support"
Currently the helm chart **always** deploys a Windows DaemonSet `ebs-csi-node-windows` with node selector `kubernetes.io/os=windows`.

This is perfectly valid & does nothing on our linux-only EKS cluster, but is annoying clutter & we never intend to add Windows nodes.

Would you accept a PR to tidy things up by introducing a `{{- if .Values.node.windowsEnabled }}` statement around the whole of the

[2021-07-16 17:21] wongma7 commented on #975
Yes I would accept it, and I wouldn't mind defaulting it false either, EKS+Windows is indeed  pretty rare. Of course you can delete the daemonset but an upgrade would install it again so I understand the annoyance

[2021-07-16 23:34] wongma7 commented on #799
there's an eksctl job now (maybe akt later especially if we want to do fancier stuff)

[2021-07-16 23:34] #799 closed

[2021-07-17 02:05] #737 closed

[2021-07-17 14:30] krmichel commented on #974
@wongma7 Let me know if you need any help with this and I will do what I can.

[2021-07-18 19:18] #743 closed

[2021-07-19 17:58] vdhanan commented on #974
same, happy to help

[2021-07-19 18:11] vdhanan commented on #975
/assign nirmalaagash

[2021-07-19 23:06] wongma7 commented on #974
reviews on the fsx chart are welcome ;) https://github.com/kubernetes-sigs/aws-fsx-csi-driver/pull/194/files

I didn't mark anywhere whether a change would be breaking or not, that would make it easier for people to help out since they don't need to worry about chart versioning if they submit a nonbreaking PR change.

[2021-07-19 23:14] nirmalaagash commented on #975
/assign nirmalaagash

[2021-07-20 09:09] tyrken commented on #975
@nirmalaagash happy for you to go ahead (the CLA is holding me up for now), but thinking `enableWindows` might be more in keeping with the boolean convention this project used in the past, compared to what I suggested above.

[2021-07-20 13:44] ArchiFleKs opened #977 "Cannot detach volume"
/kind bug

**What happened?**

Controler refused to detach volume but I have made no changes to IAM permission

**What you expected to happen?**

Volume to be detached

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

[code]

**Environment**
- Kubernetes version (use `kubectl version`):
[code]
- Driver version: 1.1.1

[2021-07-21 07:06] ArchiFleKs commented on #977
Issue with latest breaking chart 2.0.0. Irsa annotation were removed from service account.

[2021-07-21 12:16] krmichel commented on #977
/remove-kind bug
/kind support

They weren't removed.  The values that control them were reorganized as part of the breaking change and were documented [here in the readme](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#upgrading-from-version-1x-to-2x-of-the-helm-chart).

The value to set annotations for the controller (which is the deployment) would be set here:
`.Values.controller.service

[2021-07-21 12:17] #977 closed

[2021-07-21 17:42] #975 closed

[2021-07-21 18:28] devodev opened #979 "ebs-plugin does not self-heal after losing DNS"
/kind bug

**What happened?**
DNS resolver daemonset was scaled down during node cycling by mistake, which caused cluster-wide pod dns resolution to fail. Once fixed, ebs-plugin is still not able to reach AWS, and therefore the PVCs are still seen as mounted on non-existing nodes.

Once the driver pods are cycled, dns resolution is working again, and we can create/delete PVCs/PVs with no issues.

[2021-07-22 02:35] akaroth opened #983 "Implement NodeGetVolumeStat"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Our project deals with a lot of statefulset and has underlying PVC's which needs to be upgraded for volume . To automate this process there are dynamic PVC resizer's available , however they depend on the ```NodeGetVolumeStat``` function

[2021-07-22 05:03] khushboo121 opened #984 "CSI driver unable to provision volume with instance profile."
/kind bug
Issue started happing once we move to aws.ebs.csi driver from v0.8.1 to v0.10.1.
eks version: v1.18.9

[code]

Created the role  for required permission to. created volume and attached to ec2-instance as instance profile, with 0.8.1 version everything is working fine driver can create both static and dynamic volume but when we move to version 0.10.1 it starting giving the above error.

D

[2021-07-22 14:17] stevehipwell opened #985 "[chart] Add updateStrategy to chart for daemonsets"
**Is your feature request related to a problem?/Why is this needed**
There is no way to set the `updateStrategy` for the daemonsets which means that a node upgrade can only happen as fast as this daemonset can restart. For example the aws-vpc-cni already has this [functionality](https://github.com/aws/eks-charts/blob/a46497dc49804fd0cb985cf8ce8e7ba8745819fc/stable/aws-vpc-cni/values.yaml#L103).

*

[2021-07-26 00:51] RCarretta opened #993 "aws-ebs-csi-driver v1.1.3 is defined in kustomization release-1.1 branch but doesn't exist in registry"
/kind bug

**What happened?**
`aws-ebs-csi-driver` was updated to v1.1.3, but that version doesn't exist in the registry. This is causing deployments using the `release-1.1` branch kustomization.yaml to fail.

**What you expected to happen?**
Either `aws-ebs-csi-driver:v1.1.3` should be pushed or the kustomization.yaml reverted to express v1.1.2

**How to reproduce it (as minimally and precisely a

[2021-07-26 00:55] RCarretta commented on #993
[code]

[code]
[code]

[2021-07-26 02:02] TheRealDwright commented on #993
Looks like an issue with [this release](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/actions/runs/1053458461)

[2021-07-26 07:24] SaltedEggIndomee commented on #993
Maybe update the instruction on the Wiki first to use the older version.

I'm surprised that a simple test for the new release, to pull the images, was not done when the instructions was updated.

[2021-07-26 17:04] AndyXiangLi commented on #983
Hi @akaroth, what version of driver are you using? We already have NodeGetVolumeStat implemented in version 0.9.0
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/release-0.9/pkg/driver/node.go#L387

[2021-07-26 18:13] #761 closed

[2021-07-26 18:13] #714 closed

[2021-07-26 19:14] #763 closed

[2021-07-26 19:40] wongma7 commented on #993
no, there is no test. we're pushing https://github.com/kubernetes/k8s.io/pull/2394.

Despite the name behind this repo, please understand at the end of the day there's only 1 or 2 maintainers and we make mistakes, especially when trying to push out time sensitive security release. Friday afternoon was not the right time to do it.

[2021-07-26 19:58] #993 closed

[2021-07-26 20:17] wongma7 commented on #993
I'll work on updating the ordering of the process so that this is impossible (for real) to occur again.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/RELEASE.md

We already fixed it for the helm chart such that it doesn't get released until after the image exist, but the same guarantee doesn't exist for kustomize if the release branch already exists and is already documen

[2021-07-26 20:20] wongma7 opened #994 "Ensure kustomize does not get updated until after image is available in all registries."
/kind bug

**What happened?** For 1.1.3, (and to lesser extent all other bugfix releases), the kustomize template was updated before the image was actually in GCR.

Update the release process so that the kustomize template PR gets merged AFTER the image builds succeed https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/RELEASE.md.

The same problem used to exist for helm and we

[2021-07-26 20:21] wongma7 commented on #994
BTW, I think it's an oversight because for a minor version 1.y.0 release, of course you are creating the release-1.y branch for the first time, so there is no harm in merging the kustomize template before changing the master branch kustomize command to point to the release-1.y branch.

But for a patch 1.y.x release, the master branch kustomize command already points to the release-1.y branch so we

[2021-07-27 16:15] devinnasar opened #996 "Add dynamic name tag to volumes created via CSI driver"
**Is your feature request related to a problem?/Why is this needed**

One thing I notice is that the in-tree driver seems to create a Name tag for EBS volumes equal to 'kubernetes-dynamic-<pvc-name>'. I'm not seeing a means of being able to get a dynamic Name tag into the application at present.

**Describe the solution you'd like in detail**
If the driver created a Name tag equal to 'kubernetes-d

[2021-07-27 19:53] tigerpeng2001 opened #997 "gp3"
/kind bug

**What happened?**
Sometimes, gp3 volume creation hangs with kubectl describe pvc message:
`"Normal  ExternalProvisioning  5s (x18 over 3m54s)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "ebs.csi.aws.com" or manually created by system administrator`

**What you expected to happen?**
The volume created (in a reasonable time).

**How to

[2021-07-27 20:09] tigerpeng2001 commented on #997
clean up the hanging pvc, delete storageClass; and rerun kubectl apply of the driver fix the issue.

[2021-07-28 00:47] #165 closed

[2021-07-28 06:09] rubroboletus opened #1000 "v1.2.0 released, Changelog still talking about 1.1.3"
**Is your feature request related to a problem?/Why is this needed**
I'm always frustrated when new release appears, mentions Changelog for list of changes and in Changelog is ZERO about that version. Is it possible to really list changes before making release?

/feature

**Describe the solution you'd like in detail**
Is it possible to really list changes before making release?

**Describe alterna

[2021-07-28 13:46] dschunack opened #1001 "Windows CSI Node DaemonSet is not Running/ErrImagePull"
/kind bug

**What happened?**
Windows CSI Node DaemonSet is not running due to an wrong Image without windows support for windows/amd64.

Looks for me that it was not tested on EKS Windows Nodes.

[code]

**What you expected to happen?**
Running Windows CSI Node DaemonSet

**How to reproduce it (as minimally and precisely as possible)?**
Activate windows support in helm chart and spin up a Windows

[2021-07-28 17:14] sebastien-rosset opened #1002 "Documentation discrepancies between github.com and kubernetes.io"
**Is your feature request related to a problem?/Why is this needed**

The documentation for the EBS CSI provider has discrepancies between the two locations below:
1. The K8s storage class doc: https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs
1. This aws-ebs-csi-driver github repo: https://github.com/kubernetes-sigs/aws-ebs-csi-driver#createvolume-parameters

Documentation Issu

[2021-07-28 20:37] wongma7 commented on #1002
https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs is not documenting the CSI driver, it's documenting the "in-tree" driver whose code is embedded in kubernetes at https://github.com/kubernetes/kubernetes/tree/master/pkg/volume/awsebs.

The storageclass parameters are not 100% compatible and there are no plans to add parameters that exist in the CSI one back in to the in-tree one

[2021-07-28 20:41] wongma7 commented on #1001
Sorry, we checked in the node daemonset without actually releasing the image for it I added a disclaimer here that it's in pre-release state https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/windows#windows but ideally the chart shouldn't offer the option to install something that doesn't even exist yet.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pul

[2021-07-29 11:24] dschunack commented on #1001
Hi,

thanks for this info. We saw the option in the helm chart and we don't saw anything in the README.md that it is not finished yet. Now it's clear and we will wait on the new release.

[2021-07-29 20:39] #994 closed

[2021-07-29 22:02] zerkms commented on #399
/remove-lifecycle stale

[2021-07-30 16:50] AndyXiangLi commented on #996
We are aware of this the tag issue. Can you take a look at #180 see if this address your issue?

[2021-07-30 20:43] #985 closed

[2021-07-30 23:15] #627 closed

[2021-07-31 16:09] dguendisch opened #1007 "Restart of kubelet leads to duplicated mount entries"
/kind bug

**What happened?**
Having a pod (from a statefulset) with a pv running on some node, when I restart kubelet, the mountpoints are suddenly duplicated.
I could reproduce this 100% of the time with aws-ebs-csi-driver 1.1.0 (independent of k8s version).
No mountpoints are duplicated e.g. on gcp or azure (with their resp. csi drivers).

**What you expected to happen?**
No duplicated mountpoi

[2021-08-02 16:59] AndyXiangLi commented on #984
@khushboo121 Since you are on EKS, can you try this [page](https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html) to setup trust-policy for the cluster?

[2021-08-02 17:01] wongma7 commented on #1007
seems like neither our NodeStage nor NodePublish are idempotent. NodePublish not being idempotent is known issue https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/955, NodeStage I don't understand why yet but will repro and try.

[2021-08-02 18:05] nirmalaagash commented on #1007
/assign nirmalaagash

[2021-08-02 18:32] AndyXiangLi commented on #1000
Hi @rubroboletus, we understand that. Release changelog is available in the release branch before the image build/publish (branch release-1.2 in this case). And once image build/publish completed, we will merge the changelog back to master branch. As the image build/publish may take hours, it may introduce confusion during this gap.

[2021-08-04 06:14] DevOpserzhao opened #1009 "china arm"
/kind bug

**What happened?**
 Failed to pull image "961992271922.dkr.ecr.cn-northwest-1.amazonaws.com.cn/eks/aws-ebs-csi-driver:v1.2.0": rpc error: code = Unknown desc = no matching manifest for linux/arm64/v8 in the manifest list entries

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kub

[2021-08-04 06:27] yuswift commented on #1009
/kind support
/remove-kind bug

[2021-08-04 07:52] DevOpserzhao commented on #1009
please help me

 Failed to pull image "961992271922.dkr.ecr.cn-northwest-1.amazonaws.com.cn/eks/aws-ebs-csi-driver:v1.2.0": rpc error: code = Unknown desc = no matching manifest for linux/arm64/v8 in the manifest list entries

[2021-08-04 16:02] DevOpserzhao opened #1010 ": could not create volume in EC2: WebIdentityErr: failed to retrieve credentials caused by: AccessDenied: Not authorized to perform sts:AssumeRoleWithWebIdentity"
/kind bug

**What happened?**
: could not create volume in EC2: WebIdentityErr: failed to retrieve credentials
caused by: AccessDenied: Not authorized to perform sts:AssumeRoleWithWebIdentity
          status code: 403, request id: 2550e4a3-f66a-4a6c-8080-47a7787e8bd3

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to kn

[2021-08-04 16:25] krmichel commented on #1010
/remove-kind bug
/kind support

Are you using IAM roles for service accounts?  If so, is your assume role policy configured correctly?

[2021-08-04 21:55] AlexZhenWang commented on #426
I am on 1.17, but still get the same issue, can we reopen this issue?

[2021-08-04 22:00] wongma7 opened #1011 "Replace GCR build with public ECR"
**Is your feature request related to a problem?/Why is this needed**

/feature

**Describe the solution you'd like in detail**

We started pushing to GCR in addition to docker hub, with plan for it to replace docker hub, due to docker hub throttling policy that came around oct/nov 2020. Then public ECR got released in dec 2020, so let's move from GCR to public ECR.

This will simplify our image bu

[2021-08-04 22:15] AlexZhenWang opened #1012 "Volume snapshot is always not ready to use on k8s 1.19"
/kind bug

**What happened?**

I installed EBS CSI driver followed https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html.
Also, I installed v2.1.5 Snapshot Beta CRDs and Common Snapshot Controller following https://github.com/kubernetes-csi/external-snapshotter/tree/v2.1.5
Then I run this example https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot

[2021-08-05 15:02] MilanDasek opened #1014 "AWS tags for PVCs"
Hello,

Is it possible to add PVC tag annotation(s), which would be picked by the driver and added to particular EBS volume - like this tool does - https://github.com/mtougeron/k8s-aws-ebs-tagger

I mean to be able to tag individual volumes, on top of "same tags for all" like it is supported now.

Thank you.

[2021-08-05 18:16] wongma7 commented on #1014
no, because the driver only knows the PVC namespace/name and PV name. It might be possible in future but would require changes in our dependency  https://github.com/kubernetes-csi/external-provisioner/blob/74d3c4c26f3d9115f6c157dd81c4594025daeb0a/pkg/controller/controller.go#L690-L695

Also there are some security/permission issues with letting PVC user dictate tags but I understand that's a trade

[2021-08-05 22:34] AndyXiangLi commented on #1010
For reference: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

[2021-08-06 01:14] #783 closed

[2021-08-06 15:16] #785 closed

[2021-08-09 02:35] #654 closed

[2021-08-09 09:37] dschunack commented on #1001
@wongma7 Hi, you released a new Container [image ](https://gallery.ecr.aws/b5w6x5z2/aws-ebs-csi-driver) that support Windows and Linux, but make it really sense to put a Linux and Windows Layer in a single Container Image that supports multi OS?
We running currently more then 600 Linux EKS nodes(arm64/amd64) and 30 Windows Nodes. It makes absolute sense to support multi arch in the Container Image

[2021-08-09 17:39] AndyXiangLi commented on #1012
Hi @AlexZhenWang, Can you see any log related to snapshot in the driver log by running
[code]
If you don't see that, try to find the log from csi-snapshotter see if snapshotter get the request from `ebs-snapshot-controller`.

[2021-08-09 18:02] wongma7 commented on #1001
@dschunack the container runtime (docker) should only pull the image that corresponds to the OS your container is running on.  even though on ECR or Docker Hub it says the image is 2+GB, your Linux Nodes won't bother to pull the 2 GB windows images, so there's no need to worry.

Basically now the tag is referring to a manifest list or "fat manifest", which links to multiple images. Docker knows ho

[2021-08-09 20:54] AndyXiangLi commented on #1009
Hi @DevOpserzhao
For v1.20 we don't have arm ecr image. Totally understand the inconvenience and we will build arm ecr image start from v1.2.1
Meantime, you can use the image `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.2.0` which support arm.

[2021-08-09 21:00] Noam-greenberrg commented on #738
Experienced same issue and EBS (AWS) 200Gb disk
MountVolume.MountDevice failed for volume "pvc-XXXXXXXXXXXXXXXXX" : rpc error: code = Internal desc = could not format "/dev/xvdba" and mount it at "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-XXXXXXXXXXXXXXXXX/globalmount": mount failed: exit status 32

any one can help ??

[2021-08-10 02:27] groodt commented on #821
I've tried to deploy v1.2.0 on my cluster and it fails with the same error above.

[code]

Any thoughts @wongma7

[2021-08-10 02:32] groodt commented on #821
I think there might be a `ClusterRoleBinding` missing for ebs-csi-node-sa

[2021-08-10 23:14] nirmalaagash commented on #1007
@dguendisch Not able to reproduce the issue. Can you give me some more details

[2021-08-10 23:15] nirmalaagash commented on #1012
/assign nirmalaagash

[2021-08-11 00:36] nirmalaagash commented on #1012
Uninstall the existing csi driver from the cluster.
Clone the CSI Driver([link](https://github.com/kubernetes-sigs/aws-ebs-csi-driver)) to your local machine and delete the line [186](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/controller.yaml#L186) and [208](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/e7267f434a0129e2b4f15e2

[2021-08-11 00:37] AlexZhenWang commented on #1012
Thank you @nirmalaagash, let me try it

[2021-08-11 06:17] dguendisch commented on #1007
I'm happy to detail out, but from the comment I don't know which part you are not able to reproduce? So you applied all steps from my reproduction details and don't see a duplicate mount or what exactly do you mean @nirmalaagash ?

[2021-08-11 08:04] CarlosRDomin commented on #821
Indeed, that was our problem too, as @groodt points out: the [base folder](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/deploy/kubernetes/base) contains a `clusterrole-csi-node.yaml` and `clusterrolebinding-csi-node.yaml`, but they're not included in the `kustomization.yaml` for some reason. Once manually deployed our error went away :)

[2021-08-11 13:31] ArchiFleKs commented on #935
Same issue here, working out of the box with `encrypted: true` using the default KMS but not with custom KMS

[2021-08-11 20:14] nirmalaagash commented on #1007
@dguendisch I tried implementing all the steps that you mentioned in the issue but I am not able to see a duplicate mount.
Here's what I did.
Kubernetes version:

Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T20:59:07Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"linux/

[2021-08-12 09:43] dguendisch commented on #1007
Are you sure that you're actually using csi? Your mount location `/var/lib/kubelet/plugins/kubernetes.io/aws-ebs/mounts` makes me think you're using intree volume provisioning (which doesn't duplicate mounts...)

[2021-08-12 13:51] bertinatto commented on #1007
@dguendisch it seems like the version v1.1.0 that you're using doesn't have [this fix](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/924).

Would you be able to re-check with a newer driver version, like v1.1.1?

[2021-08-12 21:14] bertinatto commented on #1007
Regarding `NodePublishVolume`, we can tell from the logs that it's clearly bind-mounting the volume twice, so this should be fixed. @nirmalaagash is trying to fix it with https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1019.

As for `NodeStageVolume`, it seems like it's early-returning and avoiding the double-mount: `NodeStageVolume: volume="vol-0e8d8727f56f0565b" already staged`. So it

[2021-08-13 01:48] groodt commented on #821
I've raised this https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1021 to hopefully address this problem.

[2021-08-13 07:26] imbohyun1 opened #1022 "CreateVolume API continues to be requested even after related objects are deleted on v1.2.0"
/kind bug

**What happened?**

Tried to create PV encrypted by KMS key with PVC and it got failed because of the permission issue. After the first attempt at CreateVolume failed, I could see the controller retrying to create the volume and failing over and over again.

From the second try, CreateVolume failed with InternalError, I have checked the internal log that the error occurred because the c

[2021-08-13 08:15] manosoft opened #1023 "Unable to create PVC from snapshot if G is used as size instead of Gi"
/kind bug

**What happened?**
I want to clone my existing application for test purpose.
I'm following below steps

Create snapshot of existing PVC
Create PVC from snapshots
Start clone application using PVC from step 2
At step 2, I see below error and PVC creation fails.

failed to provision volume with StorageClass "ebs-sc": error getting handle for DataSource Type VolumeSnapshot by Name snap001:

[2021-08-13 18:50] ArchiFleKs commented on #935
Manage to get it to work here with KMS key handling in Terraform: https://github.com/particuleio/terraform-kubernetes-addons/blob/main/modules/aws/aws-ebs-csi-driver.tf

[2021-08-13 20:27] nirmalaagash commented on #1007
@dguendisch I am able to reproduce the issue now. Working on it #1019.

[2021-08-15 16:13] jdziat opened #1024 "Unable to use EKS IAM role"
/kind bug

**What happened?**
When using IAM role and policy with a helm chart I get the below error:
[code]
Same Policy works when using a kubernetes secret with the aws key and secret.

**What you expected to happen?**
The role should be used successfully when attempting to perform the operation.

**How to reproduce it (as minimally and precisely as possible)?**
Attempt to create and use the IAM

[2021-08-16 17:43] vdhanan commented on #1023
to clarify, are you expecting G and Gi to be the same size?

[2021-08-16 20:30] manosoft commented on #1023
No, I expect PVC creation from VolumeSnapshot to be successful if I use G as size.

[2021-08-17 18:24] wongma7 commented on #837
/remove-lifecycle rotten

[2021-08-18 16:47] shanecunningham opened #1027 "Pods using ephemeral volumes stuck terminating after kubelet restart"
/kind bug

**What happened?**

After a k8s in-place upgrade pods with ephemeral volumes were stuck in terminating state after a delete.

**What you expected to happen?**

Ephemeral volume pods to delete properly.

**How to reproduce it (as minimally and precisely as possible)?**

Deploy a pod using ephemeral volume, restart kubelet on the host, delete the pod.

**Anything else we need to know?**:

[2021-08-18 23:01] yrsurya opened #1028 "EKS EBS Multi attach"
Like to know if this csi driver supports multi attaching ebs volumes that AWS released recently - https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volumes-multi.html

use case , we had use case where stateless application downloads video files ( approx 100 GB or more ) to eks pods where it storing in ebs volume that attached to nodes .

we are looking to utilizing ebs csi driver to dynamica

[2021-08-19 18:58] wongma7 commented on #1022
Did you mean to link https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/982 ?

The logs are coming from the external provisioner controller library. However the version of external-provisioner/csi-provisioner sidecar is the same (v2.1.1) for driver versions 1.1-1.2.
The library intentionally ignores PVC deletion events https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner

[2021-08-20 03:09] nirmalaagash commented on #1024
@jdziat Can you please share the input values that you used when creating using [terraform](https://raw.githubusercontent.com/kubernetes-sigs/aws-ebs-csi-driver/master/docs/example-iam-policy.json) and can you confirm the [policy](https://raw.githubusercontent.com/kubernetes-sigs/aws-ebs-csi-driver/master/docs/example-iam-policy.json) that you used?

[2021-08-20 06:12] #795 closed

[2021-08-20 17:19] #810 closed

[2021-08-20 19:49] tsunamishaun opened #1030 "Startup Dependency No CSINode Data"
/kind bug

**What happened?**
We recently started using karpenter to provision nodes. Since Karpenter overrides the built in scheduler it is able to frontload and startup pods that were pending schedule first.  Other necessary pods like ebs-csi-node and aws-node arrive about a minute later.  We believe it is during this gap that the controller tries to read csiNode for topology properties which it

[2021-08-22 06:42] resec opened #1031 "[Helm Chart][Feature] Node Affinity Support For Node Pod"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have hundreds of nano nodes in my cluster, and they do not need mounting volumes. As the node is very small, resource on it is precious. While there are many other types of nodes in my cluster, on which it is common to have the node pod

[2021-08-23 14:10] hywook4 commented on #180
Hi @wongma7
I'm trying to add dynamic extraVolumeTags using the metadata that CSI driver can access.
I'm using helm to deploy the Daemonset. Could you help me how to use the metadata to add custom volume tag?
For example.
I'd like to add Name tag so

`extraVolumeTags:
  Name: {{namespace}}-{{name}}`
And namespace and name would be the metadata that CSI driver can access. Could you give me guide fo

[2021-08-23 16:21] imbohyun1 commented on #1022
@wongma7

yes, I could see the new pvc was provisioning while the driver was printing this error, so as the test progressed, the number of `CreateVolumes` requests to create pvcs increased and the deleted pvcs continued to call `CreateVolume` as well.
It's not only sending kubernetes API requests, but also it was actually sending `CreateVolume` API. I was able to confirm with CloudTrail.

By the w

[2021-08-24 13:02] vtomasr5 commented on #1024
Hi,

I see the same problem.
I'm using:
* EKS 1.21
* Helm chart aws-ebs-csi-driver v2.1.0

Role policy:
[code]

I also tried the example https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/example-iam-policy.json with the same result.

[2021-08-24 20:33] nirmalaagash commented on #1027
@shanecunningham Thanks for bringing this up. I am afraid I was not able to see any logs from the csi_attacher.go or nestedpendingoperations.go. Can you please check if you were using in-tree driver by any chance. Are those kubelet logs and can you please explain where you got those logs from?
Otherwise, I tried to reproduce the issue and the pod got stuck at terminating after deletion. Later, I t

[2021-08-25 06:23] vtomasr5 commented on #1024
BTW, using the helm chart 1.2.x it works fine with either IAM policy.

[2021-08-25 13:57] jdziat commented on #1024
Thanks @vtomasr5

@nirmalaagash i can make a gist of the terraform module i've created it's not the most condensed thing. Also the secret name should be customizable since all the aws-csi charts use that same name it leads to conflict and possible collisions.

[2021-08-25 14:49] khushboo121 commented on #763
@shivani-hotstar I am also facing same issue while provisioning EBS volume.
Did you get any solution to resolve the issue?

[2021-08-25 17:21] codyharris-h2o-ai opened #1032 "Volume Goes from Detatching to Busy"
/kind bug

**What happened?**
Restarting a pod on one node ("A") caused the pod to move to a different node ("B").  The volume did not properly detach from node A and thus the pod will not start on node B.

Logs:
[code]

**What you expected to happen?**
The volume detatches without requiring a force detatch

**How to reproduce it (as minimally and precisely as possible)?**
Using:
* k8s.gcr.io/prov

[2021-08-27 13:33] Ankitasw opened #1033 "No permissions to create EBS volumes if the EBS controllers are installed in all the nodes in cluster"
/kind feature

**What happened?**
Installed the EBS CSI driver as add-on to the AWS cluster, then tried creating the EBS volumes using statefulsets, but the statefulset pods failed to run with the below error:
`could not create volume in EC2: UnauthorizedOperation: You are not authorized to perform this operation`

**What you expected to happen?**
The volume creation should have been successful us

[2021-08-27 23:06] nirmalaagash commented on #1024
@jdziat I tried creating the iam role using the terraform registry [module](https://registry.terraform.io/modules/terraform-aws-modules/iam/aws/latest/submodules/iam-assumable-role-with-oidc). I did not face any issue in creating a volume.
Please ensure you provide these required inputs for the terraform,

- provider_url `<OIDC Provider URL from the Cluster>`
- role_policy_arns `<ARN of the policy

[2021-08-27 23:52] yang opened #1034 "Setup docs don't work"
/kind bug

**What happened?**

I followed the installation docs here, with Helm, running on EKS:

https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

From Helm I got:

[code]

**What you expected to happen?**

Success.

**How to reproduce it (as minimally and precisely as possible)?**

Follow the docs.

[2021-08-29 02:57] nirmalaagash commented on #1034
@yang I think the service account 'ebs-csi-controller-sa' is already up in the cluster and you are trying to run create the service account once again using the helm install.

Try running the helm install command without

[2021-08-29 05:21] yang commented on #1034
Yeah, that's the issue I'm pointing out - it was already created by eksctl.

See https://github.com/weaveworks/eksctl/issues/3912 for another report of this bug.

[2021-08-29 22:07] krmichel commented on #1034
This is the way helm works.  It either manages a resource or it doesn't.  If eksctl created the resource then helm isn't managing it.  Since you already have a service account that you want to use and its name matches the default name in the chart, just set the creation for the service account to false when running the helm command.

`--set controller.serviceAccount.create=false`

[2021-08-30 06:44] yang commented on #1034
Setting `serviceAccount.controller.create=false` was the first thing I tried, but from your snippet I see the docs have a different setting than what's in values.yaml.

[2021-08-30 13:02] Ankitasw commented on #1033
I can help fix this, if someone confirms the issue and the fix suggested

[2021-08-30 18:05] vdhanan commented on #1030
/assign

[2021-08-30 18:19] nirmalaagash commented on #1033
/assign @nirmalaagash

[2021-08-30 22:36] nirmalaagash commented on #1033
@Ankitasw Can you confirm the IAM [policy](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/example-iam-policy.json) that you have attached? Did you attach it to the service account IAM role or directly to the EC2 nodes where csi driver is installed? Because I do not see the same error as yours, I have my policy attached to the cluster nodes.

[2021-08-30 23:53] krmichel commented on #1034
The chart has been updated and those referenced docs were not.  I am not sure where those docs live or who maintains them.  Starting with chart version 2.0.0 `controller.serviceAccount.create` is the value you will want to set.

[2021-08-30 23:59] yang commented on #1034
OK, sorry for the noise then - I thought perhaps this would be the place to report the docs issue!

[2021-08-30 23:59] #1034 closed

[2021-08-31 00:09] nirmalaagash commented on #1034
@yang Thanks for pointing this out. The team will soon update the AWS [docs](https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html).

[2021-08-31 05:09] Ankitasw commented on #1033
The cluster worker nodes should have least permissions do perform any operation, right? If i attach these policies to the worker nodes to create volume, then definitely it works, but we actually want EBS CSI driver controller to run in control plane nodes and not in worker nodes.
cc @randomvariable

[2021-08-31 08:19] pallabganai commented on #474
[code]
I am getting the above error when configured Amazon EBS CSI driver to setup PersistentVolumeClaim in Fargate. I believe it is the same issue. Is there any workaround available?

[2021-08-31 08:51] groodt commented on #474
I'm not sure if this is likely to work for Fargate, but you could try the recent manifest that removes `hostNetwork` access.

[code]

[2021-08-31 10:15] randomvariable commented on #1033
Hi @nirmalaagash

In https://github.com/kubernetes-sigs/cluster-api-provider-aws, we only provision control plane nodes with an IAM role with the EBS controller permissions, as giving worker nodes additional permissions for EBS snapshotting etc... may not be ideal. However, we're aware that not all Kubernetes clusters on AWS will be set up the same way (e.g. using IRSA), so I would propose the fol

[2021-08-31 21:34] nirmalaagash commented on #1033
/remove-kind bug
/kind feature

[2021-08-31 22:55] rmvangun opened #1036 "Parameters on this idempotent request are inconsistent with parameters used in previous request"
/kind bug

**What happened?**
I'm trying to create a new persistent volume and attach it to a pod. The data source for the pvc is a VolumeSnapshot that I have manually created in the cluster based on a snapshot that was created and shared from another account. I create a brand new PVC (new name, etc.) that points to this VolumeSnapshot datasource, and get the following:

`Warning  ProvisioningFail

[2021-09-01 01:25] nirmalaagash commented on #1036
@rmvangun I tried to re-create the issue(created the snapshot manually from the same AWS account as the cluster nodes). From the steps in reproduce, it looks like you are using the storageclass which does not have the field `encrypted:true` (but your snapshot is encrypted)
Please follow the steps mentioned in the [link](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kub

[2021-09-01 02:14] lyuda26 commented on #611
Hi @ayberk , @AndyXiangLi, may I know whether static-provisioning is working on EKS cluster? I encounter the same "Instance xxx not found" issue in static-provisioning. However the dynamic-provisioning works for me. I'm using Kubernetes version 1.20 on EKS cluster and have followed the instructions from EBS Driver installation guide using manifest file. Thank you.

[2021-09-01 03:15] rmvangun commented on #1036
This was related! It turns out that the volume was being momentarily created but then failed to encrypt, which eventually I determined from the logs. I had to take the extra step of sending EBS Cloudwatch Events to a Cloudwatch Log Group so I could get those extra KMS related error messages. There were multiple issues related to KMS permissions. In particular, I needed to add some KMS Grant relate

[2021-09-01 03:15] #1036 closed

[2021-09-01 15:48] voroninman commented on #1028
A duplicate of https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/449.

[2021-09-01 23:13] Kaelten commented on #1024
I was having a similar sounding issue, I was able to use this values file with the helm chart to get things working.

[code]
The role arn is the result of running this CFN snippet...

[code]

[2021-09-02 10:53] ialidzhikov opened #1038 "could not create volume in EC2: InvalidParameterValue: Client token must be less than or equal to 64 characters"
/kind bug
/kind regression

**What happened?**
After upgrade from aws-ebs-csi-driver@v1.1.1 to aws-ebs-csi-driver@v1.2.0, PVC creation fails with

[code]

The PR introduces the regression seems to be https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/982 (cc @AndyXiangLi).

**What you expected to happen?**
PVC creation to work with aws-ebs-csi-driver@v1.2.0.

**How to reproduce it (as mini

[2021-09-02 13:25] pierluigilenoci commented on #586
@wongma7 @krmichel @nirmalaagash could you please take a look?

[2021-09-02 14:43] jyaworski opened #1040 "[Helm Chart][Feature] Allow Setting Custom imagePullPolicy for csi-resizer"
**Is your feature request related to a problem?/Why is this needed**
We cache images on our worker nodes and would like to use that cache when possible. `imagePullPolicy: Always` doesn't allow us to do that.

/feature

**Describe the solution you'd like in detail**
I would like to have the ability to set the CSI Resizer imagePullPolicy.

**Describe alternatives you've considered**
None

**Addition

[2021-09-02 17:45] dghubble commented on #950
Helm has [declined](https://github.com/helm/helm/issues/3553) to provide a solution, so many charts have [started populating](https://github.com/istio/istio/pull/4606) the namespace to address this, as the OP is requesting. The use case is simply - those using `heml template` expect fully declarative manifests. While `kubectl` happens to have an imperative `-n foo` flag, there are other systems to

[2021-09-02 23:35] wongma7 commented on #1040
yes feel free to file a PR to remove this line, I am not sure why it is there when all the other sidecars don't specify an imagePullPolicy, the PR will be approved.

(in addition, I suppose each sidecar should have a sidecars.*.pullPolicy field. But removing this line does not preclude adding a a sidecars.*.pullPolicy field later.)

[2021-09-03 16:41] #1038 closed

[2021-09-03 22:05] #706 closed

[2021-09-06 11:55] iusergii opened #1044 ""Warning" LogLevel for LivenessProbe"
**Is your feature request related to a problem?/Why is this needed**
I'd like to have an option to turn LivenessProbe to "Warning" mode. Currently, it generates a message every 10 seconds.  This creates a lot of entries in my logging system.

/feature

**Describe the solution you'd like in detail**
I'd like to have only warning, error messages in the log output.

**Describe alternatives you've con

[2021-09-08 03:20] amirkhonov commented on #877
/remove-lifecycle rotten

[2021-09-08 16:14] shanecunningham commented on #1027
@nirmalaagash Thank you for looking into this. My logs were all from kubelet. I'm not using in-tree, I'm seeing this problem across both migrated volumes and new volumes created with the CSI driver.

I tested the newest release v.1.2.0 and fix #1019 seems to partially fix it. If I manually restart kubelet on a node with a pod using a volume, the pod still hangs stuck on terminating. I see the same

[2021-09-08 17:13] nirmalaagash commented on #1027
@shanecunningham help me reproduce this issue. Can you please explain the steps in detail? (manifest that you used to create ephemeral volume, storage class, log level on each containers, how you collected those kubelet logs)

[2021-09-08 18:17] shanecunningham commented on #1027
@nirmalaagash Since I posted this issue I've confirmed it's happening on all volumes, not just ephemeral. But I'll outline steps for ephemeral volumes.

1. Manifest used

[code]

2. StorageClass

[code]

3. SSH to the worker node running the pod
4. Restart kubelet on the worker node. `systemctl restart kubelet`. This produces the mount 32 errors logs in kubelet.
5. Delete the pod. Pod is hanging o

[2021-09-08 18:19] nirmalaagash commented on #1027
Thanks @shanecunningham I'll look into it.

[2021-09-08 20:21] wongma7 opened #1046 "Windows build + e2e test PR CI job"
/kind bug

**What happened?**
there is no windows image released yet. It failed to build for 1.1.4 and 1.2.1 release https://github.com/kubernetes-sigs/aws-ebs-csi-driver/runs/3508198636 https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images/1433832624371011584 and the issue was not caught.

I would like to add a  CI job that simply runs 'make windows/amd64' to test tha

[2021-09-08 21:23] nirmalaagash commented on #1044
@iusergii It looks like the message is from connection.go [file](https://github.com/kubernetes-csi/csi-lib-utils/blob/master/connection/connection.go#L154) which is being used by [liveness-probe](https://github.com/kubernetes-csi/livenessprobe/blob/master/cmd/livenessprobe/main.go#L98). I think you should try requesting this feature in [here](https://github.com/kubernetes-csi/livenessprobe).

[2021-09-08 22:00] wongma7 opened #1048 "[release-1.1]/[release-1.2] Prow GCR build is slow"
/kind bug

**What happened?**

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images timeouts

For comparison, the github action builds take about 15 minutes.

Possible mitigations, they r not mutually exclusive
1. Stop building the debian variant, only build amazonlinux variant. This was planned for 1.3.x but we can "backport" this change to 1.1.x and 1.2.x bra

[2021-09-08 23:40] niroowns commented on #935
Can anyone point to what key actually gets selected by the provisioner when only `encrypted: true` is specified? I'm having a hard time finding a documented behavior here and the clusters I have seem to randomly select KMS keys.

[2021-09-09 01:38] wongma7 commented on #1048
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images/1435723992483762176

#21 [linux/arm64 builder 4/4] RUN make
#21 DONE 3424.7s

takes over an hour on prow but ~10m on github.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/actions/runs/1215072462

#14 [linux/arm64 builder 4/4] RUN make
#14 DONE 564.3s

Either way it is slow I think because we are building fo

[2021-09-09 06:23] vnhirenko opened #1050 "Failed to mount volume"
/kind bug

**What happened?**
EBS Driver failed to mount volume and create PVC

**What you expected to happen?**
Volume mount successful

**How to reproduce it (as minimally and precisely as possible)?**
insstall ebs-csi driver and create volume
**Anything else we need to know?**:
As I can see from cloudtrail, volume is creating and deleting
ex:
[code]

Here is the logs from provisioner

[code]

*

[2021-09-09 08:49] ialidzhikov commented on #1044
@iusergii , can the issue you facing with the livenessprobe sidecar be the same as https://github.com/kubernetes-csi/livenessprobe/issues/110? livenessprobe sidecar unnecessary verbose logging is fixed in `livenessprobe@v2.3.0`, see https://github.com/kubernetes-csi/livenessprobe/issues/110.

[2021-09-09 08:51] ialidzhikov commented on #1044
/triage needs-information

[2021-09-09 08:56] iusergii commented on #1001
@wongma7  It looks like 1.2.1 was released but still windows nodes can't pull the image `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.2.1`

[2021-09-09 18:48] wongma7 commented on #1048
Test started today at 10:40 AM passed after 1h4m6s. (more info)

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images/1436021635202158592

[2021-09-10 06:51] iusergii commented on #1044
@ialidzhikov , @nirmalaagash  thank you, guys. Yes my concern was about socket info
[code]
Verified on `livenessprobe@v2.3.0` and it doesn't have it. Shell we update default in helm chart?

[2021-09-10 06:56] ialidzhikov commented on #1044
In general, we can update the default livenessprobe version to v2.3.0. You should be able to pass the liveness probe image as chart value, so the update of the livenessprobe container should not be a blocker for you.

/remove triage/needs-information
/kind feature

[2021-09-10 06:59] ialidzhikov commented on #1044
/remove-triage needs-information

[2021-09-10 07:01] iusergii commented on #1044
@ialidzhikov  sure will do. It fixes my issue,
Just want to remove the image tag hardcode in the future to not miss new releases.

[2021-09-10 17:50] gregsidelinger commented on #679
I believe I'm seeing the same issues after upgrading from 1.19.6 to 1.20.9 too.  Granted I do no believe the volumes in question have been migrated.  As far as I can the kubetlet asks the CSI driver to unmount the volume, it logs that it does  but it is still mounted.  If I manually unmount the volume from the linux host kubelet will finish Terminating the pod or if I restart kubelet it will ask t

[2021-09-10 19:25] nirmalaagash commented on #1050
@vnhirenko How are you trying to create the volume? Can you please share the template, PVC, Storage Class. If you are trying to create a static provisioning, please make sure you provide the right Availability zone.

[2021-09-10 20:10] vnhirenko commented on #1050
It turned out that it was missed permissions for EBS role on ebs encryption KMS key.

[2021-09-10 20:10] #1050 closed

[2021-09-10 20:15] wongma7 opened #1057 "Move helm chart to aws/eks-charts"
same people will maintain the chart, just considering moving it to a different repo depending on what users expect/find most convenient.

pros:
- fewer helm repos for users to deal with
- decoupled release process (currently both helm chart and driver image releases show up in github releases page)
- simplified release process for maintainers (update image , then go to repo 2 and update helm chart

[2021-09-10 20:18] nirmalaagash commented on #1027
@shanecunningham Like you mentioned, I could see the issue of pod stuck at terminating with v1.2.0. Please use the release-1.2 [branch](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/release-1.2) which has recent aws-ebs-csi-driver v1.2.1 image tag. Below is the screenshot of the pod not stuck at terminating using v1.2.1. Let me know if this works.
![ss](https://user-images.githubuserc

[2021-09-10 20:39] shanecunningham commented on #1027
@nirmalaagash Yesterday I tried using the k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.2.1 image by editing the daemonset and was still seeing the pods get stuck. Let me try redeploying using the helm chart, looks like it was just updated for 1.2.1, maybe I missed a change somewhere else.

[2021-09-10 20:42] nirmalaagash commented on #1027
@shanecunningham You should edit both the deployment 'ebs-csi-controller' and daemonset 'ebs-csi-node' in kube-system namespace for the changes to reflect. Also, you can try it with the helm chat.

[2021-09-10 21:45] shanecunningham commented on #1027
@nirmalaagash Ah, I did forget the controllers. So I updated both to v1.2.1 and I can still reproduce this. After a kubelet restart there are the mounting errors being logged and the pod is never terminated until a kubelet restart.

[code]

[2021-09-10 22:20] shanecunningham commented on #1027
These logs are being repeated from the controllers ebs-plugin container.

[code]

[2021-09-10 22:25] shanecunningham commented on #679
@gregsidelinger This issue might also be relevant to you https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1027

I'm able to replicate this on all volumes, not just migrated or ephemeral. There's a fix in v.1.2.1 that is supposed to resolve this but after using that version I can still replicate the stuck pods terminating.

[2021-09-10 23:04] nirmalaagash commented on #1027
@shanecunningham From your logs, I could see that the problem is in the [NodeStageVolume](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/node.go#L211). But I have few things to clarify. I am not sure why there are two device names, /dev/nvme2n1 in both of the mount outputs and in last before line there is another device name /dev/nvme1n1. So I am not sure if there are

[2021-09-12 13:22] #798 closed

[2021-09-13 15:32] thetrendspider opened #1061 "issue in controller.yml"
after 3rd August update , i am facing while installing aws-ebs-csi-driver

I am getting this error :-

helm install -f ebs-csi-values.yml aws-ebs-csi-driver --namespace kube-system aws-ebs-csi-driver/aws-ebs-csi-driver --debug
install.go:178: [debug] Original chart version: ""
install.go:199: [debug] CHART PATH: C:\Users\502626~1\AppData\Local\Temp\helm\repository\aws-ebs-csi-driver-2.1.1.tgz

coa

[2021-09-13 17:45] vdhanan commented on #1061
could you please tell me what version of the csi driver you are trying to install? also, could you please provide the contents of the ebs-csi-values.yaml file that you're using for the install?

[2021-09-14 02:29] thetrendspider commented on #1061
NAME                                    CHART VERSION   APP VERSION     DESCRIPTION
aws-ebs-csi-driver/aws-ebs-csi-driver   2.1.1           1.2.1           A Helm chart for AWS EBS CSI Driver

and

ebs-csi-values.yml contenet -

# Default values for aws-ebs-csi-driver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: k8s.gcr.io/provider-a

[2021-09-14 12:04] krmichel commented on #1061
Will you please put your yaml into a code block? Without any of the whitespace, it makes it difficult to know what the yaml is actually saying.

[2021-09-14 12:17] thetrendspider commented on #1061
``# Default values for aws-ebs-csi-driver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.2.1
  tag: "v1.0.0"
  pullPolicy: IfNotPresent

sidecars:
  provisionerImage:
    repository: k8s.gcr.io/sig-storage/csi-provisioner
    tag: "v2.1.1"
  attacherImage:
    repository: k8s.gcr.io/sig-sto

[2021-09-15 00:10] ellistarn commented on #1030
I was able to reproduce this by following

https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html
and
https://karpenter.sh/docs/getting-started/

I'm noticing that my node has
[code]

I'm curious why the EBS CSI driver doesn't rely on the standard labels
[code]
and standard instance type
[code]
We should be able to avoid this race condition by using those properties of the node, which are s

[2021-09-15 00:54] wongma7 commented on #1030
Do you have logs from the controller (its ebs-plugin container or csi-provisioner container)? This bugfix looks kind of suspect but I'm not sure if it would fix this issue, https://github.com/kubernetes-csi/external-provisioner/pull/617, can you try the more recent external-provisioner:v2.2.2 which includes this bugfix and see if it works? (by replacing https://github.com/kubernetes-sigs/aws-ebs-c

[2021-09-15 09:15] harshdevl commented on #996
well i have very bad fix for this issue:
every time you make new volume you'll redeploy ebs-csi driver with extra-key tags suggested in README.md. this extra-key tag will be Name and value will be provided by config-map that will also be made directly.

i was using it with helm charts and i also had issue with naming EBS volumes in aws so i came with this solution.

Script that will deploy EBS-csi

[2021-09-15 09:44] harshdevl commented on #180
@hywook4
i think i might have fix for you

every time you make new volume you'll redeploy ebs-csi driver with extra-key tags suggested in README.md. this extra-key tag will be Name and value will be provided by config-map that will also be made directly.

i was using it with helm charts and i also had issue with naming EBS volumes in aws so i came with this solution.

Script that will deploy EBS-c

[2021-09-15 09:50] thetrendspider commented on #1061
i had put yaml code in code block ... please check

[2021-09-15 11:02] jordiprats commented on #180
the extraTags feature is nice for setting a global "default". Could it be possible to set tags using some labels/annotations on the PV/PVC?

[2021-09-15 21:55] ellistarn commented on #1030
Making some progress. Looks like I have a zonal issue now. Will resolve and report back:

[code]

[2021-09-15 22:00] ellistarn commented on #1030
Sorted out the zone.

Pod events:
[code]

Success!
[code]

[2021-09-15 22:03] ellistarn commented on #1030
Hey @tsunamishaun, this is working for cni version v2.2.2

[2021-09-16 08:08] #290 closed

[2021-09-16 23:21] #1040 closed

[2021-09-17 17:10] knkarthik opened #1065 "VolumeSnapshot always in CreatingSnapshot phase"
/kind bug

**What happened?**
I'm having the same issue as https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/871 even though my namespacing is correct for CR/CRB and SA ( I installed aws-ebs-csi-driver via Helm).
I'm following the [volume snapshot examples](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot) and volume snapshots just shows:

[

[2021-09-17 19:26] #816 closed

[2021-09-17 21:26] #833 closed

[2021-09-20 14:21] knkarthik commented on #1012
@AlexZhenWang Just wondering if you were able to get this working. I've a similar issue https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1065.

[2021-09-20 17:18] nirmalaagash commented on #1065
@knkarthik Did you enable external-snapshotter sidecar in your helm chart while installing?

[2021-09-20 18:02] knkarthik commented on #1065
@nirmalaagash Isn't it enabled by default according to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/fff6f53afbbe2138ecd8711aa38fa6c67b7698de/charts/aws-ebs-csi-driver/values.yaml#L28? Do I have to do anything extra? I saw enabling snapshots and resize in https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html#helm as well but I don't see the corresponding keys in values files.

[2021-09-20 18:02] #1065 closed

[2021-09-20 18:16] nirmalaagash commented on #1065
@knkarthik The chart got updated in PR #965 and snapshot installation is required as a prerequisite. AWS doc would be updated.

[2021-09-20 22:56] groodt commented on #821
I am happy to confirm that the YAML in the latest [v1.3.0](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/v1.3.0) release works successfully with IRSA and without `hostNetwork` access.

You can inspect the YAML via:
`kubectl kustomize "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/ecr?ref=v1.3.0" > aws-ebs-csi-driver.yaml`

I hope there are tests in pl

[2021-09-20 23:15] nirmalaagash commented on #1027
@shanecunningham I am still having trouble reproducing the issue. I tried enabling the feature gate "GenericEphemeralVolume=true" for the ephemeral volume to work in v1.20.x Kubernetes Cluster and tried the deployment. I was facing the below error.

Please provide the configuration used in the cluster like feature gates that are enabled and any other configuration made specific to the cluster.

[2021-09-20 23:33] wongma7 commented on #821
we have end-to-end tests for helm installations but not kustomize. The kustomize templates must be valid because they are generated from the helm equivalents but it is not enough for them to valid if they don't even get applied due to omission from kustomization.yaml

I think a separate issue should track this missing test. A new end-to-end test suite that executes the whole gamut of tests except

[2021-09-21 05:16] rubroboletus opened #1066 "4 days released v1.3.0, still no Changelog"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when new release appears without Changelog, but changelog id mentioned on release page.

**Describe the solution you'd like in detail**
I wanna to see a changelog, what new features / bugfixes come with new release.

**Describe alternatives you've considered**
Alternatively I can switch from AWS to Azure or Go

[2021-09-21 17:07] vdhanan commented on #1066
sorry for the delay. i'm going to merge the changes on the release 1.3 branch back to master today. in the meantime, you can see the Changelog here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/release-1.3/CHANGELOG-0.x.md

[2021-09-22 01:22] #1066 closed

[2021-09-22 17:16] nirmalaagash commented on #1023
@manosoft When you create a pod using `kubectl create -f 02-pod-create.yaml`, the volume that gets assigned is 1Gi instead of G. It is because the [CreateVolume](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateVolume.html) API expects size in terms of GiB (integers), thus the size is rounded off to GiB before the request is made. This makes the `RESTORESIZE` of snapshot from PVC t

[2021-09-22 23:00] wongma7 commented on #1001
v1.3.0 in GCR (but not ECR) should have a windows image now.

[2021-09-23 00:51] #1048 closed

[2021-09-23 06:20] arnitkun commented on #954
PVCs pending for me as well. Even the dynamic provisioning example does not seem to work for me. I am using manifests. I suspect I might be doing something wrong, but I have tried the instructions on the AWS EBS CSI docs multiple times.

[2021-09-24 07:49] iusergii commented on #1001
@wongma7 Updated my release with Helm Chart 2.2.1 and I can see Windows Image was successfully pulled on node:
[code]

But Pod is Error/CrashLoopBackOff state.  **ebs-plugin** containers fails
[code]

[2021-09-24 18:14] wongma7 commented on #1001
@iusergii is csi-proxy installed on the node? https://github.com/kubernetes-csi/csi-proxy check out https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/windows

[2021-09-24 18:36] vladislavPV opened #1071 "EBS drive not removed from AWS when Retain policy used"
/kind bug

I'm running manifest bellow to get a pod with ebs gp3 drive.
The pod is starting with EBS drive and it's running fine. Next I delete manifest, so everything is gone except pv which is expected with `Retain` policy. Now , when I'm trying to remove the PV I get error, but PV is removed from K8S only. AWS still have the drive in place.

ERROR:
[code]

MANIFEST:
[code]

**What you expected

[2021-09-24 19:58] wongma7 commented on #1071
This behavior is intended. The reclaim policy dictates what happens when you delete the PVC so since the reclaim policy is Retain, when you deleted the PVC the PV and its underlying EBS Volume were retained. And after that, you have to manually clean it up as described here https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain

[2021-09-24 20:38] knkarthik opened #1072 "Volume Snapshots across namespaces"
Hello, I want to use the volume snapshot feature of aws-ebs-csi-driver. I’ve my data in the `master` namespace which should be copied to other namespaces (namespaces are created when app is deployed to it by `argo`). I can use `VolumeSnapshot` to create snapshots of `master` but that can be restored only in the `master` namespace.

I can’t use `VolumeSnapshotContent` as it requires knowing the`sna

[2021-09-25 13:38] vladislavPV commented on #1071
Thank you for detailed answer! :)

[2021-09-25 13:38] #1071 closed

[2021-09-28 07:05] Noam-greenberrg commented on #954
HI i have same issue

"
ebs-csi-controller-955cc5f55-9ttgg csi-provisioner I0928 07:03:47.386456       1 controller.go:1332] provision "default/ebs-snapshot-restored-claim" class "ebs-sc": started
ebs-csi-controller-955cc5f55-9ttgg csi-provisioner I0928 07:03:47.386630       1 event.go:282] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"ebs-snapshot-restored-clai

[2021-09-28 10:58] noamgreen opened #1073 "snapshot from pvc is getting failed"
/kind bug

HI
try to restore Vol from snapshot using external-snapshotter and getting this error

" ebs-csi-controller-574c8fb7bf-4mfjb csi-provisioner W0928 10:43:31.003139 1 warnings.go:70] snapshot.storage.k8s.io/v1beta1 VolumeSnapshot is deprecated; use snapshot.storage.k8s.io/v1 VolumeSnapshot
ebs-csi-controller-574c8fb7bf-4mfjb csi-provisioner W0928 10:43:31.003224 1 controller.go:958] Retry

[2021-09-28 13:55] robbie-demuth commented on #1014
+1 to this as a feature request. Being able to tag EBS volumes / snapshots based on labels / annotations on Kubernetes resources would be extremely helpful for enabling cross-cluster restores w/out having to teach external systems to record persistent volume or volume snapshot content names

[2021-09-29 11:56] iusergii commented on #1001
@wongma7  I haven't. Sorry, my bad.

[2021-09-30 23:49] wongma7 opened #1076 "NodeStage might not always be idempotent for nitro instances"
/kind bug

**What happened?**

[code]

The logs aren't mine  and I am ASSUMING that /dev/xvdba is a symlink to /dev/nvme3n1. But from reading the code I think there is potential for a bug so I will try to reproduce and get my own logs.

The check here https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/c428c04c12717e2e5d6ea4e6128d06e0f378b32a/pkg/driver/node.go#L199-L202 seems faulty becaus

[2021-10-02 17:11] nicholasmhughes commented on #939
this will probably be OBE from a 1.22 release of EKS before anyone implements this...
/close

[2021-10-02 17:11] #939 closed

[2021-10-02 22:12] #760 closed

[2021-10-03 07:05] k1rk commented on #962
/remove-lifecycle stale

[2021-10-04 00:25] #696 closed

[2021-10-04 17:42] nirmalaagash commented on #1076
Similar to issue #1027

[2021-10-05 05:58] groodt commented on #821
I'm going to close this Issue now. For anybody who finds this issue via search, it was resolved in v1.3.0 and you can see my comments here:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/821#issuecomment-923413504

If you'd like to create a new issue to track an end-to-end test if you have not already @wongma7

[2021-10-05 05:58] #821 closed

[2021-10-05 10:06] vtomasr5 commented on #1024
You're right @nirmalaagash

In my case, I was missing the ServiceAccount annotation for the role. It works now with the v2.3.0

Thank you!

[2021-10-05 10:52] k1rk commented on #729
/remove-lifecycle stale

[2021-10-05 14:08] jdziat commented on #1024
In my case the kubernetes service-account-name had to match the role that I created.

[2021-10-05 14:08] #1024 closed

[2021-10-06 16:20] vmasule commented on #1001
@wongma7 Thanks for speedy response, following is I see in the logs. I  hope this helps.

[code]

[2021-10-06 16:35] vmasule commented on #1001
@wongma7 One thing I forgot to update is that, I fallowed all the step except building `cis-proxy.exe` from source as it was resulting into error on my Apple M1, so I found the `exe` here https://k8scsi.blob.core.windows.net/csi-proxy/master/binaries/csi-proxy.tar.gz and installed it on Windows nodes.

Is that version of CSI Proxy may be cause of above error?

[2021-10-06 18:04] dolisss commented on #954
@AndyXiangLi I still face this issue , do we know how can I resolve this?

[2021-10-06 18:47] vmasule commented on #1001
Thanks @wongma7, for your information I am using below helm chart

Repo: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
Version: 2.3.0
image.repository: amazon/aws-ebs-csi-driver
image.tag: v1.3.0

I hope this help, apart from this I also have seen and just now reproduced below intermittent error
[code]

When I describe the node I can see those topology labels already present on that node.

[2021-10-06 18:52] wongma7 commented on #1001
The node topology label issue sounds similar to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1030 , we have not solved the issue but can continue discussion there.

Thanks for the information, I will comment again whe n I have results of my repro attempt

[2021-10-07 00:06] wongma7 commented on #1076
The way to reproduce is to have a pod with an ebs csi volume mounted and restart kubelet. The instance must be nitro and kubelet must be >= 1.20. In 1.19 and below, kubelet checked if the dir is mounted for us before calling NodeStage. In 1.20 it called without checking, assuming our implementation is idempotent. Our implementation is really not due to this nitro-specific bug, so I'll submit a fix

[2021-10-07 09:27] vmasule commented on #1001
Thank you @wongma7 , I must say speed with which fix provided really surprised me in open source community. Will be watching for release notification.

[2021-10-07 19:46] wongma7 commented on #1001
it looks like a different issue, would it be possible to retrieve what the partitions on that volume look like? For example, if you can access powershell on that node the csi-proxy logs are from

Get-Disk -Number 7 | Get-Partition
PartitionNumber  DriveLetter Offset                                        Size Type
---------------  ----------- ------                                        ---- ----

[2021-10-07 19:52] vmasule commented on #1001
Actually, I terminated the node while ago but will reproduce it tomorrow and update here.

[2021-10-08 19:35] vmasule commented on #1001
Hi @wongma7, I reproduced what I promised yesterday, this what it looks like.

[code]

[2021-10-08 19:56] vmasule commented on #1001
I think it was same what I shared yesterday, except for disk number, which is instead 7 it is 8 now.

[2021-10-08 21:28] wongma7 commented on #1001
OK, I thought there are 2 different errors so I would expect the logs to be different, but we can focus on the original one because that is from the latest version of the driver

### error 1 from driver v1.3.0 "file does not exist"
[code]
for this error, I think it is fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1081. If you are brave you may try the unstable/development ver

[2021-10-08 23:05] wongma7 commented on #1076
I reproduced also the stuck terminating part in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1027 (after kubelet has restarted and is printing those already mounted errors, just try deleting the pod)

[2021-10-08 23:20] #841 closed

[2021-10-08 23:20] #863 closed

[2021-10-08 23:20] #840 closed

[2021-10-08 23:20] #858 closed

[2021-10-08 23:26] #1076 closed

[2021-10-08 23:31] wongma7 commented on #1027
this should be fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1082 which just merged. The fix will be backported and released in v1.3.x

[2021-10-08 23:31] #1027 closed

[2021-10-10 21:40] #693 closed

[2021-10-11 06:51] ozahavi opened #1086 "AWS_STS_REGIONAL_ENDPOINTS: REGIONAL value not working"
/kind bug

**What happened?**
After configuring "AWS_STS_REGIONAL_ENDPOINTS" : "REGIONAL" in values.yaml the EBS CSI controller still uses sts.amazonaws.com.

**What you expected to happen?**
That EBS CSI controller will use the us-east-1 sts endpoint.

**How to reproduce it (as minimally and precisely as possible)?**
Using terraform with helm provider.
[code]

**Environment**
eks.2 w\ K8s 1.21 -

[2021-10-11 06:54] avnerv commented on #1086
+1

[2021-10-11 17:26] vmasule commented on #1001
@wongma7 , I can confirm the **Error 1** above is now fixed, I used the public docker repo instead of `gcr.io`. this is the `https://hub.docker.com/r/amazon/aws-ebs-csi-driver/tags?page=1&name=4d5d7e7fea2b4b1d178f43c79957c2bebc2b0721` tag I used which was built day you pushed changes on master.

**_But..._**

I have reproduced the **Error 2** again and below are the logs.

Events from Application

[2021-10-12 09:01] khushboo121 opened #1088 "ebs-csi-node daemon set is not running on arm64 node"
/kind bug

I  am using eks cluster with a mix of amd64 and arm64 nodes, after deploying the aws-ebs-csi driver with helm chart 2.3.0 to my cluster found the ebs-csi-node daemon set is only created on amd64 node not on arm64 due which volume is not getting provisioned.

[code]
Also running 2 replicas of ebs-csi-controller both of them are getting deployed only on amd64 node. Do I need to add any se

[2021-10-12 10:51] khushboo121 commented on #1088
I am using the terraform resources to configure the ebs-csi-controller in the eks cluster as shown:
[code]
Found that even after setting the "node.tolerateAllTaints: true" value the DS is not getting updated with the torelation "- operation: exists" after manually updating the torelation DS got created on all nodes.
hence ds are not getting creating on arm64 node.
Can someone update how to set "to

[2021-10-12 11:05] #1088 closed

[2021-10-12 20:48] wongma7 commented on #1086
extraVars got replaced by controller.env in the 2.x.x release

to verify if the value gets set by helm (it seems like helm by default silently accepts values even if they are not used anywhere in the chart):
$ k get po -n kube-system -l app=ebs-csi-controller -o yaml | grep env -C10

[2021-10-12 21:18] wongma7 opened #1090 "Windows "volume id empty""
/kind bug
continuing discussion here

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1001#issuecomment-940215607

**What happened?** after rescheduling pod from windows node 1 to 2, the driver reports

`E1011 17:52:52.223938    6584 driver.go:119] GRPC error: rpc error: code = Internal desc = could not format "5" and mount it at "\\var\\lib\\kubelet\\plugins\\kubernetes.io\\csi\\pv\\

[2021-10-14 19:37] vmasule commented on #1090
@wongma7 I am already using `aws-node-termination-handler` with Queue mode and also have `cluster-autoscaler` installed in my cluster, so that is what getting me more worried as there will be lot of manual headache to manage Windows workloads if dynamic provisioning doesn't work as it works for Linux nodes(I don't see any issues there).

For your information I am using `Windows_Server-2019-English

[2021-10-14 20:00] vmasule commented on #1090
There is something wrong, I just drained the node running Windows pod, after that pod got evicted and scheduled on another node in same AZ, but its giving same `volume id empty` error, so it is bit weird, what may be I am doing wrong and you are doing right? Could you please refer the guidelines setup you followed for using EBS CSI for windows support.

This is what I did.

**Drain the node:**
[co

[2021-10-14 21:15] #861 closed

[2021-10-14 21:15] #875 closed

[2021-10-15 03:59] angeloudy opened #1095 "cannot resize pvc"
I used `kubectl edit pvc` to update the size of my volume, and got the following error
[code]
kubernetes version: 1.19
ebs-csi-driver helm chart version: 2.0.2

My storageclass:
[code]

[2021-10-15 20:35] gabegorelick opened #1096 "Container resource requests/limits"
**Is your feature request related to a problem?/Why is this needed**
Out of the box, the EBS CSI driver manifests do not container any [container resource requests or limits](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/). You can specify container resources via the Helm chart, but it's not clear what values should be used.

/feature

**Describe the solution you'd

[2021-10-15 21:37] gabegorelick commented on #1096
Does EBS CSI driver resource usage vary that much that it can't provide more concrete numbers? I would think it needs a fairly static amount of resources. Or is it processing requests concurrently and thus depends on the size of the cluster?

It's also pretty standard for containers to ship with *some* guarantee as to their resource usages. E.g. https://github.com/kubernetes/autoscaler/blob/6dee2f

[2021-10-20 09:13] tomekit opened #1097 "CSI driver fails to provision - GRPC error - could not create volume in EC2: RequestCanceled; Outbound proxy setup"
I am using Kubernetes `v1.2.2` created by kops, and I am not allowing to reach the internet from the Kubernetes itself other than the outbound proxy: https://aws.amazon.com/blogs/security/how-to-set-up-an-outbound-vpc-proxy-with-domain-whitelisting-and-content-filtering/

CSI driver fails due to GRPC error:
[code]

If I temporarily enable internet connection to my cluster storage provisioning work

[2021-10-20 10:26] korae29 commented on #1095
Hi @gnufied, the resize feature worked after upgrading my installation to the latest aws-ebs-csi-driver. Thanks.

[2021-10-20 11:27] olemarkus commented on #180
Have the same requirement here in order to make the most out of AWS Backup.

[2021-10-21 18:29] #893 closed, assigned to nobody

[2021-10-25 02:57] zhoudayongdennis opened #1099 "error observed during making aws-ebs-csi-driver for version 0.4.0"
/triage support

here was the makefile design in project to build aws-ebs-csi-driver from source code.

define build_aws_csi_image
        mkdir -p $(GOPATH)/src/github.com/kubernetes-sigs/
        cd $(GOPATH)/src/github.com/kubernetes-sigs/;export https_proxy="http://*.*.*.*4:8000/";curl -O -L https://github.com/kubernetes-sigs/aws-ebs-csi-driver/archive/$(2).zip;unzip -q $(2).zip&& rm -rf $(2).

[2021-10-25 15:55] aaroniscode opened #1100 "[Feature] Support initialization of EBS volumes created from Snapshots"
**Is your feature request related to a problem? Please describe.**
From EBS Documentation (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-initialize.html)
For volumes that were created from snapshots, the storage blocks must be pulled down from Amazon S3 and written to the volume before you can access them. This preliminary action takes time and can cause a significant increase in the lat

[2021-10-28 21:28] gabegorelick opened #1101 "Run containers with readOnlyRootFilesystem"
**Is your feature request related to a problem?/Why is this needed**
Running containers with a read-only root filesystem--when feasible--is considered a best practice. Not doing so causes EBS CSI driver containers to get flagged by security scanners/linters/questionnaires/overzealous admission controllers.

/feature

**Describe the solution you'd like in detail**
Support running some or all contai

[2021-11-01 14:56] mikesir87 commented on #1014
I, too, am interested in this feature and can provide a little bit of additional context on our use case.

We are running multi-tenant EKS clusters where we create various node pools for cost accounting (each pool gets the appropriate cost accounting tags applied). To simplify billing, we'd like to also attach the same tags to the EBS resources created for those tenants. We have the ability to per

[2021-11-01 16:25] gsaraf opened #1102 "MountVolume.SetUp failed for volume when quickly re-attaching to same node"
/kind bug

**What happened?** One our setups includes a pod that has an EBS volume which we mount using the aws-ebs-csi-driver, installed using helm.

At a certain time, we may terminate the pod, and sometimes we very quickly bring it back up, using the same volume.

This has a pretty high failure rate, with the following events in the pod:
[code]

Gathering logs from the ebs-csi-node pod:
[code]

[2021-11-03 20:18] gtxu commented on #1099
Hi @zhoudayongdennis, we recommend you use newer version of CSI Driver. Or would you please provide a specific reason using aws-ebs-csi-driver version 0.4.0?

[2021-11-04 01:35] zhoudayongdennis commented on #1099
Hi, @gtxu, the current customer was on this version without plan for upgrade recently, and I am working out the patch for it.

[2021-11-04 03:47] #911 closed

[2021-11-04 07:51] #900 closed

[2021-11-04 12:42] reasonerjt opened #1105 "Dynamicly provisioned pv does not have label "topology.kubernetes.io/zone""
/kind bug

**What happened?**
I created an EKS cluster using eksctl
Provisioned PV via the example in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/dynamic-provisioning

And the labels are not set in the PV:
[code]

**What you expect to happen?**
Since #675 is fixed I assume the labels should be attached?
Just wondering if anyone has verified it?

If it is v

[2021-11-04 12:51] reasonerjt commented on #675
It didn't work on my env, have you verified it? @nirroz93

[2021-11-04 13:17] nirroz93 commented on #675
Don't remember if I verified it, I probably didn't, and before marking non stale checked PRs and saw the one I mentioned (that I thought fixed the issue)

[2021-11-04 23:56] #923 closed

[2021-11-05 08:08] TBBle commented on #675
I don't think #773 addresses this request, it instead tells CSI to honour the existing label on the _node_, which should have changed the value of

from `topology.ebs.csi.aws.com/zone` to `topology.kubernetes.io/zone`.

[2021-11-05 21:00] wongma7 commented on #1030
How does a PV get allocated a zone at creation time? Is the difference between case 1 and case 2 the `WaitForFirstConsumer` field of StorageClas?

Does (and should) the scheduler set annSelectedNode on PVCs after their respective pods get scheduled? https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L1150-L1159

This is just from reading co

[2021-11-05 21:15] wongma7 commented on #1030
Formatted for clarity: the expected flow for A) default scheduler + B) in-tree PV controller is + C) external-provisioner/sig-storage-lib-external-provisioner is:

1. scheduler picks node
2. scheduler updates PVC with annSelectedNode
3. PV controller sees the previous update and updates PVC with annStorageProvisioner
4. external-provisioner/sig-storage-lib-external-provisioner sees the previous up

[2021-11-06 08:10] #800 closed

[2021-11-06 20:21] #929 closed

[2021-11-06 21:17] alex88 commented on #1044
Should upgrading to v2.4.0 fix the `Connecting to unix:///csi/csi.sock` continuous logginig? In my case I keep getting the message

[2021-11-08 17:20] gtxu commented on #1105
Hi @reasonerjt , would you please post the specific error massage? or is the title "Dynamicly provisioned pv does not have label "topology.kubernetes.io/zone" is the error message that shows?

[2021-11-08 17:39] galgross opened #1107 "Multi-Attach error when the EBS volume is not attached to any instance"
/kind bug

**What happened?**
Pods are getting stuck in Init state with error message of -
1) multi attach error -  FailedAttachVolume  15s   attachdetach-controller  Multi-Attach error for volume "pvc-xxx" Volume is already exclusively attached to one node and can't be attached to another

2) Kubelet Unable to attach or mount volumes

**What you expected to happen?**
When draining a node, ebs-csi

[2021-11-09 11:50] ruslansuprun opened #1108 "EBS volumes extra tags aren't applying"
/kind bug

**What happened?**
When trying to create helm release with terraform custom EBS volume tags aren't applied to EBS volumes
[code]
Creating helm chart release with helm ends with the same result. EBS volumes custom tags are missing.

**What you expected to happen?**
Custom EBS tags are applied to EBS volumes.

**How to reproduce it (as minimally and precisely as possible)?**
Try to create

[2021-11-09 12:10] vmasule commented on #1090
@wongma7 Is anybody working on this? If not could you please guide us what could be potential fix I would check if someone from my team can look into this on urgent basis as this is impacting our Pod SLA.

[2021-11-09 16:58] gtxu commented on #1099
/kind bug

[2021-11-09 16:58] gtxu commented on #1101
/kind feature

[2021-11-10 05:56] reasonerjt commented on #1105
@gtxu there's no error message, the symptom is that the `Labels` field is empty.

More details please read #675

For comparison, the pv provisioned by in-tree EBS driver  has the labels to indicate the availability zone:
[code]

Additional reading: https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone

[2021-11-10 14:48] leongross commented on #1010
Facing the same issue, the pod i created keeps in a pending state. I followed [this](https://aws.amazon.com/de/premiumsupport/knowledge-center/eks-persistent-storage/#) tutorial:
[code]

[code]

[code]

AmazonEKS_EBS_CSI_Driver_Policy:
[code]
AmazonEKS_EBS_CSI_DriverRole Trust Relationship:
[code]

`$aws iam list-attached-role-policies --role-name AmazonEKS_EBS_CSI_DriverRole`:
[code]

The problem

[2021-11-11 09:33] leongross commented on #1010
Okay, I think i fixed at least my error:
I researched a bit and found [this](https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html) article.
I wanted to verify if I had a oidc provider running and found out, that there was none by default.

Creating an oidc provider using
[code]

and restarting the pods as well as the pvc and sc solved my issue.

[2021-11-11 11:16] shapirus opened #1110 "Outdated e2fsck?"
/kind bug

**What happened?**
I am seeing the following messages in the ebs-plugin container logs:

[code]

**Environment**
AWS

- Kubernetes version (use `kubectl version`):
1.21.5

- Driver version:
1.4.0

[2021-11-11 18:13] #930 closed

[2021-11-11 20:13] #926 closed

[2021-11-12 21:21] #936 closed

[2021-11-15 17:46] flickerfly commented on #930
/reopen

[2021-11-15 18:54] akhilles commented on #909
/remove-lifecycle rotten

[2021-11-15 21:06] wongma7 commented on #909
I think we should keep vendor dir checked in because in past CI has been flaky/slow to download dependencies but a github action could prepare a kustomize archive w/o vendor dir

[2021-11-16 21:31] wongma7 opened #1116 "Windows: volume should be taken offline during NodeUnstage"
/kind bug

**What happened?** the test `should support creating multiple subpath from same volumes` fails on Windows because the volume gets stuck detaching until the volume is taken offline in OS.

**What you expected to happen?** volume gets detached

**How to reproduce it (as minimally and precisely as possible)?** Install csi-proxy, install the CSI driver, run the test

`
bash -c 'ginkgo --nod

[2021-11-16 21:46] wongma7 commented on #1116
The application System with process id 4 stopped the removal or ejection for the device PCI\VEN_1D0F&DEV_8061&SUBSYS_00001D0F&REV_00\3&13c0b0c5&1&F8.
The application \Device\HarddiskVolume1\Program Files\Kubernetes\kubelet.exe with process id 3456 stopped the removal or ejection for the device PCI\VEN_1D0F&DEV_8061&SUBSYS_00001D0F&REV_00\3&13c0b0c5&1&F8.

From clicking around Disk Management GUI i

[2021-11-17 01:03] kaypeter87 commented on #675
@nirroz93 This is also not working in my environment. None of the persistent volumes that are dynamically provisioned by the CSI driver has these labels in the `labels` field:

[code]

[2021-11-17 07:24] TBBle commented on #675
/reopen

Not sure _I_ can do this, but the request has not been fulfilled.

[2021-11-17 19:07] wongma7 opened #1117 "Windows: implement resize"
**Is your feature request related to a problem?/Why is this needed**
Currently when resize is attempted by editing PVC there is an error `executable file not found in`. Once this is fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1113 the error will be ""Resize is not supported for this build" from https://github.com/kubernetes/mount-utils/blob/master/resizefs_unsupported.go

/

[2021-11-17 20:11] wongma7 commented on #675
/reopen

Sorry if issues are getting closed prematurely, there are a couple issues open about this and I haven't triaged all yet, but I will pick one to track (whichever is oldest) then close the others as a duplicate.

Basically to give an update, at the moment it is intended that the CSI driver uses its own custom labels. We reverted the change to use the GA labels.

The Controller component (th

[2021-11-19 07:23] TBBle commented on #729
To cross-link, it seems there's [a problem with this approach](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/675#issuecomment-971939569). I'm not yet clear on the actual blocker there, unless there's a need/use-case for topology zones that do not match the active cloud controller's zones being used to populate the Node's `topology.kubernetes.io/zone` label.

Anyway, I wanted to make

[2021-11-19 15:31] #480 closed

[2021-11-19 20:58] sarvajit-sankar-comprinno opened #1119 "How to pass a tag containing space like name=First Name to the extraVolumeTags flag?"
/triage support

[2021-11-19 21:17] sarvajit-sankar-comprinno commented on #180
@harshdevl @wongma7 , is there a way to pass a tag with value containing a **space** like name=First Name, to the extraVolumeTags flag?

[2021-11-20 07:02] harshdevl commented on #180
@sarvajit-sankar-comprinno

Well I haven't tried something like that before but you can also make configmap of that  with space names and then use it in ebs controller file like below.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/180#issuecomment-919867113

[2021-11-21 20:46] #953 closed

[2021-11-22 19:02] vdhanan commented on #1107
/assign @gtxu

[2021-11-22 19:06] vdhanan commented on #1108
/assign @vdhanan

[2021-11-22 19:09] vdhanan commented on #1110
/assign @vdhanan

[2021-11-22 19:14] vdhanan commented on #1119
/assign @gtxu

[2021-11-23 11:56] MartinEmrich commented on #1102
Same/Similar issue here: Updating a StatefulSet (thus replacing the pod on the same node) gave me this:

[code]
On AWS, the volume is attached to the given instance.

After draining that node (thus forcing the Pod to move to another node), the pod comes up nicely.

[2021-11-23 22:16] vdhanan commented on #1119
you need to escape the space character. e.g. `--set controller.extraVolumeTags.foo="first\ name"`

[2021-11-24 20:31] putnam120 opened #1121 "Unable to Deploy EBS CSI Driver"
/kind bug

**What happened?**
I follow the instructions at https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html and chose to deploy via the manifest. Additionally, I have updated the `kustomization.yaml` to use region `us-east-1` instead of `us-west-2`. After I run `kubectl apply -k ../ecr` I go to check the status of my pods (kubectl -n kube-system get pod) and see the following

[code]

[2021-11-26 18:08] gtxu commented on #1099
Hi, @zhoudayongdennis any updates? Please note, version under v1.0.0 of aws-ebs-csi-driver is no longer supported and maintained, If you have any trouble migrate version to v1.0.0 or upper, please create a new issue with it. Thank you!

[2021-11-28 05:19] hakman opened #1122 "AWS_EC2_ENDPOINT overrides the STS endpoint and breaks IRSA"
/kind bug

**What happened?**
kOps is adding support for IPv6 clusters and the EBS CSI driver requires access to the new EC2 dual-stack endpoints.
Setting `AWS_EC2_ENDPOINT=https://api.ec2.us-east-1.aws` overrides the EC2 endpoint but also affects the STS endpoint and breaks IRSA.
[code]

**What you expected to happen?**
I expect setting `AWS_EC2_ENDPOINT=https://api.ec2.us-east-1.aws` to not affe

[2021-11-28 19:45] shishirkh commented on #214
I think I am facing the same issue - cannot be sure as I am not seeing any DNS error in the logs.

@frittentheke How did you solve it when you faced the DNS issue?

[2021-11-29 06:47] huangzhiyong opened #1123 "Update CSI Sidecar Containers"
Hi, ask a question, we use EKS 1.20, do we need to update Sidecar Containers to use the new tag?
https://kubernetes-csi.github.io/docs/sidecar-containers.html