[2020-05-04 19:31] wongma7 commented on #494
I am pretty sure this is because this PR was just merged https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/475/files#diff-0376647074b271462315f3158fefb07dR44 . It adds the node argument to entrypoint aws-ebs-csi-driver, but the 0.4.0 version of aws-ebs-csi-driver doesn't recognize this argument.

Quick fix should be to remove the node argument and add it back after 0.5.0 is released. Then

[2020-05-04 19:40] wongma7 commented on #494
Actually 0.5.0 was already released and pushed so we should bump the stable overlay.

[2020-05-04 20:22] #494 closed

[2020-05-05 01:13] literalice commented on #492
Thank you for your comment. I created a PR #496 .

[2020-05-05 09:25] nomatterz commented on #494
@wongma7
thank you for prompt reply!
I confirm that issue is gone with current state of `master` on both EKS 1.15 and 1.16

[2020-05-06 19:07] iamjaekim opened #497 "Doc request: adding custom tags"
On v0.5.0, the driver now supports custom tags to apply when creating new volumes. It appears, in the example folder, there isn't an example for adding custom tags to ebs volumes that the driver creates via `kubectl apply`

Can I ask for a how-to and/or example for passing custom tags to the driver to create in a YAML file? so when i do `kubectl apply -f volumes.yaml` it creates a volume and tags

[2020-05-06 19:21] dayglojesus commented on #497
I was literally just looking for this as well 😂

[2020-05-06 22:05] dayglojesus commented on #497
After some more reading, you need to add the following args ...
[code]
... to the `amazon/aws-ebs-csi-driver:v0.5.0` container in the `ebs-csi-controller` Deployment.

[2020-05-07 06:11] leakingtapan commented on #431
/close

as v0.5.0 is released

[2020-05-07 06:11] #431 closed

[2020-05-07 06:12] leakingtapan commented on #445
/close

[2020-05-07 06:12] #445 closed

[2020-05-07 06:14] leakingtapan commented on #482
What kind of Ephemeral Volumes are you looking for?  EBS is by nature a persistent volume

[2020-05-07 06:14] leakingtapan commented on #419
/remove-lifecycle stale

[2020-05-07 22:17] msau42 opened #498 "Attach volume fails after resizing completed"
/kind bug

**What happened?**
Running the "verify offline volume expansion" e2e test.

After controller resize finishes, a pod is created and we try to attach the volume, but attach fails because it still thinks the volume is being modified. This continues for at least 5 minutes after the resizing has finished, at which point the test times out.

[code]

csi resizer and csi attacher are running on

[2020-05-07 22:56] msau42 commented on #498
https://github.com/kubernetes/kubernetes/issues/90866 may also be playing a factor

[2020-05-07 22:57] msau42 commented on #498
cc @gnufied

[2020-05-07 23:23] msau42 commented on #498
This also appears to be a timing issue, as the test is flaky

[2020-05-08 02:18] gnufied commented on #498
@bertinatto has been also looking into similar problem with CSI EBS tests.

[2020-05-09 10:27] shukla2009 opened #499 "Report volume usage"
How can I identify the volume usage ?

as of now aws-ebs-csi-driver emits
`kube_persistentvolume_capacity_bytes`
but it doesn't have anything like
`kube_persistentvolume_usage_bytes`

Ideally its should support standard metrics as below
[code]

[2020-05-09 17:43] leakingtapan commented on #471
/close

[2020-05-09 17:43] #471 closed

[2020-05-09 17:45] leakingtapan commented on #334
/remove-lifecycle stale

[2020-05-11 05:57] iamjaekim commented on #497
@dayglojesus
have you found a way? I am using fluxcd and my env currently tells
[code]

However, with helm install command, I was able to install it, and couldn't see my optional tags i pushed through this. this is what i used. i might be wrong.
[code]

[2020-05-11 15:32] sarbajitdutta commented on #492
Is there any plans to attach ebs volumes to fargate nodes? We are running a heterogenous compute type in our eks cluster. Would really love this feature? @wongma7

[2020-05-13 12:32] vishnuravi3186 opened #502 "Not able to use EBS volume with Dynamic provisioning"
I am trying to use EBS CSI Driver in my existing Kubernetes cluster , I am using latest version of CSI driver , I have 1 master and 3 worker nodes installed using kubeadm on aws, My Kubernetes version is "v1.18.1" ,  When I create PVC its in pending state and following is the error message i can see in the pvc log

 Normal   WaitForFirstConsumer  4m52s (x3 over 5m21s)  persistentvolume-controller

[2020-05-13 14:26] nitinkansal1984 opened #503 "no data recovered while restoring snapshot of a pvc"
/kind bug

**What happened?**
kubectl apply -f snapshot.yaml
error: unable to recognize "snapshot.yaml": no matches for kind "VolumeSnapshot" in version "snapshot.storage.k8s.io/v1beta1"

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
dev
- Kubernetes version (use `kubectl version`):
kubectl

[2020-05-14 10:52] wongma7 commented on #150
/remove-lifecycle rotten

[2020-05-14 19:31] jqmichael commented on #399
That was the issue.

[2020-05-15 08:12] dhouhamaa opened #506 "My volume snapshot is always not ready to use and data not recovered after restoring from the snapshot"
I'am working with an EKS cluster from AWS , version 1.15
I installed :
- the ebs csi driver following the official guide documentation from aws ( link :  https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html )
- installed the Snapshot Beta CRDs and the Snapshot Controller ( link : https://github.com/kubernetes-csi/external-snapshotter )
and i was following this scenario https://github.com/

[2020-05-15 11:16] dhouhamaa commented on #426
@paulmin55  Which version then supports the feature gate volumesnapshotdatasource ? because am having the same issue

[2020-05-15 23:45] nitinkansal1984 commented on #506
@dhouhamaa  you should check your IAM policies and Role attached to worker node.

[2020-05-16 16:39] leakingtapan commented on #426
It will be beta at 1.17. See https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/

[2020-05-16 18:43] qw1mb0 commented on #497
@iamjaekim You need to pass the parameter `extraVolumeTags`. As in the example: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aws-ebs-csi-driver/values.yaml#L65-L70

[2020-05-16 21:02] jgallucci32 commented on #502
@vishnuravi3186 I received the exact same error message when using a custom EC2 endpoint which has a company-signed SSL certificate. The problem would also present the same error is accessing the Amazon EC2 endpoints from behind an SSL proxy.

The following error message implies you are behind an SSL proxy presenting a different certificate
[code]
There are a few ways to fix this, however, it is w

[2020-05-16 21:09] jgallucci32 commented on #502
@vishnuravi3186 If you want a quick fix try doing this.

Create **ConfigMap** for custom CA certificates
[code]
Modify `ebs-csi-controller.yaml` to mount the new CA bundle to the CSI controller
[code]
Redeploy the csi-controller pod and it will overwrite the existing CA bundle with the one supplied in the ConfigMap. It should allow you to hit an endpoint with a custom SSL certificate.

[2020-05-16 21:29] jgallucci32 commented on #482
This sounds like the inverse of the problem the EBS CSI driver is trying to solve. If you do not require volumes for Job, Deployments, or any other custom controllers, then why use a storage class at all?

[2020-05-17 17:13] vishnuravi3186 commented on #502
@jgallucci32 Thanks for detailed reply with the fix, I am installing aws-ebs-csi-driver using kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master" , just curious where i will find ebs-csi-controller.yaml so that I can make the above changes mentioned.

[2020-05-17 17:41] arjunrn commented on #482
@leakingtapan For Kubernetes jobs which need some kind of storage for computations generally a PVC has to be provisioned and then mounted to in the job pod. The volume is not provisioned automatically when the pod is created but has to be created separately. The lifecycle of the volume is also independent of the pod. Also if multiple instances of the job have to be run concurrently it is not possi

[2020-05-17 20:02] leakingtapan commented on #482
You are right about the ephemeral volume. But is it designed to support cloud provider provisioned persistence volume and tied the volume lifecycle with pod lifecycle? @msau42

[2020-05-18 08:13] dhouhamaa commented on #426
Do you know if it's possible to enable it manually from inside the EKS cluster or the only possibility is to wait for new version to be released from AWS (the latest currently is 1.16 ) ?

[2020-05-18 08:42] arjunrn commented on #482
@leakingtapan I suspected it wont be supported. The docs over [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md#support-for-inline-csi-volumes) say:

But I was hoping to that the maintainer might know more.

[2020-05-18 18:39] msau42 commented on #482
There is a proposal being designed in kubernetes that will allow any persistent volume driver to be used for ephemeral use cases without changing the CSI driver implementation: https://github.com/kubernetes/enhancements/pull/1701

[2020-05-18 21:00] jgallucci32 commented on #502
I am using Rancher which is possibly formatting or transforming the YAML file from the default deployment. Here is the output of `ebs-csi-controller.yaml` in Rancher with the modifications.
[code]

[2020-05-18 21:11] vishnuravi3186 commented on #502
@jgallucci32 , Thanks for the quick response, Following is my updated yaml and this doesn't throw me the above error (spec.template.spec.containers[0].volumeMounts[0].name: Not found: "socket-dir") , but still if i use this yaml I am facing same cert error like earlier, not sure what i am missing my ec2 instances are in us-east-1 and our k8s cluster is unsecured, we don't use ssl or any custom cer

[2020-05-18 22:31] jgallucci32 commented on #502
@vishnuravi3186 That's bizarre. Suggest trying to execute a shell session into the controller container and running the following:
[code]
If that works there is something else going on. If that gives you an SSL cert error then the fix did not take properly.

[2020-05-18 22:38] vishnuravi3186 commented on #502
@jgallucci32 curl worked perfectly fine

 curl -v https://ec2.us-east-1.amazonaws.com/
*   Trying 54.239.29.8:443...
* TCP_NODELAY set
* Connected to ec2.us-east-1.amazonaws.com (54.239.29.8) port 443 (#0)

kinda of weird whats creating that issue. while creating pvc its starts with that cert error.

[2020-05-18 23:22] jgallucci32 commented on #502
@vishnuravi3186 If cURL worked then there is a different problem.

Can you think of why `wpengine.com` would be appearing in your setup? There must be something you have deployed tied to Wordpress which is making this happen.

[2020-05-19 04:05] leakingtapan commented on #426
Not if EKS. It was initially developed based off cluster created by kops.

[2020-05-19 04:07] leakingtapan commented on #506
Is this a duplicate of #426 @dhouhamaa ?

[2020-05-19 04:57] leakingtapan commented on #503
Similar to #426

[2020-05-19 04:57] leakingtapan commented on #503
/close

Feel free to reopen if it is a different issue

[2020-05-19 04:57] #503 closed

[2020-05-19 07:43] dhouhamaa commented on #506
Yes probably , will close this issue then

[2020-05-19 07:44] #506 closed

[2020-05-19 21:11] nitinkansal1984 commented on #503
Can I go back to AWS console and note the snapshot id and use that in pod definition meanwhile to restore the volume to the new pod?

  volumes:
  - name: persistent-storage
    awsElasticBlockStore:
      volumeID: vol-XXX
      fsType: ext4

[2020-05-20 00:22] leakingtapan commented on #503
You can only set volume ID in pod definition but snapshot ID using the inline volume style.

[2020-05-20 04:39] dmc5179 commented on #474
According to the AWS docs the meta-data endpoint is a link local address which can only be reach from the host. Can it actually be reached from inside a container? When I try it on my cluster I'm able to curl the metadata endpoint from the host itself but I get a "connection refused" when trying the same command from inside the ebs-csi-controller

https://docs.aws.amazon.com/AWSEC2/latest/UserGuid

[2020-05-20 10:41] infa-ssaurabh commented on #180
```--extra-volume-tags``` works. But This way all the volumes will have same tags. Can't we provide any annotation etc in PVC manifest so that above argument takes the value dynamically instead of fixed?

[2020-05-20 20:14] dmc5179 commented on #474
So I was able to workaround this issue by disabling the liveness containers and probes for 9808 and then enabling hostNetworking for the csi controller pod

[2020-05-21 02:15] dmc5179 opened #509 "Add support for customer AWS API endpoint Certificates"
**Is your feature request related to a problem? Please describe.**

In private AWS regions the CA that signs the AWS API endpoint is not accepted by the driver. Need to add support for adding certificates to the driver for custom endpoints.

**Describe the solution you'd like in detail**

Add support for either disabling SSL/TLS (not the greatest option) or more preferably adding custom certificat

[2020-05-21 02:37] dmc5179 opened #510 "Add support for OpenShift"
As of OpenShift 4.3 the SDN will not route link local addresses like the AWS meta-data endpoint.

/feature

**Describe the solution you'd like in detail**

To allow the ebs-csi-controller node to reach the AWS meta-data endpoint we need to enable hostNetwork: true for the ebs-csi-controller pod. Unfortunately on OpenShift this causes a conflict with the underlying host due to the port used by the

[2020-05-21 11:00] vishnuravi3186 commented on #502
@jgallucci32 Still couldn't figure out the root cause, when I try to do a ping from a launched pod I always get following output irrespective of any url [aiadmin@process-transactions-launcher-0 script]$ ping google.com
PING data.wpengine.com (35.233.156.12) 56(84) bytes of data.
64 bytes from 12.156.233.35.bc.googleusercontent.com (35.233.156.12): icmp_seq=1 ttl=40 time=63.1 ms

ping yahoo.com
PIN

[2020-05-21 13:38] prashantokochavara commented on #474
@dmc5179 - can you show me your yaml file and how you are making these changes for the controller pod/deployment?

[2020-05-21 13:50] dmc5179 commented on #474
@prashantokochavara Yes, I'll add them here.

Wanted to note that I found the reason hostNetwork is not needed in vanilla kube is because the OpenShift SDN won't route the link local requests but vanilla kube will. I've created some other feature requests to support this driver on OpenShift.

[2020-05-21 14:44] prashantokochavara commented on #474
Thanks @dmc5179
I haven't tried it on vanilla k8s yet, but that is what I was expecting.
My env is OpenShift 4.3/4.4 and I'm able to get through with static provisioning, but wherever dynamic is required (metadata), i run into those network issues.
hopefully your workaround is all I need :)

[2020-05-21 17:28] dmc5179 commented on #474
Here is a link to my fork of the driver where I modified the helm chart to support OpenShift 4.3. Note that I modified the 0.3.0 chart and ran that on my cluster. The git repo is version 0.4.0 of the helm chart. I don't see any reason why my modifications would not work. That being said, if you need to use the 0.3.0 version of the chart, take the changes that I made in my git repo and apply them t

[2020-05-21 17:37] prashantokochavara commented on #474
Thanks @dmc5179 Appreciate it!
I am going to try this on the 0.5.0 version of the helm chart (need snapshots/expansion).

[2020-05-21 19:06] tomhuang12 commented on #485
I would like this feature as well. Also, the deployment template for `ebs-csi-controller` needs to allow pod security context to specify `fsGroup` so that it can use the service account.

[2020-05-22 08:02] bertinatto commented on #290
/remove-lifecycle stale

[2020-05-22 18:17] gsf opened #512 "PodDisruptionBudget needed for autoscaling"
/kind bug

**What happened?**
The autoscaler can't remove nodes when ebs-csi-controller pods running in the kube-system namespace are lacking a PodDisruptionBudget. See this similar issue:
https://github.com/kubernetes/autoscaler/issues/350

Could a PodDisruptionBudget be added to the Helm chart? Looks like there's a good example in the nginx-ingress chart:
https://github.com/helm/charts/blob/mast

[2020-05-23 17:27] jgallucci32 commented on #509
@dmc5179 I have successfully tested this workaround on Eucalyptus with custom endpoint and custom SSL certificate

NOTE: Pull request https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/505 is for custom endpoint support in private AWS regions

Create **ConfigMap** for custom CA certificates
[code]
Modify `ebs-csi-controller.yaml` to mount the new CA bundle to the CSI controller
[code]
Rede

[2020-05-23 17:56] jgallucci32 commented on #509
This is also discussed in issue https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/502

[2020-05-23 23:23] dmc5179 commented on #509
@jgallucci32 Thanks! This is great. Note that I didn't have to do anything to get the custom endpoint to work. I think that once the pods could reach the metadata endpoint they were able to look up what the EC2 API endpoint is. I don't know that for certain but the pods figured it out somehow. The custom certificate part is great. My solution of hostPath mounting is probably not ideal. A config ma

[2020-05-25 02:52] jgallucci32 commented on #509
@dmc5179 Glad I could help, let me know how things go. I have been investigating using a sidecar approach using the same ConfigMap construct. Cloudbees has a good example of how to do SSL cert injection using a sidecar and I think ultimately that might be the best approach here.

Regarding the custom endpoint I am extremely intrigued how it is working out of the box for you. My first assumption wo

[2020-05-25 17:47] leakingtapan commented on #454
/remove-lifecycle stale

[2020-05-25 17:47] leakingtapan commented on #454
/remove-lifecycle stale

[2020-05-25 21:28] frittentheke commented on #449
/remove-lifecycle stale

[2020-05-28 11:55] AhmadMS1988 opened #514 "Update from version 0.4 to 0.5"
/kind bug

**What happened?**
When I issued kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master" I got the following error:

[code]
**What you expected to happen?**
Upgrade successfully

**How to reproduce it (as minimally and precisely as possible)?**
kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlay

[2020-05-30 04:13] kainoaseto opened #515 "Wrong Error Returned When Volume is Attached"
/kind bug

**What happened?**
When a EBS volume is attached to another EC2 instance the `ALREADY_EXISTS` error is returned when it seems like the `FAILED_PRECONDITION` error should be returned instead because the `node_id` and `volume_id` do not match what the request attachment of `volume_id` and `node_id`.

CSI Spec: https://github.com/container-storage-interface/spec/blob/master/spec.md#control

[2020-05-30 16:13] #497 closed

[2020-05-31 16:49] frittentheke commented on #316
/remove-lifecycle stale

[2020-06-01 10:12] danil-smirnov opened #516 "Install with Helm 3 fails"
/kind bug

**What happened?**

When use a command mentioned in README with Helm 3 I get error `Error: unknown flag: --name`:
[code]
**What you expected to happen?**

Chart should be installed

**How to reproduce it (as minimally and precisely as possible)?**

Try the command above with Helm 3.

**Anything else we need to know?**:

The correct command to install the cart in Helm 3 should be as foll

[2020-06-02 06:26] frittentheke commented on #346
/remove-lifecycle stale

[2020-06-02 06:27] frittentheke commented on #346
@leakingtapan  I took the liberty to "unstale" this ... should bugs, especially those you already triaged and marked as such, ever go stale?

[2020-06-02 06:51] leakingtapan commented on #346
Thx for doing this. It looks fejta-bot isn’t smart enough to figure out if the issue is triaged or not... and I don’t have more time to work on the fix

[2020-06-02 11:17] randomvariable opened #517 "Clarification on IAM requirements"
Reviewing this for inclusion in https://github.com/kubernetes-sigs/cluster-api-provider-aws, I just want a clarification as I've been going through the code. Are IAM permissions required specifically on every node, or only nodes running the controller? The driver-only code path doesn't seem to call into `pkg/cloud/NewCloud()` as far as I can tell. Is that reading correct?

/triage support
/kind do

[2020-06-02 19:49] prashantokochavara commented on #474
@dmc5179 - I was finally able to get past the metadata issue. Thanks!

In addition to the changes that you had in your fork, I also had to disable the liveness container and pod that you had mentioned earlier. I basically commented those parts in the node and controller .yaml files.

Adding them here in case anyone else needs it.
[aws-ebs-csi-driver.zip](https://github.com/kubernetes-sigs/aws-ebs-

[2020-06-03 07:32] pandvan commented on #514
I'm facing the same issue on an EKS cluster at versione 1.15.11 when trying to upgrade from versione 0.4 to 0.5.
The only way I've found so far to proceed is delete che kustomization with `kubectl` delete -k` and then re-apply again.

[2020-06-03 12:54] rfranzke commented on #347
Given the fact that prior CSI there was no solution that allowed overriding the volume limits per node (https://v1-18.docs.kubernetes.io/docs/concepts/storage/storage-limits/#custom-limits) but only globally in the whole cluster, and given the above discussed complexities: Would it make sense to proceed with the suggested CLI flag for now until a more sophisticated solution can be implemented? Thi

[2020-06-04 22:45] RogerReed opened #518 "Helm chart node DaemonSet missing service account"
/kind bug

**What happened?**
With zero EBS permissions on the node EC2 IAM instance profile, and using only role annotations for EBS permissions on the service accounts, I am getting errors on the node DaemonSet.

**What you expected to happen?**
Node DaemonSet has permissions to interact with AWS EBS APIs.

**How to reproduce it (as minimally and precisely as possible)?**
Remove all EBS permissi

[2020-06-05 15:52] galindro opened #520 "Provide a helm repo"
I just would like that the aws-ebs-csi-driver helm chart could be available via helm repo, like any other helm chart. I'm using helmsman to deploy it and I currently need to download the tgz, extract and them install.

[2020-06-05 18:58] excieve commented on #427
I've just bumped into this issue on an EKS 1.14.9 cluster with a VPC CNI plugin installed. After reading the (closed) https://github.com/kubernetes/kubernetes/issues/80967 issue, I understand that dynamic limit is now GA with 1.17, but does EBS CSI actually report a correct limit for it?

More general question: is there a way to reliably use the EBS CSI at all? Right now volumes are just stuck at

[2020-06-07 21:49] tsarna opened #521 "Please provide an official aarch64 image for use on m6g, a1"
**Is your feature request related to a problem?/Why is this needed**

The 64-bit ARM-based m6g family is generally available now and provides very attractive price/performance (and the older a1 has been available for a while). It should be possible to use these ARM-based instances just as easily as amd64, and to that end there should be official images on Docker hub for aarch64 as well.

**Describ

[2020-06-16 12:14] Henni commented on #499
This seems to be a duplicate of #223

[2020-06-16 19:35] TBBle commented on #514
You're actually upgrading past 0.5. The issue is that 46235c52dffbbe4ef808b81718d7b4bc93c76788 (part of 0.6) changed the `matchLabels` in deploy/kubernetes/base/node.yaml and deploy/kubernetes/base/node.yaml and you can't actually modify the a live Deployment or Daemonset that way.

Upgrading to 0.5 would probably work (`github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stab

[2020-06-17 08:07] qianzhangxa commented on #464
I am thinking about this case: an EBS volume has been attached to an AWS instance via `ControllerPublishVolume` call, and then this instance is down by accident. The container orchestrator may choose to issue another `ControllerPublishVolume` call to attach the volume to another healthy instance, but I guess this call will fail (since the volume is still being attached in the failed instance), rig

[2020-06-17 23:36] msau42 commented on #464
The latest csi-attacher does not help with that case. It only helps for the case where the disk actually got detached out of band and needs to be reattached to the same node.

For your case, assuming the instance is down and then the Kubernetes Node gets deleted as a result, then the volume will be force detached from the node after 5 minutes, and then the new Pod will be able to start up. Some di

[2020-06-18 01:31] qianzhangxa commented on #464
Thanks @msau42 for your reply!

Could you please let me know who will be responsible for forcily detaching the volume after 5 mins? Is it kube-controller-manager to create a `VolumeAttachment` object in this case to trigger `csi-attacher` to forcily detach the volume?

[2020-06-18 10:43] hussainsaify opened #525 "EBS CSI Driver is creating volume in incorrect availability zone"
Environment-

AWS EKS(1.14) cluster in multiple availability zone
Helm chart version for ebs-csi-driver - aws-ebs-csi-driver-0.3.0

**What I am trying to do?**

I am installing postgresql on kubernetes with persistent volume claim with below storage class

[code]

**What did I expect to happen?**

Volume getting created in the same availability zone as the node on which pod gets launched

**What h

[2020-06-18 10:53] pandvan commented on #455
Kustomization file on your master branch is still referencing to version 1.3.0 of csi-provisioner (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/kustomization.yaml).
I'm still facing the issue using versione 0.5.0 of ebs-csi-driver.
How can I update my deployment in order to use a fixed version of the provisioner?

[2020-06-18 23:06] msau42 commented on #464
It's the attach detach controller in kube-controller-manager. This is where it waits for 5 minutes if it thinks the volume may still be mounted on the node: https://github.com/kubernetes/kubernetes/blob/1faf097f3f7294322a574d2c813d21657ab61a81/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L173

After the timeout, then we proceed to detach. However, there's an interesting case here wh

[2020-06-19 02:27] qianzhangxa commented on #464
@msau42 I think the timeout you are talking about is `maxWaitForUnmountDuration `, right? In code comments I see:
[code]
So the reconciler will wait for `maxWaitForUnmountDuration` before detaching volume anyway. My question is, who will detach the volume when a node is down in the first place before reconciler tries to detach the volume anyway. Or which component notifies the reconciler that a vo

[2020-06-19 13:59] bertinatto commented on #498
Occasionally, 5 minutes isn't enough for AWS to resize the volume. Increasing the timeout to 10 minutes in our CI helped, but it didn't fix the problem completely.

Note that the controller doesn't wait for the volume to be completely expanded, it only waits until it's in the `Optimizing` state. When the pod tries to attach the volume, AWS returns an error saying that the volume is being modified.

[2020-06-19 14:10] bertinatto commented on #498
/assign

[2020-06-19 17:45] bertinatto commented on #498
Increased the timeout to 15 min and ran the test hundreds of times. The maximum amount of time this test took was 11m29s.

`passed: (11m29s) 2020-06-19T17:16:39 "External Storage [Driver: ebs.csi.aws.com] [Testpattern: Dynamic PV (block volmode)(allowExpansion)] volume-expand Verify if offline PVC expansion works"`

https://github.com/kubernetes/kubernetes/issues/88848 would be useful here.

[2020-06-19 18:24] msau42 commented on #498
Would it be help if resize doesn't return until the operation is completely done? Then at least we avoid errors on attach?

[2020-06-22 08:27] bertinatto commented on #498
The current logic was taken from the in-tree plugin, and I believe it was a recommendation from AWS to avoid timeouts during resizes.

@gnufied do you have any inputs on this?

[2020-06-24 21:08] tsarna commented on #521
A fix for this should include reverting the fix applied in Issue #471 / PR #472 .

[2020-06-25 06:59] leakingtapan commented on #525
Do you have the ebs-csi-driver log when this happened, you can get the log with something like:
[code]

[2020-06-25 07:33] leakingtapan commented on #520
helm repo created here: https://kubernetes-sigs.github.io/aws-ebs-csi-driver/index.yaml

[2020-06-25 20:23] leakingtapan commented on #514
If no strong reason, we need to fix this by keeping the old `matchLabels`. @krmichel any reason to change the matchLabels in #475?

[2020-06-25 20:24] leakingtapan commented on #464
/remove-lifecycle stale

[2020-06-26 02:11] krmichel commented on #514
The match label being added (app.kubernetes.io/name) is a [recommended kubernetes label](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels).  It already existed in the resources created by the helm chart (links below) which we started to use to generate the kustomize files.  I would have added more of the recommended labels but I was trying to maintain as much

[2020-06-26 07:01] leakingtapan commented on #470
/remove-lifecycle stale

[2020-06-26 08:49] galindro commented on #520
Thank you very very much!

[2020-06-26 08:50] galindro commented on #520
@leakingtapan just asked the same in https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/200

[2020-06-26 11:08] hussainsaify commented on #525
@leakingtapan I can see following in the logs

_I0626 10:48:00.829605       1 controller.go:93] CreateVolume: called with args {Name:pvc-8098bd31-b79a-11ea-94ac-121ea13dab89 CapacityRange:required_bytes:64424509440  VolumeCapabilities:[mount:<fs_type:"ext4" > access_mode:<mode:SINGLE_NODE_WRITER > ] Parameters:map[encrypted:true] Secrets:map[] VolumeContentSource:<nil> AccessibilityRequirements:<n

[2020-06-29 12:14] hussainsaify commented on #525
This issue is fixed after enabling --feature-gates=Topology=true in external-provisioner. This can be done by setting enableVolumeScheduling: true while deploying the chart.

[2020-06-29 14:16] gnufied commented on #525
/close

[2020-06-29 14:16] #525 closed

[2020-06-29 18:31] msau42 commented on #389
/remove-lifecycle rotten

[2020-06-29 18:32] msau42 commented on #370
/remove-lifecycle rotten

[2020-07-05 22:20] leakingtapan commented on #520
/close
As the repo is published

[2020-07-05 22:20] #520 closed

[2020-07-06 21:36] notnoop opened #528 "Attachment failures when multiple volumes are attached to a node"
/kind bug

**What happened?**
The EBS CSI driver may fail to attach a volume to node, if it receives two concurrent `AttachVolume` RPCs for the same node.

The following is a sample log entry:

[code]

**What you expected to happen?**

Both volumes mount to different attachment points

**How to reproduce it (as minimally and precisely as possible)?**
Sorry for the hand-waveness here.  The triggeri

[2020-07-08 13:43] jsafrane opened #529 "Migrated AWS EBS volumes don't have tags"
/kind bug

**What happened?**
In-tree awes-ebs provisioner creates volumes with these tags:
[code]

When migration to CSI is enabled, provisioned volumes don't have such tags, only
[code]

**What you expected to happen?**
When requested on cmdline, the driver should add also the "legacy" tags to EBS volumes.

**Anything else we need to know?**:
- Driver version: today's master

[2020-07-08 13:57] jsafrane commented on #529
* The cluster ID is hard to get, I can imagine a new driver option `--kubernetes-cluster-id=XXX` or let `--extra-volume-tags` accept `kubernes.io` prefix as suggested in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/450, so Kubernetes vendor can add it.

* PV / PVC namespace/name: `CreateVolume` request, if enabled via `external-provisioner --extra-create-metadata=true`, gets PVC na

[2020-07-08 21:00] wongma7 commented on #529
I prefer this.

Also prefer this, I can't think of a reason someone would need a driver cmdline option to disable these tags.

[2020-07-09 05:30] frittentheke commented on #207
+1

[2020-07-09 13:22] jsafrane commented on #529
/assign

[2020-07-09 13:26] jsafrane commented on #529
Thinking more about it... tag `Name: jsafrane-10235-vgdv6-dynamic-pvc-447cc711-bb65-4b4d-836d-a822e4e77e43` [includes cluster-id](https://github.com/kubernetes/kubernetes/blob/442a69c3bdf6fe8e525b05887e57d89db1e2f3a5/pkg/volume/awsebs/aws_util.go#L88). So the CSI driver still needs to get it from somewhere. I'll add it as extra parameter.

[2020-07-10 06:02] leakingtapan commented on #317
/remove-lifecycle rotten

[2020-07-10 06:13] leakingtapan commented on #480
/remove-lifecycle stale

[2020-07-10 06:15] leakingtapan commented on #480
Some the of questions are general CSI migration question that might covered in overall csi migration. Have you checked out this blog post: https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/

[2020-07-10 06:23] leakingtapan commented on #480
To answer ur questions:

Yes. The storage class with `provisioner: kubernetes.io/aws-ebs` should just work. And CSI migration aims at no frontend facing change.

It will not. CSI driver will start in charge of the volume lifecycle management. and in-tree driver will stay down.

Just like how you enable other alpha feature flags. Depends on your cluster provisioning solution. [Here](https://github.

[2020-07-10 18:27] msau42 commented on #450
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/529 should address my use case of setting kubernetes.io/cluster

/close

[2020-07-10 18:27] #450 closed

[2020-07-13 06:57] bertinatto commented on #165
/remove-lifecycle stale

[2020-07-14 19:11] zerkms commented on #223
/remove-lifecycle stale

[2020-07-15 17:59] frittentheke commented on #216
/remove-lifecycle stale

[2020-07-16 14:36] ArseniiPetrovich commented on #207
+1

[2020-07-16 15:52] jsafrane commented on #393
/remove-lifecycle rotten

[2020-07-17 15:32] iamjaekim opened #532 "additional pod/containers resource limit option"
It appears, via Helm, when I specify the `resource` block, it only adds the resource limit/request to ebs-plugin container.
It'd be also nice to set if per-container or entire-pod limit/request.

[2020-07-18 16:05] gajanankulkarni09 opened #533 "Support for multiple aws account"
**Is your feature request related to a problem?/Why is this needed**
CreateVolume fails on Custom deployment of kubernetes on aws with multiple account.

I have kubernetes installed on aws ec2 instances spread across 2 aws accounts.  When I schedule pod object with dynamic Persistent Volume Claim, sometimes operation succeeds and sometime it fails. Below are 2 cases
Case 1.
When EBS Create Volume

[2020-07-19 08:02] frittentheke commented on #207
/remove-lifecycle stale

[2020-07-19 09:27] #351 closed

[2020-07-20 07:57] foreversor opened #534 "Cannot resize volume"
/kind bug

**What happened?**
Got below error with Volume Resizing
Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.
**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**
1. Create new cluster with Kubernetes 1.17
2. Deploy the stable driver
3. Deploy Volume Resizing example

[2020-07-20 16:58] #451 closed

[2020-07-21 17:51] #306 closed

[2020-07-23 07:45] rtnpro opened #535 "Failed to detach volume because of AWS RequestLimitExceeded"
/kind bug

**What happened?**

There was an error due to AWS RequestLimitExceeded during unpublishing a volume, and the pod got stuck getting scheduled to a new node (for 10h until manual intervention). The volume was never released from the previous node, so subsequent attach attempt for the volume to a new node kept failing.

**What you expected to happen?**

On hitting AWS API request limits, v

[2020-07-25 18:49] gkrizek commented on #534
You need to use the `alpha` driver to enable volume resizing. Not `stable`.

[2020-07-25 20:30] dghubble commented on #477
For anyone else, ended up using https://hub.docker.com/r/amazon/aws-ebs-csi-driver instead of the ECR image.

[2020-07-28 15:58] timmyers opened #536 "Snapshot CRDs are not installed"
/kind bug

**What happened?**

Following directions for alpha features does not install the `VolumeSnapshot` related CRDs

**What you expected to happen?**

`VolumeSnapshot` related CRDs are installed.

**How to reproduce it (as minimally and precisely as possible)?**

Follow instructions in `README` for alpha features, i.e.:
`kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/

[2020-07-29 04:42] k4korea commented on #455
uinstall
kubectl delete -f ./inssall _driver

[2020-07-29 20:42] edgarcolque commented on #180
Hello,
   Is there any way to have the same tags  that we have with kubernetes.io/aws-ebs
Example:
kubernetes.io/created-for/pvc/name
kubernetes.io/created-for/pvc/namespace

or add dynamically a Tag to identify the Statefulset  owner, Is that possible with the latest version?

[2020-07-29 23:34] #435 closed

[2020-07-30 07:16] viveksinghggits commented on #426
Hey @leakingtapan
I am on eks 1.17 still facing the similar issue, the volumesnapshot is stuck in `ready to use : false`. I dont see any useful logs either in the snapshot controller of csi driver controller. Do you have some suggestions.

[2020-07-30 14:27] PSjoe opened #537 "VolumeSnapshotClass not in "snapshot.storage.k8s.io/v1beta1""
/kind bug

**What happened?**
Following the directions for CSI volume snapshots:  https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot

Step 1 returns with:
`error: unable to recognize "specs/classes/snapshotclass.yaml": no matches for kind "VolumeSnapshotClass" in version "snapshot.storage.k8s.io/v1beta1"`

**What you expected to happen?**
VolumeSnapshotC

[2020-07-31 03:14] kingli-crypto commented on #537
I am facing the same issue. I believe this is due to VolumeSnapshotDataSource is not enabled in EKS 1.17.
Maybe a maintainer can kindly comment on that.

[2020-07-31 23:54] Amos-85 commented on #537
Hi @PSjoe & @kingli-crypto  ,
I face the same issue today,
it's looks like it's a missing part when installing the snapshot-controller, it doesn't install those crd's `VolumeSnapshot`, `VolumeSnapshotContent`, and `VolumeSnapshotClass`

Those crd's  is not part of the k8s core api according to there documentation:

`https://kubernetes.io/docs/concepts/storage/volume-snapshots`

The workaround is t

[2020-07-31 23:58] Amos-85 commented on #536
Hi @timmyers ,

I face the same issue today,
it's looks like it's a missing part when installing the snapshot-controller, it doesn't install those crd's VolumeSnapshot, VolumeSnapshotContent, and VolumeSnapshotClass

Those crd's is not part of the k8s core api according to there documentation:

https://kubernetes.io/docs/concepts/storage/volume-snapshots

The workaround is to install them manually

[2020-08-01 00:04] Amos-85 commented on #534
Hi @foreversor ,

Ensure that you add all the `feature-gates` in kube-api & kubelet.
Check that you all those policies attached to an instance profile:

`https://raw.githubusercontent.com/kubernetes-sigs/aws-ebs-csi-driver/v0.5.0/docs/example-iam-policy.json`

Check the `csi-resizer` container logs.

[2020-08-02 06:20] leakingtapan commented on #493
/remove-lifecycle stale

[2020-08-02 06:21] leakingtapan commented on #487
/remove-lifecycle stale

[2020-08-02 06:21] leakingtapan commented on #453
/remove-lifecycle stale

[2020-08-02 06:21] leakingtapan commented on #339
/remove-lifecycle stale

[2020-08-02 06:21] leakingtapan commented on #307
/remove-lifecycle stale

[2020-08-02 06:22] leakingtapan commented on #295
/remove-lifecycle stale

[2020-08-02 08:42] #534 closed

[2020-08-02 08:43] foreversor commented on #534
tried with alpha driver, works okay

[2020-08-03 15:33] gnufied commented on #498
At a glance this looks like an eventual consistency problem. It is possible that we don't see this problem with in-tree driver because resizer and attacher are same clients. If https://github.com/kubernetes/kubernetes/issues/90866 were a problem, I have opened https://github.com/kubernetes/kubernetes/pull/93654 to fix it. But since we don't see this in openshift(with in-tree driver where AWS tests

[2020-08-05 18:02] gnufied commented on #498
Thinking through other differences between in-tree driver and CSI driver, I realized that in CSI driver we are using context everywhere including calls to AWS SDK. So if a context expires and we retry expansion - we could in-effect issue multiple expansion requests against same volume. When this happens - while one resize request will succeed the other one may be pending (and there is something we

[2020-08-05 18:05] msau42 opened #541 "Tests for idempotency"
/kind bug

**What happened?**
There are a number of idempotency related bugs.

It would be good to test this in general so we can catch other issues. Some suggestions:

* For testing, reduce the sidecar controller timeouts to 1s so that a controller call will always timeout and retry.
* Incorporate more idempotency testing with csi-sanity, such as kubernetes-csi/csi-test#229

[2020-08-05 20:24] #529 closed

[2020-08-06 09:30] bertinatto commented on #498
I had tried this as well in the past, but I was still able to reproduce the error after running the test sequentially for a few times.

I can be wrong, but I saw context deadline errors happen only in *attach* calls (due to the volume being in _modifying_ state), not on volume modification calls. I noticed that AWS processing time to volume modification calls are usually not the problem (as long a

[2020-08-07 17:32] gkrizek opened #542 "Receiving a Multi-Attach error when the EBS volume is not attached to any instance"
/kind bug

**What happened?**

I have two EC2 instances attached to my EKS cluster in the same Availability zone. A single pod is running on Node1 that has a PVC attached to it. I terminate Node1 to simulate a node failure. EKS sees that Node2 is available and has the correct affinity for the pod, so it schedules the pod onto Node2. The pod is stuck in `ContainerCreating` for about 7 minutes with

[2020-08-07 18:28] msau42 commented on #542
This is probably related to https://github.com/kubernetes-csi/external-attacher/issues/215

[2020-08-07 19:04] gkrizek commented on #542
Ah, yeah. Looks like it could be. Thanks for the reference

[2020-08-09 06:47] leakingtapan commented on #487
/close

[2020-08-09 06:47] #487 closed

[2020-08-09 06:49] leakingtapan commented on #477
/close as https://hub.docker.com/r/amazon/aws-ebs-csi-driver is preferred image

[2020-08-09 06:49] #477 closed

[2020-08-12 03:18] wongma7 commented on #535
What version of csi-attacher is it and do you have logs from csi-attacher? I noticed we are using quite an old version (1.2.0) in the examples. I think you are encountering the bug fixed by https://github.com/kubernetes-csi/external-attacher/pull/168 and so we need to use at least 1.2.1

[2020-08-12 03:53] wongma7 opened #545 "Fix e2e-test-single-az failures"
/kind bug

**What happened?** tests have been incredibly failureprone as of late https://testgrid.k8s.io/sig-aws-ebs-csi-driver#e2e-test-single-az&width=20

**What you expected to happen?** tests should pass consistently

**How to reproduce it (as minimally and precisely as possible)?** create a PR and let the CI run tests

**Anything else we need to know?**:

**Environment**
- Kubernetes version

[2020-08-12 03:56] wongma7 commented on #545
Need to dump csi driver logs to aid in debugging.

[2020-08-12 11:50] rtnpro commented on #535
Hey @wongma7,

Earlier, we were using v0.5.0 kustomization for aws-ebs-csi-driver from here:

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/v0.5.0/deploy/kubernetes/overlays/stable/kustomization.yaml

But, as you might notice that there was a bug here with this kustomization. The image tags are still of `v0.4.0`.

Updating to `v0.5.0` image tag for aws-ebs-csi-driver and other images

[2020-08-12 11:50] #535 closed

[2020-08-13 12:16] rgarcia89 opened #547 "Update readme with facts to version 0.6"
As already described in the title the readme file has not been updated after the release of version 0.6.

[2020-08-13 20:58] wongma7 commented on #547
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/544 to update docs and such is in progress

[2020-08-14 20:20] PSjoe commented on #537
Thanks for the tip!  That got me closer.  I no longer get any error messages when stepping through the example.  However, it seems my snapshot never gets created.  Are you able to get Step 5:
`kubectl apply -f specs/snapshot/`
to work?  It doesn't error. It just never gets to `Ready To Use: true`.

[2020-08-14 20:35] PSjoe commented on #537
Never mind.  I've backed out everything and started over and it seems to be working now.

[2020-08-14 20:42] Amos-85 commented on #537
@PSjoe ,
Cheers!

[2020-08-15 08:35] Jiawei0227 commented on #528
A quick read of the code logic. Nothing obviously wrong seems to me. The logic of NewDevice is synchronized. And also it adds the devices info into the in-memory attach-in-progress map. So in theory the next NewDevice call should not return the same name. Is there anything wrong that I did not spot here?

[2020-08-15 08:42] Jiawei0227 commented on #528
One possible issue is that the controller is not running in leader-election mode? So there might be cases two ControllerPublishVolume() call get processed by two different controller? Guess this might be problematic.

[2020-08-15 21:00] #547 closed

[2020-08-16 09:46] wongma7 commented on #528
Yeah, external attacher should be run with leader election so there should not be multiple controllers racing to attach volumes. It will be unfeasible to synchronize 2 controllers' in flight requests. I think the best we can do is make the controller tolerate the possibility that something else "steals" an chosen attach point and pick another one if so. But that could introduce more bugs so I thin

[2020-08-16 09:51] wongma7 commented on #528
I guess even if leader election is on it's possible for there to be an issue like if 1 controller is unable to renew its lease for some reason but 1 of its attaches is in flight e.g. volA to xvda and the new leader then tries to attach volB to xvda.

[2020-08-17 03:39] #428 closed

[2020-08-17 22:12] Jiawei0227 commented on #528
@wongma7 agree that this can happen when leader changes. But from the original issue report on nomad, it seems this issue happens almost every time. This is unnormal. And I cannot seem to reproduce the issue on kubernetes. @notnoop Can you verify if the controller is running in leader-election mode if you have more than one controller deployed in nomad?

[2020-08-18 07:05] #415 closed

[2020-08-20 11:17] ArseniiPetrovich commented on #334
I'm seeing this pretty often now.

[2020-08-24 08:08] azhurbilo commented on #449
/remove-lifecycle stale

[2020-08-26 05:40] palsivertsen commented on #482
/remove-lifecycle stale

I'm setting up a service where I have a RW primary set up in a StatefulSet using a PV and several RO followers. It's a read heavy service by nature so only the followers are used by other services. It would be nice if the followers could have a dedicated volume that follows the life cycle of the pod for caching.

[2020-08-26 15:20] invidian opened #548 "Controller reports as ready even though it is not able to connect to EC2 instance metadata"
/kind bug

**What happened?**

When the controller pod not able to connect to EC2 instance metadata endpoint (for example, when it's blocked by the NetworkPolicy), the deployment still reports the container as a ready for some time, then pod crashes with the following error:
[code]

**What you expected to happen?**

`ebs-plugin` container in controller pod should wait until it's connected to EC2 i

[2020-08-27 13:16] bertinatto commented on #272
/remove-lifecycle rotten

[2020-08-27 13:16] bertinatto commented on #272
/reopen

[2020-08-27 19:02] dodtsair commented on #492
Is this the issue being used to track EBS on fargate + EKS?

[2020-08-27 19:21] #521 closed

[2020-08-28 20:27] chrishenzie commented on #498
I'm not sure I understand. How does increasing a timeout on the external-resizer fix the issue? I understand the context supplied by the external-resizer is passed to the CSI driver and then to the AWS API. I don't see any deadline exceeded error (except for during attachment). Which API call in the CSI driver times out? And when it times out, what does the AWS API return?

[2020-08-28 21:51] msau42 commented on #498
I'm still suspicious about this Optimizing state. Can we try removing the check for that and see if that helps with the test flakiness? It would be good to also compare run times of the test case with the various suggestions in this thread.

[2020-08-28 22:27] gnufied commented on #498
@msau42 @chrishenzie opened https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/552 to fix the idempotency issue.

@chrishenzie I always see context deadline errors whenever this test flakes:

[code]

In this case test flaked on pvc-f23e1bd5-5941-4036-b61a-30d8dd3861c0 and as you can see first 2 calls to resizing resulted in context deadline errors and then it finally succeeded (it took app

[2020-08-29 14:41] gnufied commented on #498
@wongma7 Is there a way to confirm with EBS folks that if we issue modifyVolume call to a volume which was previously expanded to same size (and might be in "optimizing" state) will enter "modifying" state because of same call being issued second time?

[2020-08-31 16:00] gnufied opened #553 "Bring back the vendor directory"
Compared to every other repository in k8s org, EBS CSI driver does not vendor the dependencies. This creates problems like - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_aws-ebs-csi-driver/552/pull-aws-ebs-csi-driver-unit/1300182099357077505/build-log.txt

When we removed vendor via  - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/202 the argument w

[2020-09-01 14:35] mhulscher opened #554 "Container images are hosted on docker hub"
**Is your feature request related to a problem?/Why is this needed**

Docker has recently announced that they are introducing new rate limits for pulling images from the docker hub. Unauthenticated users are limited to 100 pulls per IP every 6 hours. The aws-ebs-csi-driver project is most likely to be installed in AWS EKS clusters. The container images are hosted on docker hub and the images are l

[2020-09-01 22:24] gnufied commented on #498
I can confirm that - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/552 fixes the resizing flake for offline resizing. The root cause is something a combination of short context timeout and the fact that describeVolume can return targetSize even when volume is still being resized.

[2020-09-02 05:02] Jiawei0227 commented on #389
Hey, I am wondering is there any stress tests that been done on NodePublishVolume and NodeUnpublishVolume? Is this bug even reproducible on the csi driver?

[2020-09-02 05:41] leakingtapan commented on #553
IIRC the "consistent build image" was referring to the usage of go.mod/go.sum which lock down all the dependency version, compared to go vendor dir could potentially modified without being noticed. But anyway, what's the advantage of vendor dir? I think Golang is moving toward go mod and vendor dir will be deprecated.

[2020-09-02 15:30] gnufied commented on #553
I have added verification check so as any direct modification to vendor files will be detected and will cause tests to fail. I think that should address concerns about vendored files being silently modified.  If anything - vendored dependencies make builds more reproducible.

[2020-09-02 21:11] leakingtapan commented on #553
Fair enough. I feels this is more golang issue on whether vendor dir or go mod should be preferred. Let’s use vendor then if all k8s projects are doing the same thing

[2020-09-03 04:21] pinzhourk commented on #426
I'm on eks 1.17.9, I followed https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot to test the snapshot, but at step 6, "Ready To Use" field is always false instead of becoming to true. Any help on this?

[2020-09-03 09:19] dhouhamaa commented on #426
I'am using [Velero](https://velero.io/) for the moment to backup the volumes cos I didn't find any other way to make it work in EKS

[2020-09-03 16:47] gzur commented on #449
Are there any design discussions happening somewhere else?

[2020-09-03 18:52] pinzhourk commented on #426
You mean using Velero's own backup implementation for EKS volumes, not using Velero to backup the ebs csi volumes? I've tried Velero to backup an ebs csi volume and it failed due to "Ready To Use" is always false. That's why I went back to try the snapshot example to make sure it's not an issue of Velero, but an issue in ebs-csi or something else.

[2020-09-04 08:02] bastienbc commented on #516
Hi I cannot install the helm chart with helm 2 either.
I do not know if the error is related but with the enableVolumeSnapshot set to true, a role `ebs-snapshot-controller-leaderelection` is created, but the rolebinding is set incorectly to a role `snapshot-controller-leaderelection`.

If the helm 3 error is unrelated please tell me so I create a specific issue.

[2020-09-05 17:05] rawipfel opened #556 "Support io2 EBS volumes"
/kind bug

**What happened?**

Pod with io2 PVC was pending

**What you expected to happen?**

Expected the latest CSI to support EBS io2 volumes

**How to reproduce it (as minimally and precisely as possible)?**

Create a StorageClass:
[code]

Create a PVC with that class:
[code]

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
Default EKS
- Driv

[2020-09-07 09:53] Art3mK opened #557 "Chart v0.5.0 is not available via helm repo"
/triage support

Hey, v0.5.0 helm chart is available in master branch of project/via releases, but now via helm repo, could you, please, fix that?

[2020-09-08 14:58] leakingtapan commented on #556
/feature

[2020-09-08 14:58] leakingtapan commented on #556
/kind feature

[2020-09-08 14:59] leakingtapan commented on #556
This is not supported yet as io2 is the new volume type just got launched

[2020-09-09 07:29] #553 closed

[2020-09-09 09:54] cablespaghetti commented on #480
I've just been looking at this as precursor for switching to Bottlerocket (which doesn't have in-tree driver support) for our EKS clusters. We of course can't enable alpha feature flags in our EKS clusters.

The details are a bit thin on the ground but this blog post helped a lot: https://medium.com/faun/amazon-eks-upgrade-journey-from-1-16-to-1-17-cb9e88191165

This explains that the CSIMigration

[2020-09-09 10:50] mhausenblas commented on #480
Thanks for bringing this to my attention @cablespaghetti and I'm looking into it. From what I so far understand it seems to be an UX/DX issue combined with some missing bits. Let's see what we can do about this here.

[2020-09-09 14:54] rawipfel commented on #556
Thanks for clarifying that @leakingtapan. What's the timeframe for supporting io2? Do you plan to handle this, or would like a PR?

[2020-09-09 21:15] nothingofuse commented on #537
it seems these crds are no longer in that location, does anyone know of the current solution to this issue?

[2020-09-09 22:37] Amos-85 commented on #537
@nothingofuse ,
You can follow the [external-snapshotter](https://github.com/kubernetes-csi/external-snapshotter) project and install the crd's version you wish.

[2020-09-10 08:05] #115 closed

[2020-09-10 21:41] wongma7 commented on #545
Most failures are sc1 and st1 which are slow hdd with minimum 500GiB size. Not sure how long formatting should take, of course formatting 500GiB does not mean all 500GiB needs to be written, but let's say it does then in a best case scenario of 250MiB/s writing all 500GiB would take 34 mins.

io1 tests also fail a bunch and it could be because we provision with bare minimum iops of 100.

Doesn't r

[2020-09-10 23:02] ayberk commented on #556
I can't comment on the timeline, but I have a PR out: #558

[2020-09-11 08:06] jsafrane opened #560 "Migration tests are constantly failing"
/kind bug

**What happened?**
https://testgrid.k8s.io/sig-aws-ebs-csi-driver#migration-test-latest is completely red.

From its logs:

[code]

I did not dig deep into this, just few observations:

1. Kubernetes 1.16 is really old
2. I would assume that after #555 no remote module fetch is necessary.

[2020-09-12 07:44] fentas commented on #351
Is there a way to tag ebs volumes?

[2020-09-14 05:36] #439 closed

[2020-09-14 14:07] PSjoe commented on #537
Found them here:

https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd

[2020-09-15 21:40] wongma7 commented on #560
yeah the migration test has its own go.mod, I guess to isolate it from the kubernetes libs of the driver itself so we can test a newer version without updating libs of driver: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/tests/e2e-migration. So need to repeat the same vbox.ml fix to stop trying to pull from there
/assign

[2020-09-15 21:41] wongma7 commented on #560
isolating the go.mod is probably not needed anymore,since the lib version being used by the driver is in fact newer and definitely contains the migration tests already

[2020-09-17 13:53] cmanikandan opened #564 "Issue while deploying the EBS CSI driver on bottlerocket"
/kind bug

**What happened?** Following the instructions at https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html to deploy the driver on Amazon EKS cluster running Bottlerocket with ARM/Graviton2 based worker nodes. The driver pods ebs-csi-controller, ebs-csi-node keep crashing ..

**What you expected to happen?** The persistent volumes did not get provisioned

**How to reproduce it (as m

[2020-09-18 16:14] jwesolowski-rms opened #565 "Add support for --extra-create-metadata for CSI provisioner in Helm chart"
**Is your feature request related to a problem?/Why is this needed**
When using the Helm chart, I am unable to set `--extra-create-metadata=true` for the CSI provisioner. The only options can be seen [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aws-ebs-csi-driver/templates/controller.yaml#L92-L101):
[code]

/feature

**Describe the solution you'd like in detail**
It wou

[2020-09-18 19:02] wongma7 commented on #560
They are now running but there are still some failures. In this one all the tests passed but it still reported failure for some reason... https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-aws-ebs-csi-driver-migration-test-latest/1306841052396654592

[2020-09-18 23:52] chrishenzie opened #566 "Enable user-provided tags on volume snapshots"
**Is your feature request related to a problem? Please describe.**
Right now we have an `--extra-volume-tags` flag for enabling user-supplied tags on provisioned EBS volumes. I would like to extend this to also tag snapshots of these EBS volumes.

**Describe the solution you'd like in detail**
- Add an `--extra-snapshot-tags` flag for user-supplied tags on EBS snapshots
- Pass these tags in the `c

[2020-09-18 23:58] msau42 commented on #566
I prefer reusing --extra-volume-tags since I'm not sure when you wouldn't want to add the tag to both. But agree that it would be a breaking change to rename it. cc @leakingtapan @wongma7

[2020-09-22 23:26] wongma7 commented on #454
/remove-lifecycle rotten

[2020-09-22 23:28] wongma7 commented on #454
/lifecycle frozen

- it would be nice if the tester could catch interrupt and clean up
- even with an interrupt catch, we still need a periodic cleaner in the test account. Interrupt catcher is not foolproof, it could get killed for any reason in the middle of clean up.

[2020-09-23 16:00] #498 closed

[2020-09-24 09:08] TBBle commented on #514
It looks like this problem will still exist when upgrading an [0.5.0](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/v0.5.0/deploy/kubernetes/base/node.yaml#L9-L11) or older installation to [0.6.0](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/v0.6.0/deploy/kubernetes/base/node.yaml#L12-L15) or later, unless the old version is uninstalled (or at least the ebs-csi-node `Dae

[2020-09-24 19:30] wongma7 commented on #560
They are failing now because, based on my primitive method of checking, calls are still going to the in-tree driver instead of csi despite migration being enabled. Not sure why, I think anyway we should flip the 'MigrationComplete' flag

Port forwarding is not yet ready
Forwarding from 127.0.0.1:10252 -> 10252
Forwarding from [::1]:10252 -> 10252
Handling connection for 10252
Port forwarding is su

[2020-09-25 14:41] krmichel commented on #514
I think this can be worked around using `kubectl replace`.  I haven't tested this but it should be something like this for the daemon set:
kubectl get daemonset ebs-csi-node -o yaml | sed 's/\(\(\s\{1,\}\)app: ebs-csi-node\)/\1\n\2app.kubernetes.io\/name: aws-ebs-csi-driver/' | kubectl replace -f -
and this for the deployment:
kubectl get deployment ebs-csi-controller -o yaml | sed 's/\(\(\s\{1,\}

[2020-09-26 03:24] TBBle commented on #514
I think to change the immutable field, you need `kubectl replace --force`, which forces a delete-and-create instead of an overwrite. I _think_ that will cause the existing Pods to be deleted, and new Pods created.

At which point you might as well `kubectl delete` the aws-node `Daemonset`, and then `kubectl apply -k` the new version anyway.

[2020-09-28 07:55] symanovich-a opened #569 "Resizing disk partition in EBS from smaller snapshot size"
/kind bug

**What happened?**
Disk partition isn't resized after creation

**What you expected to happen?**

Disk partition is resized after creation
**How to reproduce it (as minimally and precisely as possible)?**
- Create disk(ebs) snapshot
- Restore disk from this snapshot but with bigger size.
I see normal disk size from lsblk command, but partition isn't resized. All work good, if i do disk

[2020-09-28 18:25] sgatdell commented on #536
Now that CSI Volumesnapshot support has moved out of alpha and is enabled by default, any idea when the VolumeSnapshot support in EBS driver will be moved to stable version of the driver  instead of being as part of the driver with alpha features?

[2020-09-29 11:10] rubenstolk commented on #449
Would love to understand if there will be any progress on this?

[2020-09-30 13:30] randomvariable commented on #517
/lifecycle frozen

[2020-10-01 02:01] AceHack commented on #223
What's going on here, how do we get metrics, this seems very incomplete without it.

[2020-10-01 08:06] vonsch opened #571 "Provide more restrictive example IAM policy, based on tags"
**Is your feature request related to a problem?/Why is this needed**
When there are multiple EBS volumes in AWS and some of them are used outside of kubernetes cluster, it would be nice to limit somehow access of k8s cluster to only ebs-csi-driver provisioned volumes, to not mock with drives outside of kubernetes world.

/feature

**Describe the solution you'd like in detail**
It would be nice to

[2020-10-01 15:27] gnufied commented on #347
This is fixed https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/522

[2020-10-01 15:27] #347 closed

[2020-10-01 16:32] #554 closed

[2020-10-01 17:19] frittentheke commented on #499
@Henni not really. The intention of https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/223 is to report metrics for the EBS driver, so some stats on the requests to the AWS APIs maybe - Number of them, success / failure rate / timeouts ....
So generally about the functionality of the CSI driver, not the resulting volumes or their stats.

See: https://github.com/kubernetes-sigs/aws-ebs-cs

[2020-10-01 17:19] frittentheke commented on #499
/remove-lifecycle stale

[2020-10-01 20:09] alexandregomes-acceptto commented on #520
Version 0.6 is not available. How do we get it updated on that repo?

[2020-10-01 20:18] JonathanLachapelle opened #572 "Helm chart : snapshot-controller image location is hardcoded, we should be able to set overwrite the value"
**Is your feature request related to a problem?/Why is this needed**
It is not possible to use the helm chart with a private repository

/feature

**Describe the solution you'd like in detail**
Add the possibility in the snapshot controller stateful set to input the image location

**Describe alternatives you've considered**
Fork the repo

[2020-10-01 20:46] JonathanLachapelle commented on #572
Also ImagePullSecret is not working

[2020-10-02 23:00] kcking opened #575 "io1 volumes with <100 iops fail to provision"
/kind bug

**What happened?**
provisioning `io1` volume with < 100 IOPS fails

**What you expected to happen?**
provision the volume with a min of 100 IOPS instead of failing, as this was the behavior of the in-tree EBS plugin

**How to reproduce it (as minimally and precisely as possible)?**
provision an `io1` volume with < 100 IOPS

**Anything else we need to know?**:
Maybe this is intended beha

[2020-10-03 20:16] otterley commented on #427
/remove-lifecycle rotten

[2020-10-04 08:26] #419 closed

[2020-10-05 08:55] ialidzhikov opened #580 "Push debain-base target to Dockerhub"
In #573 @wongma7 mentions that he needs to get approval to push debian based image to Dockerhub. That's why v0.7.0 is still with amazonlinux base image.
I am opening this issue to track the progress on this topic.

/assign @wongma7

[2020-10-06 10:56] wongma7 commented on #580
I mentioned already in #573 but what do we think about maintaining our own community Docker hub not tied to the amazon Docker hub? Or is it important to people that they are getting an image from an "official" source?

Plus, Docker hub is implementing rate limiting which I gather is not popular. Any other options?

[2020-10-06 11:21] wongma7 commented on #575
I think it is better to throw an error than silently accept and correct an invalid input.

Can you share your StorageClass? Do you trigger this situation by setting a low iopsPerGB value in it? Since even with CSI migration enabled there is no guarantee of compatibility between in-tree and CSI StorageClasses, I don't think we are violating compatibility by tweaking the validation around iopsPerGB.

[2020-10-06 17:05] msau42 commented on #575
I agree that it's better to error than silently round up, so that users are not surprised when they get their bill.

For CSI migration, you could preserve in-tree behavior by rounding up when you translate the in-memory StorageClass parameters.

[2020-10-06 17:08] msau42 commented on #580
Another option is to push community images to k8s-infra, since this project is part of kubernetes-sigs. There already is a staging repo for aws: https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/manifests/k8s-staging-provider-aws

[2020-10-06 20:01] ayberk commented on #575
I, too, concur that we should keep this behavior, but at the same time we shouldn't surprise migrating from the in-tree plugin. Maybe it's worth having a section in the README to note differences for migration.

[2020-10-07 05:42] kcking commented on #575
Totally hear the point of a surprise bill. Yes the storage class in question had a very low IOPS/GB and was a 16GB volume because it was a testing environment.

I'm not using storage class migration because AFAICT it is not enabled in k8s 1.17 (the current latest for EKS). Instead I had my k8s database operator (foundationdb) migrate the cluster to the new CSI storage class, but ran into errors be

[2020-10-07 05:43] kcking commented on #565
I went ahead and made a first attempt at this here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/577

It's working well in our EKS 1.17 cluster

[2020-10-07 19:25] wongma7 commented on #575
OK, I am fine with changing the behavior to be like in-tree to avoid situations like that. I do want to at least change the "silent" part of it...we definitely need to document what happens if iopsPerGB * requestedGB is less than minimum, and a log message won't hurt, something like "Setting iops to minimum 100 because x would be too low"

[2020-10-07 19:37] msau42 commented on #575
I think folks in this thread were actually ok with the opposite, ie error, but add more documentation in the repo that this is different than intree behavior.

And in terms of csi migration, we can retain the old behavior in the translation layer.

[2020-10-07 20:27] wongma7 commented on #575
Got it, opened https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/582 to fix the doc, yes let's have translation layer retain old behavior and spit out some log message .

[2020-10-08 18:36] tgross commented on #528
Hi folks, following up on @notnoop's behalf from the Nomad team. We don't run `csi-provisioner`, `external-attacher`, etc., but have the CSI controller RPCs implemented in-tree. So there's nothing to run elections between controllers.

[2020-10-08 20:50] JonathanLachapelle commented on #572
I created a pull request to fix this issue : https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/583

[2020-10-10 03:01] ognots commented on #207
+1

[2020-10-10 15:22] rawipfel commented on #556
Closing as this is working now. Tested with the alpha driver:
{code}
# Install the CSI
# Alpha
kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/alpha/?ref=master"
# Create a StorageClass
kubectl apply -f ~/Desktop/eks-ybdaas/aws-ebs-sc-io2.yaml
{code}
{code}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: io2
provisioner: ebs.csi.aws.com

[2020-10-10 15:22] #556 closed

[2020-10-11 03:52] dnoland1 opened #584 "Helm Chart for 0.7 deploys 0.6 image"
/kind bug

**What happened?**
When using 0.7 of the helm chart, it deploys 0.6 of the aws ebs csi driver.

**What you expected to happen?**
Would expect this helm chart would deploy 0.7.

**How to reproduce it (as minimally and precisely as possible)?**
[code]
After deploying helm chart, seeing:
[code]
**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`

[2020-10-13 19:10] Chili-Man opened #586 "Feature: Add Helm Chart to ArtifactHub.io"
**Is your feature request related to a problem? Please describe.**
Make this helm chart more discoverable.

**Describe the solution you'd like in detail**
By integrating with Artifacthub.io, it will make the Helm chart more easy to discover

**Describe alternatives you've considered**
I found my way through here after some searching

**Additional context**

[2020-10-13 20:23] Chili-Man opened #587 "Helm repo index.yaml out of date"
**Is your feature request related to a problem?/Why is this needed**
The current Helm repo index.yaml (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/gh-pages/index.yaml) is out of date and pointing to an older version.

/feature

**Describe the solution you'd like in detail**
Please update the Helm repo index.yaml and point it to the published release of the 0.7.0 Helm chart

**Descri

[2020-10-14 09:52] zerkms opened #588 "`tolerationSeconds` for tolerations for controller"
**Is your feature request related to a problem?/Why is this needed**
At the moment `tolerations` for the controller deployment https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aws-ebs-csi-driver/templates/controller.yaml looks like this:

[code]

which effectively allows it run everywhere. Which is fine. The problem is that with this toleration kubernetes won't reschedule the cont

[2020-10-15 01:05] groodt opened #590 "CSIDriver should not be namespaced"
/kind bug

**What happened?**
Rendering the manifests like this:
`kubectl kustomize "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=v0.7.0"`

Results in this resource:
[code]

This resource should not be namespaced according to:
`kubectl api-resources --namespaced=false`

**What you expected to happen?**
This resource should not have a namespace specified.

**

[2020-10-15 01:26] wongma7 commented on #590
This is a kustomize issue: https://github.com/kubernetes-sigs/kustomize/issues/552. I don't think there is anything we can do on our end to mitigate it

[2020-10-15 02:09] groodt opened #591 "DaemonSet Tolerations empty"
/kind bug

**What happened?**
Rendering the manifests like this:
`kubectl kustomize "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=v0.7.0"`

Results in this resource:
[code]

Notice that "tolerations" looks a little strange:
[code]

**What you expected to happen?**
`tolerations` should not be empty or should not exist.

**How to reproduce it (as minimally and

[2020-10-15 15:25] jwesolowski-rms commented on #565
Closed by #577

[2020-10-15 15:25] #565 closed

[2020-10-16 08:56] svenwltr commented on #591
Hello. We ran into an issue with that. Basically it caused the pods to ignore `NoSchedule` taints which made minor troubles.

It looks like it was introduced in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/475 ([the line](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/46235c52dffbbe4ef808b81718d7b4bc93c76788#diff-7f2ccd49d52cea4ce88fe506e6ab0136719cb84bffe0e68439c60b39d

[2020-10-16 13:44] galindro commented on #587
I'm facing the same issue also. I would like to install the newer version but I can't. I must say that the current published version has a bug that causes helm to always try to update it. The version on index.yaml is 0.4.0 but the published Chart's version is 0.3.0.

[2020-10-16 14:13] galindro commented on #587
PR created with the required update: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/592

@leakingtapan could you please review it?

[2020-10-16 20:11] wongma7 commented on #533
I don't think putting creds in the StorageClass will ever be possible for security reasons. ATM there is some effort to put service account tokens in CSIDrivers but it is focused on NodePublish not ControllerPublish/CreateVolume https://github.com/kubernetes/enhancements/pull/1855/files

If the driver can't get creds from StorageClass, then you'll have to deploy two drivers, each with creds for 1

[2020-10-16 20:52] msau42 commented on #533
storageclass supports secret parameters
https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html

[2020-10-16 21:41] wongma7 commented on #533
TY, works for me, then we need to update driver to read it and use the creds there to AssumeROle

[2020-10-16 21:45] wongma7 commented on #179
/reopen
/remove-lifecycle rotten

[2020-10-16 21:46] wongma7 commented on #533
Reopened old issue about it, I think this one can be closed since the proposed solution is totally possible if we just implement the old issue https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/179/

[2020-10-16 21:46] #533 closed

[2020-10-16 22:13] wongma7 commented on #548
There is a livenessprobe https://github.com/kubernetes-csi/livenessprobe https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/base/controller.yaml#L60 , I am not sure if it can double as a readiness probe but that would probably solve this issue.

[2020-10-18 04:50] #510 closed

[2020-10-18 07:18] leakingtapan commented on #591
As there are both cases for tolerating all node and only allow certain node, #526 makes this behavior configurable

[2020-10-18 12:58] #502 closed

[2020-10-18 20:05] krmichel commented on #591
@leakingtapan, Sounds good.  So the question then is should the base kustomize manifest be set to tolerate all taints or none?  I ask because this bug's complaint is that it is tolerating all taints but that ends up being the net result of #526. Just want to make sure that issue is producing the desired result before it gets merged.

[2020-10-19 15:41] #566 closed

[2020-10-21 15:16] njuettner opened #597 "Migration from in-tree to ebs csi driver"
When migrating to csi-driver and enabling the CSIMigrationAWS feature gate, what happens with the current storage class? Do I need to change the provisioner, is this even possible?

I know that when you create a new pvc with the in-tree storage class Kubernetes will take care it uses the new csi driver.

Additionally do I need to modify existing pvcs to set the new provisioner since I guess it onl

[2020-10-21 23:28] ecrousseau opened #598 "Push container images to all AWS regions"
It is great to have the container images available in ECR (see [overlay](https://raw.githubusercontent.com/kubernetes-sigs/aws-ebs-csi-driver/master/deploy/kubernetes/overlays/stable/ecr/kustomization.yaml)) but not all of the images are mirrored to the ap-southeast-2 region, so we can't access them using our private ECR endpoint. For example, 602401143452.dkr.ecr.ap-southeast-2.amazonaws.com/eks/

[2020-10-21 23:31] tyrken commented on #584
I'm guessing this is as updating the version-tags on the helm chart (and kustomise manifest) is seen as a manual post-release task, e.g. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/a2aecd2db7b8d27f97ab4e0c673bad36103cb8f4, whereas that helm-chart.tgz is uploaded via GitHub Actions immediately upon release, i.e. before that.

The (human?) documentation as to the release process nee

[2020-10-22 04:23] #509 closed

[2020-10-23 13:19] njuettner commented on #597
Sorry for pinging directly here, but @leakingtapan any ideas?

[2020-10-23 16:41] msau42 commented on #597
With csimigration feature, you don't need to change anything, including the storageclass, and previous PVs.

It's still recommended that any new volumes directly use a csi storageclass, so that they can take advantage of new csi features like snapshots.

[2020-10-24 04:22] leakingtapan commented on #597
yep, @msau42 is right.

[2020-10-24 21:08] nevetS opened #600 "Multiple EBS volumes being created"
/kind bug

**What happened?**

I created a dynamic pvc.  Kuberenetes event logs show one PV being provisioned.  CloudTrail logs show two ebs volumes being created.  One EBS volume is available.  The other EBS volume is in use.  This is on EKS.

**What you expected to happen?**

One EBS volume should be created.

**How to reproduce it (as minimally and precisely as possible)?**

I created a pvc def

[2020-10-26 11:56] konduktor4ik commented on #223
Any update?

[2020-10-26 20:13] #492 closed

[2020-10-27 00:44] msau42 commented on #600
@bertinatto is this related to the createvolume idempotent issue?

[2020-10-29 05:36] leakingtapan commented on #600
From the EBS volume query result, it looks one volume is created by CSI driver, one is created by controller manager. But the provisioner is `kubernetes.io/aws-ebs`. That's weird. Are you using CSI migration ?

[2020-10-29 09:15] bertinatto commented on #600
The PVC `devops-test`  doesn't have a StorageClass specified, so it's using the default one. And the dhe default SC seems to be using the in-tree provisioner `kubernetes.io/aws-ebs`.

This issue seems to be related to https://github.com/kubernetes-csi/external-provisioner/issues/340.

[2020-10-30 08:03] galindro commented on #587
@leakingtapan any return? I really need this feature because the current chart version that is available through the helm repo lacks a nodeAffinity rule that makes it not run inside fargate nodes.

[2020-10-30 08:26] Chili-Man commented on #587
Hey @galindro I ended up forking this repo under my company's organization (https://github.com/noteable-io/aws-ebs-csi-driver/tree/gh-pages) and manually publishing the latest version there it there; You should be able to do the same or you can use ours (`helm repo add noteable-aws-ebs-csi-driver https://noteable-io.github.io/aws-ebs-csi-driver`)

[2020-10-30 10:48] galindro commented on #587
Yeah, I was considering it as well...

[2020-11-02 00:37] #518 closed

[2020-11-02 10:08] bertinatto commented on #307
/remove-lifecycle stale

[2020-11-03 09:09] #516 closed

[2020-11-03 18:43] gkrizek opened #604 "EBS CSI Driver does not work on arm64 based instances"
/kind bug

**What happened?**

arm support was added in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/527 for the driver Docker images. However, when deploying the EBS CSI from this repo it references Docker images that are not multiarch. Thus the deployment gets stuck in a crash loop.  So ARM still won't work.

These images:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/

[2020-11-03 18:47] gkrizek commented on #604
Some Kubernetes output:

[code]

[code]

[2020-11-03 19:55] markus7811 commented on #485
I really would like to see this feature

[2020-11-04 11:23] invidian opened #605 "Add StorageClass support to Helm chart"
**Is your feature request related to a problem? Please describe.**
It would be valuable to be able to create a StorageClass to consume this driver together with Helm chart, which is used for deployment.

**Describe the solution you'd like in detail**
Helm chart should have values for enabling storage class management and enabling it as a default storage class. I suppose customizations can be imple

[2020-11-04 16:08] Morl99 commented on #587
This issue is the updated version of #557

[2020-11-07 01:41] #575 closed

[2020-11-07 14:46] nevetS commented on #600
Sorry - had a busy week and I missed the question.  No, I'm not using CSI migration.

Yes, the default SC is kubernetes.io/aws-ebs.

I looked through bug 340 and the qualifier is:

Is there a feature that I should enable to get this working correctly?  It seems the race condition that bug spells out is pretty consistent in my environment.

Also - that bug seems to have been closed in September of

[2020-11-07 23:44] zerkms commented on #399
/remove-lifecycle stale

[2020-11-08 23:05] frittentheke commented on #216
/remove-lifecycle stale

[2020-11-09 07:44] frittentheke commented on #346
/remove-lifecycle stale

[2020-11-11 15:58] paktek123 opened #609 "Support regional sts endpoints"
**Is your feature request related to a problem? Please describe.**
I am trying to create a PVC but I get `"https://sts.amazonaws.com/": dial tcp 52.94.241.129:443: i/o timeout`. This is because I use regional sts endpoints and have no route out to 0.0.0.0/0 (internet).

**Describe the solution you'd like in detail**
Support regional sts endpoints.

**Describe alternatives you've considered**
I am

[2020-11-15 04:52] pabrahamusa opened #611 "GRPC error: rpc error: code = NotFound desc = Instance "xxxxxxx" not found"
I want to attach a static "io2" to one of the nodes via pvc. I followed the document to set up the CSI https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html . I was able to create PV and PVC . And PV status is Bound and pvc status also Bound. However the container is not up and  getting following error .

  **Warning  FailedAttachVolume  116s (x24 over 34m)  attachdetach-controller  Attach

[2020-11-16 14:02] bertinatto commented on #165
/remove-lifecycle stale

[2020-11-16 14:02] bertinatto commented on #290
/remove-lifecycle stale

[2020-11-18 16:15] esteban1983cl opened #613 "Real support for imagePullSecrets in helm chart"
**Is your feature request related to a problem? Please describe.**
Yes, I need pull images from my own registry that use secrets.
I can see the field In values.yaml but there is not supported in templates/*.yaml files.

**Describe the solution you'd like in detail**
Modify helm chart to support imagePullSecrets field

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-18 21:07] rohit-dikkar opened #615 "volumesnapshot not working on Amazon Outpost"
/kind bug

**What happened?**   Volumesnapshot READYTOUSE showing **False**

**What you expected to happen?** : VolumeSnapshot should work

**How to reproduce it (as minimally and precisely as possible)?**

1) Install aws-ebs-csi-driver using helm -- https://github.com/kubernetes-sigs/aws-ebs-csi-driver
2) Created storage class: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html
3) Appl

[2020-11-18 21:10] adam-imeson commented on #615
This is happening on an Outpost, for context.

[2020-11-19 05:11] ayberk commented on #615
@rohit-dikkar Would you be able to provide ebs-csi-controller logs by any chance? That'd give us a good starting point for the investigation.

[2020-11-19 15:15] manosoft commented on #615
@ayberk
Attaching logs, me and @rohit-dikkar were checking this together.

[aws-op-csi.log](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/5567684/aws-op-csi.log)

Help is appreciated.

[2020-11-20 09:20] OliverCole commented on #180
/remove-lifecycle stale

[2020-11-20 18:11] rohit-dikkar commented on #615
Can someone please check we have to finish the AWS outpost support testing

[2020-11-21 01:11] rohit-dikkar commented on #615
In this chart, we are downloading v0.6.0 image and the fix is available in v0.7.0, can someone please confirm?

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/download/v0.7.0/helm-chart.tgz

[2020-11-22 01:31] ayberk commented on #615
Yes, we started supporting outposts on version v0.7.0. I thought we fixed the chart, but regardless v0.6.0 wouldn't work on outposts. Please try with the new version.

[2020-11-22 22:48] #464 closed

[2020-11-23 12:42] trunet opened #617 "New versions on helm chart repository"
/kind bug

**What happened?**
New versions are not being deployed on helm charts repository. This repository is recent looks like, it was done on https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/520

**What you expected to happen?**
New versions should be available on the helm charts repository.

**How to reproduce it (as minimally and precisely as possible)?**
`curl https://kubernetes

[2020-11-23 23:29] wongma7 commented on #560
Now tests are using 1.18.

Now only inline tests are failing.

Fix is here:
https://github.com/kubernetes/kubernetes/pull/96821

[2020-11-25 00:33] TBBle opened #621 "Helm chart should manage namespace more consistently"
/kind bug

**What happened?**

The Helm chart does not honour the `--namespace` parameter for Helm, all resources hard-code the _kube-system_ namespace, meaning it's possible to install the Helm chart metadata in a different namespace from the actual resources.

**What you expected to happen?**

Either:
* The Helm chart honours `--namespace` and namespaced resources are created in the provided nam

[2020-11-25 04:40] #514 closed

[2020-11-25 06:54] frittentheke commented on #316
/remove-lifecycle stale

[2020-11-25 16:18] jahantech opened #622 "Resize Volume fails if capacity is modified in PVC for volume of type io1"
/kind bug

**What happened?**
Resized the volume by modifying the capacity in the PVC resource. However the resize failed with following error:
[code]

**What you expected to happen?**
Successful resizing of the volume should have occurred.

**How to reproduce it (as minimally and precisely as possible)?**
- Create a storage class with storage type io1
- Create a persistent volume claim using the

[2020-11-25 19:57] wongma7 commented on #272
/lifecycle frozen

[2020-11-26 13:28] jahantech commented on #622
Workaround was to modify the volume storage and iops via console/api and patch the PV with the correct value. This issue is related to kubernetes.io/aws-ebs provisioner. Closing this issue.

[2020-11-27 02:40] krmichel commented on #584
The app version and the chart version are not necessarily the same version number.  Especially in a chart like this that manages resources for multiple images.  The chart version can't match the version of the driver and the snapshotter and the attacher.  That being said when installing with helm you can use the set flag to change values.  Like `--set image.tag=v0.7.1` would set the version of the

[2020-11-27 03:07] krmichel commented on #520
PRs #623 and #624 should deal with this issue

[2020-11-30 14:40] christopherhein commented on #295
/lifecycle frozen

[2020-11-30 17:57] sebradloff commented on #622
I believe it is still relevant. I've resized my io1 PVCs several time without issues earlier this month. This morning is the first time I've had any issue.
kubernetes event log from the namespace of the PVC.
[code]

storage class for reference:
[code]

I'm manually resolving by modifying the volume in the aws console directly.

[2020-12-01 17:58] sujithg9 opened #627 "Detach context requests are being canceled with context deadline exceeded error message."
/kind bug

What happened?
When trying to detach a volume from the node we are hitting the below issue. And which is causing the subsequent volume deletes to fail.
We found this when there were large number of volumes were still lying around even with PVCs being deleted even when persistentVolumeReclaimPolicy is set to Delete.

Below are the errors that we see in the csi logs.

i. Failure to detach

[2020-12-01 18:21] ayberk commented on #622
This seems to be a regression on EBS side. [Documentation] clearly states that current iops will be retained if iops is not specified: `Default: If no IOPS value is specified, the existing value is retained.`

[Documentation]: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyVolume.html

[2020-12-02 00:23] Chili-Man opened #628 "Support for gp3 volumes"
**Describe the solution you'd like in detail**
AWS announced the new gp3 ebs class; this driver should support provisioning them.
https://aws.amazon.com/blogs/aws/new-amazon-ebs-gp3-volume-lets-you-provision-performance-separate-from-capacity-and-offers-20-lower-price/

**Describe alternatives you've considered**
We can work with gp2 for now, but gp3 allows to scale the iops independent of the sto

[2020-12-02 06:28] Chili-Man commented on #604
this would be great as we want to run this on the gravitron ec2 instances

[2020-12-02 06:30] Chili-Man commented on #627
I'm running into this issue as well

[2020-12-02 06:31] gkrizek commented on #604
Totally. I rebuilt all the necessary images myself with ARM support to get them to work with Graviton2. But they're in my private ECR so I don't have a link to share

[2020-12-03 02:14] krmichel commented on #557
The chart repo has been updated for the current releases

[2020-12-03 02:15] krmichel commented on #587
The chart repo has been updated for the current releases

[2020-12-03 02:15] krmichel commented on #617
The chart repo has been updated for the current releases

[2020-12-03 16:02] Chili-Man commented on #587
@krmichel thank you

[2020-12-03 16:02] #587 closed

[2020-12-04 14:09] AceHack commented on #223
Any update, I really hope this is done before 1.19 when CSIMigrationAWS is likely to be enabled.  This will break tons of our alarms and auto-resizing code if we can't get metrics.

[2020-12-04 22:00] wongma7 opened #635 "Don't install snapshot controller"
/kind bug

**What happened?** Snapshot controller is installed by helm.

**What you expected to happen?** Snapshot controller should not be installed, the driver should reuse an existing installation of snapshot controller, since the controller might be reused by other drivers. Or helm could somehow check if the controller already exists. Trying to install it again can cause conflict issues.

**Ho

[2020-12-04 22:05] wongma7 commented on #635
I think the issue is we haven't ujpdated the yamls ever since snapshot controller gto split into a sidecar and separate controller. It's still a bug because we are out of date for not doing so!!

[2020-12-05 01:00] tirumerla opened #637 "Resource constraints are not enforced on all the containers"
**Is your feature request related to a problem?/Why is this needed**

- When you enforce resource constraints on specific namespace. Deployment of aws-ebs-csi-driver using helm chart throws the error since resources is only specified for [`ebs-plugin`](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/aws-ebs-csi-driver/templates/controller.yaml#L95) container but not for `csi-*` c

[2020-12-07 14:44] CAR6807 commented on #622
Any reason this issue was closed?
Currently also running into this issue, despite successfully resizing earlier this month after switching over to EBS-CSI-Driver.
Any workarounds?

[2020-12-07 17:02] ayberk commented on #622
@CAR6807 one possible workaround is modifying the volume via console/API directly.

I am tracking this issue internally with the EBS team. I'll provide an update as soon as I have one.

[2020-12-07 18:57] ayberk commented on #617
/close

[2020-12-07 23:47] wongma7 commented on #637
PR welcome!

I would be OK with just templating that same .Values.resources to all containers . Some of the sidecars with their own informers might use a lot of memory depending of # of objects in cluster so it might make sense to have per container values. But probably that'll make the chart too complicatged and we can cross that bridge when we get to it...

[2020-12-08 00:04] apryiomka commented on #482
PVs and PVCs do not solve the problem of ephemeral volumes. As the name suggest, the volume acts as temp storage while the pod is running. Deployments come with replica sets and some volumes cannot be mounted across multiple replicas running on different nodes or AZs. The purpose of ephemeral storage is to provide a temp local files storage for running pods like map reduce jobs or file based merge

[2020-12-08 00:26] tirumerla commented on #637
Thanks @wongma7 this makes sense. Raised PR :)

[2020-12-08 00:47] msau42 commented on #482
The generic ephemeral volumes feature which is alpha in Kubernetes 1.19 should address this use case. It creates PVCs underneath so any CSI driver that supports PVCs will work without any special support. And the lifetime of the PVC follows the lifetime of the Pod.

[2020-12-08 01:28] tirumerla commented on #637
Fixed with #640

[2020-12-08 01:28] #637 closed

[2020-12-08 14:40] arjunrn commented on #482
Closing this issue because the ephemeral volumes backed by PVCs is now directly supported by Kubernetes as mentioned in @msau42 's [comment](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/482#issuecomment-740273187).

[2020-12-08 14:40] #482 closed

[2020-12-08 23:04] wongma7 opened #643 "Customize helm release name"
It makes sense to release helm charts independently of the driver but helm chart-releaser defaults to names like aws-ebs-csi-driver-0.6.2 https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/tag/aws-ebs-csi-driver-0.6.2 which can be a bit confusing sincse the version "0.6.2" is referring to the chart version and it looks like the release went backward.

I am going to rename this release

[2020-12-09 01:23] StevenLou commented on #604
Any update for this issue?

[2020-12-09 01:35] Chili-Man commented on #604
looks like with the recent commits, they are now publish ARM container images on DockerHub: https://hub.docker.com/r/amazon/aws-ebs-csi-driver/tags?page=1&ordering=last_updated

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/e181446986585a7a5bf4562b216b661d309e7dcb

[2020-12-09 01:45] gkrizek commented on #604
The EBS CSI images are, but that's not the issue here. It's the referenced Kubernetes Docker images that get deployed with this CSI that are not.

[2020-12-09 05:51] Chili-Man commented on #604
Ahh, that's right; all of the images sourced from Quay.io do not have ARM64 images built. However, it does appear that newer versions of the CSI images do have ARM64 images; it appears that AWS should be upgrading their CSI dependencies to something more recent.

[2020-12-09 06:17] ayberk commented on #604
We have a backlog item on this, but please thumbs up this issue if this is affecting you. We take those into account while prioritizing :)

[2020-12-09 14:00] cablespaghetti commented on #480
@mhausenblas Am I correct in thinking that this hasn't yet progressed for EKS v1.18? I can't find any mention of `CSIMigrationAWS` being enabled. Thanks!

[2020-12-09 14:01] cablespaghetti commented on #480
/remove-lifecycle stale

[2020-12-09 14:27] mhausenblas commented on #480
Not sure, hailing @jlbutler who might know better.

[2020-12-09 17:04] ayberk commented on #480
@cablespaghetti I can confirm it's not enabled for 1.18. We'll definitely include it in the notes when we do.

[2020-12-09 20:12] PSjoe opened #645 "Ignore dataSource changes on StatefulSet VolumeClaimTemplates"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features yo

[2020-12-09 20:13] #645 closed

[2020-12-09 21:45] wongma7 commented on #580
OK, I pushed debian-base to gcr.
`docker pull k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v0.8.0`
LMK if that solves the issue or if we still need it in Docker Hub

[2020-12-10 00:18] novaseekadmin commented on #485
++

[2020-12-10 06:32] redbitshift opened #646 "By any chance, did you forget to make k8s.gcr.io public?"
/kind bug

**What happened?**
Tried to deploy latest EBS CSI driver, and my cluster could not pull images from k8s.gcr.io:

[code]

**What you expected to happen?**
I expected it to work.

**How to reproduce it (as minimally and precisely as possible)?**
I simply followed instructions on https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html , the step that causes the problem is:

[code]

*

[2020-12-10 06:39] redbitshift commented on #646
Update. After cloning the repo locally and rolling back to e181446986585a7a5bf4562b216b661d309e7dcb, the driver installed fine.

[2020-12-10 09:30] michalpacholczyk commented on #646
Installation link does not work for me either, it cannot pull from `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:latest` . According to read.me shouldn't it be `amazon/aws-ebs-csi-driver:latest`

[2020-12-10 11:35] focaaby commented on #646
Got the same issue, and can not pull the image from `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:latest`.

However, I check the change log v0.8.0[1]. This seems that the image did not push to `k8s.gcr.io`.

[1] https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CHANGELOG-0.x.md

[2020-12-10 21:32] wongma7 commented on #646
I did not push a latest tag, let me do that now. The workaround is to use the v0.8.0 tag which should be public

[2020-12-10 21:57] wongma7 commented on #646
Sorry for the disruption, I pushed latest tags. They are public from my end, i.e. I don't need to authenticate to gcr to pull them.
[code]
There are other issues like the stable kustomize overlay still trying to find/replace amazon/aws-ebs-csi-driver:latest to amazon/aws-ebs-csi-driver:v0.7.1, instead of  k8s.gcr.io/provider-aws/aws-ebs-csi-driver:latest to k8s.gcr.io/provider-aws/aws-ebs-csi-driv

[2020-12-11 15:45] pliu opened #652 "Dynamic EBS provisioning ignoring AZ requirement"
/kind bug

**What happened?**
I set up AWS EBS CSI driver and a StorageClass with WaitForNextConsumer for dynamic EBS provisioning. Upon creating a PVC and scheduling a Pod on a host in the 1b AZ, the dynamically provisioned EBS volume was provisioned in the 1a AZ, preventing it from being mounted into the Pod.

**What you expected to happen?**
I expected that the dynamically provisioned EBS volum

[2020-12-11 19:12] pliu commented on #652
Found the issue. I'm just bad at looking at configuration.

[2020-12-11 19:12] #652 closed

[2020-12-11 23:34] wongma7 opened #654 "Move travis job to prow job"
/kind bug

**What happened?** travis gets stuck sometimes (queue too long, it is a free service) and there is no way to unstick it. Or it flakes and there is no way to retry it.

**What you expected to happen?** Can retry travis

**How to reproduce it (as minimally and precisely as possible)?** make a pr.

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl vers

[2020-12-11 23:45] wongma7 commented on #646
The overlays have been updated and the stable overlay correctly point to v0.8.0 tag now from my side

[2020-12-11 23:46] wongma7 commented on #628
Support has been added to driver version v0.8.0, helm chart version v0.7.0, just released (albeit with some hicccups).

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CHANGELOG-0.x.md

[2020-12-11 23:46] #628 closed

[2020-12-11 23:57] ayberk opened #655 "Update sidecar images"
We're lagging behind multiple major releases for some of the sidecar images. We should update them to the latest versions. This'll also enable us to use the new multiarch images and get rid of the arm64 overlay.

[2020-12-11 23:59] ayberk commented on #604
We've merged a new kustomization overlay with multiarch images: #653. Unfortunately some of the images are pulled from docker hub, but it should unblock you for now.

My initial tests were successful, please let me know if you encounter any issues.

[2020-12-13 00:51] sipsma opened #656 "ARM64 aws-ebs-csi-driver images have x86_64 binaries"
/kind bug

**What happened?**
The arm64 aws-ebs-csi-driver images worked a few days ago but now all fail to run on arm64 machines. When I pull the images down and inspect them, they appear to all actually by x86 images even though they are labeled arm64. For example:
[code]

**What you expected to happen?**
For the arm64 images to have arm64 binaries

**How to reproduce it (as minimally and precis

[2020-12-14 17:18] #532 closed

[2020-12-14 21:18] ayberk commented on #622
Apologies for the delay here. EBS has the fix merged it's being deployed. It'll take a couple of weeks to deploy it to all regions. I'll update the ticket again when the deployment is done.

[2020-12-14 21:21] CAR6807 commented on #622
@ayberk Thank you for following up
The work around did work for us, but good to know it was an issue on Amazon's side
Thanks again

[2020-12-15 13:53] mhulscher opened #657 "Release helm-chart aws-ebs-csi-driver-0.8.0"
**Is your feature request related to a problem? Please describe.**
Version 0.8.0 of the aws-ebs-csi-driver has been released. However, the helm-chart (the tarball artifact) with of new version has not yet been released.

**Describe the solution you'd like in detail**
I would like a release of the 0.8.0 helm-chart :) Or I would be happy to know when it is expected to be released.

[2020-12-15 17:28] ayberk commented on #657
Our helm chart version is little bit tricky. 0.7.0 chart actually installs the 0.8.0 driver: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/gh-pages/index.yaml#L5

[2020-12-15 18:39] wongma7 commented on #656
/assign

[2020-12-15 19:36] wongma7 commented on #393
/reopen

/lifecycle frozen

this is imporant otherwise the csi driver will just suffer all the same bugs the intree driver ran into over the years

[2020-12-15 23:26] ayberk commented on #635
This confused me when I was updating the sidecars for the arm overlay. Unless someone else picks it up by then, I'll do this as part of updating sidecar images.

[2020-12-16 09:15] mhulscher commented on #657
@ayberk Thank you. I overlooked this. I see that chart 0.7.1 was just released. I will be using that. Thanks again.

[2020-12-16 09:15] #657 closed

[2020-12-16 19:34] scoof opened #660 "Snapshots should support metadata tags"
**Is your feature request related to a problem?/Why is this needed**
Volumes are already tagged with namespace and pvc metadata. Snapshots lack this data. The CSI snapshot controller adds this data. It just needs to be used in the driver.

**Describe the solution you'd like in detail**
I want these tags to be populated for snapshots:
kubernetes.io/created-for/pv/name
kubernetes.io/created-for/pvc/

[2020-12-17 01:25] wongma7 commented on #656
Trying to verify if it's fixed: how do I use `ctr images mount`?

$ ctr --version
ctr github.com/containerd/containerd v1.3.9
$ ctr image mount --platform linux/arm64/v8 gcr.io/k8s-staging-provider-aws/aws-ebs-csi-driver:latest
No help topic for 'mount'

[2020-12-17 01:31] wongma7 commented on #656
NVM, it's on 1.4 branch.

[2020-12-17 21:26] brylex418 opened #662 "Default to GP3 doesn't work with Outposts or Local Zones"
/kind bug

**What happened?**

Default storage class to GP3 breaks simple / no configuration deployment to outposts or local zones.
 since GP3 is not a supported storage class there.

**What you expected to happen?**

Would expect logic that evaluates if EBS volume is being created on outposts or in local zone and then creates GP2 volume.

**How to reproduce it (as minimally and precisely as possi

[2020-12-18 00:55] ayberk commented on #537
Closing this as we've updated the README.

/close

[2020-12-18 00:55] #537 closed

[2020-12-18 01:25] ayberk commented on #662
/assign

[2020-12-18 21:00] wongma7 commented on #656
@sipsma does `docker.io/amazon/aws-ebs-csi-driver:release-0.8-amazonlinux` work for you? I am still testing the fix, trying to ensure that the gcr build process (prow) and docker hub build process (github actions) stay identical

[2020-12-18 22:55] Chili-Man opened #664 "How to migrate from GP2 to GP3 ?"
I've used an earlier version of this driver to create GP2 volumes, however, now that I've upgraded to 0.8.0 ; what is the path to migrate existing PVs and storage classes to the new GP3 volumes?

[2020-12-19 05:18] shrivastavshubham34 commented on #604
I'm sorry, but I'm not sure if I'm supposed to pull in v0.8 or v0.7 of k8s.gcr.io/provider-aws/aws-ebs-csi-driver?
Does v0.7.0 work with Multiarch?

[2020-12-20 04:07] ayberk commented on #604
@shrivastavshubham34 We're currently having issues with our v0.8, so I'd suggest using the arm overlay with v0.7 image for now.

[2020-12-21 19:14] shrivastavshubham34 commented on #604
[code]
@ayberk  It's still giving me
[code]

[2020-12-21 19:29] ayberk commented on #604
@shrivastavshubham34 Yeah I was able to isolate the issue this morning and it seems like for some reason the images are not being pushed as multiarch to gcr.

For example I was able to run `amazon/aws-ebs-csi-driver:v0.8.0-amazonlinux` and `amazon/aws-ebs-csi-driver:v0.7.1` on my graviton instance. You can pull them from dockerhub. Alternatively you can use `602401143452.dkr.ecr.us-west-2.amazonaw

[2020-12-21 20:11] shrivastavshubham34 commented on #604
@ayberk doesn't work for ECR and `amazon/aws-ebs-csi-driver:v0.7.1` for me.
[code]

[2020-12-21 22:56] ayberk commented on #604
Unfortunately you won't be able to install on arm using the helm chart, because the sidecar images we're pulling aren't multiarch. You'd need to use the arm kustomization overlay.

[2020-12-21 23:22] sipsma commented on #656
@wongma7 No the issue still exists. Another way to test it with just docker instead of ctr is to try to run the image on an arm64 machine, i.e.:
[code]

[2020-12-21 23:24] sipsma commented on #656
@wongma7 yes `docker.io/amazon/aws-ebs-csi-driver:release-0.8-amazonlinux` works for me now on an arm64 instance (the gcr one still fails like before)

[2020-12-22 00:37] shrivastavshubham34 commented on #604
@ayberk Ohh, now the earlier comments make sense.
 Still, the given ECR and Dockerhub images don't work for me for EKS though
[code]
[code]

[2020-12-22 16:10] qwinkler opened #667 "IOPS parameter is ignored"
--

[2020-12-22 16:12] #667 closed

[2020-12-22 18:27] wongma7 opened #669 "ARM Prow tests"
**Is your feature request related to a problem?/Why is this needed**
ARM image needs to be tested by Prow CI

/feature

**Describe the solution you'd like in detail**
Do a variation of one test suite (single AZ) with ARM Node instances https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/tester/single-az-config.yaml#L6

**Describe alternatives you've considered**

**Additional context

[2020-12-22 19:17] wongma7 commented on #664
if the StorageClass does not say "volumeType: gp2" then from now on any PVs created from it will automatically be GP3.

As for existing volumes, there is no Kubernetes API for modifying volume type so I'm afraid that will have to be done directly through the AWS API/console.

[2020-12-22 19:18] wongma7 commented on #664
Sorry, it's just `type`, not `volumeType`

[2020-12-22 20:22] Chili-Man commented on #664
@wongma7 thanks! For me in particular, I did explicitly set the Storage class to gp2; Assuming that I do convert the underlying volume type from gp2 to gp3 through the AWS console; I wouldn't need to modify any of the Kubernetes PVC/sPVs to let it know that the type has changed?

[2020-12-22 20:31] wongma7 commented on #664
OK, I think you will have to recreate the StorageClass.

Correct, from the Kubernetes PVC/PV point of view there is no such thing as volume type.

[2020-12-22 22:45] shrivastavshubham34 commented on #656
@sipsma
Are you deploying them using kustomization overlay?
Because the below doesn't work for me
[code]
[code]
 Neither does this
[code]

[2020-12-22 23:36] Chili-Man commented on #664
I see, thanks, that helps

[2020-12-23 07:56] parviste opened #672 "Controller ends up on fargate nodes, fails to start"
/kind bug

**What happened?**

If we first run a pod on a Fargate node and let it finish, it takes a while for the node to go away. If an EBS CSI controller pod is scheduled to start during this time it ends up on the Fargate node, and fails to start with the error: `Pod not supported: SchedulerName is not fargate-scheduler`.

**What you expected to happen?**

Fargate nodes set taints to prevent n

[2020-12-24 04:10] Ramneekkhurana commented on #223
can we have any updates on this ?

[2020-12-24 20:55] ayberk commented on #223
We're currently not actively working on this but we understand how important it is. I'll see if we can get some resources soon.

@AceHack I believe currently it's planned to be on by default with 1.21 release.

[2020-12-26 00:48] shrivastavshubham34 commented on #604
Unfortunately,
[code]
Gives the same error for **amazon-eks-arm64-node-1.18-v20201211 (ami-03b83573d40dfcd0d)**
[code]

Am I doing something wrong? Is there a forum or a Slack channel where I can place my query?

[2020-12-27 16:26] nirroz93 opened #675 "topology.kubernetes.io/zone label on pv"
**Is your feature request related to a problem?/Why is this needed**
Hi!
In the in-tree provisioner it used to add a label failure-domain.beta.kubernetes.io/zone or topology.kubernetes.io/zone label on the PV itself.

It will nice to have the label to easily see all volumes in AZ and such (instead of parsing the nodeAffinity)
**Describe the solution you'd like in detail**
I know the CSI adds simil

[2020-12-28 14:11] azhurbilo commented on #449
/remove-lifecycle stale

[2020-12-28 19:57] sipsma commented on #656
@shrivastavshubham34 No, in my previous comment where I said the v0.8 amazonlinux image on dockerhub works I just meant that I could pull the image on an arm64 machine and see/execute arm64 binaries successfully. The kustomization overlays still don't work for me right now.

To temporarily workaround I ended up pulling this repo locally and modified some of the helm files to just use the 0.7.1 arm

[2020-12-28 20:41] shrivastavshubham34 commented on #656
Thanks, @sipsma.
Since I need those clusters ASAP with EBS driver, I'll probably spin up an x86 cluster.

[2020-12-29 17:50] AndyXiangLi commented on #536
/remove-lifecycle stale

[2020-12-30 08:25] #453 closed

[2020-12-30 08:25] #493 closed

[2020-12-30 12:35] ialidzhikov commented on #580
Thank you @wongma7! gcr is even better. This issue was more about using the debian base image which is already done with the v0.8.0 release. Thank you again!

/close

[2020-12-30 12:35] #580 closed

[2021-01-02 19:47] #541 closed

[2021-01-04 15:59] AceHack commented on #223
Any update?

[2021-01-04 20:35] #542 closed

[2021-01-06 01:27] shanecunningham opened #679 "Pods stuck terminating with migrated volumes"
Hello, i'm having an issue deleting pods that have migrated PVs. after installing aws-ebs-csi-driver (0.7.1) and enabling CSIMigrationAWS, new PVs/pods work fine from a CSI storageclass, they can be restarted and terminated normally. I also see that all PVs were migrated to CSI and show attached with `volumeattachment`. resizes on those migrated PVs also work fine. however, when I delete a pod wit

[2021-01-06 09:11] #150 closed

[2021-01-06 17:34] ScottKGregory opened #681 "Helm chart doesn't apply node selectors to snapshot controller"
/kind bug

**What happened?**
When deploying on a mixed cluster use nodeSelectors, none get applied to the snapshot controller. This can cause it to get scheduled on Windows nodes where it won't function properly

**What you expected to happen?**
NodeSelector should be set on the statefulset so it only schedules on compatible nodes.

**How to reproduce it (as minimally and precisely as possible)?*

[2021-01-06 18:36] ayberk commented on #317
/reopen
/remove-lifecycle rotten

[2021-01-06 18:37] ayberk commented on #339
/reopen
/remove-lifecycle rotten

[2021-01-06 18:37] ayberk commented on #370
/reopen
/remove-lifecycle rotten

[2021-01-06 18:41] ayberk commented on #339
/lifecycle frozen

[2021-01-06 18:41] ayberk commented on #370
/lifecycle frozen

[2021-01-06 21:21] #643 closed

[2021-01-06 22:54] wongma7 commented on #572
Actually it is a mistake that the helm chart installs snapshot controller at all. I got confused myself, cuz there is the snapshot controller and then there is the snapshot sidecar...... REF, contiunue discussion there:
Don't install snapshot controller https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/635

[2021-01-06 22:54] #572 closed

[2021-01-06 23:16] wongma7 commented on #681
I am planning actually to remove the snapshot controller altogether https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/635. It is meant to be a generic component that can be reused by multijple drivers, so we shouldn't be installing it...

[2021-01-07 00:51] wongma7 commented on #656
0.8.1 is released/about to be released. It should be promoted from `gcr.io/k8s-staging-provider-aws/aws-ebs-csi-driver:v20210106-v0.8.1` to `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v0.8.1` in a few hours.

I tested that the staging images are multiarch following the steps in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/666, so I would expect the final images in k8s.gcr.io to be as

[2021-01-07 01:33] #317 closed

[2021-01-07 20:01] jaronoff97 commented on #646
Seeing this happen again for v0.8.1, I assume the same change must be made?

[2021-01-07 20:22] Elassyo opened #685 "Driver image v0.8.1 missing from registry"
/kind bug

**What happened?**
I cannot deploy the driver because the driver image is missing from the container registries and cannot be pulled.
Trying to pull the image with docker result in a manifest not found error.

**What you expected to happen?**
The image should be present on the registry.

**How to reproduce it (as minimally and precisely as possible)?**
`kubectl apply -k "github.com/kube

[2021-01-07 21:49] wongma7 commented on #646
Yes, https://github.com/kubernetes/k8s.io/pull/1509 has'nt merged yet.

Sorry, the release process is still new and a little backwards since maintainer has to make the tag first, then the image gets built, then must be promoted with a PR like above. Normally it should only take a few hours but the PR hasn't been reviewed yet.

For docker hub it isn't a problem since the github action immediately p

[2021-01-07 21:57] wongma7 commented on #685
https://github.com/kubernetes/k8s.io/pull/1509 just merged, it seems available now.

I'm sorry about this happening twice in a row, with the new release process there is a large window between when I update the yamls to refer to the new tags and when the tag actually gets pushed.

As I commented in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/646#issuecomment-756406782, I think the

[2021-01-07 21:57] wongma7 commented on #646
It seems available now on my end. Can continue discussion in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/685

[2021-01-07 21:57] #646 closed

[2021-01-07 21:59] wongma7 commented on #685
For docker hub, only the amazonlinux variant v0.8.1-amazonlinux is going to be available. I  will work on documenting this or getting permission to push the debian variant

[2021-01-07 22:21] wongma7 commented on #685
Regarding my last comment, here is a PR to ensure docker hub gets the debian base image (vx.x.x) and not just the amazonlinux one (vx.x.x-amazonlinux) https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/686

[2021-01-07 23:17] wongma7 commented on #679
When you say new pods work fine, you mean pods that explicitly specify csi? like pvs that say "spec.csi" and are not going through migration?

And the ones that don't are the ones that say "spec.awsebs" and are going through migration?

Could you share the PV volume spec ( can redact region/volid info if you wish), IIRC there are a bunch of accepted formats like aws://vol-id and I want to check wh

[2021-01-07 23:24] Elassyo commented on #685
Ok I can pull the image now, thank you!

[2021-01-07 23:24] #685 closed

[2021-01-08 02:05] appprod0 commented on #679
Correct, new pods that are using a PVC created from a CSI storageclass that have not gone through migration can be created/deleted fine.

This is from a StatefulSet and hangs on termination status

[code]

[2021-01-08 18:41] ayberk commented on #207
/remove-lifecycle stale
/lifecycle frozen

[2021-01-08 20:09] mikestef9 opened #687 "Add Helm chart option to disable service account creation"
**Is your feature request related to a problem?/Why is this needed**
I would like to pre-create the service account for EBS CSI controller. The context is using IAM Roles for Service Accounts and a tool like eksctl.

/feature

**Describe the solution you'd like in detail**
Helm chart should have an option disable the service account creation, and specify the service account name the controller sho

[2021-01-08 20:49] mikestef9 commented on #687
And quickly closing as a duplicate of #485

[2021-01-08 20:49] #687 closed

[2021-01-08 20:54] ayberk commented on #485
/good-first-issue

[2021-01-08 20:56] ayberk commented on #617
/close

[2021-01-08 20:56] #617 closed

[2021-01-08 20:57] ayberk commented on #615
Closing as it was due to using an older version. Reopen if needed.

/close

[2021-01-08 20:57] #615 closed

[2021-01-08 20:58] ayberk commented on #584
This should be all resolved now thanks to @krmichel.

/close

[2021-01-08 20:58] #584 closed

[2021-01-08 21:00] ayberk commented on #557
/close

[2021-01-08 21:00] #557 closed

[2021-01-08 21:02] ayberk commented on #389
/lifecycle frozen

[2021-01-09 00:56] ayberk commented on #545
I'm closing this as I think it doesn't happen anymore. @wongma7 to confirm.

/close

[2021-01-09 00:56] #545 closed

[2021-01-10 18:11] cuppett opened #689 "Failure to Delete EBS volume after Detach - cannot patch resource "volumeattachments/status""
/kind bug

**What happened?**

After running the sample and removing the pod/pvc, the EBS volume was not cleaning up. In EKS, it was still in the Terminating state. I kept seeing this in the external attacher log:

[code]

**What you expected to happen?**

It should delete cleanly.

**How to reproduce it (as minimally and precisely as possible)?**

Deploy v0.8.1 using pod-identity and the items un

[2021-01-10 18:23] cuppett commented on #689
FYI, this is using attacher:v3.1.0 sidecar.

[2021-01-11 21:14] #223 closed

[2021-01-11 21:14] #499 closed

[2021-01-11 21:50] wongma7 commented on #586
/lifecycle frozen

still relevant

[2021-01-12 00:08] AceHack commented on #223
Great updates, thanks so much for the work on this.

[2021-01-12 15:51] ronenl1 commented on #652
I'm experiencing the same behaviour, can you share what was the problem in your case?

[2021-01-12 15:57] pliu commented on #652
I had forgotten to set enableVolumeScheduling to true in values.yaml.

[2021-01-12 16:25] ronenl1 commented on #652
I think it should be documented under Dynamic Volume Provisioning, I missed that configuration.
Thank you for sharing 😄

[2021-01-12 17:11] ayberk commented on #652
@pliu @ronenl1 PRs most welcome! :)

[2021-01-12 17:58] AndyXiangLi commented on #548
@invidian I'm not able to reproduce this issue with the latest driver version v0.8.1. I'm using Calico as CNI and when the metadata service get blocked and deploy driver as usual, ebs-plugin container never becomes ready.
Are you able to try with the latest version on your end?

[2021-01-12 18:13] ayberk commented on #588
This sounds reasonable to me.

/lifecycle frozen
/good-first-issue

[2021-01-12 18:13] ayberk commented on #346
/lifecycle frozen

[2021-01-12 19:23] ronenl1 commented on #652
Done: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/691

[2021-01-12 19:24] AndyXiangLi commented on #346
/assign
looking into this

[2021-01-12 21:46] wongma7 opened #692 "Stop pushing latest tag in next release and remove reference to GCR and Docker Hub latest tags, with release note"
/kind bug

Community GCR doesn't support mutable tags so I canot continue pointing latest to the latest stable release.

Generally it is a bad idea to use latest anyway, if you are upgrading the driver you must also update the YAMLs, so it's recommended that you always use a kustomize or helm install command as documented in README.

[2021-01-12 21:47] wongma7 opened #693 "Fix GCR timestamps"
/kind bug
For some reason the timestamp is unix time 0 - 8 hours when pushed to staging.

The problem gets copied to prod.

 $ gcloud container images list-tags gcr.io/k8s-staging-provider-aws/aws-ebs-csi-driver
26b57e2a8d55  v20210106-aws-ebs-csi-driver-0.7.1-14-g049fc73-amazonlinux                               1969-12-31T16:00:00

[2021-01-13 02:06] #485 closed

[2021-01-13 18:33] AndyXiangLi commented on #515
/reopen
/assign
looking into this

[2021-01-13 18:43] ayberk commented on #515
/reopen

[2021-01-13 18:44] ayberk commented on #515
/lifecycle frozen

[2021-01-13 22:10] wongma7 opened #696 "Prow test jobs status"
| Internal/External | arch | Migration   | Status | Details |
|-------------------|------|-------------|--------|--------|
| Internal          | x86  | OFF         | ✅ | | |
| External          | x86  | ON          | ✅ ||
| External          | x86  | ON+Complete | ❌ | |
| External          | x86  | OFF         | ✅ | Not on by default yet |
| Internal          | arm  | OFF         | ❌ | |
| Externa

[2021-01-13 22:11] wongma7 commented on #669
tracking in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/696

[2021-01-13 22:11] #669 closed

[2021-01-15 01:29] AndyXiangLi commented on #611
Hi @pabrahamusa I'm not able to reproduce this error on my end with the k8s version 1.18 and driver version 0.8.1. Can you provide the version you are using and make sure you enable the feature-gate flag in your cluster? https://github.com/kubernetes-sigs/aws-ebs-csi-driver#prerequisites

[2021-01-15 11:07] invidian commented on #548
@AndyXiangLi yes, I can reproduce it using v0.8.1. Do notice, that container is in `Ready` state briefly after creation. Only then it crashes and goes into `CrashLoopBackOff` state.

[2021-01-15 18:50] ayberk commented on #622
This issue should be resolved now. Please let me know if you still encounter it.

/close

[2021-01-15 18:50] #622 closed

[2021-01-15 20:23] #689 closed

[2021-01-16 05:59] pabrahamusa commented on #611
@AndyXiangLi , I am using EKS and wondering which feature flag I have to enable for this? Could you provide more details please.

[2021-01-18 03:51] darewreck54 commented on #604
is there any updates on this?

[2021-01-18 14:25] yanivpaz opened #701 "static provisoning example is missing allowed topologies"
/kind bug

**What happened?**
When I run this demo :
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/examples/kubernetes/static-provisioning/specs/example.yaml

new pod created in another AZ and therefore new volume is created.
the provided volume is ignored ( volumeHandle: vol-05786ec9ec9526b67 in the example )

**What you expected to happen?**
I expected that the pod will be cr

[2021-01-18 14:53] yanivpaz commented on #701
maybe NoVolumeZoneConflict should be defined in scheduler policy?

[2021-01-18 23:54] ajaykmis commented on #604
@ayberk I followed this thread and installed the EBS CSI driver, but the snapshot-controller is still failing for me. On checking the overlays code, I don't see a replacement image for snapshot-contoller in here: "https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/arm64/kustomization.yaml"
could you please suggest if we are supposed to find the othe

[2021-01-19 22:34] AndyXiangLi commented on #611
@pabrahamusa Can you paste describe pvc/pv/pods results for the example you provided?

[2021-01-20 19:32] ajaykmis commented on #604
Hi,

So, I realized the arm64 overlay doesn't include snapshot-controller. I tried to do something similar to alpha overlay, by replacing images of snapshot-controller with arm64 variant.
This is the one I am using that seems to start for me: "csiplugin/snapshot-controller:v2.1.0"

But the snapshotting itself doesn't seem to work.

[2021-01-21 07:16] mper0003 opened #703 "Support existing Service Account for the node ebs-csi in the Helm chart"
**Is your feature request related to a problem? Please describe.**
We use Pod Security Policies and have Service Accounts authorized to use specific policies. Installing the node Daemonset using the Helm chart does not allow specifying existing Service Account. So, we can't specify the Service Account that has the permissions to create the Pods.

**Describe the solution you'd like in detail**
The

[2021-01-21 19:20] AndyXiangLi commented on #569
There is an upstream discussion about this issue https://github.com/container-storage-interface/spec/pull/452
Looks like driver need to resize the fs if detect volume size is larger than current fs when stage volume.
And as per @jsafrane , we can always call resize2fs / xfs_growfs after mount as alternate
@ayberk @leakingtapan what do you think?

[2021-01-21 22:27] AndyXiangLi commented on #165
@bertinatto What is the expected behavior if the name is same but other params like VolumeCapabilities is different?

[2021-01-21 23:45] #339 closed

[2021-01-21 23:45] #346 closed

[2021-01-25 08:09] JensBode commented on #207
+1

[2021-01-26 16:43] bsakweson opened #706 "x509 error when attempting to helm chart"
/kind bug

**What happened?**
Ran helm command to install `aws-ebs-csi-driver` using terraform scripts and go this error
`looks like "https://kubernetes-sigs.github.io/aws-ebs-csi-driver" is not a valid chart repository or cannot be reached: Get "https://kubernetes-sigs.github.io/aws-ebs-csi-driver/index.yaml": x509: certificate signed by unknown authority`

I can run the same commands locally tar

[2021-01-26 21:58] wongma7 commented on #706
The cert is GitHub's, is it possible the location you are running the helm chart from doesn't trust it

[code]

[2021-01-26 23:15] ayberk commented on #406
/reopen
/lifecycle frozen

[2021-01-26 23:16] ayberk commented on #470
/reopen
/lifecycle frozen

[2021-01-27 02:00] ayberk commented on #604
We have an issue to remove the snapshotter as technically we shouldn't really deploy it with the driver. We're working on updating the sidecar images so we won't need the arm overlay soon.

[2021-01-27 02:01] darewreck54 commented on #604
Do you have an eta?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ayberk Yılmaz <notifications@github.com>
Sent: Tuesday, January 26, 2021 6:00:23 PM
To: kubernetes-sigs/aws-ebs-csi-driver <aws-ebs-csi-driver@noreply.github.com>
Cc: Derek <d_hang10@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [kubernetes-sigs/aws-ebs-csi-driver] EBS CSI Drive

[2021-01-27 02:03] ayberk commented on #611
@pabrahamusa You can't use the CSI driver on an EKS cluster. You'll have to wait until we enable migration on the control plane. We'll provide more information as we get closer to the migration.

[2021-01-27 02:07] ayberk commented on #604
I don't unfortunately. But I know this has been a lingering issue and it's at the top of my list as soon as I have some cycles to work on the driver.

[2021-01-27 14:05] bsakweson commented on #706
I do not think so because I can access Github from the same laptop and can also get the chart when using helm on terminal. I experience this issue only when running terraform helm provider.

[2021-01-27 22:08] ayberk commented on #604
@ajaykmis Can you elaborate on how it's failing? Any logs/yamls would be helpful.

[2021-01-27 22:43] ajaykmis commented on #604
@ayberk :

So, using the ARM overlay, we were able to install the CSI driver that works and now the PVCs can be created using the CSI provisioner.

But, the snapshotting yamls weren't included in the arm overlay, so I just modified the alpha overlay and some yamls to include correct images for external-snapshotter.

Here's the diff:
[alpha.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver

[2021-01-28 01:59] ayberk commented on #604
Awesome, glad it worked! Hopefully we'll have this fixed soon so you won't need an overlay.

[2021-01-28 05:53] lli-hiya commented on #399
I am also seeing this issue on K8s 1.17(control plane), 1.15 (kubelet).

[2021-01-28 19:51] ayberk commented on #399
Please see the comment above:

https://github.com/kubernetes-csi/node-driver-registrar#usage

This is a harmless error that should go away with 1.17 kubelet.

/close

[2021-01-28 19:59] zerkms commented on #399
@ayberk I still witness it on 1.19.6, could it please be reopened?

[code]

[code]

[2021-01-28 20:25] ayberk commented on #399
/reopen

[2021-01-29 05:43] groodt commented on #598
I've run into this issue as well. Seems really problematic.

I can find the images here:
[code]

But this fails bizarrely:
[code]

Instead, I have to go to us-west-2 for this one image.
[code]

In China, it's similary odd, but with incorrect documentation. https://docs.amazonaws.cn/en_us/eks/latest/userguide/ebs-csi.html

The commands in that documentation don't work.

The images however, do exist

[2021-01-29 21:29] ayberk commented on #571
/lifecycle frozen

[2021-01-29 22:15] #604 closed

[2021-01-30 04:27] #316 closed

[2021-02-01 06:15] Slach opened #709 "Look like "throughput" parameter just ignored when using type: gp3 in kind: StorageClass"
/kind bug

**What happened?**
after successful installation EBS CSI driver 0,8.0 to my AWS EKS
I define the following custom storage class

[code]

I found in sources following comments which not present in official documentation
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volume-types.html
[code]
so I applied 4000 iops and expect 1000 Mb/sec

after that, I apply following manifest
[co

[2021-02-01 08:27] Slach commented on #709
sorry, 330mb related to t3.large max available throughput
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-optimized.html#ebs-optimization-support

[2021-02-01 08:28] #709 closed

[2021-02-01 09:45] kovalyukm commented on #223
Please, tell in which version of the driver and when volume stats metrics are going to be available? (For now #677 is in master only).

[2021-02-01 17:27] ayberk commented on #223
We'll have it in the next release, so `0.9.0`.

[2021-02-02 06:12] hussainsaify commented on #664
@Chili-Man Were you able to successfully migrate existing volumes from gp2 to gp3 just by modifying volume type from console?

[2021-02-02 06:20] Chili-Man commented on #664
@hussainsaify I was indeed able to do so successfully without issue.

[2021-02-02 06:21] hussainsaify commented on #664
@Chili-Man Thanks a lot for the swift response.

[2021-02-02 12:16] invidian commented on #605
/remove-lifecycle stale

ehhh, there is even PR opened for this...

[2021-02-02 21:16] invidian commented on #548
Running:
[code]
 does reproduce the issue. I would expect Helm to never converge.

[code]

[2021-02-02 22:17] wongma7 opened #712 "CI broken because of mvdan.cc/lint"
/kind bug
I thought  we decided to check in vendor dir to avoid this problem happening again, will need investigation why tests still insist of talking to the internet for go modules.

[2021-02-02 22:33] wongma7 commented on #701
Yes, you need NoVolumeZoneConflict (one of the default predicates) so that scheduler respects WaitForFirstConsumer which is intended to save you from having to specify allowedTopologies https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies

[2021-02-02 23:23] iamsudip commented on #564
Any update on this issue? We are facing same issue. The docker image isn't multiarch. Quick fix I'm thinking to implement is build a docker image which runs on both the arch amd64 and arm64 but looking for a better solution.

[2021-02-02 23:27] wongma7 commented on #564
What version of the image? The next planned release (v0.9.0 this week) will bundle multiarch driver with multiarch sidecar images. However, there is no automated CI testing of the driver running on ARM so YMMV until we get that up and running.

[2021-02-02 23:28] wongma7 commented on #564
/remove-lifecycle rotten

[2021-02-02 23:46] iamsudip commented on #564
@wongma7 We are using v0.8.1.

Thanks for the info. Looking forward.

[2021-02-03 10:16] mssachan opened #714 "Static Provisioning of EBS volume is failing : NoCredentialProviders: no valid providers in chain caused by: EnvAccessKeyNotFound: failed to find credentials in the environment."
/kind bug
Static provisioning of EBS volume is falling with below error
[code]

**What happened?**
Static provisioning of EBS volume is failing.

**What you expected to happen?**
PVC should be created successfully.

**How to reproduce it (as minimally and precisely as possible)?**
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/static-provisioning/specs

**Any

[2021-02-03 16:57] ayberk commented on #714
Have you tried setting up the permissions following the [README](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#set-up-driver-permission)?

[2021-02-03 18:43] wongma7 opened #716 "GCR build/push timing out"
/kind bug

Since Jan 8 all pushes have been timing out:

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images

Checking which part of the build/push is the new bottleneck.

And will revert the culprit change.

/assign

[2021-02-03 18:47] wongma7 commented on #716
It started on Jan 8 with merge of https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/677 but this only adds one golang dependency and a small amount of code.

Plus, the build timeout is not reproducible for me locally.

[2021-02-03 18:56] wongma7 commented on #716
The change in time taken can also be seen in github builds, they double after the PR is merged

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/actions?query=workflow%3A%22Container+Images%22

[2021-02-03 19:02] wongma7 commented on #716
From GitHub build

Before:

 #13 [linux/arm64 builder 4/4] RUN make
#13 DONE 460.4s

After:
#11 [linux/arm64 builder 4/4] RUN make
#11 DONE 168.9s

Locally, I didn't see this issue. But I am not building from inside a container.

I guess compiling https://pkg.go.dev/golang.org/x/sys for ARM could explain this issue.

[2021-02-03 19:02] #716 closed

[2021-02-03 19:45] ayberk commented on #655
/close

[2021-02-03 19:45] #655 closed

[2021-02-04 10:46] ivan-cai opened #721 "Some questions about CSI Migration in upgrading phase."
/kind bug

Excuse me, I have some questions about CSI Migration in upgrading phase. Thanks for answering!

We also have a in-tree volume plugin, and want to support csi migration，but we found volumes attached before migration could be re-attach(detached by in-tree plugin and attached by csi driver) and re-mount(unmounted by in-tree plugin and mounted by csi driver) in upgrading phase(upgrade kcm t

[2021-02-04 11:32] #721 closed

[2021-02-04 11:33] ivan-cai commented on #721
I get the answer from document. thx.

[2021-02-04 13:34] barric1 opened #722 "AWS EBS CSI Driver Helm chart to inject environment variables"
We’d like the AWS EBS CSI Driver Helm chart to have an option to inject environment variables to pods, so that we can set AWS_STS_REGIONAL_ENDPOINTS=regional and use the Helm chart as-is without patching it after the deployment to a private VPC.

Alternatives considered aren't considered workable for deployments at scale as we want to deploy at scale and keep our configurations as simple as possib

[2021-02-04 13:41] mssachan commented on #714
This issue got fixed by redeploying csi driver only after creating secret with AWS credentials

[2021-02-04 13:43] mssachan commented on #714
But now I am hitting issue with mounting EBS inside pod.
I am mounting PVC to `/data` directory in pod but I dont see mount point inside pod. Also data is not getting persisted.

[code]

Any idea how to fix this issue?

[2021-02-04 20:45] wongma7 opened #723 "Bump kubernetes dependency to 1.19/1.20"
/kind bug

Continue this PR https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/663

To run the latest tests.

And to pull in https://github.com/kubernetes/kubernetes/pull/98031 once it is released.

[2021-02-04 20:46] wongma7 commented on #712
Build with vendor worked, but `go test` seemed to still talk to the internet.

TBH, I am not sure how to avoid this.

Next time , a quick mitigation might to be add  a "replace" direcitve in go.mod?

[2021-02-04 20:46] #712 closed

[2021-02-05 19:22] aaroniscode opened #727 "Helm chart should default enableVolumeScheduling: true"
/kind bug

**What happened?**
Deployed the default helm chart and topology aware dynamic provisioning did not work. The kustomize based manifest default to true: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/values/controller.yaml#L4

**What you expected to happen?**
With the CSI Topology sub-feature at GA status, I would expect this feature gate to default to

[2021-02-05 19:30] ayberk commented on #290
#289 fixed this.

/close

[2021-02-05 19:32] ayberk commented on #290
Nvm I think this issue for per-instance limits.
/reopen

[2021-02-05 19:33] ayberk commented on #290
/good-first-issue

[2021-02-05 19:52] ayberk commented on #660
/good-first-issue

[2021-02-05 19:53] ayberk commented on #656
This should be resolved with the new release.

/close

[2021-02-05 19:54] #656 closed

[2021-02-05 19:55] ayberk commented on #613
/good-first-issue
/kind feature

[2021-02-05 20:41] #470 closed

[2021-02-05 22:42] ayberk commented on #290
/remove-good-first-issue

[2021-02-06 00:31] #515 closed

[2021-02-06 03:26] TBBle opened #729 "Is it possible to use the standard k8s topology labels?"
**Is your feature request related to a problem?/Why is this needed**

Looking into the interactions of this driver with the Cluster Autoscaler, i.e., https://github.com/kubernetes/autoscaler/issues/3230#issuecomment-774387646, I have been unable to identify a good way to support the scale-from-zero case without needing to either change Cluster Autoscaler to always add this driver's topology label,

[2021-02-07 18:02] frittentheke commented on #216
/remove-lifecycle stale

[2021-02-08 18:19] #703 closed

[2021-02-08 21:38] vdhanan commented on #548
/assign

[2021-02-09 14:45] nicholasmhughes opened #733 "Helm chart: can't annotate storage classes"
/kind bug

**What happened?**
The new ability to create storage classes within the chart is great. However, there isn't a mechanism to annotate the storage classes. This becomes important is you want to tag one as default.

**What you expected to happen?**
Annotations should be handled separately from the rest of the storage class YAML and inserted under metadata.

**How to reproduce it (as minima

[2021-02-09 21:31] AndyXiangLi commented on #406
We already add external e2e test in [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/726)
This can be closed when upstream test-infra update our CI https://github.com/kubernetes/test-infra/pull/20747

[2021-02-09 21:51] ayberk commented on #406
OK let me close this one. I'll get that merged today.

/close

[2021-02-09 21:51] #406 closed

[2021-02-10 00:48] bitva77 commented on #180
AWS: "TAG EVERYTHING!"
Users:  "We'd like to add tags to our EBS volumes created by PV's"
AWS:  "Nah"

[2021-02-11 06:29] chaosunsfx opened #736 "node-driver-registrar container in DaemonSet pod gets FailedPreStopHook event before shutting down"
/kind bug

**What happened?**
When deleting a DaemonSet pod, node-driver-registrar container gets FailedPreStopHook event before shutting down.

**What you expected to happen?**
No such event occurs.

**How to reproduce it (as minimally and precisely as possible)?**
Delete a DaemonSet pod, or rollout the DaemonSet

**Anything else we need to know?**:
Log when event occurs:
```E0211 06:01:35.284250

[2021-02-11 07:58] PhilThurston opened #737 "Silent failure of gp3 provisioning on EKS"
/kind bug

**What happened?**

Explicitly stating gp3 fails with an error saying that gp3 is not a valid volumeType

**What you expected to happen?**

Explicitly declaring any of the supported types should work

**How to reproduce it (as minimally and precisely as possible)?**
Using some of the basic examples
[code]

This fails with an error similar to this:
[code]
**Anything else we need to know?

[2021-02-11 15:42] frankjkelly opened #738 "0.8.1: Could not format gp3 drives with 1TB (works with smaller disk sizes)"
/kind bug

**What happened?**
When configuring a gp3 drive for 1TB we frequently hit the following (4 of 5 times)

[code]
When we reduced the disk size to 512GB we had no issue

**What you expected to happen?**
No formatting issue

**How to reproduce it (as minimally and precisely as possible)?**
Provision a drive with 1TB and Max IOPS/Throughput

**Anything else we need to know?**:

Here's our de

[2021-02-11 17:23] iamsudip commented on #564
@wongma7 v0.9.0 image is still not multi-arch, can you confirm?

I have upgrade aws-ebs-csi-driver from v0.8.1 to newly released v0.9.0. The container still failing with following error in ARM instance:
[code]

[2021-02-11 18:20] AndyXiangLi commented on #737
@PhilThurston I notice that you are using EKS cluster, ebs driver is not enabled on EKS cluster by default, do you enable the CSIMigration and CSIMigrationAWS feature-gate on your cluster?
You can check the actual provisioner involved by using command: kubectl describe pvc ebs-claim

[2021-02-11 18:50] wongma7 commented on #564
/cc @ayberk
sidecars from quay seem like they aren't multiarch?

Can we check gcr and use it instead?

[2021-02-11 19:17] AndyXiangLi commented on #564
@iamsudip in 0.9.0 release, we still have arm deployment located at https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/release-0.9/deploy/kubernetes/overlays/stable/arm64
Can you try to re-deploy the driver using command: kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/arm64/?ref=release-0.9"

[2021-02-11 20:18] PhilThurston commented on #737
if it wasn't clear from my description I am able to provision gp3 drives without issue when I just remove the "type" field from the sc. that being said here is the full output from the pvc

[code]

[2021-02-11 20:44] ayberk commented on #564
Yep that was a miss on our part. #739 and #740 should fix it.

[2021-02-11 21:09] ayberk commented on #737
@PhilThurston there's no way to enable the CSI migration on a Kubernetes cluster. In-tree driver doesn't support gp3, so the error message makes sense. Are you sure the volumes created are not gp2 when you don't specify the type?

[2021-02-11 23:05] PhilThurston commented on #737
You're right. While kubectl says that the pvc is bound and the pv shows up and is even povisioned by eks the ebs that is made is gp2 without stating as such. I would still consider this a bug as it does provision the EBS drive but can't attach. So it's silently failing without a verbose reason.

Below are the steps to reproduce:

[code]
output of `kubectl describe pvc ebs-claim2`
[code]
Output of

[2021-02-11 23:25] PhilThurston commented on #737
Another probably simpler alternative would be to create EKS specific section of the documentation that the EBS CSI driver isn't available until 1.0 and when the CSI migration feature gate is enabled for EKS. Others may not pick up on the subtle blocks or issue comments that I've just found especially since AWS recommended management tools such as eksctl already support gp3 for nodes https://github

[2021-02-11 23:40] iamsudip commented on #564
@ayberk I am getting 404

[code]

[2021-02-12 00:08] ayberk commented on #737
Silent failure you mentioned is not really a failure because while this csi driver switched to gp3 as the default type, the [in-tree code](https://github.com/kubernetes/kubernetes/blob/f48972e671e5f338d0d6adfe6055aba4534569ad/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L315) still has gp2 as the default type.

Regardless, you're absolutely right we should note this on our README.

[2021-02-12 01:01] PhilThurston commented on #737
I may be ignorant here but if we explicitly state `provisioner: ebs.csi.aws.com` instead of `provisioner: kubernetes.io/aws-ebs` shouldn't it bypass the in-tree provisioner altogether? I would think this would negate the need to work with the dated in-tree provisioner.

[2021-02-12 01:24] AndyXiangLi commented on #564
@iamsudip #741 should fix this.. can you check now?

[2021-02-12 09:39] arestuzi opened #743 "Cannode Deploy the EBS CSI driver in cn-north-1 and cn-northwest-1"
According to the public document, I should run following command to deploy ebs csi in cn-north-1 and cn-northwest-1, but it returns following errors,
[code]
I cannot pull images from k8s.gcr.io repository from the instances deployed in China region, any workaround?
[code]

[2021-02-12 14:58] riteshnaik commented on #295
@leakingtapan @frittentheke It works. Multiple pods on the same node can share the same EBS volume. Thanks for looking into it. Please feel free to close the issue.

[2021-02-12 18:22] leakingtapan commented on #295
/close

[2021-02-12 18:23] #295 closed

[2021-02-12 18:37] iamsudip commented on #564
@AndyXiangLi Looks good now.

[2021-02-12 18:40] AndyXiangLi commented on #564
@iamsudip thank you for confirmation!

[2021-02-12 19:09] ayberk commented on #564
I am going to close this issue. Please let me know if you're still having issues.

/close

[2021-02-12 19:09] #564 closed

[2021-02-12 21:47] ayberk commented on #743
Can you try pulling `918309763551.dkr.ecr.cn-north-1.amazonaws.com.cn/eks/aws-ebs-csi-driver:v0.9.0`?

[2021-02-16 07:41] dntosas opened #746 "Migrate to non deprecated apiVersions on Helm Chart"
[code]

^^

[2021-02-16 09:18] kgtw opened #747 "node-driver-registrar preStop fails because /bin/sh doesn't exist"
/kind bug

**What happened?**

preStop lifecycle hook isn't executed because `/bin/sh` doesn't exist within the registrar docker image.

See: https://github.com/kubernetes-csi/node-driver-registrar/blob/v2.0.1/Dockerfile

**What you expected to happen?**

lifecycle hook to execute successfully.

**How to reproduce it (as minimally and precisely as possible)?**

Deploy latest manifests with registr

[2021-02-16 21:23] ayberk commented on #729
I really don't know why we didn't use the well-known label. @wongma7 @leakingtapan maybe?

I agree we should just use them instead. Initially we should support both labels though so we can provide a deprecation warning.

[2021-02-16 21:53] ayberk commented on #727
Agreed we can default to true.

/good-first-issue

[2021-02-16 22:01] ayberk commented on #737
I don't think the provisioner matters at all. Unless you explicitly disable by passing the [required flags](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#migrating-from-in-tree-ebs-plugin), in-tree plugin still runs and CSI driver is not used.

[2021-02-16 22:15] leakingtapan commented on #729
It is because the well-known label wasn't well-known yet by the time this driver's topology key was set. There used to be a separate label `failure-domain.beta.kubernetes.io/zone` and it got renamed to `topology.kubernetes.io/zone` as part of the work from sig-cloudprovider. See [here](https://github.com/kubernetes/kubernetes/pull/81431). The see [here](https://github.com/kubernetes-sigs/aws-ebs-c

[2021-02-16 22:30] leakingtapan commented on #729
related to: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/675

[2021-02-17 01:12] chrishenzie commented on #439
I tried reproducing this issue using driver version v0.7.1 but was unable to. After the pod was deleted the mounts were cleaned up.

[2021-02-17 10:44] kamit78 opened #748 "pvc volumes failed to provision with error "Not authorized to perform sts:AssumeRoleWithWebIdentity""
I have configured everything as described in AWS doc
**https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html**

but eventually getting error on creating pvc with storageclass having provisioner ebs.csi.aws.com

 Warning  ProvisioningFailed  94s                  ebs.csi.aws.com_ebs-csi-controller-65ff4fbbc8-hbbpq_fe17ffed-e272-4390-9c3e-3fdb447f0ba3  failed to provision volume with StorageC

[2021-02-17 18:09] ayberk commented on #729
That's really helpful, thanks a lot @leakingtapan!

Since this requires k/k changes, I'll try to come up with a plan.

/assign

[2021-02-17 18:46] leakingtapan commented on #448
/reopen

[2021-02-18 02:34] unixninja92 opened #749 "Upgrade livenessprobe to patch memory leak"
/kind bug

**What happened?**
livenessprobe v2.1.0 has a memory leak causing it use way more ram than needed. This is patched in [livenessprobe v2.2.0
](https://github.com/kubernetes-csi/livenessprobe/blob/master/CHANGELOG/CHANGELOG-2.2.md#bug-or-regression)
**What you expected to happen?**
livenessprobe containers usually use ~5MB of ram.

**How to reproduce it (as minimally and precisely as poss

[2021-02-18 02:37] aballman opened #750 "[chart] 0.9.6 StorageClass Missing YAML Document Separator"
/kind bug

**What happened?**
When using the `storageClasses` field in the helm chart and providing multiple entries, the generated yaml does not include the document separator `---`

[code]

**What you expected to happen?**
The same yaml is generated with the document separator, so that N resources are created instead of 1.
[code]

**How to reproduce it (as minimally and precisely as possible)?**

[2021-02-18 06:29] arestuzi commented on #743
thanks, I can pull this image from instances launched in China region. I tried other images, seems that they are not existed yet.
like
918309763551.dkr.ecr.cn-north-1.amazonaws.com.cn/eks/csi-provisioner:v2.0.2
918309763551.dkr.ecr.cn-north-1.amazonaws.com.cn/eks/csi-attacher:v3.0.0

[2021-02-18 18:03] ayberk commented on #743
Those sidecar images are available in the [public ECR gallery](https://gallery.ecr.aws/?searchTerm=csi). I just launched an instance in BJS and verified that they can be pulled.

The workaround I can think of is using the [ECR overlay](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/ecr/kustomization.yaml) after updating the driver image. So it s

[2021-02-18 18:12] ayberk commented on #749
We're already using v2 so this should be a simple change. Thanks for the report!

/good-first-issue

[2021-02-18 22:05] chrishenzie commented on #165
This issue is mitigated for now by using the `inFlight` struct. Once an EBS API change is available that enables idempotency, this in-flight checking should be removed from the `ControllerPublishVolume()` call.

[2021-02-19 15:37] imbohyun1 commented on #588
Observed the managed node group update with 'Pod Eviction Failure'. While upgrading managed node group with launch template version up, the node is tainted and all the pods should be evicted. But the node running on 'ebs-csi-controller' pod is not tainted fully because the 'ebs-csi-contoller' has a toleration. kube-scheduler keeps scheduling 'ebs-csi-controller' pod to the node which should be dra

[2021-02-19 16:41] ayberk commented on #165
@AndyXiangLi FYI. Can you follow-up internally for the API change?

[2021-02-19 16:46] #733 closed

[2021-02-19 18:58] #307 closed

[2021-02-19 18:58] #370 closed

[2021-02-19 19:17] wongma7 opened #754 "Volumes may leak during Create operation: Delete/clean volume if waitForVolume fails during Create operation"
/kind bug

If AWS API is unavailable (e.g. due to throttling) then waitForVolume could fail even though the volume eventually becomes available and leaks. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L343

Issue also affects in-tree

[2021-02-19 19:48] #727 closed

[2021-02-20 00:04] mtougeron commented on #660
I'm new to the CSI drivers but I tried looking into this today. It looks like that metadata isn't passed to the `CreateSnapshot()` as part of the request. It only receives the volume id and the snapshot name. i.e.,

[code]

Correct me if I'm wrong, but it appears to run into the same boundary/permission issue as #180 which prevent the plugin from looking up additional information about the PVC the

[2021-02-20 03:50] mowangdk commented on #749
@ayberk  If you don't mind, I would like to take up this issue~

[2021-02-20 03:51] mowangdk commented on #749
/assign

[2021-02-21 15:19] #597 closed

[2021-02-22 01:21] DingGGu opened #757 "Multiarch image was not uploaded on k8s.gcr.io/provider-aws/aws-ebs-csi-driver"
/kind bug

**What happened?**
`image: k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v0.9.0`
was not compatibility with arm64.

[code]

However, ebs-csi-driver already support multiarch using arm64
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/.github/workflows/container-image.yaml

I try to using dockerhub `image: amazon/aws-ebs-csi-driver:v0.9.0` was work properly.

**What you ex

[2021-02-22 02:56] imbohyun1 opened #758 "ebs-csi-controller blocks updating EKS managed node group"
/kind bug

**What happened?**
While updating managed node group by changing the version of launch template, I observed that if one of nodes from older node group has `ebs-csi-controller`, then it failed to evict pods with `PodEvictionFailure` after it hit the max retries to evict `ebs-csi-controller` pod.

    "Errors": [
      {
        "ErrorCode": "PodEvictionFailure",
        "ErrorMessage": "

[2021-02-22 18:02] ayberk commented on #560
/remove-lifecycle stale

New grid: https://testgrid.k8s.io/provider-aws-ebs-csi-driver#migration-test-latest

[2021-02-22 20:25] wongma7 commented on #757
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/aws-ebs-csi-driver-push-images/1360032576340758528 succeeded, will check the image in staging repo...

[2021-02-22 23:08] ayberk commented on #750
/good-first-issue

[2021-02-23 02:28] TBBle commented on #621
/remove-lifecycle stale

[2021-02-23 04:06] mssachan opened #760 "EBS volume is getting dynamically provisioned in 'us-east-2a' with WaitForFirstConsumer policy, even though EC2 instance is in 'us-east-2b' zone, causing mount to fail"
/kind bug

I am dynamically provisioning EBS volume with `WaitForFirstConsumer` policy and pod is getting scheduled on EC2 instance present in `us-east-2b` region but still EBS volume is getting created on `us-east-2a` region which is causing mount operation to be failed.
`attachdetach-controller  AttachVolume.Attach failed for volume "pvc-fa3c6e4d-c06e-469c-8370-a28ced9313ab" : rpc error: code =

[2021-02-23 04:23] nbrational commented on #760
Check if nodeAffinity is added to PV:- $ kubectl describe pv <pv-name>
It should have nodeSelector with key topology.ebs.csi.aws.com/zone

[2021-02-23 08:49] mssachan commented on #760
Even though Storageclass has nodeaffinity rules set,
[code]
But PV does not have any node affinity rules set.
[code]

[2021-02-23 12:57] shivani-hotstar opened #761 "Kubelet --allow-privileged unknown flag issue in k8s 1.17 version."
/kind bug

**What happened?**
I have enabled --allow-privileged=true for kubelet.
Config file :
`kubelet:
    anonymousAuth: true
    allowPrivileged: true
    featureGates:
      CSINodeInfo: "true"
      CSIDriverRegistry: "true"
      CSIBlockVolume: "true"`

But after enabling it my master nodes stopped joining the kubernetes cluster.
As kubelet process is not even starting and throwing this e

[2021-02-23 15:05] nvnmandadhi commented on #750
I'd like to help with this, I'd be looking to change the Storageclass template, right?

[2021-02-23 15:25] shivani-hotstar commented on #714
Hello
So As mentioned under [https://github.com/kubernetes-sigs/aws-ebs-csi-driver#set-up-driver-permission](url)
we can either use secret option or iam policy attached to all worker nodes .
So i went with 2nd option and attached [https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/example-iam-policy.json](url) same policy to my all cluster nodes (master and worker node role).
A

[2021-02-23 15:33] nvnmandadhi commented on #750
/assign

[2021-02-23 17:54] #613 closed

[2021-02-23 18:16] vdhanan commented on #512
/open

[2021-02-23 18:16] vdhanan commented on #512
/assign

[2021-02-23 18:17] vdhanan commented on #512
/reopen

[2021-02-23 18:41] wongma7 commented on #754
also, even if we defer deletevolume that could be throttled too so it's not perfect. But I think deletevolume quota and describe* quota are not in the same bucket for accounting purposes.

Could have a leaked vol clean up routine but I don't think that belongs in the driver controller. Anything that does delete is of course risky and routinely scanning for vols to cleanup would exacerbate to any q

[2021-02-23 21:22] ayberk commented on #696
External migration is green: https://testgrid.k8s.io/provider-aws-ebs-csi-driver#migration-test-latest

[2021-02-23 21:23] ayberk commented on #560
We're green after the latest fix.

/close

[2021-02-23 21:23] #560 closed

[2021-02-23 22:25] georambo commented on #722
I need this as well.  ebs-plugin only works for me when we make the calls through an proxy, so need to drop in
[code]

This is pretty common feature in most charts though, to drop in additional environment variables.

[2021-02-23 23:13] vdhanan commented on #512
@gsf could you please re-open this issue?

[2021-02-24 01:10] AndyXiangLi commented on #216
@frittentheke How do you determine #214 is failed on DNS resolution? Is there any specific log to show that? I'm trying to repo this issue but don't know how to fail the DNS resolution. Any suggestion?

[2021-02-24 02:36] shivani-hotstar opened #763 "Dynamic-provisioning of EBS Volume is failing : NoCredentialProviders: no valid providers in chain caused by: EnvAccessKeyNotFound: failed to find credentials in the environment"
/kind bug
Hello
So As mentioned under [https://github.com/kubernetes-sigs/aws-ebs-csi-driver#set-up-driver-permission](url)
we can either use secret option or iam policy attached to all worker nodes .
So i went with 2nd option and attached [https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/example-iam-policy.json](url) same policy to my all cluster nodes (master and worker nod

[2021-02-24 07:55] shivani-hotstar opened #764 "Unable to attach or mount volumes: unmounted volumes=[persistent-storage], unattached volumes=[persistent-storage default-token-96wmn]: timed out waiting for the condition"
/kind bug

**What happened?**
Deployed csi-controller with all required objects .
For testing i deployed claim and pod .

`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ebs-claim
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc
  resources:
    requests:
      storage: 4Gi`

`apiVersion: v1
  kind: Pod
  metadata:
    name: app
  spec:
    containers:
    - name:

[2021-02-24 08:25] frittentheke commented on #216
@AndyXiangLi that was exactly my problem (no log disclosing that the AWS API hostname could simply not be resolved) - see me issue about it: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/214

Thus my suggestion would be to make the driver much more verbose in any case, but the deep health check should definitely have an indication whether the AWS EBS API can be reached and does resp

[2021-02-24 09:04] shivani-hotstar commented on #764
This was RBAC issue .
Fixed RBAC permissions and redeployed .
Working fine!

[2021-02-24 09:04] #764 closed

[2021-02-24 14:33] jsafrane opened #766 "Confusing error message when creating "io1" volumes"
/kind bug

**What happened?**
When the storage class requires `io1` volume, but misses `IOPSPerGB` parameter, user gets this event:

[code]

`The parameter iops must be specified for io1 volumes.` is very misleading, because it should be `IOPSPerGB`.

[2021-02-24 20:36] wongma7 commented on #754
Another idea:

CreateVolume can't be passed idempotency token

In lieu of that, we may have to overload tag API and use a tag as a token.

So in CreateVolume, DescribeVolume with filter token=PVCUID. If exists, use it and return early. if DNE, proceed as usual.

[2021-02-25 00:03] wongma7 commented on #757
For me there appears to be an aarch64 image published at k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v0.9.0, I am not sure why in your case kubelet is not pulling it . I'll have to try to reproduce on my cluster

# file /bin/aws-ebs-csi-driver
/bin/aws-ebs-csi-driver: ELF 64-bit LSB executable, ARM aarch64, version 1 (SYSV), statically linked, Go BuildID=sb6zFW7URrvDtpRWYvI6/nGz0qTeA2RKrMeGzDbTj/bb

[2021-02-25 00:45] #766 closed

[2021-02-25 09:51] DingGGu commented on #757
I think I was mistaken. I just tested it and it works.

[2021-02-25 09:51] #757 closed

[2021-02-25 19:08] ayberk commented on #722
related #765

[2021-02-25 22:38] ayberk commented on #512
/reopen

[2021-02-25 23:00] #749 closed

[2021-02-26 13:56] andrewgeller commented on #758
Experienced the same and this seems to be done on purpose. "tolerateAllTaints" was [added to the helm chart](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/e2f8e54f3edc5c13105524052b3d5ce4cad28839) with a default value of true.  And prior to the addition of that config option, the behavior was the same. There is some discussion in [594](https://github.com/kubernetes-sigs/aws-ebs-csi-

[2021-02-26 17:41] wongma7 commented on #758
Let's tone it down to:

[code]

Thoughts?

These are the tolerations I seem from a default kops install for kube control plane components and they seem reasonable to me. The csi controller is basically taking replacing some of kube-controller-manager's responsibility so it makes sense for it to have the same uptime guarantees. Clearly tolerating all taints is excessive.

- CriticalAddonsOnly:
sinc

[2021-02-26 23:42] ayberk commented on #729
We'll need to gracefully retire the current label (topology key), so we need to start with writing both.

1. Driver starts writing both keys: `topology.ebs.csi.aws.com/zone` and `topology.kubernetes.io/zone`. For topology constraints it should use the new one if available or fallback to the old one.
2. Translation lib similarly has to read both when converting to in-tree. However, we have two opti

[2021-02-27 00:38] wongma7 commented on #729
sounds good to me. I understand concretely this to mean

NodeGetInfo must respond such that CSINode.topologyKeys has both oldKey and newKey.

CreateVolume, if provided topology requirement in  request, must extract the zone from newKey if exists or oldKey if not

CreateVolume must respond such that PVs have nodeAffininity.nodeSelector oldKey==A || newKey==A (by returning AccessibleTopology array c

[2021-02-28 22:25] ecrousseau commented on #598
/remove-lifecycle rotten

[2021-03-02 06:32] nhoughto commented on #474
Requiring metadata kinda sucks considering the recommended EKS configuration with IRSA it to disable metadata api access..

[2021-03-02 18:55] wongma7 commented on #474
/reopen
/help-wanted
/lifecycle frozen

Node service needs metadata to discover instance id, and topology (outpost, zone, region) info https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/7278cef1d7a1a63a43f733bfe237e1222678e7c3/pkg/cloud/metadata.go#L91 Maybe with downward API some of this could be retrieved from Node object.

Controller service needs it to discover region. Maybe it could u

[2021-03-02 19:07] #548 closed

[2021-03-02 19:10] wongma7 commented on #760
Can you share the CSINode object of the node in question

[2021-03-02 20:56] ayberk commented on #627
/remove lifecycle/stale

[2021-03-02 21:19] ayberk commented on #627
/remove-lifecycle stale

[2021-03-02 23:25] ayberk commented on #427
/reopen

[2021-03-02 23:26] ayberk commented on #427
/remove-lifecycle rotten

[2021-03-04 21:44] tsunny commented on #747
We are seeing the same issue on our clusters too.

[2021-03-04 21:47] wongma7 commented on #747
LEt's remove the hook, node driver registrar already does this by itself https://github.com/kubernetes-csi/node-driver-registrar/pull/61

[2021-03-04 21:53] tsunny commented on #747
@wongma7 - thanks for the response. This should be updated in the helm templates in the repo right? https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/747#issuecomment-790968689

[2021-03-04 22:16] wongma7 commented on #747
Yes, (and the kustomize via `make generate-kustomize`

[2021-03-04 23:01] tsunny commented on #747
@wongma7 - PR for this - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/778.
TIA

[2021-03-05 02:10] #588 closed

[2021-03-05 10:23] dschunack commented on #536
Whats the current state ? Is it possible to add the CRDs for snapshots in the helm chart?

[2021-03-07 20:51] #528 closed

[2021-03-08 17:13] ayberk commented on #600
/remove-lifecycle rotten

[2021-03-08 19:42] wongma7 commented on #536
Yes it is a bug that we install snapshot controller https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/a3a0bc328e35d0a6e4776ac2f4febf2e2990cb64/charts/aws-ebs-csi-driver/templates/statefulset.yaml but not the assojciated CRD ?

Although iti s arguable whether we should install snapshot controller by default at all or leave it as prerequisite since it is not EBS-specific

[2021-03-08 23:55] AndyXiangLi opened #783 "Can't configure iops and throughput if using default volumeType"
/kind bug

**What happened?**
Customer can not configure iops and throughput if they are using default volumeType gp3 and not explicitly declare that in the StorageClass
**What you expected to happen?**
iops and throughput configuration can still work even customer not declare volumeType in the StorageClass
**How to reproduce it (as minimally and precisely as possible)?**
Simple dynamic pvc deploy

[2021-03-09 13:43] jsafrane opened #784 "Misleading example of static provisioning"
/kind bug

**What happened?**
The example at https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/static-provisioning
uses  StorageClass with `volumeBindingMode: WaitForFirstConsumer`. In this mode, a Pod + PVC is scheduled together and are assigned to a random node / zone.  Scheduler does not take pre-existing unbound PVs into account here at all. Therefore a new

[2021-03-09 14:06] riteshnaik opened #785 "Failed to scale pods with EBS CSI PVC in multi-node/multi-zone or multi-node/single-zone HA setup"
/kind bug

**What happened?**

Setup

1. Pods with PVC using the Volume Snapshot as the data source(Dynamic Provisioning with the volume created from the EBS snapshot) - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot/specs/snapshot-restore
2. Pods are managed by Deployment
3. Nodes on which these pods run are behind the multi-zone ASG managed by CA.

[2021-03-09 17:21] dschunack commented on #536
We rollout all our Deployments with terraform and the kubernetes/helm provider.
As workaround we implement a terraform resource to create the CRDs on EKS before we apply the helm chart.
It's working but not the best solution. I think it makes sense to add the CRDs in the Helm Chart.

[2021-03-09 18:19] AndyXiangLi commented on #600
@nevetS I think the issue is related to storage class. Looks like your default storage class is using kubernetes in-tree driver and storage class `ebs-sc` is using ebs-csi-driver. To have consistent tags, you want to explicitly specify which storage class(in-tree or aws-ebs-csi-driver) you would like to use in your PVC definition. You could find more examples [here](https://github.com/kubernetes-s

[2021-03-09 18:45] wongma7 commented on #784
No, let's remove the StorageClass, I have only ever heard confusion about it.

[2021-03-09 22:38] wongma7 commented on #480
/remove-lifecycle stale

[2021-03-12 00:01] wongma7 opened #788 "Print driver logs at end of test"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature
We can just run kubectl logs {controller pod and each node pod} at end of scrijpt or use StartPodLogs somehow https://github.com/kubernetes/kubernetes/blob/42c1ccb38ea65b27abadc9c16e1beded0ac6ac0a/test/e2e/storage/utils/pod.go#L

[2021-03-12 00:49] wongma7 commented on #654
/remove-lifecycle stale

[2021-03-12 01:14] #788 closed

[2021-03-12 18:24] vdhanan commented on #290
/assign

[2021-03-12 18:35] vdhanan commented on #290
/assign

[2021-03-12 21:18] wongma7 opened #793 "Test testsuites.CSISuites instead of enumerating them"
/kind bug

Use this https://github.com/kubernetes/kubernetes/blob/e5e3c8d4f5c96bde9cdef52c79a8f41759df3581/test/e2e/storage/external/external.go#L176 after merging https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/792

[2021-03-12 23:43] #784 closed

[2021-03-13 00:03] wmgroot opened #795 "Failure to AttachVolume, RequestCanceled: context deadline exceeded"
/kind bug

**What happened?**
[code]

**What you expected to happen?**
I expect EBS Volumes to be attached successfully to a node when a PVC is created.

**How to reproduce it (as minimally and precisely as possible)?**
This is occurring non-deterministically for us. It seems to happen more frequently with higher volumes of PVC requests.
We are running a few workloads with high Pod/PVC turnover, a

[2021-03-13 01:10] wongma7 opened #796 "Add node_unsupported.go with // +build !linux"
/kind bug

So that build succeeds on darwin

[2021-03-14 04:20] #590 closed

[2021-03-14 09:42] #736 closed

[2021-03-14 09:43] chaosunsfx commented on #736
Not seen with version 0.9.0

[2021-03-15 15:39] wmgroot commented on #795
Additional information from the AWS support technician who has been helping us troubleshoot this issue.

I wanted to follow up with a summarizing email.

[+] vol-0096953dda8a10fd6
[+] vol-00c75d8acfe0b8e72
[+] vol-025e9c11fc19af987
[+] vol-02dfcc6c96c84d6b9

when attaching a volume causes the volume to be stuck in the attaching state. You must either choose a different device name or reboot the
in

[2021-03-15 21:40] wmgroot commented on #795
Updated with a more specific set of repro steps that should hopefully allow others to observe this behavior.

[2021-03-15 22:19] wongma7 opened #797 "Clean up helm chart + kustomize overlays"
/kind bug

- snapshot is not alpha anymore
- the snapshot crd is just randomly in cluster dir (but not present in helm chart? should add it to helm first and then generate the kustomize from helm)
- file naming doesn't match the helm template files

[2021-03-15 22:50] ayberk commented on #797
+1. We also need to go over the values.yaml to see if we can restructure it to be more consistent. For example controller values are at top level but daemonset values are under `node:`.

[2021-03-15 22:52] #796 closed

[2021-03-16 00:02] #179 closed

[2021-03-16 00:47] wongma7 commented on #797
- make tolerations consistent. tolerateAllTaints should deefault false and
  - key: CriticalAddonsOnly
          operator: Exists
        - operator: Exists
          effect: NoExecute
          tolerationSeconds: 300

should be the default everwyerhe

[2021-03-16 15:11] JonathanLachapelle opened #798 "Deploying using helm chart with snapshot enabled cause error in snapshot controller"
/kind bug

**What happened?**
Following error in ebs-snapshot-controller :
I0316 14:58:34.096981       1 reflector.go:243] Listing and watching *v1beta1.VolumeSnapshotContent from github.com/kubernetes-csi/external-snapshotter/client/v3/informers/externalversions/factory.go:117
E0316 14:58:34.099121       1 reflector.go:127] github.com/kubernetes-csi/external-snapshotter/client/v3/informers/extern

[2021-03-16 18:24] wongma7 commented on #798
the helm chart is missing the CRD. related: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/536 https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/797

Please install them https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd

[2021-03-17 00:03] phewitt commented on #207
+1

[2021-03-17 02:25] wongma7 opened #799 "Add eksctl/aws-k8s-tester prow job"
**Is your feature request related to a problem?/Why is this needed**

/feature

**Describe the solution you'd like in detail**
With @wongma7's sick refactor of the testing scripts, it should be easier to shell out to eksctl or akt in place of kops: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/hack/e2e/run.sh#L90
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master

[2021-03-17 21:30] AndyXiangLi commented on #795
Thank you @wmgroot we will look into this issue

[2021-03-17 21:47] #591 closed

[2021-03-18 16:17] joshi55 opened #800 "EBS GP3 driver is not tagging volumes or naming volumes."
When deploying EBS volumes using GP3 CSI driver, it is not giving any name to EBS volumes. Volume names appear empty.
Also, it is not adding any information related to application or cluster in Tags.

We are using EKS v1.17.12 and are deploying the CSI with the command :
[code]
and then we added gp3 storage class

[code]

Then we deployed a simple stateful set which uses gp3 driver.  When we list

[2021-03-18 17:47] bobbywatson3 commented on #536
Agreed. They should be a part of the helm chart. Anyone who doesn't want to install them as part of the helm chart can use `--skip-crds`

[2021-03-19 12:16] krmichel commented on #797
I can take a look at this.  I will likely need some info from someone more familiar with the driver itself.  I don't believe I have the necessary permissions to assign myself this issue.

[2021-03-19 12:47] krmichel commented on #706
This is basically a restatement of what @wongma7 said above.  The cert on that chart repo is the same cert you will see used for a number of github addresses.  It is issued by the `DigiCert SHA2 High Assurance Server CA intermediate` with `DigiCert High Assurance EV Root CA as the root CA`.  It isn't special to this project.  Here are a list of the subject alternative names for the cert:
DNS Name=

[2021-03-19 16:19] ayberk commented on #797
Thanks @krmichel. Feel free to reach out to me or @wongma7 if you have any questions.

/assign @krmichel

[2021-03-19 16:36] AndyXiangLi commented on #800
@joshi55 Looks like the gp3 volume is provisioned by ebs-csi-driver and your gp2 volume is provisioned by k8s in-tree driver.
ebs-csi-driver will only add CSIVolumeName by default. If you need to add  one of these tags ("kubernetes.io/created-for/pvc/namespace", "kubernetes.io/created-for/pv/name", "kubernetes.io/created-for/pvc/name" ) to your volume when using ebs-csi-driver, you can specify the

[2021-03-19 17:13] AndyXiangLi opened #803 "[Performance Test] Setup test cases and track driver's performance"
**Describe the solution you'd like in detail**
Run following test case and check whether csi driver could handle this smoothly.
Common measurements: CPU usage and memory usage
Test cases:
[code]

**Additional context**
Add any other context or screenshots about the feature request here.
Experimental k8s perf test [framework](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2/testi

[2021-03-19 17:20] AndyXiangLi opened #804 "[Performance Test] Track driver start time pre-submit"
**Describe the solution you'd like in detail**
We need to track the driver start time during pre-submit and fail the test if it takes too long to start the driver in the e2e test

**Additional context**
It would be perfect if we can log the start time during e2e test somewhere, so we have a dynamic threshold for each build. If that is not possible, probably start with a hardcoded value.

[2021-03-19 17:26] AndyXiangLi opened #805 "[Performance Test] In-tree driver performance test"
**Describe the solution you'd like in detail**
Continue from #803
We should run the same test suit on in-tree driver and compare the performance between two drivers.

**Additional context**
When run the in-tree driver tests, need to keep all other parameters as similar as possible: instanceType, volumeType, network, node etc.

[2021-03-19 17:57] AndyXiangLi commented on #795
I found this issue may related to #389 And we have a PR to fix this in #801
Will keep you updated once the PR get merged.

[2021-03-19 18:20] gnufied opened #806 "Emit cloudprovider and throttling metrics"
The intree cloudprovider emits cloudprovider API metrics and throttling metrics.

These metrics are important for debugging - https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws_metrics.go

[2021-03-19 18:32] wongma7 commented on #806
cc @ayberk @AndyXiangLi .

We can simply add these metrics.

Or better yet  I would like us to solve https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/393.

there are 3 cloud provider abstractions. our cloud.go, v1/legacy, and v2 and  I want to avoid duplication. https://github.com/kubernetes/cloud-provider-aws/tree/6c10f4b1ba2d0377665cbaa7a2cbe6730591ec64/pkg/providers/v2

i think we s

[2021-03-19 18:40] wongma7 commented on #806
Also if we use v1 then we emit these metrics for free i think but it's not that hard to add them  so i dont buy it

[2021-03-19 19:33] wongma7 commented on #474
For node plugin, three scenarios:

#### 1 IMDS is accessible from kubelet and containers
CSI works, we assume this today. We put `hostNetwork` in our YAMLs to ensure that container can reach metadata endpoint on host.

#### 2 IMDS is accessible from kubelet but NOT from containers

CSI doesn't work. Container needs to discover its zone and instance ID somehow. The only hint it might have is the no

[2021-03-19 19:39] wongma7 commented on #448
/reopen
/help-wanted
/lifecycle frozen

more configuration options  welcome.

[2021-03-19 21:37] joshi55 commented on #800
@AndyXiangLi This is not going to work... as we volumes are provisioned dynamically, how can we have that static information for application name ? Also, there can be hundreds and hundreds of such volumes..

[2021-03-19 21:50] AndyXiangLi commented on #800
@joshi55 Understand that, those are most FYI. CSI driver is adding the dynamic volume name under CSIVolumeName tag, let me re-phrase the previous statement to reduce confusion.

[2021-03-19 22:04] AndyXiangLi commented on #800
There is an on-going tag discussion in #180. We definitely need to provide ability to add tags on demand.

[2021-03-19 22:29] chaosunsfx commented on #738
Got the same issue with both `v0.8.1` and `v0.9.0` versions and both `gp2` and `gp3` types. It seems happening intermittently, and in some cases could eventually succeed after a few tries, but also could repeatedly fail and never succeeds sometimes.

[2021-03-20 23:27] krmichel commented on #797
@ayberk @wongma7 I can make the values file more consistent but it will requiring a breaking change and that people will have to update their values files before upgrading to the new chart version.  I just want to make sure that is okay before I make those changes.

[2021-03-22 09:58] ABNER-1 commented on #748
I have the same problem.

[2021-03-22 16:44] ayberk commented on #797
Ideally we should have at least one version where we support both the old fields and the new fields, with new fields being prioritized. Then we can remove the old values in the next update. Is that feasible? I am not sure how big the changes are so the templates might get spaghetti real fast :/

[2021-03-23 04:53] wmgroot commented on #795
Awesome, appreciate the update.

[2021-03-23 05:32] pabrahamusa commented on #738
I am also facing the same issue with gp3 intermittently.  Wondering whether there is  fix for this?

I am provisioning 2.3 TB gp3 with statefulset
aws-ebs-driver helm chart - 0.8.1
kubernetes version - EKS 1.16

As a work around I have to manually mount the disk manually by following the steps, which is a tedious task
a) ssh to the host
b) cd /var/lib/kubelet/plugins/kubernetes.io/csi/pv/
c) mkdir

[2021-03-23 05:41] mitchellhuang commented on #679
@appprod0 did you drain kubelet before applying the CSIMigrationAWS feature-gate and restarting kubelet? We had to do that for the migration flag to work otherwise we get the exact same error as you. I don't think you can just turn on the feature-gate, delete the existing pod(s), and expect it to work. Hence why your new node on from your ASG works.

[2021-03-23 14:13] daparthi001 opened #810 "unable to get the pvs attached on ebs volumes on faragte eks cluster"
We are not able to bring the volumes up with CSI driver .

Warning  FailedScheduling  58m   fargate-scheduler  Pod not supported on Fargate: volumes not supported: storage-volume not supported because: PVC prometheus-server bound to invalid PV pvc-a996c34f-eba8-45d1-9820-e5bc19ce325c with CSI Driver: ebs.csi.aws.com

**Environment**
- Driver version:0.9.0

[2021-03-23 15:27] ayberk commented on #810
EBS is not supported on fargate, only EFS.

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/fargate-task-storage.html

[2021-03-23 15:30] ayberk commented on #672
/remove-lifecycle stale

I know we're not running the daemonset on fargate, I guess we missed the controller.

[2021-03-23 15:37] ayberk commented on #738
Do your volumes encrypted by any chance? If they're encrypted you might be encountering https://github.com/kubernetes/kubernetes/issues/86064.

In short, encrypted EBS volumes are not always empty. And when they're not, we refuse to format for safety reasons.

cc @AndyXiangLi for any updates on the fix.

[2021-03-23 15:47] ayberk commented on #810
I've found [this](https://aws.amazon.com/blogs/aws/new-aws-fargate-for-amazon-eks-now-supports-amazon-efs/), hope it helps!

[2021-03-23 16:03] frankjkelly commented on #738
Mine are encrypted indeed - gak AWS bug :-(

[2021-03-23 16:13] chaosunsfx commented on #738
Mine are encrypted too. Also came across this post yesterday and thought it is the same issue.

[2021-03-23 18:56] jsafrane opened #812 "Volume partitions are not supported"
/kind bug

**What happened?**
For CSI migration we need all in-tree features supported in the CSI driver. In-tree volumes support mounting volume partitions in  `pv.spec.awsElasticBlockStore.partition` flag. Such capability should be present in the CSI driver too.

**How to reproduce it (as minimally and precisely as possible)?**
Enable CSI migration and use following Pod:

[code]

**Anything else

[2021-03-23 23:14] pabrahamusa commented on #738
@ayberk , Thanks for the details. Understand that Kubernetes won't reformat a volume that already has some data. However what could be the reason for failure to attach a already formatted volume? mine is encrypted as well.

[2021-03-23 23:54] mtimm commented on #748
I had a similar issue.

It turned out that the trust-policy.json is region specific but the instructions don't really tell you to update the region.  Once I adjusted both the Federated value and the Condition StringEquals object in this json to use the correct region it worked very well.

I've submitted documentation feedback on https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html regardi

[2021-03-24 18:03] ayberk commented on #569
/reopen

[2021-03-24 19:56] wongma7 commented on #474
For controller plugin, we only need metadata to get region. And we already provide a fallback for that via AWS_REGION env variable, so it's not as pressing an issue.

Otherwise, we have to choose one of the same approaches as above.

As mentioned above, DescribeInstances approach would assume that node name is equal to internal DNS name which could change in a future version of cloud provider.

Ge

[2021-03-24 21:15] #804 closed

[2021-03-24 23:27] AndyXiangLi commented on #600
/close

[2021-03-24 23:27] #600 closed

[2021-03-25 00:39] ayberk commented on #738
Can you provide the output of `blkid --version` on the nodes that failed the formatting?

@pabrahamusa I'm really not sure. I'll see if I can figure out why.

[2021-03-25 02:02] ABNER-1 commented on #748
Thanks for your suggestion.
I have this problem when I alredy fix this.
However, I solved it by assigning the policy to my eks node role.
I don't know if this will cause other problem. -_-'

[2021-03-25 13:53] joshi55 opened #816 "gp3 volumes not detected by kubelet metrics"
/kind bug

GP3 volumes provisioned using this CSI driver are not detected by kublets. Thus prometheus is not able to detect these volumes and alert if they are almost full.

kubelet_volume_stats_available_bytes doesn't list those volumes at all in prometheus, but it lists all other volumes provisioned using io1 or gp2 drivers

We are using EBS CSI v0.8.1 driver.

EKS Kubernetes version : v1.17.12

[2021-03-25 15:02] krmichel commented on #747
@wongma7 Looks like this didn't get linked to PR #778 and therefore didn't get closed.

[2021-03-25 18:09] krmichel commented on #621
@ayberk Looks like this didn't get tied to PR #768 and didn't get closed when that was merged.

[2021-03-25 18:14] krmichel commented on #605
@ayberk The tied PR was closed in favor of PR #697 which has been merged so I think this should be closed.

[2021-03-25 18:32] ayberk commented on #605
/close

[2021-03-25 18:32] #605 closed

[2021-03-25 18:32] ayberk commented on #621
/close

[2021-03-25 18:32] #621 closed

[2021-03-25 18:56] krmichel commented on #797
@ayberk @wongma7 Here is the list of other issues I have looked at and think I can incorporate into the PR for this issue.  I will likely need some advice on dealing with the CRDs.  I will also need some information about what to call the organization on artifacthub.io when registering this project.  Let me know if you see any issues with my selections or any other information you think would rele

[2021-03-25 19:09] krmichel commented on #797
I can do this in the chart.  Do you want an additional PR that does the second part of the move to new fields?

[2021-03-25 21:00] krmichel commented on #797
@wongma7 It seems to me like we should leave tolerateAllTaints on for the node as that is a fairly common tolerations for daemonsets and just get rid of that functionality for the controller and the snapshot controller.  Both of the controllers have the ability to add arbitrary tolerations anyway and if someone really wants that they can just add it back.  It isn't really a normal toleration to ha

[2021-03-25 23:08] ayberk commented on #797
@krmichel Really appreciate the help here.

Let's skip the artifacthub for now because there might be some internal approval requirements. I can follow up on that.

Hmmm. I'm pretty sure we've been using helm v3 exclusively, so we can bump it.

If in the first PR if you can add the new fields and give them priority over the old ones, that'd be great. Then in the next PR, with a new release, we can

[2021-03-25 23:10] ayberk commented on #797
On 2nd thought maybe we shouldn't split the snapshot controller because it might end up being a throw-away work.

[2021-03-26 04:17] pabrahamusa commented on #738
@ayberk , This is the version
# blkid --version
blkid from util-linux 2.33.1  (libblkid 2.33.1, 09-Jan-2019)

[2021-03-26 05:19] zjj2wry commented on #738
![image](https://user-images.githubusercontent.com/18045633/112585939-c4bc0780-8e35-11eb-80ff-687b4d813f96.png)

also encounter this problem，can we format it if fstype not match

[2021-03-26 13:13] krmichel commented on #750
@ayberk looks like PR #762 was merged but not connected to this issue.  Looks like it can be closed.

[2021-03-26 15:50] ayberk commented on #738
Thanks @pabrahamusa.

I've been working with the EBS engineers and our current hypothesis is that this is due to a bug in the blkid, which is used for determining the filesystem type[[1]]. It looks like ATARI support was added in version 2.32 and then it was made more robust in 2.36.1 (see [[2]][[3]]).

Our initial tests have been supporting our hypothesis so far, but we need to do more testing. M

[2021-03-26 15:52] ayberk commented on #750
/close

[2021-03-26 15:52] #750 closed

[2021-03-26 16:22] krmichel commented on #586
/assign

[2021-03-26 16:35] krmichel commented on #586
This is waiting on information for creating the organization on artifacthub.io

[2021-03-26 16:36] krmichel commented on #797
@ayberk I assigned Issue #586 to myself so when you get the information for artifacthub.io you can reply on that issue.

[2021-03-26 16:45] krmichel commented on #797
I will bump the helm api in the second PR where I remove the deprecated values since it will be a breaking change anyway.

[2021-03-26 17:26] krmichel commented on #797
@wongma7 @ayberk I need to know whether to remove the snapshot controller or to add the CRDs.  It seems to me like removing the snapshot controller is the better course of action.  One issue would be that If we add the CRDs to the chart I can't make it so they would only get installed if the snapshotting is enabled.  CRDs aren't templated so they would just install if we added them (unless the `--

[2021-03-26 17:42] krmichel commented on #797
Is this indicating to rename the kustomize files to have the same name as the files from the helm chart that generate them?

[2021-03-26 17:45] krmichel commented on #797
@wongma7 I assume this means to move the snapshot related kustomize files from alpha to stable?  Is that correct?  Also, is the resizer still in alpha or should it move too?

[2021-03-26 20:50] krmichel commented on #797
While we are splitting things out do we want to have different resources for each of the containers in the controller or continue to have them all use the same values?  I don't know a lot about the resource requirements of the various images, but it does seem unlikely that a side car image for liveness would need the same amount of resources as the controller itself.

[2021-03-26 23:52] ayberk commented on #797
We should just get rid of the snapshot controller honestly. We just need to update the docs to point where to find the installation steps. This will most certainly break some customers, but we have the pull the plug eventually.

@krmichel Let's not change what we have right now. One step at a time. We'll have perf testing later, we can adjust them then.

[2021-03-27 09:20] srfaytkn opened #818 "IOPS Change"
Hello, i created a storageclass with iopsPerGB value 10 and I have a 100 gb pvc.

1-Does it cause any bug if it dynamically increases and decreases the io value from the aws console?
2-After dynamically changing the iops value from the aws console, does a size update from the csi driver cause a bug?
3-If these are causing the problem, how can I dynamically update the iops value regardless of the v

[2021-03-27 15:39] krmichel commented on #797
I can remove the snapshot controller when I remove the old values and bump the helm api.  I will create an issue for round two of these changes.

[2021-03-28 05:45] nirroz93 commented on #675
/close
Fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/773

[2021-03-28 06:13] TBBle commented on #729
If I'm following correctly, landing #773 would be sufficient for Cluster Autoscaler to operate correctly with `--balancing-ignore-label=topology.ebs.csi.aws.com/zone`, because #773 is ensuring that it has the same value as `topology.kubernetes.io/zone`. So CA can rely on the well-known label for "will this Pod be schedulable on this node-template", even though `csi-translation-lib` is hinging off

[2021-03-29 04:19] ayberk commented on #729
You're right, #773 is enough. Remaining work is irrelevant.

I can see it in the release PR. We haven't released it but 0.10 will include it. See #811

[2021-03-29 16:35] brylex418 commented on #662
/remove-lifecycle stale

[2021-03-29 16:38] ayberk commented on #512
/reopen
/lifecycle frozen

[2021-03-29 16:40] ayberk commented on #449
/lifecycle frozen

cc @AndyXiangLi

[2021-03-29 16:51] ayberk commented on #662
The only way I see to achieve this is allowing users to pass an optional `--default-volume-type` to the controller.

It's a constant in cloud code right now so we'd have to pass it along (or controller can set it before calling CreateDisk, but not recommended).

[2021-03-29 22:25] gnufied opened #819 "Document release process for CSI driver"
We should document the release process, so as other folks can create releases.

/assign @wongma7

[2021-03-29 23:25] ayberk commented on #819
@gnufied We have [this](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/RELEASE.md).

[2021-03-30 03:22] gnufied commented on #819
/close

[2021-03-30 03:22] #819 closed

[2021-03-31 22:56] groodt opened #821 "Question: Status of IAM Roles For Service Accounts (IRSA)"
It isn't very clear whether this driver currently supports IAM Roles For Service Accounts (IRSA).

In the AWS docs, it seems that it does: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

However, the docs and a few issues in this repo seem to indicate there are some problems or caveats with this approach?
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474

I would love

[2021-04-02 20:13] AndyXiangLi commented on #812
Hi @jsafrane can you point me to the in-tree driver code that consume this partition field?

[2021-04-03 02:46] denniswebb commented on #729
We are running 0.10 and hit an issue of it complaining about not having a topology key on the node to provision a new volume from a PVC. Does #773 prevent needing the key **topology.ebs.csi.aws.com/zone** or is it still required for now?

[2021-04-03 14:30] hassanbabaie commented on #738
@ayberk so you think this issue is the version of blkid that is running on the worker node right? If correct I have a quick look at the blkid repo (https://github.com/karelzak/util-linux/releases) and the install process is a bit painful.

Do you happen to have a simple method/script of upgrading this on the Amazon AMI?

FYI, I checked the latest Amazon EKS images and they are still using the olde

[2021-04-06 02:33] groodt commented on #474
We've run into this issue and can confirm that even with the `AWS_REGION` variable set, this still fails in an environment with IMDSv2 and 1 hop (AWS EKS Security best-practice). This is due to: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/node.go#L85

This is with v0.10.0

[2021-04-06 12:19] jsafrane commented on #812
Most of the code is in  [`getDiskByIDPaths`](https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/pkg/volume/awsebs/aws_util.go#L218), it's really about getting the right device name. Beware, NVMe and "regular" disks must be handled differently (`/dev/nvme0n1` -> `/dev/nvme0n1p1`, `/dev/xvda` -> `/dev/xvda1`).

[2021-04-06 17:32] ayberk commented on #729
For now you should still use both. Driver itself priorities `topology.kubernetes.io/zone`, but it's not present falls back to `topology.ebs.csi.aws.com/zone`. We haven't updated the csi-translation on the upstream though, so we're still writing and reading both keys.

Do you mind opening an issue ideally with more details?

[2021-04-06 17:33] ayberk commented on #738
That's great feedback, thanks for letting me know. I'll follow up internally to see if we can make this easier for you.

[2021-04-07 02:52] dctrwatson commented on #738
Upgrading to v2.36.1 seems to be a working workaround (for the debian based image)

[2021-04-07 16:35] vdhanan commented on #290
it looks like we already get the volume limit based on instance type here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/node.go#L599

closing this issue

[2021-04-07 16:35] vdhanan commented on #290
/close

[2021-04-07 16:36] vdhanan commented on #290
nvm, can't close :)

[2021-04-07 16:55] vdhanan commented on #474
/assign

[2021-04-07 17:28] gnufied commented on #738
@ayberk is there a known commit/code in blkid that is problematic? When we saw this issue - it is not just that `blkid` reported `ATARI` paritions but it reported random partition types such as `ms-dos` , `hp-ufs` and such. I am not sure if this is indeed a blkid bug. If it is - we should discuss specific code in `blkid` that is broken.

[2021-04-07 17:59] ayberk commented on #738
@gnufied These three commits: https://github.com/karelzak/util-linux/commit/282ceadc3a72fc07dd0388b8880fd751490bb87f, https://github.com/karelzak/util-linux/commit/158bbbea64c079d7a18bff723108259c88cf5888 and https://github.com/karelzak/util-linux/commit/7a29e2765923582d7d54b6c87067200b1aab51bf -- they're all from https://github.com/karelzak/util-linux/issues/1159.

I think in all our repros we sa

[2021-04-07 22:02] wongma7 commented on #818
1. No, you should be able to update iops after the fact, driver won't try to 'reconcile' it back or anything like that.
2. No, resize won't affect iops, the " ModifyVolume" API call only includes a size arg, no iops arg.

[2021-04-08 07:29] srfaytkn commented on #818
thank you for help @wongma7

[2021-04-08 18:47] AndyXiangLi opened #825 "[E2E Test] Create e2e test for volume partition support workflow"
/kind bug

**What happened?**
There is no e2e test created for volume partition work flow #812, it would be better to create one to make sure future changes do not break existing flow.
**What you expected to happen?**
Add e2e test for #812

**Anything else we need to know?**:
To pre-provision a volume and create partition in it. Please refer here to create a prioritize pod in the cluster:  https:/

[2021-04-08 22:59] #754 closed

[2021-04-09 21:04] #812 closed

[2021-04-11 13:21] #609 closed

[2021-04-12 01:39] groodt commented on #821
@vdhanan @wongma7 Apologies for the ping. I'm not sure of the correct protocol to correctly triage this issue.

[2021-04-13 13:28] Pluies commented on #223
For those wondering (as I did!) what metrics are now available, as I couldn't find any info about them in this project's docs, they are the standard:

[code]

And they're exposed on the kubelet metrics endpoint without any extra config. So if you have e.g. Prometheus scraping the kubelet, the metrics should be available already! 👍

Thank you for adding this @AndyXiangLi , it's super helpful 🙏

[2021-04-13 23:46] ayberk commented on #722
/close

see #817