[2021-11-29 15:59] ki0 commented on #954
Hi, i got similar problem and the way to see what is happening was to activate the AWS logs as they say here: #https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/830

In my case, i got this error:
`│ ebs-plugin ---[ RESPONSE ]--------------------------------------

[2021-12-01 13:08] christianhuening commented on #334
Was there any solution this ever? We ran into this just today

[2021-12-02 13:58] #945 closed

[2021-12-03 12:42] rubroboletus opened #1128 "still no ChangeLog for v1.5.0"
/kind bug

**What happened?**

was trying to understand, what is new in release 1.5.0, 16 days after it was released

**What you expected to happen?**

I expected ChangeLog describing changes in new release

**How to reproduce it (as minimally and precisely as possible)?**

open actual ChangeLog, ends with 1.4.0 changes

**Anything else we need to know?**:

**Environment**
- Kubernetes version (us

[2021-12-03 16:01] aliusmiles commented on #996
@devinnasar I've just found out that Name tag is created if driver's chart is deployed with `controller.k8sTagClusterId=CLUSTERNAME`.

tags without k8sTagClusterId:

[code]

tags with k8sTagClusterId configured:

[code]

Tested on chart version 2.4.1

P.S. chart's values.yaml [comment](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/271046d1be7507cc21717dbaf96e62d3de235700/charts/aws-eb

[2021-12-03 16:06] aliusmiles commented on #180
A bit offtop but for those who got to this issue like me, looking for just having a Name tag:

I've just found out that Name tag is created if driver's chart is deployed with `controller.k8sTagClusterId=CLUSTERNAME`.

tags without k8sTagClusterId:
[code]

tags with k8sTagClusterId configured:
[code]

Tested on chart version 2.4.1

P.S. chart's values.yaml [comment](https://github.com/kubernetes-si

[2021-12-03 18:08] jescarri commented on #1102
Same issue here.

[code]

We are running: aws-ebs-csi-driver:v1.3.0

[2021-12-03 19:16] dylanlingelbach opened #1129 "Published docker images are vunerable to ALAS-2021-1552"
/kind bug

**What happened?**
Published docker images are vulnerable to [ALAS-2021-1552](https://alas.aws.amazon.com/ALAS-2021-1552.html)

**What you expected to happen?**
New docker images published with an updated base image

**How to reproduce it (as minimally and precisely as possible)?**
Check version of NSS in published docker image

**Anything else we need to know?**:

**Environment**
- Kub

[2021-12-03 19:21] wongma7 commented on #1128
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1114/files and https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1118/files need to be pushed to master branch (or the release should link to the changelog in the release branch) @gtxu

[2021-12-03 20:03] gtxu commented on #1128
Sorry for delay. I am working on merge release-1.5 branch to main. Please refer https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/release-1.5/CHANGELOG-0.x.md for ChangeLog while the merge work in progress. Sorry for your inconvenience!

[2021-12-03 20:46] wongma7 commented on #1128
thx, I'll see how we can make changelog point to the branch of the release https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/.github/workflows/release.yaml#L24

And maybe github could mark the release pre-release and then as practice we could mark it as released only after we are done the final merge.

[2021-12-05 18:39] ashaker-cig commented on #427
This issue forces cluster admins to set a static low value for volume-attach-limit to avoid running into attachment issues on nodes using AWS VPC CNI. Which leads to premature Node scaling-out and inefficient use of resources.
It would be great if the driver became aware of the current attachments (ENI & EBS) on its EC2 instance and calculate  the max number accordingly.

[2021-12-05 18:39] ashaker-cig commented on #427
/remove-lifecycle frozen

[2021-12-05 18:48] ashaker-cig commented on #427
I think I just noticed fixing and merging [#1075] might address this issue, on nodes where DescribeInstances is granted in their IAM roles. Right?

[2021-12-06 23:11] vdhanan commented on #1102
Could someone please provide repro steps?

[2021-12-07 00:59] jescarri commented on #1102
hey @vdhanan I will try to get some repro steps, but I've seen it hard to reproduce them.

In our case It happened when:
1.- There was extra cluster capacity
2.- A node was cordoned and drained.
3.- Pods that required an EBS Volume landed on an already running node with capacity to run the pod.

That's what I've observed but is just empirical, because the cordon/drain happens automatically in our

[2021-12-07 03:48] amirkhonov commented on #877
/remove-lifecycle stale

[2021-12-07 08:14] MartinEmrich commented on #1102
@vdhanan I encountered it when I updated a StatefulSet, replacing the Pod on the same node (in that case, the EBS volume was bound to the same node before).

[2021-12-08 03:24] gtxu commented on #1128
Current version change log updated by PR #1132

[2021-12-09 18:40] t0rr3sp3dr0 opened #1136 "AMR64 images missing from ECR registry"
/kind bug

**What happened?**
AMR64 images for some components are missing from the 602401143452 ECR registry.

**What you expected to happen?**
All AMD64 images should have an equivalent AMR64 image, just like they do on GCR.

**How to reproduce it (as minimally and precisely as possible)?**

[code]

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`)

[2021-12-09 18:40] t0rr3sp3dr0 commented on #1136
@wongma7, would you be able to check that?

[2021-12-09 18:46] slaterjon commented on #1096
We have admission controller requirements that require there be limits and requests.  These so far have worked ok for us (granted we currently are not using many PVC's, and currently using aws-ebs-driver v0.8.1 and k8s v1.16)
`ebs-plugin:
[code]
csi-provisioner:
[code]
csi-attacher:
[code]
node-driver-registrar:
[code]
liveness-probe:
[code]

[2021-12-09 19:49] wongma7 commented on #1136
yes, it looks like these were built only for x64. Since the tags are immutable on EKS side, either:
- eks will need to build variants of these tags with eks suffix (most "eks add-on" images follow the convention ".eksbuild.x" https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html, the ecr public repos have another convention like "-eks-1-19-11") and then our `ecr` template needs to

[2021-12-09 20:44] jescarri commented on #1102
Hey @vdhanan I haven't able to reproduce the issue, however I found an occurrence of this happening the other day and I executed the eks support script, I've uploaded the files to a support case I will let our TAM know so he can coordinate with you the log delivery.

It has a bunch of kubelet logs attached as well.

Thanks!

[2021-12-09 22:53] wongma7 commented on #1136
For the "broken" version v2.1.1, v2.2.0, and v2.1.0, the respective versions+1  v2.1.2, v2.3.0, and v2.2.0 must exist in ECR and ECR public before our template can update to them. Let me work on getting these pushed.

(Ideally ECR and ECR public  would simply be mirrors of GCR i.e. some routine would basically run `skopeo sync` from GCR to ECR/ECR public, but for security reasons they images must

[2021-12-10 02:32] wongma7 commented on #974
/lifecycle frozen

still relevant

[2021-12-10 13:45] ialidzhikov opened #1139 "NodeGetInfo: MaxVolumesPerNode is wrong for a lot of nitro instance types"
/sig storage
/kind bug
/area provider/aws
/priority critical-urgent

**What happened?**
The current handling for volume limits is copied from the in-tree plugin:

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/f298d57e290a73f355fd96b96c3bc34385877012/pkg/driver/node.go#L691-L702

The problems I see with the current handling:
- The nitro instance types regex `^[cmr]5.*|t3|z1d` is not go

[2021-12-10 13:45] ialidzhikov commented on #1139
/sig storage

[2021-12-10 14:40] Ankitasw commented on #1033
@nirmalaagash any updates on this?

[2021-12-10 17:22] gtxu commented on #1105
Hi @reasonerjt any updates? Have you tried operating on a new k8s cluster via `kubectl` and reproduce it? Please mind the steps that attach IAM policy co-respond the `ClusterRole` and `WorkNodeRole`

[2021-12-11 13:29] #951 closed

[2021-12-13 16:03] brickpattern opened #1140 "CSI Driver PV creation failure"
Followed the examples given in this repo creating a POD "app" with Claim and StorageClass.

 Resulting in an error ...as seen in PVC describe as well the same in controller logs. Any suggestions on what am i missing?

  Type     Reason                Age   From                                                                                      Message
  ----     ------                ----  ----

[2021-12-13 16:51] brickpattern commented on #1140
this is using the latest v1.4.0-eksbuild.preview  of AWS EBS CSI Driver add-on

[2021-12-13 17:29] gtxu commented on #1129
Hi @dylanlingelbach,  the image of v1.5.0 has been re-build and now fixed this vulnerability.

[2021-12-13 18:02] brickpattern commented on #1140
repurposed this ... the only update i made is the  zone /region im operating on.
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/examples/kubernetes/storageclass/specs/example.yaml

Yes , my AWS CLI is good as im able to deploy other K8S intree storage pods/pvc.  Just that EBS CSI driver example is failing.

[2021-12-13 18:37] vdhanan commented on #1128
/close

[2021-12-13 18:37] #1128 closed

[2021-12-13 19:16] brickpattern commented on #1140
Error logs from csi-plugin container

driver.go:119] GRPC error: rpc error: code = AlreadyExists desc = Could not create volume "pvc-0315dafb-245d-47e3-adef-74f782688d1c": Parameters on this idempotent request are inconsistent with parameters used in previous request(s)

since the PV never got created , how to track this volume id is truly existing on EBS end. Searching in EBS AWS console doesnt f

[2021-12-13 20:08] brickpattern commented on #1140
Deleted/Uninstalled the CSI Driver add-on from AWS console... thought on the lines of caching issue at the controller / csi-provisioner end.  Reinstalled the add-on. Still the same error . This leaves me to the API endpoint (csi driver) is talking to.

[2021-12-13 20:10] #1044 closed

[2021-12-13 20:48] ialidzhikov commented on #1139
/priority critical-urgent

[2021-12-14 15:13] brickpattern commented on #1140
i made the storageclass definition with parameter of  encryption: "false"

Wouldnt that make the  KMS key and EBS encryption void ?

[2021-12-14 16:23] brickpattern commented on #1140
@juergenz  tks for the tip.

Resolved!!!

Added this policy snippet to the role/policy attached to the CSI Driver and   its able to create the volume.

`        {
            "Sid": "MinimalEBSKMSCreateandAttach",
            "Effect": "Allow",
            "Action": [
                "kms:Decrypt",
                "kms:GenerateDataKeyWithoutPlaintext",
                "kms:CreateGrant"

[2021-12-14 16:23] #1140 closed

[2021-12-15 02:07] nirmalaagash commented on #1033
@vdhanan @gtxu Can you take look into this?

[2021-12-16 07:10] evindunn opened #1142 "Wrong role assumed by controller in v1.5.0"
/kind bug

**What happened?**
Helm install with the following values:
[code]

Causes the following logs in the controller:
[code]

And the following logs in CloudTrail:
[code]

It looks like the controller is assuming `arn:aws:iam::[Account Id]:role/astro-eks-prod-node-instance`, the node instance role, instead of `arn:aws:iam::[AccountId]:role/CSIVolumeProvisoner`, the provisioner role?

**What y

[2021-12-16 09:49] sperahd opened #1143 "helm-chart-aws-ebs-csi-driver-2.6.0 ebs-csi-node docker image v1.6.0 is not available."
/kind bug
/priority critical-urgent

helm-chart-aws-ebs-csi-driver-2.6.0 has appVersion:1.6.0 which is defaulting as the docker image version for ebs-csi-node. The corresponding docker image doesn't seem to be present in the repository.

[code]

The docker image v1.6.0 should have been present in the repository before the helm-chart release was made.

Install https://github.com/kubernetes-sigs/aws

[2021-12-16 10:00] stevehipwell commented on #1143
Exactly the same here.

[2021-12-16 11:46] jaggerwang commented on #848
How can I configure `tolerateAllTaints` from AWS EKS console, as there is no way to configure `aws-ebs-csi-driver` add-on's parameter in the update ui.

![image](https://user-images.githubusercontent.com/1255011/146365946-909c1b7e-bf30-4dc1-ac2d-318f4e8fd1fa.png)

[2021-12-16 14:08] jotasixto commented on #1143
I have the same problem :cry:

[2021-12-16 16:05] B3arp commented on #1143
Same issue.

[2021-12-16 18:04] Setheck commented on #1143
Same thing here too. I followed the aws guide and set the image.repository in the helm char to `602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-ebs-csi-driver` as per https://docs.aws.amazon.com/eks/latest/userguide/add-ons-images.html
It was working fine until what looks like 12 hours ago.
Now it looks like `602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-ebs-csi-driver:v1.6.0` is no lo

[2021-12-16 18:26] leongross opened #1144 "panic: node providerID empty, cannot parse"
/kind bug

**What happened?**
ebs-csi-controller's do crash due to missing `providerID`.

**What you expected to happen?**
A cluster with correctly working `ebs-csi-controller` which is connected to AWS and can create volumes

**How to reproduce it (as minimally and precisely as possible)?**
1. Created a cluster using `kubeadm`
2. Created secrets for AWS and Docker and applied them to cluster
3. a

[2021-12-16 18:50] sperahd commented on #1143
@Setheck Looks like the release was never tagged and hence the image was never pushed. We cannot see v1.6.0 tag on the releases page https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases

[2021-12-16 19:00] gtxu commented on #1143
The newest version of aws-ebs-csi-driver is v1.5.0, and upcoming v1.5.1 to fix a security issue, there's no v1.6.0 currently.

[2021-12-16 19:06] sperahd commented on #1143
@gtxu then shouldn't the chart.yaml AppVersion be v1.5.0 instead of v1.6.0?

[2021-12-16 19:20] gtxu commented on #1143
yeah, a PR is ongoing fix this #1145

[2021-12-17 14:25] dbpolito opened #1146 "Add Support for Helm Chart to create VolumeSnapshotClass"
Currently the chart only gives option to create the `StorageClass`, would be great if we could also create the `VolumeSnapshotClass` too.

I'm open for creating the PR with this change, just let me know if this is something you guys would accept.

[2021-12-17 21:30] ellistarn commented on #1030
Hey @wongma7, is the above true re `annSelectedNode` for when a node is deleted and the PVC is bound to a deleted node? Is the annotation simply updated to reflect the new node?

[2021-12-17 22:05] wongma7 commented on #1030
Yes, scheduler should reset the annotation after the pod has been rescheduled because the "volume binding plugin" should run again https://github.com/kubernetes/kubernetes/blob/39c76ba2edeadb84a115cc3fbd9204a2177f1c28/pkg/scheduler/framework/plugins/volumebinding/binder.go#L419

REF: https://github.com/kubernetes/design-proposals-archive/blob/main/storage/volume-topology-scheduling.md

[2021-12-17 22:54] ellistarn commented on #1030
I have an implementation here that I *think* is working. Any chance you can review?

[2021-12-20 08:42] leongross opened #1147 "Kubernetes Version Compabilities"
**Is your feature request related to a problem?/Why is this needed**
The highest Kubernetes version the [compatibility matrix](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#kubernetes-compatibility-matrix) seems to support is version 1.18. which AFAIK has reached it's end of life at the 28th April 2021.
Is the most up to date version of this driver compatible with the newer versions (1.21,

[2021-12-20 14:30] Legion2 opened #1148 "Resizing Volume Got RequestLimitExceeded error on AWS request (ec2::ModifyVolume)"
/kind bug

**What happened?**
I want to resize a PVC volume from 200Gi to 300Gi and get the following errors in the log of the aws-ebs-csi-driver (for 30 minutes now):
[code]

**What you expected to happen?**

The volume is resized to the requested size after 5 minutes.

**How to reproduce it (as minimally and precisely as possible)?**
1. create a storage class which allows volume expansion and us

[2021-12-20 16:30] RomanGrekov commented on #880
Hi @chaospuppy. I have the same problem. I am trying to use Velero to backup EKS cluster volumes based on ebs.csi.aws.com and it failed with the same errors you got. As I understand you did manage somehow to do it with csi plugin. But I can't find any information how can to do it. I installed Velero helm chart with such config:
`configuration:
  provider: aws
  backupStorageLocation:
    bucket: {

[2021-12-20 22:39] dylanlingelbach commented on #1129
@gtxu confirmed this is fixed, thank you!

[2021-12-20 23:08] dylanlingelbach commented on #1129
@gtxu sorry, I had the vulnerabilities ignored when I checked. I am still seeing `k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.5.0` as containing unpatched vulnerabilities. Is there a different image I should be using?

[2021-12-21 10:04] k1rk commented on #1032
/remove-lifecycle stale

[2021-12-21 18:49] gtxu commented on #1129
Hi @dylanlingelbach, the version 1.5.0 on ECR Public: https://gallery.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver is re-built and fix this vulnerabilities, for images on gcr, a new releasing v1.5.1 is up coming to fix this.

[2021-12-21 19:03] dylanlingelbach commented on #1129
@gtxu got it, confirmed the ECR public image is fixed, closing now.

[2021-12-21 19:03] #1129 closed

[2021-12-23 11:16] leongross commented on #1144
**EDIT**
I did some research and found out, that [pkg/cloud/metadata_k8s.go](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/aefaa900ae057acda57173977370a61e6b9b04bb/pkg/cloud/metadata_k8s.go) is detecting the error.
This may be the result of a missing connection to the AWS API which provides metadata, because the information provided in the NodeID would maybe be provided by this API.
T

[2021-12-23 18:39] #983 closed

[2021-12-23 19:39] #979 closed

[2021-12-25 22:07] #1002 closed

[2021-12-26 19:07] forthgate commented on #1095
BTW, I had the same issue with resizing and I found out the volumes were formatted as XFS, so resize2fs is not working for non-ext file systems

[2021-12-27 18:19] Tishka17 commented on #207
I am also interested in `CSI Volume Cloning` feature. Is it supported or not?

[2021-12-28 17:34] gtxu commented on #1146
kind/feature

[2021-12-28 17:35] gtxu commented on #1146
/kind feature

[2021-12-30 18:43] #984 closed

[2021-12-30 18:43] #997 closed

[2021-12-30 19:43] #1000 closed

[2022-01-01 23:04] #1011 closed

[2022-01-02 15:19] DeepSpace2 opened #1153 "What will it take to add btrfs support?"
Will this even be possible to add through a CSI?

[2022-01-03 12:53] k1rk commented on #1032
/remove-lifecycle stale

[2022-01-04 05:45] yuha0 commented on #818
Hi, I came across this issue and wanted to second @carloruiz 's proposal.

When I saw a configuration key "iopsPerGB", I didn't expect it to mean "iopsPerGB at volume creation time only". Shouldn't the desired IOPS always be set based on `iopsPerGB` and the actual size of the volume?

This gives the users ability to (indirectly) change IOPS from the PVC API and I think it makes sens since they can

[2022-01-05 00:04] wongma7 commented on #818
/reopen

Yeah I do still agree it makes sense. If we are worried about deviating from how this has functioned historically/in in-tree driver or surprise bill situations then it could be behind a flag but it could be the default behavior

we would need CSI changes https://github.com/container-storage-interface/spec/issues/491 to directly change IOPS so until then this seems the best we can do

[2022-01-05 00:07] wongma7 commented on #818
/remove-lifecycle rotten

[2022-01-05 02:49] k1rk commented on #962
/remove-lifecycle stale

[2022-01-05 10:27] pierluigilenoci commented on #586
@krmichel any news?

[2022-01-05 21:59] krmichel commented on #586
I haven't received any information from project owners as to the information that would be needed for artifacthub.io

[2022-01-06 07:45] pierluigilenoci commented on #586
@krmichel maybe make sense to move the chart here: https://github.com/aws/eks-charts
In this way, the chart would be together with the others from AWS and would automatically be on Artifactory. 😉

[2022-01-06 07:51] pierluigilenoci commented on #586
Or you can ask @jaypipes and @kishorj how to do it. 😛

[2022-01-06 14:09] jaypipes commented on #586
I'm sad to say I actually didn't know anything about artifacthub.io until I saw @pierluigilenoci's comment this morning. :(

It looks like a cool thing that we should definitely publish Helm charts to! Even if just as a mirror from source artifact repositories either on Github Pages or ECR Public.

I agree that a good solution (if @wongma7 is OK with it) is to sync the aws-ebs-csi-driver Helm char

[2022-01-06 16:41] pierluigilenoci commented on #586
@jaypipes ArtifactHub is a public archive where everyone can publish, there is little to do. However, consider that in the case of homonymy it is clearly written, for each chart, to which organization it belongs.

Eg:

![Screenshot 2022-01-06 at 17 38 08](https://user-images.githubusercontent.com/36044817/148417607-d94f488c-7d48-4d9b-b58c-bb33aa17fd15.png)

Or in the specific case of AWS...

Offic

[2022-01-06 22:06] #1009 closed

[2022-01-09 20:43] zerkms commented on #679
/remove-lifecycle rotten

I have not seen this recently, is it just luck or in 1.20 it's not a problem anymore?

[2022-01-10 10:37] #1010 closed

[2022-01-10 15:14] felixmw commented on #334
Same here

[2022-01-10 15:30] yhrunyk commented on #679
I see there was some fix in aws-ebs-csi driver in 1.4.0 version - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1082.  @zerkms  Have you tried to upgrade it, because I also see the issue with the terminating Pods, but I haven't upgraded the ebs driver yet.

[2022-01-10 22:48] zerkms commented on #679
@yhrunyk I have not upgraded yet, and I don't see the problem on 1.21 (it was a typo in my previous message, this one is right)

[2022-01-12 17:00] zencircle opened #1154 "unable to find v1.5.1 image"
/kind bug

**What happened?**
[code]
**What you expected to happen?**
Docker pull should work
**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version:

[2022-01-13 09:59] nbbhall opened #1155 "missing capability to tag EBS volumes (--extra-tags) when using managed add-on for EBS CSI"
**Is your feature request related to a problem?/Why is this needed**
/feature
After enabling EBS CSI add-on, EKS takes over management of field `spec.template.spec.containers.args` for deployment `ebs-csi-controller`. Controller periodically reconciles the state and overwrites any changes to managed fields, including deleting the container argument for `--extra-tags`. This prevents users from bein

[2022-01-13 16:09] gtxu commented on #1154
Hi @zencircle, v1.5.1 is on pre-release stage, images will soon available.

[2022-01-14 20:23] #837 closed

[2022-01-15 17:32] #738 closed

[2022-01-16 20:41] #675 closed

[2022-01-19 23:12] dsu-igeek commented on #880
This was fixed in velero-plugin-for aws (https://github.com/vmware-tanzu/velero-plugin-for-aws/pull/93).  CSI support is still beta in Velero.

[2022-01-20 09:49] fierman333 opened #1156 "PV volume destroyed from ext4 to "Microsoft basic data" partition"
/kind bug

We have persisten volume in AWS type gp2 ext4 fs which was part of statefulset running for more then 6 months.
So far so good. At some point one of our pods went to "Not Ready" state and when we checked pod logs we saw following error:

[code]

When we manually attached that volume to another instance and checked volume partition and try to mount it we get following info for this volume

[2022-01-20 20:51] wongma7 commented on #1156
have you installed the CSI driver and enabled CSI migration? If not, then the driver doing the mount and format is probably the "in-tree" driver https://github.com/kubernetes/kubernetes/tree/master/pkg/volume/awsebs. But this repo is for the CSI driver which is different. So we have to determine which one it is first to know where to look for logs

[2022-01-21 08:07] fierman333 commented on #1156
@wongma7 I am not sure about that details. We are using Kubernetes 1.20.2 which is managed by kops 1.20.2 so I suppose driver us build-in Kubernetes ?
For sure I can see logs from `aws-ebs-csi-driver/vendor/k8s.io/mount-utils//mount_linux.go` in `etcd-manager` pods which I suppose is responsible for master nodes volumes management.

[2022-01-23 08:07] Ankitasw commented on #1033
@vdhanan @gtxu any updates on this?

[2022-01-24 13:42] zwForrest opened #1158 "No error was reported, but the ebs disk failed to mount"
/kind bug
We create pvc in AWS type gp3 ext4, then try to mount the disk in the pod. No errors were reported during the whole process, but the disk did not succeed in the NodeStageVolume stage.

sidecar csi-provisioner
[code]

ebs-plugin
[code]

sidecar csi-attach
[code]

ebs-plugin for nodestagevolume and nodepublishvolume

[code]

**What happened?**

Disk mount result of the node where the pod i

[2022-01-24 14:15] pierluigilenoci commented on #586
@jaypipes any news about this?

[2022-01-25 11:48] patryykm commented on #1158
I had similar problem. I was able to solve it by adding environment variable **AWS_STS_REGIONAL_ENDPOINTS=regional** to _ebs-plugin_ container from _ebs-csi-controller_ pod. Something like mentioned [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/954#issuecomment-953178344). Maybe this will help you too.

[2022-01-25 23:32] zerkms commented on #399
/remove-lifecycle stale

[2022-01-26 19:56] philnielsen commented on #783
/reopen

[2022-01-27 02:59] #1158 closed

[2022-01-27 18:56] #1031 closed

[2022-01-29 17:17] #1028 closed

[2022-01-29 21:56] aaroniscode commented on #1100
/remove-lifecycle stale

[2022-01-30 18:28] #950 closed

[2022-01-31 10:18] omerxx commented on #1153
This would help us too!

[2022-01-31 16:13] philicious commented on #1155
@nbbhall afaik the in-tree EBS CSI driver doesnt support extra-tags

[2022-02-01 12:31] azhurbilo commented on #1014
/remove-lifecycle stale

[2022-02-01 15:50] stevehipwell commented on #1139
Isn't this even more of an issue when we consider that the attachment limit also impacts ENIs and NVMe drives? So should this value be dynamic based on external considerations?

Out of interest does anyone know where the `25` comes from, considering `28` is documented as the Nitro default for total attachments.

[2022-02-01 15:54] stevehipwell commented on #1139
It looks like https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1075 addresses my concern, I didn't see a PR linked so I commented before looking.

[2022-02-01 17:06] stevehipwell commented on #1139
@gtxu what would you expect the failure behaviour to be? We've seen a volume stuck attaching which causes a pod to be un-schedulable. It's possible that the cluster in question was using `v1.5.0` when the following error was observed.

[2022-02-01 17:22] gtxu commented on #1139
Agreed with prioritize this issue fix, thank you for following tracking this issue

[2022-02-02 12:03] fierman333 commented on #1156
Folks you can close this issue. We found the reason for this issue and it is related to our code bug which affected Kubernetes PVC volumes,

[2022-02-02 12:03] #1156 closed

[2022-02-02 19:20] stevehipwell commented on #1139
I can confirm that with the latest version of the CSI driver we're seeing issues with too many volume attachments being scheduled, the example I've been shown is a `m5ad.4xlarge` which has `attachable-volumes-aws-ebs: 25`. I think the telling thing here is the the allocated resources shows `attachable-volumes-aws-ebs 0 0`, so maybe we need a new issues opened for this?

[2022-02-03 15:12] andskli opened #1160 "Dynamic provisioning: use existing EBS volume based on tags/filter"
**Is your feature request related to a problem? Please describe.**
Restoring dynamically provisioned EBS volumes backed up by AWS Backup is tricky. In a disaster recovery scenario, the restore process creates a new EBS volume with a different ID than the original volume, and hence a restore of the k8s objects onto a new cluster would not match the new volume ID.

**Describe the solution you'd like

[2022-02-04 11:16] aydosman opened #1163 "instance volume limits: workloads no longer attach ebs volumes"
/kind bug

**What happened?**
Workloads stop attaching ebs volumes due to reaching instance volume limits, expected number of replicas for our requirement isn’t met and pods are in a pending state.

Nodes have the appropriate limit set to 25 but the scheduler sends more than 25 pods with volumes to a node.

kubelet `Unable to attach or mount volumes: unmounted volumes=[test-volume], unattached vol

[2022-02-05 21:03] stevehipwell commented on #1057
/remove-lifecycle rotten

[2022-02-06 00:52] #935 closed

[2022-02-07 15:02] pkit commented on #482
@msau42 @arjunrn I'm not sure I follow
"generic ephemeral volumes" docs specifically say that the backing storage [must be **local** to the node](https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html).
Which is not the case for EBS-backed volumes.

[2022-02-07 15:49] metasim opened #1164 "Manifests for `release-1.5` have disappeared"
/kind bug

**What happened?**

Devops scripting attempted to fetch manifests for stable release 1.5

http://github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.5

**What you expected to happen?**

Continue to work as it had previously. (Back in early December?)

**How to reproduce it (as minimally and precisely as possible)?**

Click on link.

**Anything

[2022-02-07 17:59] msau42 commented on #482
Those docs are for the "csi inline volume" feature, which is different (sorry the names are too similar).

Here are the docs for "generic ephemeral volumes": https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes

[2022-02-07 18:46] metasim commented on #1164
Not sure why the above used to work, but I see the files at that tag exist here, so perhaps it's a github or fluxcd issue.

 https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/release-1.5/deploy/kubernetes/overlays/stable

[2022-02-07 18:46] #1164 closed

[2022-02-07 23:22] jeffhubLR commented on #660
/reopen
Snapshots created by in-tree CSI provider contain the following tags which are not included by snapshots created with aws-ebs-csi snapshotter:
[code]
Lacking these tags, migrating from in-tree to the aws-ebs-csi provider results in a loss of functionality

[2022-02-09 19:19] gtxu commented on #1160
/kind feature

We are looking into this request, can anyone provides details on recovering using AWS Backup? And an example of cluster manifest in this case will also help.

[2022-02-10 22:27] yznima opened #1166 "EBS CSI Driver attaches node backed volume instead of PVC"
/kind bug

We have

* EKS Kubernetes Cluster
* AWS EBS CSI driver installed through the AWS managed to add ons (Version v1.4.0-eksbuild.preview)
* A Statefullset for our service (Replica of 1)

[code]
* IO2 StorageClass
[code]

* A Pod (Part of the Statefullset)
* An EBS volume of 10Tb and storage calss of io2 attached (Provisioned dynamically by AWS EBS CSi)
* The workload is running on m5.8xlarg

[2022-02-14 16:24] gtxu commented on #1102
Hi, anyone can provides repro of this issue, the pod.Spec.TerminationGracePeriodSecond is not set as 0 when terminating the pods? And can you check if this is set as 0 on a Statefulset? Please note a zero grace periods of pods is not recommended by Kubernetes official.

[2022-02-14 22:41] #1022 closed

[2022-02-15 12:22] kanchwala-yusuf opened #1168 "Incorrect partition is picked while mounting a volume created from an existing EBS volume snapshot"
/kind bug

**What happened?**
I am trying to import an existing ebs volume snapshot created from an ec2 instance and mount the reclaimed volume inside a pod using pvc. But, the pod is stuck in `ContainerCreating` state and I see the following error in `kubectl describe pod`
[code]
**It seems that the wrong device is being mounted.** On ssh-ing into the k8s node and checking the `fdisk -l` output s

[2022-02-15 12:35] andskli commented on #1160
@gtxu using only AWS backup might prove trickier than I previously thought as it seems to drop all tags when AWS Backup restores the volume from the EBS snapshot it creates. That said, as it creates a snapshot, that could potentially be used for the source if exists, so changing the initial description from using EBS volume if exists to using EBS snapshot for volume creation if exists.

AWS Backup

[2022-02-16 13:19] ryanpxyz commented on #1163
Hello,

I believe we are seeing this too.

[code]
...with:

[code]

and:

[code]

Thanks,

Phil.

[2022-02-16 16:33] gnufied commented on #1163
is CSI driver running with correctly defined limits? What does `CSINode` object from node reports?

[2022-02-16 17:03] stevehipwell commented on #1163
@gnufied the CSI driver looks to be doing everything correctly, AFAIK the only thing it needs to do is report the max PV attachments it can make. As reported above if you add in latency between pod scheduling the pods are sent to nodes with space for the PV mounts which is why I suspect it's a scheduler issue.

[2022-02-16 17:10] stevehipwell commented on #1163
@gnufied I agree that the CSI driver is reporting correctly, which combined with the 60s wait fixing the issue makes me believe that this issue is actually happening elsewhere as a race condition.

[2022-02-16 18:52] sultanovich commented on #1163
I am seeing the same problem in my environment:

[code]

I haven't been able to confirm if they are related, but I see this happening on the same node that has eni's interfaces in "attaching" state and I see the following errors in `/var/log/aws-routed-eni/ipamd.log`:
[code]

For reference, the c5.x4xlarge instance type in [AWS supports 8 eni's](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/

[2022-02-17 05:34] ryanpxyz commented on #1163
Hello,

... update from our side:

Our first simple workaround as we first observed the problem yesterday (might help others who are stuck and looking for a 'quick fix'):

... cordon the current node that the pod is stuck in 'Init ...' on.
... delete the pod ...
... verify that the pod is started successfully on an alternative node. If not ...
... repeat 'cordoning' until the pod is successfully d

[2022-02-17 05:48] stevehipwell commented on #1163
@ryanpxyz looking at the code I think the CSI just reports how many attachments it can make. Until the PR to make this dynamic is merged and released this is a fixed value by instance type or arg. This means there are two related but distinct issues.

The first is the incorrect max value that doesn't take into accoun all nitro instances and their other attachments. For example a nitro instance (on

[2022-02-17 05:51] stevehipwell commented on #1163
@sultanovich see my reply above about the attachment limits. I think there is a separate issue and PR for resolving your problem.

[2022-02-17 08:28] aydosman commented on #1163
@gnufied output from the workers while running the original tests with limits

[code]

[2022-02-17 21:18] #1061 closed

[2022-02-18 20:12] pptb-aws opened #1172 "Add Storage Class to static_provisioning example"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The static_provisioning example does not have a storageclass in the example. This may result in confusion for people when looking at this example when all others have storageclasses.

/feature

**Describe the solution you'd like in detai

[2022-02-19 17:30] #1023 closed

[2022-02-21 10:33] albertschwarzkopf opened #1173 "Image scan has detect several vulnerabilities"
/kind bug

**What happened?**

Trivy image scanner has follwing findings:

[code]

Also if I use the latest image:

[code]
[aws_ebs_csi_v1.2.1.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/8116033/aws_ebs_csi_v1.2.1.txt)
[aws_ebs_csi_latest.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/8116037/aws_ebs_csi_latest.txt)

**What you expected to happen?**

Fix the

[2022-02-21 14:11] sultanovich opened #1174 "volume-attach-limit argument doesn't work in 1.20"
/triage support

**What happened?**

Since K8s keeps trying to add volumes when it reaches the limit allowed by the AWS instance, try using the `volume-attach-limit` [argument](https://github.com/kubernetes-sigs/aws-ebs-csi-driver#driver-options) to find a workaround while troubleshooting.

**How to reproduce it (as minimally and precisely as possible)?**

It is possible to reproduce by setting th

[2022-02-21 17:10] sultanovich commented on #1163
@stevehipwell I have no doubts as to the limits that can be annexed. My question is about why it happens and how to solve it.

I have generated a new issue (#1174) since the `volume-attach-limit` argument has not worked for me either.

Perhaps the inconvenience of the eni 's in the `attaching` state is due to another cause, what he commented is that after that error I begin to see the problems of

[2022-02-21 17:24] stevehipwell commented on #1163
@sultanovich I think I've explained pretty well everything I know about this issue. Let me reiterate that there are two bugs here, the first one which is related to nodes not being picked up as nitro or not having 25 free attachment slots is being addressed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1075, the second and currently unexplained is related to the speed at which requ

[2022-02-21 17:37] gnufied commented on #1163
@ryanpxyz you are looking at wrong place for attachable limits of CSI driver. Attach limit of CSI driver is reported via `CSINode` objects. if we are not rebuilding `CSINode` objects during redeploy of driver - that sounds like a bug. So setting `--volume-attach-limit` and redeploying driver should set correct limits.

As for bug in scheduler - here is the code for counting the limits https://gith

[2022-02-21 17:39] gnufied commented on #1163
@bertinatto - are you aware of a bug where if many pods are scheduled at once to a node then scheduler may not correctly count the volume limits?

[2022-02-21 19:13] gtxu commented on #1172
/good-for-first-issue

[2022-02-21 20:25] gtxu commented on #1172
/good-first-issue

[2022-02-21 20:26] gtxu commented on #1172
/remove-help

[2022-02-21 20:27] gtxu commented on #1172
/good-first-issue

[2022-02-22 06:54] Ankitasw commented on #1033
/lifecycle frozen

[2022-02-22 09:49] stevehipwell commented on #1163
@gnufied it looks like it's the [Filter](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/nodevolumelimits/csi.go#L82) function that is doing the work we're interested in. Unless only a single pod can be scheduled at a time, which is unlikely, this code looks like it isn't checking for other in flight requests  and could easily result in over provisioning volume

[2022-02-23 00:11] wongma7 commented on #1172
why? i removed it for precisely the same reason, because it is confusing https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/794. storageclass dictates how volumes get dynamically provisioned. In the static provisioning case, it does not do anything

[2022-02-23 04:09] sultanovich commented on #1174
@k8s-ci-robot help

Keep checking the repository and I have verified that there is an example indicating that the `volume-attach-limit` argument should be located in the [ebs-plugin container section](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/271046d1be7507cc21717dbaf96e62d3de235700/charts/aws-ebs-csi-driver/templates/node.yaml#L67), as I have tried to do in my tests.

[code]

Any

[2022-02-23 15:09] pptb-aws commented on #1172
Why I attempt to run the example without a storage class I get this error in the pvc,

[code]

Running in EKS 1.21 with managed nodegroup.

Reproduction steps,

1. get the example.yaml file, update the volumeHandle in the pv to use a pre-created volume created using the CLI
2.  run using kubectl apply -f example.yaml

After some testing the fix is either to add a StorageClass or to add, volumeName

[2022-02-23 17:23] gtxu commented on #1173
Hi @albertschwarzkopf, for CVEs, we usually release a new patch version to fix them, and images on GCR will soon out of maintains and been redirected to ECR Public. I recommend you to use latest version on [ECR Public](https://gallery.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver). Thank you for raising up this security concern!

[2022-02-23 19:16] sultanovich commented on #1174
Continue testing and I have been able to validate that the `volume-attach-limit` argument works correctly now. The configuration must be applied in the DaemonSet `ebs-csi-node`, not in the Deployment `ebs-csi-controller`.

![image](https://user-images.githubusercontent.com/601474/155390148-563503d2-10e8-412d-a493-83e0234ee461.png)

Editing the DaemonSet the configuration works correctly:

[code]

[2022-02-24 09:29] albertschwarzkopf commented on #1173
@gtxu thank you for the hint. But we use your helm chart. The registry is defined there.

[2022-02-24 13:08] aglees commented on #1174
We're trying out reducing the `--volume-attach-limit` via the Helm Chart without so much success: we're setting a deliberately low number (17), so very similar to you.

One thing that we do have is pods with more than one volume. I wonder whether is a factor?

`aws-ebs-csi-driver:v1.5.0`

I'm using a JQ parse to report results, and am seeing many nodes with much higher counts of volumes in use.

[

[2022-02-24 17:28] #1072 closed

[2022-02-25 11:37] #1073 closed

[2022-02-28 02:16] zhoudayongdennis commented on #1147
@owners,

any further update/recommendation for this question? want to understand the correct AWS EBS CSI Driver version for Kubernetes 1.21 or 1.22.

[2022-02-28 14:06] vaskozl commented on #1136
This is still broken and current documentation does nothing to suggest that deployment will fail on all graviton instances.

How hard can it be to mirror a few images?

[2022-02-28 19:35] mauriciopoppe opened #1179 "Stress tests flakiness in kubernetes v1.21.9"
/kind bug

**What happened?**
We run the stress tests of the kubernetes storage e2e test suite against the EBS CSI Driver through the e2e.test binary created in the Kubernetes repo, our relevant `--storage.testdriver` configuration looks as follows:

[code]

Our setups are:

- kubernetes v1.21.8 with EBS CSI Driver v1.3.1
- kubernetes v1.21.9 with EBS CSI Driver v1.3.1

When we run the test suite

[2022-03-01 08:04] a-dimitrov opened #1180 "Have to recreate aws-ebs-csi-driver to create aws volume snapshot and bound it to pvc"
/kind bug
Hello team ,

**What happened?**
I have a Kubernetes cluster with ebs-csi-driver (latest version 2.6.3) and I am trying to build a new replication set and bound some Physical volume claims to the set build from AWS snapshot. For this purpose I am using external snapshotter deployed this way:
`kubectl create -f  https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release

[2022-03-03 11:13] okt2019 opened #1181 "EBS drive memory usage is too high"
1、After using the EBS drive in EKS for a period of time, it is found that the pod memory usage is gradually increasing, as follows：
kubectl top pods -n kube-system
NAME                                                       CPU(cores)   MEMORY(bytes)
ebs-csi-controller-b87964fbc-jtglj              2m           196Mi
ebs-csi-controller-b87964fbc-nfbnm         2m           6157Mi
ebs-csi-node-2nq5d

[2022-03-03 17:07] OliverCole commented on #180
/remove-lifecycle stale

[2022-03-03 21:17] Kaezon opened #1182 "Chart fails to build if a tag value in controller.extraVolumeTags contains a ":""
/kind bug

**What happened?**
Trying to build the Chart with the following values file with this values file:
[code]

Presents the following error:
[code]

**What you expected to happen?**
I expect the chart to build, and for the controller to be configured with the extra volume tags.

**How to reproduce it (as minimally and precisely as possible)?**
Add any extra tags which are set with a value c

[2022-03-04 19:48] torredil commented on #1174
@sultanovich @aglees Hi, thanks for noting that the configuration must be applied in the DaemonSet `ebs-csi-node`. Reaching out to ask if further support is needed, or if the issue has been resolved and can be closed, thanks.

[2022-03-05 20:14] #1046 closed

[2022-03-06 05:57] dvaldivia commented on #1136
@wongma7 so is this something that needs fixing on the ECR side to host multi-architecture images?

[2022-03-07 22:27] iomarcovalente commented on #954
/remove-lifecycle stale

[2022-03-08 00:26] zerkms opened #1184 "Upgrade PDB to `policy/v1`"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature

[code]

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/de1c6569f054c844cdc25bf45b59dc83dc0e437b/charts/aws-ebs-csi-driver/templates/poddisruptionbudget-controller.yaml

**Describe the solution you'd like in detail**

[2022-03-08 13:10] sppwf commented on #1028
/reopen

[2022-03-08 15:14] yrsurya commented on #449
Any update on this? pls let us know

[2022-03-08 22:27] torredil commented on #1172
Hi @pptb-aws thanks for your feedback. Recent changes were made that address this issue. Can you please try out the static provisioning example with the updated instructions/manifest files and provide further feedback? Thanks.

[2022-03-08 22:51] butson opened #1185 "CSIVolumeSnapshotName Value does not match documentation."
/kind bug

**What happened?**

Create a VolumeSnapshot from an EBS Volume. Tags on AWS Snapshot created are incorrect and more difficult to work with.
I expect to see the VolumeSnapshotContent name in the AWS tags for the snapshot.

**What you expected to happen?**

Based upon README.  I expect that the snapshot in AWS would be tagged with:

CSIVolumeName=snapcontent-<uuid>

Instead I'm seeing a t

[2022-03-09 17:22] pptb-aws commented on #1172
instructions work for me.  I am closing this, thank you for the explanations and assistance.

[2022-03-09 17:22] #1172 closed

[2022-03-11 08:16] rahulbreezo opened #1186 "stuck at resizing volume"
/kind bug

**What happened?**

I created a storage class like this:
[code]
used it like this:

[code]
resizing worked , I tried once before,

but when I tried last time and increased storage from 40g to 60g , while volume was used upto 20 GB,

It did not work,  volume did not increase but there was no error log either as per k8s dashboard `events` tab.

I only got this in `events` tab

`External r

[2022-03-11 09:21] #1186 closed

[2022-03-11 15:27] #1012 closed

[2022-03-11 23:28] #1001 closed

[2022-03-15 14:58] sultanovich commented on #1174
Hi @torredil sorry for the delay we continue this issue on this [thread](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1163) after I created this issue.

I just have a question for the `volume-attach-limit` argument. If I have one or more nodes that already have more pods than the `volume-attach-limit` argument, does this setting move these pods to new nodes or does it only apply to

[2022-03-15 16:18] stevehipwell commented on #1163
@sultanovich this issue isn't the same as #1174, please don't confuse them.

[2022-03-15 16:30] #1139 closed

[2022-03-15 17:09] torredil commented on #1174
I agree with @stevehipwell's assessment. The `volume-attach-limit` argument will not cause existing pods to be rescheduled.

[2022-03-15 20:29] sultanovich commented on #1174
Excellent, thank you very much for the confirmation @stevehipwell / @torredil . I'm going to do some additional checking in the afternoon and then post if my findings are relevant to the issue so you can close it later if you wish.

[2022-03-17 23:45] ellistarn commented on #1030
This is resolved.

[2022-03-18 03:22] akhilles commented on #909
/remove-lifecycle rotten

[2022-03-21 04:19] sumanthkumarc commented on #821
I have tried helm and kustomize and used the above https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/821#issuecomment-923413504 too and it still didnt work. I have raised query in community slack at https://kubernetes.slack.com/archives/C8SH2GSL9/p1647490574494619

The combinations i have tried -

[code]

[2022-03-23 11:11] RicardsRikmanis commented on #679
Seeing the same issue on our cluster. We are on EKS v.1.20 and using AWS EBS CSI driver 1.5.0.

[2022-03-23 14:57] rdpsin opened #1190 "[Design] Volume tags through StorageClass parameters with string interpolation"
**Is your feature request related to a problem? Please describe.**
- Users would like to provide arbitrary tags for dynamically created volumes, for various use cases such as cost allocation, backups, SCPs.
- Users would like some kind of PV level granularity, which is currently not supported by the K8s spec.

**Describe the solution you'd like in detail**
Introduce new parameters in StorageClass.

[2022-03-23 16:56] bkh4mmm commented on #1173
The sidecar containers need to be updated as well--the defaults in the values file point to k8s.gcr.io for the sidecars and those are not hosted on ECR Public AFAICT.

[2022-03-23 17:48] sarguru opened #1191 "Supporting Parameter to Assume Role in Storage Class Definition"
# Problem

Currently, EBS CSI controller has a 1-1 mapping between the SA account and AWS IAM role used for the API operations i.e, all the API operations for the Controller happens using this single role (or credentials supplied alternatively). This is a problem, when different storage classes need to have tighter permission boundaries. The following are some of the use-cases where this problem m

[2022-03-24 17:37] andreazorzetto commented on #449
Hi everyone, I'd like to learn about any progress on this too

[2022-03-25 14:15] smark88 opened #1192 "helm chart csi-snapshotter conditional not working as intended"
/kind bug

**What happened?**
This conditional is not working when rendering, I have the crds install and running and the chart will not render this
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/templates/controller.yaml#L196

**What you expected to happen?**
It should render the csi driver. I think adding a conditional for a bool is probably better as

[2022-03-25 18:17] sarguru commented on #1191
/kind feature

[2022-03-28 09:17] vlerenc commented on #334
I'm seeing this pretty often now.

[2022-03-28 09:19] christianhuening commented on #334
also with latest csi ebs drivers? we just updated.

[2022-03-28 18:06] rayjanoka commented on #1140
Thanks, I found that I was missing one of my `kms_key_arn` in the IAM policy for ebs-csi-plugin.

[2022-03-29 09:24] stevehipwell commented on #1163
@gnufied @bertinatto do you have any more thoughts on this? I doubt I've read the code correctly so would appreciate someone looking at the code I mentioned above to see if they can see the same potential issue?

[2022-03-30 07:14] grobbie commented on #1166
Any update here? Also seeing this.

[2022-03-31 12:43] a-dimitrov commented on #1180
nope, still facing the issue and recreating when needed. It's not much effort, but still it is annoying.

[2022-03-31 12:50] ahmadhajali80 commented on #1180
@a-dimitrov could you please share with the charts you have deployed and in which namespace you deployed it?
I deployed the following:

1. VolumeSnapshot CRDs
2. sanpshot-controller referencing csi-snapshotter:v3.0.3 docker image as a deployment in kube-system
3. ebs-csi-controller deployment that contains the following containers: aws-ebs-csi-driver:v1.4.0, csi-provisioner:v2.1.1, csi-attacher:v3

[2022-03-31 15:11] gtxu commented on #1192
Hi @smark88, can you check if you have installed the common-snapshot-controller along with the CRDs? Thanks!

[2022-03-31 15:18] gtxu commented on #1185
@butson Thank you for raise it up! A recent update on document will address it

[2022-03-31 15:22] smark88 commented on #1192
I have the following installed. I am using the external-snapshotter along with the CRDs

[code]

[2022-03-31 16:02] gnufied commented on #1191
Will this need different STS token for those different roles also?

(also *waves* )

[2022-03-31 17:07] sarguru commented on #1191
Hi @gtxu !

One of the sample scenarios can be

- Teams A & B share the Kubernetes Cluster
- There are two CMKs (with distinct KeyID/ARNs) each owned by a different team (one by A and one by B in this case).
-  Team A has stricter security standards which requires them to not share access to their CMKs with others and use distinct restrictive roles.
- In the current scheme of things, both teams A

[2022-04-04 15:30] k1rk commented on #1032
/remove-lifecycle stale

[2022-04-05 16:49] rdpsin commented on #180
Hey folks, we have a design for SC tags in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1190
and the PR for it in #1199.

[2022-04-05 18:04] olemarkus commented on #1190
If I understand the design outlined here and the implementation, one can only tag at volume creation. So if one need to change e.g backup tags, or remove tags, one cannot change the SC, but has to reprovision the whole volume?

I think I agree that tags should go through "admin" resources such as StorageClass rather than being configured through PVCs or PV templates, but it would be interesting to

[2022-04-05 18:16] rdpsin commented on #1190
Yes, the use case is to support tags at volume creation.

I would be interested in learning about use-cases related to modifying tags after creation; maybe it is something that the driver can support in the future. (I'm not sure if there is something in the k8s or CSI spec to allow for this kind of behavior).

[2022-04-05 18:39] olemarkus commented on #1190
The most obvious one would be to correct tags (tempting is somewhat error prone).

But we've seen that tags used for backup has been changing. We've also been through a few tagging standards at my employer (especially around cost tagging).

Generally, persistence volumes are very long lived and ... tag requirements change.

[2022-04-06 08:19] achetronic opened #1200 "pvc.spec.selector not supported"
/kind bug

**What happened?**
The standard `selector` field is not supported yet
https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/label-selector/#LabelSelector

**What you expected to happen?**
To be able to put selectos on my PVCs

**How to reproduce it (as minimally and precisely as possible)?**
Just applying a PVC with `spec.selector.matchLabels`

**Anything else we need t

[2022-04-06 08:51] k1rk commented on #962
/remove-lifecycle stale

[2022-04-06 14:09] MartinEmrich commented on #1102
@gtxu Just happened again, terminationGracePeriodSeconds of the pod was set to 30 in this case.

[2022-04-07 10:52] youwalther65 opened #1201 "StorageClass with paramter tagSpecification_1 leads to Invalid parameter key tagSpecification_1 for CreateVolume"
/kind bug

**What happened?**
Not able to create EBS volume with tag using parameters tagSpecification_1 as described in documentation [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/TAGGING.md):

**What you expected to happen?**
Creation of a tagged dynamic PV

**How to reproduce it (as minimally and precisely as possible)?**
$ cat pvc1-gp3.yaml
apiVersion: v1
kind:

[2022-04-07 16:59] youwalther65 commented on #1201
Thanks for the fast response. But then I would suggest updating the docs because it sounded like an available Feature

[2022-04-07 17:03] rdpsin commented on #1201
Yes, I've updated the docs to mention it'll be available in v1.6.0 and later. (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1202)

[2022-04-08 07:54] gkaskonas commented on #1201
When is v1.6.0 going to be available?

[2022-04-08 13:20] #1090 closed

[2022-04-08 17:24] #1185 closed

[2022-04-11 10:40] sumanthkumarc commented on #1140
This https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1140#issuecomment-993711047 worked for me. I had to add below to my driver policy. Just wondering why this isnt part of the official Driver policy.

[code]

[2022-04-11 14:59] rdpsin commented on #1201
@gkaskonas It should be available in a couple of weeks.

[2022-04-12 14:09] stevehipwell commented on #1163
On further testing of this it looks like this has been fixed via an EKS platform version update (I suspect), I'd be interested if anyone knows what exactly was fixed?

[2022-04-12 19:59] torredil commented on #1200
Can you provide more details regarding use case? Also, if possible please provide your PVC manifest, thanks.

[2022-04-12 20:39] kaovilai opened #1209 "Unable to create 100MiB PVC from snapshot created from 100MiB PVC"
/kind bug
Created PVC-A with 100MiB request (ebs gives back 1GiB)
Create VolumeSnapshot-A - 1GiB snapshot created
Create new 100MiB requested PVC-B using 1GiB VolumeSnapshot-A as data source

**What happened?**
[code]

**What you expected to happen?**
EBS driver should know that PVC-B if created without datasource, it would result in 1GiB volume, so final requested volume size should be the same a

[2022-04-13 16:57] #1154 closed

[2022-04-15 23:45] #1116 closed

[2022-04-16 21:00] #1117 closed

[2022-04-18 08:37] llsJllsJ commented on #1142
@evindunn I have test it using https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/helm-chart-aws-ebs-csi-driver-2.6.4
it works fine for me.

Make sure you have restart csi pod after run helm install

[2022-04-18 17:26] rdpsin commented on #1209
This is due to the fact the validation is done in [external-provisioner](https://github.com/kubernetes-csi/external-provisioner/blob/0456e7315a07228c16360a57a611aa0a1279fcdc/pkg/controller/controller.go#L1100), even before controller's `CreateVolume` endpoint is called.

[2022-04-18 17:41] kaovilai commented on #1209
Filed issue https://github.com/kubernetes-csi/external-provisioner/issues/727

[2022-04-20 16:06] jrsdav commented on #1163
@stevehipwell The [EKS AMI changelog](https://github.com/awslabs/amazon-eks-ami/blob/master/CHANGELOG.md) for the most recent `v20220406` release had one interesting note that might be relevant:

[2022-04-20 16:15] stevehipwell commented on #1163
@jrsdav thanks for looking out but that functionality sets a kubelet arg (incorrectly in most cases) and isn't related to storage attachments. This issue wasn't ever about the correct max value being set for attachments, that's a separate issue with a fix coming in the next minor version, it was a scheduling issue that didn't make much sense.

[2022-04-21 16:48] achetronic commented on #1200
Hello there, sorry for the delay on answering,
The point is that [this exact case](https://docs.openshift.com/container-platform/3.11/install_config/persistent_storage/selector_label_binding.html) can not be used with AWS EBS CSI driver because when you try to use it the status says it is not supported, but this is a standard feature for PVCs to be able to select always the sale PVs using the Labe

[2022-04-21 20:36] #1107 closed

[2022-04-22 01:12] mauriciopoppe commented on #243
Thanks for adding Windows support @wongma7, I was reading the Makefile and it looks like there are no targets to run e2e tests with Windows nodes, do you run them internally?

[2022-04-23 00:05] rdpsin commented on #1201
v1.6.0 is now available.

[2022-04-23 22:53] #1121 closed

[2022-04-25 12:47] entscheidungsproblem commented on #1101
/reopen

Can this be reopened to look into? I think this is an important issue.

[2022-04-25 12:50] entscheidungsproblem commented on #1101
@leakingtapan, @bertinatto, @d-nishi
Could one of you help me and reopen this issue please?

[2022-04-25 16:54] torredil commented on #1200
Hi, this is currently expected behavior. From previous discussions in the K8S community and [documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#:~:text=Note%3A%20Currently%2C%20a%20PVC%20with%20a%20non%2Dempty%20selector%20can%27t%20have%20a%20PV%20dynamically%20provisioned%20for%20it.): A PVC with a non-empty selector can't have a PV dynamically provisioned for it.

[2022-04-25 20:07] #1099 closed

[2022-04-25 21:23] achetronic commented on #1200
Hi @torredil the point is to use a PVC with selectors and without any othet parameter, right? tomorrow I will test the cases and give you some feedback about this 👨‍💻

[2022-04-26 02:27] zerkms commented on #399
/remove-lifecycle stale

[2022-04-26 03:04] preetsindhal opened #1218 "Provisioning dynamic volume failed with error code DeadlineExceeded"
/kind bug
Tried to provision a dynamic EBS volume from cluster running on AWS EC2
Failed with: rpc error: code = DeadlineExceeded
manifest files used to provision the resources.
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/dynamic-provisioning/manifests

**What happened?**
[code]

**What you expected to happen?**
should have created an EBS volume dynamicall

[2022-04-26 12:12] #1218 closed

[2022-04-27 04:09] frankjkelly commented on #1166
Also seeing this symptom - pod was recreated to give it more CPU and memory and getting

[code]

[2022-04-27 08:59] os6sense commented on #1181
I'm disappointed this question hasn't been answered. We're currently seeing 5GB memory used per node, which seems unreasonable; I assume this is due to caching but maybe not.

[2022-04-28 08:06] sebgl opened #1220 "Support RAID of multiple EBS volumes"
One way to get better performance out of EBS volumes is to rely on RAIDs made of multiple EBS volumes, as described here: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/raid-config.html

A common use case for example would be to build a RAID out of two st1 or sc1 volumes, which provides different performance/price characteristics than e.g. using gp3 volumes.

Unfortunately, that's not trivial

[2022-04-28 08:24] #1123 closed

[2022-04-29 12:53] Preen opened #1223 "evalsymlink failure on"
/kind bug

**What happened?**
[code]

**What you expected to happen?**
csidriver.storage.k8s.io/ebs.csi.aws.com created

**How to reproduce it (as minimally and precisely as possible)?**
create cluster in `eu-north-1` and run above command after creating iam etc.

**Anything else we need to know?**:
it worked if I used 1.5 version. `github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/o

[2022-04-29 17:08] rdpsin commented on #1223
Seems like you're using `overlays/alpha` which doesn't exist. You used `overlays/stable` for 1.5. Can you try using `overlays/stable` to see if it works?

[2022-04-29 17:46] LeeHampton commented on #1163
We're experiencing this issue as well. Except, from some of the discussion above it sounds like people think it's some kind of scheduling race condition. In our case, it seems like the volume attachments are **never** being properly counted. We have a node with 25 attachments, but the Allocated Resources section under `kubectl describe node` show zero attachments:

[code]

  Any leads on what migh

[2022-04-29 17:48] gnufied commented on #1163
Again looks like you are looking at wrong object. CSI volume limits are counted via `CSINode` objects. So please check what value it is reporting.

[2022-04-29 17:53] LeeHampton commented on #1163
@gnufied Ah, okay. Thank you. It looks like the "allocatables" are indeed being properly counted, which I guess puts us in the race condition boat:

[code]

[2022-04-29 17:56] LeeHampton commented on #1163
@gnufied , actually is "Allocatables" just the total limit? How do I see what it thinks is currently allocated?

[2022-04-29 23:19] aaroniscode commented on #1100
/remove-lifecycle stale

[2022-05-02 08:27] ialidzhikov opened #1224 "Safeguard against outdated `/dev/disk/by-id/` symlinks that can lead Pod to mount the wrong volume"
/sig storage
/kind bug

**What happened?**

For nvme volumes the aws-ebs-csi-driver relies on the `/dev/disk/by-id/` symlink to be able to determine the nvme device attached for the given volume id.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/0de2586eab537209dcddb8150db52b2409c996cd/pkg/driver/node_linux.go#L83-L88

This symlink is updated by udev rules that react on kernel attach/

[2022-05-02 16:56] #996 closed

[2022-05-02 21:14] #1190 closed

[2022-05-04 14:03] wuub opened #1227 "Chart: Support custom affinity definition on node daemon set"
**Is your feature request related to a problem?/Why is this needed**
For variety of reasons some node types might not be able to run aws-ebs-csi-drievr daemon set with default configuration.
For example if they changed kublet `root-dir` to a non-standard one.

I would like to be able to _prevent_ scheduler from placing daemonset pods to those nodes.
Currently I'm unable to do so, and instead need

[2022-05-04 16:04] rdpsin commented on #1227
/kind feature

[2022-05-04 20:14] #427 closed

[2022-05-05 11:22] mur-me commented on #1186
If someone interested what have happened here - probably @rahulbreezo spin up something from the following instances - [X2idn, X2 iedn and R5b](https://aws.amazon.com/ec2/instance-types/), and here is the reason why he/she faced this error:
[you can't modify the size or provisioned IOPS of an io2 volume that is attached to an R5b, X2idn, and X2iedn instance](https://docs.aws.amazon.com/AWSEC2/late

[2022-05-05 21:50] #1174 closed

[2022-05-05 22:38] rishabhsinghvi commented on #1201
Closing this since the new release is now available with tag support.

/close

[2022-05-05 22:40] rdpsin commented on #1201
/close

[2022-05-05 22:40] #1201 closed

[2022-05-05 23:29] torredil commented on #1143
/close

[2022-05-05 23:29] #1143 closed

[2022-05-05 23:33] torredil commented on #399
/lifecycle frozen

[2022-05-06 05:21] #877 closed

[2022-05-07 10:17] Legion2 commented on #1163
We are using csi volumes and in-tree volumes at the same time and see similar errors. Even if csi volumes are counted correctly, there are also non csi volumes attached to the nodes which result in the underlying node limited to be exceeded. Is this situation addressed by any of the linked issues?

[2022-05-07 16:37] cycwll commented on #1144
My ebs-csi-controller was running well before.
![image](https://user-images.githubusercontent.com/6410130/167263334-4b8d5938-8faa-4cd2-ac1d-645144196173.png)
and the pod ebs-csi-node-xxx  was running well.
![image](https://user-images.githubusercontent.com/6410130/167263365-b2299a8e-99ee-4e1f-9cbc-477658ee8b94.png)

But, I don't know when they can't work anymore.
![image](https://user-images.githu

[2022-05-07 16:54] cycwll commented on #1144
@leongross
Excuse me, have you solved this problem?

[2022-05-08 20:33] #1096 closed

[2022-05-09 06:36] cycwll commented on #1144
The problem has been solved.
The root cause is I specifies that IMDSv2 must be used when accessing metadata, cause IMDSv1 to no longer function. This is a propulsion configuration in AWS security reinforcement. To verify if this is the reason, run the command on EC2 curl -v http://169.254.169.254/latest/meta-data/. If the response is 401, it proves that IMDSv1 is disabled.

After I enable IMDSv1 w

[2022-05-10 13:48] sylr opened #1232 "Support startup taint"
**Is your feature request related to a problem?/Why is this needed**

I'd like the [aws-ebs-csi-driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver) to implement a startup taint mechanism.

/feature

**Describe the solution you'd like in detail**

When you are dealing with clusters where nodes come and go often we want to ensure that those new nodes have all the required components befor

[2022-05-10 14:39] torredil commented on #1232
/kind feature

[2022-05-10 18:02] mauriciopoppe commented on #243
Bumping this thread, @wongma7 do you run the e2e tests for Windows nodepools internally?

[2022-05-12 09:45] 651juan opened #1235 "IOPS parameters is not picked up by driver without defining volume type"
/kind bug

**What happened?**
When not defining the type parameter explicitly, the IOPS parameter is not sent when a volume is created.

As you can see the IOPS is not present in the request from the driver
**What you expected to happen?**

I would expect it to have the IOPS parameter explicitly defined with the type's default value.
**How to reproduce it (as minimally and precisely as possible)?*

[2022-05-12 09:47] 651juan commented on #1235
#783 seems to be similar but was never addressed.

[2022-05-13 15:35] #1235 closed

[2022-05-15 23:25] #1108 closed

[2022-05-16 23:39] caleb15 commented on #679
Same issue with EKS v1.21, the volume's been terminating for hours. Not sure which EBS CSI driver version we're using or how to check. We don't have it installed as a addon.

[2022-05-17 00:34] #1030 closed

[2022-05-17 14:06] vaibhav-ak opened #1237 "panic: could not get number of attached ENIs - Error noticed on node daemonset"
k8 version is 1.21

I'm trying to install the helm chart onto an EKS cluster running 1.21.

All pods are fine except the deamonset (ebs-plugin) container only which is in CrachLoopBackoff. It has access to EC2 metadata to get info. I think it failing  while getting eni data. Any pointers on this will be of great help.

Here are the logs

==========================================

0517 11:49:46.26

[2022-05-18 08:45] #1142 closed

[2022-05-18 15:06] nariman-maad commented on #207
+

[2022-05-18 15:23] gtxu commented on #1237
/kind bug

[2022-05-18 15:54] torredil commented on #1237
Hi, can you please fill out the bug report template? https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Be sure to include K8s and driver versions. If possible, also provide your deployment or a sample, and instance type (Nitro?) Thanks.

[2022-05-19 15:59] #1148 closed

[2022-05-19 21:55] rdpsin commented on #818
/remove-lifecycle frozen

[2022-05-19 21:55] rdpsin commented on #818
/remove-lifecycle rotten

[2022-05-22 18:33] jimethn opened #1246 "Race condition with cluster-autoscaler"
/kind bug

**What happened?**

What I'm seeing is the cluster-autoscaler keeps trying to delete a node, one of the pods there gets stuck in Terminating state, and then cluster-autoscaler eventually gives up (with the message `Failed to delete ip-10-28-103-222.us-west-2.compute.internal: Failed to drain node /ip-10-28-103-222.us-west-2.compute.internal: pods remaining after timeout`) and un-taints

[2022-05-22 23:26] torredil commented on #1246
Hi @jimethn 👋
When draining a node with `kubectl drain` DaemonSet pods do not get removed (see relevant documentation [here](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#drain)). If the cluster-autoscaler has a different behavior (and cannot be configured to behave similarly to `kubectl drain`) you would need to report that issue to the [cluster-autoscaler](https://githu

[2022-05-23 10:42] RicardsRikmanis commented on #1224
We are seeing similar issue on our end, but not sure it's related to to the cloud-init bug since on our nodes its version 19.3-45.amzn2.

In our case node root volume is mounted instead of the actual volume on pod restart.

It already caused at least two production outages and we had no luck replicating it on our development environments.

We are using `c5d.18xlarge` node on EKS `v1.21` and with E

[2022-05-23 12:35] RicardsRikmanis commented on #1166
We are seeing similar issue on our end

It already caused at least two production outages and we had no luck replicating it on our development environments.

We are using `c5d.18xlarge` node on EKS `v1.21` and with EBS CSI driver `v1.6.1`

[2022-05-23 14:52] bwmetcalf opened #1248 "csi-resizer getting OOMKilled"
/kind bug

**What happened?**
We are using version v1.6.0-eksbuild.1 of the aws-ebs-csi-driver addon.  We have one environment where the csi-resizer container is using substantially more memory and getting OOMKilled.  Since the memory limits setting cannot be controlled with the addon, we have no way of increasing it.  We can edit the deployment live, but it gets reverted by EKS.  However, the rea

[2022-05-23 17:16] gtxu commented on #1248
Hi @bwmetcalf, the usage exceeded 128Mi is abnormal, can you specify the "other environments" and the environment that the issue occurs? Plus can you provide more details on the issue container by retrieve the log (`kubectl logs ebs-csi-controller-748586d5cc-9fbr5 -c csi-resizer -n kube-system`), if it convenient to you, thanks!

[2022-05-23 17:21] bwmetcalf commented on #1248
Thanks @gtxu.  Here are the logs from one of the killed pods
[code]
There is not much activity before it gets killed.

In terms of environment differences, this particular environment is 1 of 3 we have in govcloud and we have 3 in commercial.  Other running different services that we develop, the environments are exactly the same.  It's not clear what could be helpful in this regard to troubleshoo

[2022-05-23 18:34] keerthana1608 opened #1249 "Unable to create CSI snapshot-EBS csi driver"
/kind bug

**What happened?**
Unable to create CSI snapshot

**What you expected to happen?**
Should be able to create CSI driver snapshot without any failure.

**How to reproduce it (as minimally and precisely as possible)?**
Install the latest 1.5(1.5.3) or 1.6(1.6.2) ebs csi driver on EKS clsuter. Try creating the volumesnapshot.

**Anything else we need to know?**:
We are seeing following cons

[2022-05-23 18:53] torredil commented on #1249
Hi @keerthana1608 👋

Have you installed the external-snapshotter sidecar? If you intend to use the csi-snapshotter functionality, you will need to first install the [CSI Snapshotter](https://github.com/kubernetes-csi/external-snapshotter).

[2022-05-23 19:04] sgatdell commented on #1249
@torredil  Yes, the external snapshotter was installed. The same tests were working fine with CSI driver 1.5.1 when this was tested previously a while back.

[2022-05-23 19:32] rdpsin commented on #1249
Looks like the snapshot CRDs are not installed.

Can you try installing them with:

[code]

[2022-05-23 22:37] phuongatemc commented on #1249
What we observed is the VolumeSnapshot was created and the associated VolumeSnapshotContent also created but the EBS CSI Driver does not show any action (in the log) that it starts working on the VolumeSnapshotContent so the VolumeSnapshot and VolumeSnapshotContent are just hanging there.
We ran "kubectl logs -n kube-system ebs-csi-controller-xxx csi-snapshotter" and see that it keep repeating tha

[2022-05-24 18:38] #1246 closed

[2022-05-24 23:01] duckie commented on #660
/reopen

This should not be closed.

[2022-05-25 01:33] islishude opened #1250 "How to enable metrics?"
/triage support

Is there a documetaion for metrics?

[2022-05-25 06:28] #1250 closed

[2022-05-25 07:18] ialidzhikov commented on #1224
We hit the same issue on our side a lot of times. We believe the root cause for this issue gets fixed with https://github.com/kubernetes/kubernetes/pull/100183 (also backported to release-1.21 and present in K8s 1.21.9+). Hence, I  would recommend you to upgrade to 1.21.9+. So far we didn't hit this issue after we upgraded to 1.21.10.
Monitoring colleagues also implemented alerting for PVC affecte

[2022-05-25 13:01] tgip-work commented on #1249
Same behaviour for me as reported by @phuongatemc

[2022-05-25 16:54] gtxu commented on #1249
Hi @phuongatemc @sgatdell @tgip-work, [This PR](https://github.com/kubernetes-csi/external-snapshotter/pull/718) will fix the API version issue on sidecar. Updating the snapshot controller CRDs after this PR will fix it, for long term we will bump up our snapshotter sidecar version to make sure the API V1 works.

[2022-05-25 20:43] #1095 closed

[2022-05-26 09:28] jsravn commented on #449
Multi-attached EBSs have several limitations. I'm wondering how people are expecting to actually use this? It won't be as simple as attaching a PVC to multiple pods:

From https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volumes-multi.html.

Seems like it would only be useful for specialized purposes - if people tried using multi-attached EBSs as shared PVCs with typical filesystems they ar

[2022-05-26 12:40] RicardsRikmanis commented on #1224
Thanks for the info, that shed a lot of light on our issue!

We are at the mercy of AWS in regards Kubernetes patch upgrades. Now waiting till AWS EKS rolls out to `1.21.10`/`eks.6` and we will see if it also helped us.

[2022-05-26 13:51] jbg commented on #449
Those caveats are common to multiple writers on any shared block storage aren't they?

Our application is to write once, detach the writer and then attach read only to many. So a clustered FS is not needed.

[2022-05-26 17:21] keerthana1608 commented on #1249
@gtxu
 I picked the latest snapshot CRDs from https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd.
Still seeing the same issue

[2022-05-27 10:50] tgip-work commented on #1249
### SHORT UPDATE and good news!

A snapshot has been created:

[code]

**Summary: What I needed to change:**

1. Using latest helm chart 2.6.8 with csi-snapshotter image `v6.0.1` (instead of v3.0.3 which is the default). The managed EKS addon does not seem to work as I cannot customize the image thats being used for the CSI Snapshotter sidecar container.
2. Manually added verb "patch" to ClusterRo

[2022-05-27 16:18] gtxu commented on #1249
Hi @tgip-work, thanks for the attempt and detailed description on the solution. The latest snapshot controller(deployed with CRDs) includes several changes that does not works well with the external-snapshotter sidecar lower than v6.0.0+. We will update the helm to use latest external-snapshotter after testing.

[2022-05-27 16:22] gtxu commented on #1249
Plus if you install & manage your EBS CSI Driver with Helm, I recommend pulling sidecar images from GCR currently.
[code]

[2022-05-27 16:59] BenTheElder opened #1251 "Staging images are pushed to community infra but tagged releases are not promoted"
/kind bug

**What happened?**

It seems like images are intentionally (?) no longer published to the kubernetes project's package host k8s.gcr.io (soon registry.k8s.io https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)), but images are still being built on community staging resources as of the current latest commit and I found no announcement about this cha

[2022-05-27 19:38] BenTheElder commented on #1251
As far as I know, there's no restrictions on this.

+1, this caught us unaware.

FWIW in the case that brought this to my attention, we're able to simply not install the driver and disable CSI testing, but I can imagine how this is problematic in other cases like @noah-bidziil's

[2022-05-27 19:53] #1146 closed

[2022-05-30 05:58] jackliusr opened #1252 "Pod don't resize volume following the sequence: add more space to pv, then change pvc"
/kind bug

**What happened?**
I increased  the size of pv, then pvc. However the size of corresponding file system in pod still is the original size.

**What you expected to happen?**
The corresponding file system is expanded to the new size.

**How to reproduce it (as minimally and precisely as possible)?**
say the original size of pvc and pv of a pod is 50Gi
- change the size of pv to 100Gi
- ch

[2022-05-30 11:36] skrbug opened #1253 "Can't colone volume from snapshot."
/triage support
**What happened?**
I created a pvc reference by cloning the volume from snapshot and mounted it to the pod nginx, but the nginx pod has no mounted data.
Here is my yaml files.

[code]

Debug Trace
[code]

Check how csi-node handles.
[code]

I'm guessing it's formatted so data is lost, but why is it formatted？

**Env**
[code]

[2022-05-30 11:37] #1253 closed

[2022-05-30 11:42] skrbug opened #1254 "Can't restore data from snapshot"
/kind bug

**What happened?**
I created a pvc reference by cloning the volume from snapshot and mounted it to the pod nginx, but the nginx pod has no mounted data.
Here is my yaml files.

[code]

Debug
[code]
describe pvc

[code]

describe storageclass

[code]

describe volumeSnapshot
[code]

Check how csi-node handles.
[code]

I'm guessing it's formatted so data is lost, but why is it formatted？

[2022-05-31 03:29] #1254 closed

[2022-05-31 05:51] skrbug commented on #1254
dataSource:
    apiGroup: snapshot.storage.k8s.io/v1  -->  snapshot.storage.k8s.io

it's works well.

[2022-05-31 10:02] skrbug commented on #1249
@tgip-work  I try this. Still seeing the same issue. ebs-csi-controller/csi-snapshotter can't found snapshot

[2022-05-31 11:19] skrbug commented on #1249
I try this, it works well.

**apply CRD old version**.  [v6.0.0-rc4](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v6.0.0-rc4)

csi-snapshotter  image use v3.0.3.
I installed driver by helm. chart version  2.6.8
![origin_img_v2_55418a8f-612b-43be-bc0a-629c7cacbf6h](https://user-images.githubusercontent.com/49090950/171161496-f2972922-43c3-45b9-974b-c69b46e6c5cc.png)

@keertha

[2022-05-31 18:11] keerthana1608 commented on #1249
Updated to latest snapshotter sidecars and added verb patch to resource volumesnaphsotcontents.
It works fine.

[2022-05-31 19:30] wongma7 commented on #1251
sorry for confusion, no decision has been made yet. That link you see above is my placeholder for stopping pushing to GCR, I don't intend for it to merge until we make a decision here with everyone's input

[2022-05-31 19:36] wongma7 commented on #1251
1. We decided to backfill the missing images 1.5.3-1.6.2. I just lgtm'd https://github.com/kubernetes/k8s.io/pull/3791
2. What we do for future releases is TBD.
  a. https://github.com/kubernetes/test-infra/pull/26452 is a placeholder for if we decide to stop pushing to GCR
  b. we can add GCR back to the release process if we decide to resume/continue pushing to GCR

[2022-05-31 19:57] torredil commented on #1251
@eddie621 Thanks for noting that v1.5.2 is not included in the PR. That is intentional - the image is not included in the [staging repo](https://console.cloud.google.com/gcr/images/k8s-staging-provider-aws/global/aws-ebs-csi-driver?project=k8s-staging-provider-aws).

[2022-05-31 20:16] jigisha620 opened #1255 "Enable Amazon EBS CSI driver on AWS snow devices"
EBS CSI driver should work with Snow devices.

EKS Anywhere team is working on enabling EKS Anywhere deployments on Snow. Some of the EKS Anywhere curated packages require persistent volume storage. However, the EBS CSI driver is not updated to work with Snow devices.

Code change required on EBS CSI driver to recognize snow devices as regions. Currently the EBS CSI driver recognizes standard AWS

[2022-05-31 21:21] torredil commented on #1251
@MurphyPuppy @eddie621 Thanks! yeah, there is no image for v1.5.2 in the [staging repo](https://console.cloud.google.com/gcr/images/k8s-staging-provider-aws/global/aws-ebs-csi-driver?project=k8s-staging-provider-aws), hence why I've excluded 1.5.2 from the PR. The release for 1.5.2 was aborted part-way through and we recommend running 1.5.3 (or later), as it is functionally identical to 1.5.2 but

[2022-06-01 00:24] ghost opened #1256 "AWS - bans customers when criticized"
# AWS - bans customers when criticized

I work for and represent an AWS customer (at least until we migrate our spend elsewhere). On Tuesday August 15th I posted an issue to the EFS CSI Driver repo complaining about a lack of attention from AWS, the 'semi-official' maintainers.

I won't tell you that I was nice in this issue, but it did not contain any personal attacks, harassment, or (in my opini

[2022-06-01 00:35] jackliusr commented on #1252
The issue is not relevant to aws-ebs-csi-driver after I double-checked my environment.

[2022-06-01 00:35] #1252 closed

[2022-06-01 15:13] #1249 closed

[2022-06-01 17:20] azhurbilo commented on #1014
/remove-lifecycle stale

[2022-06-01 18:47] ccs-warrior commented on #1248
@bwmetcalf or @gtxu I see that this is labeled as a bug, but was a workaround or temporary resolution found? We are experiencing the exact same issue, only in one environment, after deploying the EBS CSI driver add-on to that cluster for the first time. Manually increasing memory to 512Mi on the deployment allowed it to start successfully. Our logs look identical, there are no errors or useful mes

[2022-06-01 19:39] gtxu commented on #1248
Hi @ccs-warrior can you specify the Add-on version and k8s version?

[2022-06-01 22:29] bwmetcalf commented on #1248
This just happened again for us.  We are using argo workflows and this issue somehow seems to be related to the number of `Completed` workflow pods that accumulate over time.  Once the number of these pods grows to some threshold, `csi-resizer` starts this behavior.  I just deleted all of these `Completed` workflow pods and the `csi-resizer` came back healthy and is using less memory.

I have no i

[2022-06-02 00:31] diranged opened #1258 ""attachable-volumes-aws-ebs" not being set on nodes even when --volume-attach-limit is used..."
/kind bug

**What happened?**

We have noticed that even though we're setting the `--volume-attach-limit=15` flag on our `ebs-csi-node` daemonsets, our instances are reporting `39` attachable EBS volumes. Shouldn't setting `--volume-attach-limit=15` turn around and tell Kubernetes that the limit is 15 for that particular node?

**What you expected to happen?**

I expect to see `.status.allocatable

[2022-06-02 13:00] torredil commented on #1251
The missed publication to GCR of 1.5.3-1.6.2 was caused by an AWS-internal error. We have corrected the problem. Going forward, EBS CSI driver releases will continue to be published to ECR, ECR Public, and GCR. We apologize again for the inconvenience.

[2022-06-02 13:07] torredil commented on #1251
@eddie621 @MurphyPuppy Thanks for letting us know how this issue impacted your teams. We appreciate your feedback and it really helped drive this issue to a resolution.

[2022-06-02 13:39] bwmetcalf commented on #1248
Per my comment above, the environment where we are having this issue with `csi-resizer` is the only environment where we are running argo workflows.  I'm fairly confident this is the cause.

[2022-06-02 14:06] gnufied commented on #1248
hmm. resizer only watches pods if certain flag is enabled on it. If someone can grab heap dump while this happens I can take a look.

[2022-06-03 13:48] achetronic opened #1261 "Support tagSpecification on VolumeSnapshotClass"
/kind bug

**What happened?**
The tagSpecification for StorageClass is not being applied on VolumeSnapshotClass as expected

**What you expected to happen?**
The same tags applied to the PV, being populated to the Snapshots because it is useful to know contextual information about where the snapshot came from.

**How to reproduce it (as minimally and precisely as possible)?**

[code]

**Anything e

[2022-06-03 20:28] ccs-warrior commented on #1248
@gnufied Unfortunately we don't have a way to replicate it any more. The cluster where we saw the issue was a pre-prod environment and so the addition of the EKS add-on was backed out as quickly as we could after seeing the failure. We are unable to replicate the same issue in any lower environments. It may be worth noting that, similar to @bwmetcalf, we also use Argo workflows in this cluster. We

[2022-06-03 20:40] gtxu commented on #1248
Hi @ccs-warrior, how many volumes attached to pods in that cluster. I find a benchmark on sidecars [here](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/129#issuecomment-795428577) that 2K volumes reach the ~100Mi memory for resizer. While we are investigating this, we are raising the limitations for EKS Add-on in v1.6.2.

[2022-06-03 20:42] woz5999 commented on #1248
bwmetcalf is off today, but for our use case, our clusters have very few volumes; like 10 or less each.

[2022-06-06 02:43] torredil commented on #1057
/lifecycle frozen

[2022-06-06 18:02] gtxu commented on #1255
/feature

[2022-06-06 19:53] mstefany opened #1264 "Error: GetDeviceMountRefs check failed for volume"
/kind bug

**What happened?**
We have `/mnt/kubelet` bind-mounted to `/var/lib/kubelet` due to capacity reasons (root FS is quite small and empty-dirs can consume lots of space). Sometimes it happens that EBS volume does not unmount properly leaving original mounts with RO flag (this triggers our Icinga check for RO filesystems). The error in log says:
[code]

**What you expected to happen?**
EBS

[2022-06-06 20:34] ghost opened #1265 "AWS - bans customers when criticized"
# AWS - bans customers when criticized

I work for and represent an AWS customer (at least until we migrate our spend elsewhere). On Tuesday August 15th I posted an issue to the EFS CSI Driver repo complaining about a lack of attention from AWS, the 'semi-official' maintainers.

I won't tell you that I was nice in this issue, but it did not contain any personal attacks, harassment, or (in my opini

[2022-06-06 20:41] gtxu commented on #1265
Hi @MurphyPuppy, can you confirm you are using add-on version `v1.6.2-eksbuild.1`?

[2022-06-06 20:43] torredil commented on #1265
Thanks for raising this up, we are aware of the issue and working with the EKS team to fix this as soon as possible.

[2022-06-06 20:48] gtxu commented on #1265
It takes more time for EKS managed Add-on to include this fix. As an alternative solution, please deploy common-snapshot-controller [v6.0.0-rc4](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v6.0.0-rc4) to avoid snapshot issue. I am sorry for the inconvenience!

[2022-06-06 21:08] #1265 closed, assigned to nobody

[2022-06-06 21:19] gtxu commented on #1265
Sorry @MurphyPuppy as we are in first priority fixing this for EKS Add-on. Using [v6.0.0-rc4](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v6.0.0-rc4) can be a temporary and workable way for snapshotting support with CSI Driver.

[2022-06-06 21:50] gtxu commented on #1261
Hi @achetronic, currently CSI Driver doesn't have support tagSpecification on VolumeSnapshotClass, I will regard it as a feature request. We will keep this on our radar. Thank you for raise it up.
kind/feature

[2022-06-07 00:30] torredil commented on #1181
Hi, thanks for raising up this issue.

We have not been able to reproduce this on our end. Could you please specify which version of the driver you are running and provide any relevant logs you are able to collect when running into this issue?

It's possible that this abnormal memory usage was caused by outdated sidecar images. The sidecars have now been updated with the release of `v1.6.2`. If yo

[2022-06-07 00:42] Skiertsamba opened #1266 "EKS Addon Contains CVEs"
/kind bug

Hi, version 1.6.2 was released 17 days ago: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/tag/v1.6.2

It contains a fix for ALAS-2022-1792, and we'd like to get that fix ASAP. However, it seems like releasing 1.6.2 via the EKS Addon mechanism was forgotten? The latest version I see on our account is 1.6.1.

Please if possible expedite the release, it's already been over

[2022-06-07 01:58] Kaezon commented on #1182
/remove-lifecycle stale

[2022-06-07 18:44] bhushanchirmade commented on #1181
We are using following Terraform code to pull the latest version of the add-on and seeing only 1.6.1.

data "aws_eks_addon_version" "aws-ebs-csi-driver" {
  addon_name         = "aws-ebs-csi-driver"
  kubernetes_version = "1.22"
  most_recent        = true
}

output "ebs_version" {
  value = data.aws_eks_addon_version.aws-ebs-csi-driver.version
}

Deployment of this add-on is using these versions.

[2022-06-07 18:51] bhushanchirmade commented on #1248
We are seeing same issue for another customer who is also using govcloud. EBS Add-on out of memory on resizer with 200+ PVCs.

[2022-06-07 19:01] Skiertsamba commented on #1266
@torredil @gtxu @wmesard hi, sorry for the ping but I saw that you're all active AWS employees on this repository. Can somebody please look into this (or if there is some way to access 1.6.2 via the EKS addon that I missed let me know what to do)? I can't be the only customer that has the requirement that images cannot contain known vulnerabilities/CVEs.

[2022-06-07 20:08] achetronic commented on #1261
Thank you for the response. I will keep in touch about this feature

[2022-06-07 21:30] torredil commented on #1266
Hi all, sorry for the delayed response.

Unfortunately, the add-on release for `v1.6.2` has been significantly delayed due to an AWS internal process. Completely agree that it is not acceptable to wait any longer and as such we are currently working on releasing a new version of the add-on which addresses the CVE.

I highly encourage you reach out to your TAM and create a TT so that we can track t

[2022-06-07 21:34] Skiertsamba commented on #1266
@torredil thanks for the update! No worries on whatever internal process is keeping you up, I understand these things take time. Although publishing 1.6.2 is one way this could obviously be solved, if that is impossible please instead use a different method:

Just rebuild 1.6.1 with the fix, or create something like a 1.6.1-2. I really hope what @murphypuppy said about it taking another week is un

[2022-06-07 22:35] torredil commented on #1181
The add-on release for `v1.6.2` has been delayed due to an internal AWS process. We are currently working with the EKS team to release a new version of the add-on which patches the CVE and increases the memory limit from 128MB -> 256MB to address the memory issue discussed here https://github.com/aws/containers-roadmap/issues/1757.

[2022-06-07 22:56] torredil commented on #1266
Thank you for being so understanding - I sincerely appreciate that.

This issue is being prioritized and we are working with the EKS team to release a new version of the add-on which patches the CVE.

[2022-06-08 01:58] amilanoski opened #1267 "default kmsKeyID is not used when value is null"
/kind bug

**What happened?**
default kmskeyid is not used even though CMK is set in EC2 Dashboard >EBS Encryption

**What you expected to happen?**

For aws-csi-driver to use the default CMK kms key when set in the aws console.

**How to reproduce it (as minimally and precisely as possible)?**
values.yaml
[code]

**Anything else we need to know?**:
kms key is set to the aws generated kms key rath

[2022-06-08 06:50] throrin19 commented on #214
Same problem as @shishirkh here. Anybody to help ?

[2022-06-08 07:14] #1144 closed

[2022-06-08 15:20] rrey-aviatrix opened #1268 "VolumeSnapshot not perfomed"
I have an EKS cluster (1.21) with `aws-ebs-csi-driver`  addon version 1.6.1 installed.
I have deployed `external-snapshotter` and created a `VolumeSnapshotClass` and a `VolumeSnapshot`.

I can see the `VolumeSnapshotContent` object  created and the `VolumeSnapshot` report that it is waiting for the snapshot:
[code]

The external-snapshotter's snapshot-controller is logging about the action:

[code

[2022-06-08 17:14] bhushanchirmade commented on #1181
Can anybody from EKS team comment here about the release of `v1.6.2` version?

[2022-06-08 17:47] torredil commented on #1267
This is not a bug and currently expected behavior. To clarify: Amazon EBS automatically creates a unique AWS managed key in each Region where you store AWS resources. This [KMS key](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#:~:text=Amazon%20EBS%20automatically%20creates%20a%20unique%20AWS%20managed%20key%20in%20each%20Region%20where%20you%20store%20AWS%20resources.%20T

[2022-06-09 00:34] Kaezon commented on #1182
Fix was merged

[2022-06-09 00:34] #1182 closed

[2022-06-09 07:58] rrey-aviatrix commented on #1268
thx @gtxu,

I guess that would fix the error messages about the v1beta1 resources, but is it also why the snapshot is not triggered for my v1 resource ?
I'm not using v1beta1 at all in my resources:

The VolumeSnapshotClass:
[code]

The VolumeSnapshot:
[code]

[2022-06-09 17:33] gtxu commented on #1268
Hi @rrey-aviatrix, No it should work if you define VolumeSnapshot with v1. The [templates](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/snapshot) in our examples also uses v1 for snapshot.

[2022-06-09 22:25] ksliu58 commented on #449
+1 to @jsravn above.

What use cases is everyone trying to solve? How you plan to use it?

[2022-06-10 06:37] swetli commented on #954
Sharing what solved my issue: Turns out that we need to add OIDC IDP in the IAM of the account for the OIDC issuer of the EKS cluster.

[2022-06-10 07:17] rrey-aviatrix commented on #1268
Any pointer for investigation for me ?

[2022-06-10 22:08] amilanoski commented on #1267
Thanks for confirming @torredil and updating the docs. I have tested some different paths with default EBS CMK configured in the console.

option 1 - **values.yaml  - encryption:true**
[code]

option 2 -  **values.yaml - no encryption set**
[code]

option 3 -  **values.yaml - encryption set + kmskeyid**
[code]
Results:

1.  aws-csi-driver will encrypted the drive, but with aws managed kms key(whic

[2022-06-13 13:43] pascal-knapen commented on #1248
We see the same issue with latest helm-installed version as well. We put the limit to 300Mi and still OOMKilled.

[2022-06-13 15:01] torredil opened #1273 "Minimal base image for Linux builds"
**Announcement**
--
- Requesting community feedback on #1233  which would significantly enhance container security by reducing the number of vulnerabilities coming from the base image layer. Currently, most incoming CVEs are actually not related to the CSI driver binary, but the base AL2 image layer which includes a ton of extra dependencies not used by the driver. By using a more minimal base ima

[2022-06-13 15:43] #1256 closed, assigned to nobody

[2022-06-13 16:27] edgan opened #1274 "kubeletPath needs to be universally used"
/kind bug

**What happened?**
/var/lib/kubelet is used when kubeletPath is set to something else.

**What you expected to happen?**
For the kubeletPath to be consistently used everywhere

**How to reproduce it (as minimally and precisely as possible)?**
Install aws-ebs-csi-driver in k0s.

**Anything else we need to know?**:
k0s uses /var/lib/k0s/kubelet instead of /var/lib/kubelet

**Environment**

[2022-06-13 19:57] Skiertsamba commented on #1266
@torredil it's been a week since this was "being prioritized", how is it not out yet? As @MurphyPuppy says, should us addon customers expect this type of delay in future releases, and how can we avoid it if so?

[2022-06-13 19:59] Skiertsamba commented on #1273
If this change enhances security, why is it not the default? Are there some features missing or another reason the minimal image wouldn't be desirable?

[2022-06-13 20:15] blair-small commented on #1273
+1, why would the team intentionally choose a default that is known to have a bigger attack surface??? I've been a driver user/customer a long time and I remember a similar issue happening in the past when the driver shipped a Debian image that was known to be less secure and used as the default.

Also, will this new image be available to EKS Addon customers - and if yes what do we need to do to o

[2022-06-13 23:22] torredil commented on #1273
- Hi folks, based on my current understanding of the situation, add-on `v1.6.2` should be released by latest EOD tomorrow. Sorry for the delays, we are doing all we can to release it as soon as possible.
- Thanks for the feedback, it's really helpful and I will raise it up with the team. To answer your questions: based on the testing discussed in the PR, there are no missing features or any obviou

[2022-06-14 00:00] torredil commented on #1266
Hi @MurphyPuppy @Skiertsamba,  based on my current understanding, add-on `v1.6.2` should be released by latest EOD tomorrow. Sorry for the delays, we are doing all we can to release it as soon as possible.

[2022-06-14 00:24] Skiertsamba commented on #1266
Given that AWS seems to be unable to commit to releasing the EKS Addon on a timely schedule for security issues, we've migrated off of it. Considering moving k8s workloads as a whole away from AWS as it seems other clouds have basic competencies like volume storage covered better.

[2022-06-14 00:24] #1266 closed

[2022-06-14 00:25] Skiertsamba commented on #1273
@torredil if that's the case, then will the minimal image receive the same support as the "fat" image? For example, it seems the CI doesn't test the minimal image and #1233 doesn't change that (also, off topic, but looking into that it seems like Windows builds receive no testing at all.....despite upstream tests being available).

It seems like certain workflows are already treated as second-clas

[2022-06-14 12:34] gabrielpasv opened #1275 "StorageClass not being created in helm"
/triage support

I am trying to install aws-ebs-csi-driver chart from https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/charts/aws-ebs-csi-driver

I was able to install the csi driver, however the storageClass didn't install. When I ran the helm template I can't even see the respective yaml file.

Even after I remove the comments
https://github.com/kubernetes-sigs/aws-ebs-csi-drive

[2022-06-14 18:53] rdpsin commented on #1275
/king bug

Hi @gabrielpasv, could you provide us the `values.yaml` you're using?

Running `helm template` with `storageClasses` section uncommented renders the correct StorageClass manifest.

[code]

[code]

(Did you remove the `[]` after `storageClasses`?)

[2022-06-14 19:04] gabrielpasv commented on #1275
I tested it again and It works fine with helm template. The problem is with helmfile.
https://lyz-code.github.io/blue-book/devops/helmfile/

with helmfile it does not create the storageclass.yaml

[2022-06-14 22:03] gabrielpasv commented on #1275
nevermind, I found the problem
yaml.gotmpl file was wrong

[2022-06-14 22:03] #1275 closed

[2022-06-15 00:07] sunghospark-calm commented on #1248
Having the same issue here. EKS v1.22 csi-resizer v1.1.0

[2022-06-15 10:26] jsravn commented on #449
Even ext4 writes back to the journal on readonly mounts. So you're playing with fire and risking your data in a major way. Not a good idea.

No, multi-attach doesn't give you this. It's shared block storage, not a clustered file system that supports shared writes. Maybe you want K8s to manage/setup something like GFS for you?

[2022-06-15 10:34] jbg commented on #449
"playing with fire and risking your data in a major way" is FUD. It's *completely fine* to attach multiple readers (with no writers) in a way that is entirely safe:

* Ensure the filesystem was unmounted cleanly
* Make the underlying block device read-only (not strictly needed, but helps avoid mistakes)
* Mount with `ro,noload` (`noload` is safe because there is no journal to replay — the filesyst

[2022-06-15 11:04] jsravn commented on #449
That's fine, I think you're free to do what you want. I personally wouldn't risk disabling journalling, even read-only, in the general case (due to nodes crashing/EBS's hanging/etc.), but it might work for your particular niche use case as long as data isn't transactional. So it sounds like you're saying just give us shared block storage, let us do what we want on it. I think that's a fair enough

[2022-06-15 11:15] jbg commented on #449
There are no writes to the journal on a read-only mount even if nodes crash, the block storage hangs, or anything else. The only writes that will ever occur on a read-only mount are on startup to replay the journal, *if and only if the filesystem was not unmounted cleanly*.

With extfs there are enormous risks of having multiple readers *if any writer exists*, but (assuming the last read/write mou

[2022-06-15 11:25] jsravn commented on #449
Sorry, deleted my comment because I felt I was going way off topic.

I agree the driver should just focus on the block storage part.

AFAIK there is no "fsType" that would support it right now - they usually all require supporting infrastructure like Redhat DLM for GFS. There is also the question of I/O fencing which multi-attach doesn't support. It's likely more work will have to be done on the K

[2022-06-15 16:22] gtxu commented on #1268
Hi @rrey-aviatrix  Add-on release v1.6.2-eksbuild.0 is now released to fix the support of snapshot with latest snapshot-controller. Please keep using `snapshot.storage.k8s.io/v1` in class defination.

[2022-06-15 22:00] torredil commented on #1248
Hi all, can anyone confirm if they are experiencing this issue with the [latest](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/releases/tag/v1.6.2) version of the driver? The latest release bumps up the csi-resizer to `v1.4.0` and also increases the memory limit in the add-on.

[2022-06-16 00:10] sunghospark-calm commented on #1248
@torredil It seems like the latest with EKS (v1.6.2) is still pointing to csi-resizer v1.1.0 https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/v1.6.2/charts/aws-ebs-csi-driver/values.yaml#L52

[2022-06-16 00:21] torredil commented on #1248
@sunghospark-calm Sorry let me clarify; The EKS add-on version of the CSI driver which was released today is now using csi-resizer `v1.4.0`.  These changes are available in our latest [Helm chart ](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/b05ed2d4fc67e7986cbd026c448b349911908af4/charts/aws-ebs-csi-driver/values.yaml#L52) as well.

[2022-06-16 04:50] steved opened #1278 "Race condition with volume attach limits when new node joins the cluster leads to oversubscribed node"
/kind bug

**What happened?**

I believe this is similar to #1163 (and perhaps even #1258), but distinct enough that I thought it warranted another issue. This may also be the wrong repository, I just encountered it specifically with EKS and the aws-ebs-csi-driver.

When a cluster is scaled up in response to new pods with PVCs and a custom `volume-attach-limit` is set, somehow the restriction is n

[2022-06-16 15:51] bengoldenberg opened #1279 "PVC attached time"
we have an Issue with the timeout of attach a pvc, and we wonder if there is any option to change the default timeout, or to improve the waiting time for the pvc to be attached.

[2022-06-16 22:22] sunghospark-calm commented on #1248
@torredil no worries. Is there a way to test this as EKS addon? I still see v1.6.2 (v1.6.2-eksbuild.0) as the latest available version when I run `aws eks describe-addon-versions`

[2022-06-17 01:36] torredil commented on #1248
@sunghospark-calm Yes! `v1.6.2-eksbuild.0` is the latest version of the EKS addon and it is using csi-resizer `v1.4.0`. Let me know if you upgrade and still run into this problem, thanks.

[2022-06-17 04:58] gkrizek commented on #679
I'm seeing this same thing on EKS 1.20 without much luck resolving. Has anyone on this issue solved this yet?

[2022-06-17 06:24] stijndehaes commented on #1248
We have beeing running csi-resizer `v1.4.0` for about a week. We are still seeing this container go Out of Memory. We have one container with 62 restarts.

[2022-06-17 07:01] stijndehaes commented on #1248
I have opened a ticket on csi-resizer. I think the pod informer might be the culprit of memory blowing up: https://github.com/kubernetes-csi/external-resizer/issues/211

[2022-06-17 07:03] stijndehaes commented on #1248
As we are not using the resizer, I would love to be able to turn of the flag `handle-volume-inuse-error`, would you guys be open to a PR to the helm charts to allows people to set extra flags to all different components?

[2022-06-17 11:46] bwmetcalf commented on #1248
Unfortunately, this won't help when using the EKS add-on as the charts are not exposed.

[2022-06-17 11:51] bwmetcalf commented on #1248
I'm not seeing anything in https://github.com/kubernetes-csi/external-resizer/releases/tag/v1.4.0 that would address the issue at hand.  Have code changes been made to address this particular problem or did the latest EKS add-on release simply increase the memory limits?

[2022-06-17 12:38] gkrizek commented on #679
@wongma7 Have you revisited this at all? I'm having a hard time determining if it's Kubelet or some some EBS CSI component. Our recent error message:

[code]

[2022-06-20 15:30] #1248 closed

[2022-06-20 17:53] gtxu commented on #1279
Hi @bengoldenberg, Would you please provide more information related the issue? Like K8s version, CSI Driver version, using EKS Add-on or deployed by Helm/Kustomize?

If you continuous encounter the timeout and never managed to crate PV/Attach PVC. Please try to confirm if the Driver IAM policy is attached to your cluster, or check if the node-roles are bind to your nodes.

For further information

[2022-06-21 11:18] bengoldenberg commented on #1279
hey,
we are able to create and attach PVC, our problem is that the attachment takes a lot of time and gets timeout, until the next retry the pod is not starting and the pod enters a crash loopbackoff.
We wonder why it might take a long time for the ebs controller to detach and attach the ebs volume to the new node once a pod has rescheduled to another node.

k8s version:  v1.20.11
csi driver versi

[2022-06-22 19:57] #1274 closed

[2022-06-23 15:16] t0rr3sp3dr0 commented on #1136
/remove-lifecycle stale

[2022-06-23 20:20] czomo opened #1287 "Automated way to transfer old volumes to new provisioner"
**Is your feature request related to a problem? Please describe.**
Switching to aws-ebs-csi driver is great however  we are left alone with hundreds of volumes that are handled by kubernetes.io/aws-ebs(old) provisioner. CSI redirects all plugin operations from the existing in-tree plugin to the ebs.csi.aws.com however this is useless when we can't use the benefits of enabling CSI like gp3 or snaps

[2022-06-23 20:21] czomo commented on #1287
/feature

[2022-06-23 22:54] ConnorJC3 commented on #1287
@czomo it's not exactly convenient, but I believe you should be able to manually create a new PV (and if necessary, PVC) that explicitly specifies the old volume by using the same method as [static provisioning](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/static-provisioning)

[2022-06-24 06:23] czomo commented on #1287
interesting, we could
0. Update gp2 to gp3 in aws console(question: can we do it in different order?)
1. patch existing pv retain policy
2. get pv/pvc definition | kubectl neat
3. sed old values with new ones
4. delete old definition of pv/pvc
5. kubectl apply -f new-pv/pvc.yaml

I am a little worried about downtime but few seconds should be okish.
Any other ideas, improvements?

[2022-06-24 19:27] neiljain commented on #1168
we ran into the same issue on kops
`Server Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.6", GitCommit:"ad3338546da947756e8a88aa6822e9c11e7eac22", GitTreeState:"clean", BuildDate:"2022-04-14T08:43:11Z", GoVersion:"go1.17.9", Compiler:"gc", Platform:"linux/amd64"}`

csi driver version used:
provider-aws/aws-ebs-csi-driver:v1.7.0
sig-storage/csi-provisioner:v3.1.0
sig-storage/csi-at

[2022-06-24 20:02] #660 closed

[2022-06-24 23:43] neiljain commented on #1168
when we changed the storage class to set
volumeBindingMode: WaitForFirstConsumer

and also removed mountOptions: tls
as per https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/examples/kubernetes/dynamic-provisioning/manifests/storageclass.yaml#L6

it works

[2022-06-26 14:02] jebbens opened #1288 "Add envFrom property to container specs"
**Is your feature request related to a problem?/Why is this needed**
I would like to add the envFrom property to all of the container specs in the controller.yaml and node.yaml templates. My use case is that I have a single configmap that contains values for http_proxy and no_proxy settings, which can be used for both kubectl or helm applications. Rather than define each of these values individual

[2022-06-26 14:10] jebbens opened #1289 "Remove annotation comment from serviceaccount-csi-controller.yaml template"
**Is your feature request related to a problem?/Why is this needed**
This isn't really an "enhancement", but the following comment should be removed from the serviceaccount-csi-controller.yaml template because 1) it contains an AWS account number, 2) the role name does not need to be "ebs-csi-role", and 3) the example should be in the values.yaml file since the annotation should be applied via the

[2022-06-28 10:53] idanl21 opened #1291 "panic: could not get number of attached ENIs"
/kind bug

**What happened?**

 Hey all!
 im trying to install your Aws-ebs-csi-driver by that guide
 https://docs.aws.amazon.com/eks/latest/userguide/csi-iam-role.html
 created all the roles and policies.

on a quick look at the ebs-csi-node  pod at my k8s env i can see that i get that error from ebs-plugin container :
`I0628 10:44:05.130666       1 metadata.go:85] retrieving instance data from e

[2022-06-28 11:26] z0rc commented on #729
/remove-lifecycle stale

[2022-06-28 21:40] torredil commented on #1273
Hey @Skiertsamba, wanted to thank you for the feedback and let you know that this change has now been introduced as default and is tested by CI.

[2022-06-28 21:40] #1273 closed

[2022-06-28 21:42] torredil commented on #1251
Thank you @olemarkus for helping with promoting the images to GCR. I'll cc you in the PRs.

[2022-06-28 21:42] #1251 closed

[2022-06-28 21:45] torredil commented on #1291
#1237

Hi @idanl21, are you deploying the driver on Nitro instances?

[2022-06-28 21:46] #272 closed

[2022-06-28 23:29] torredil commented on #1181
If you are experiencing a memory issue, upgrade the driver to [v1.7.0](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CHANGELOG.md#announcement)+

[2022-06-28 23:29] #1181 closed

[2022-06-28 23:36] #1227 closed

[2022-06-28 23:37] #1268 closed

[2022-06-29 10:24] idanl21 commented on #1291
@torredil
dont think so, im deploying it on i3.xlarge or i3en.xlarge instances

[2022-06-30 12:15] #1153 closed

[2022-06-30 17:11] torredil commented on #1200
@cpawlyszyn Hey thanks for providing more details on the workflow. I'd appreciate if you could send over the mock-up config and I'll take a look.

[2022-06-30 18:20] #1155 closed

[2022-07-01 14:59] torredil commented on #399
Hi @zerkms, please upgrade to [v2.7.0](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/CHANGELOG.md#v270)+ which likely fixes this issue.

[2022-07-01 17:35] #1014 closed

[2022-07-01 22:40] fzyzcjy commented on #334
Is there any updates? we also see same problem

[2022-07-04 18:53] czomo commented on #1110
/reopen

[2022-07-04 18:53] czomo commented on #1110
/remove-lifecycle rotten

[2022-07-04 23:38] lawliet89 commented on #180
/remove-lifecycle stale

[2022-07-04 23:39] lawliet89 commented on #180
/remove-lifecycle stale

[2022-07-05 07:00] czomo opened #1298 "PersistentVolumes in terminating state after migration"
/kind bug

**What happened?**
I've updated my k8s  from 1.21.12 to 1.22.11 using kops along with adding csi migration. 9 of 125 PV went into `Terminating` state and couldn't attach volume. EBS stayed intact hence I could recover from failure.
Annotation of pv
[code]

PersistentVolume
[code]

Volumeattachment
[code]

Message from pod
[code]
**What you expected to happen?**
After migration all PV sh

[2022-07-05 09:21] olfway commented on #962
/remove-lifecycle stale

[2022-07-05 11:09] pierluigilenoci commented on #180
@rdpsin any news about this?

[2022-07-05 14:39] #1184 closed

[2022-07-05 15:20] rdpsin commented on #180
@pierluigilenoci The driver supports [StorageClass tags](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/tagging.md#storageclass-tagging) since v1.6.0.

[2022-07-05 15:24] torredil commented on #334
Hey @christianhuening @fzyzcjy @vlerenc, can you provide environment details and specify the driver version being used?

As previously mentioned, authorization to get `volumeattachments` is handled by the [node authorizer](https://github.com/kubernetes/kubernetes/pull/58360) so we'll also need to take a look at the controller logs. The `volumeattachment` object should be present and the `spec.node

[2022-07-05 15:43] pierluigilenoci commented on #180
@rdpsin then this should be closed.

[2022-07-05 16:05] rdpsin commented on #180
I agree.

[2022-07-05 16:05] rdpsin commented on #180
Closing this since the CSI driver now supports tagging through StorageClass.parameters since v1.6.0.

[2022-07-05 16:05] #180 closed

[2022-07-05 17:24] dvaldivia commented on #1136
Having support for `arm64` images allows us to use `graviton arm64` instances on AWS EKS which is highly desirable due to the cost savings these instances bring to the table.

[2022-07-05 17:25] torredil commented on #1298
Hey, thanks for raising this up. My understanding is that when deleting a PVC, the corresponding PV gets "released". Since the PV may contain sensitive data, it should not be used again without admin intervention for security reasons- even if a PVC object with the same name/namespace is present.

An admin has two options:
- Make the PV available to everybody - `kubectl patch pv my-pv-name -p '{"sp

[2022-07-05 21:17] czomo commented on #1298
Yeah I got you, I could edit pv PV.Spec.ClaimRef obtained in step 3 of my workaround. Then I wouldn't need to patch it later. And yes this is risky operation, that's why i mention to check it twice.

The thing that is worth to point out is that  faulty pv have `Finalizers:        [[kubernetes.io/pv-protection](http://kubernetes.io/pv-protection)]` instead of `Finalizers:        [[kubernetes.io/pv-

[2022-07-05 22:35] vaskozl commented on #1136
@dvaldivia you don't need to sell Graviton to AWS

Did this not get fixed in a new version of the CSI driver? I thought it wasn't easily fixable due to immutable tags.

[2022-07-06 06:37] albertschwarzkopf commented on #1173
Thank you! I will close this issue.

[2022-07-06 06:37] #1173 closed

[2022-07-06 12:12] cpawlyszyn commented on #1200
@torredil I went back through my testing and found that it was an error on my part that led to the failure to bind. Here are the working YAMLs and workflow that confirmed this behavior is functional as-expected.

Application YAML:
[code]

StorageClass YAML:
[code]

Deletion/patching kubectl commands:
[code]

Application YAML with label selectors on PVC:
[code]

[2022-07-06 15:46] billy98 opened #1299 "Liveness probe failed"
/kind bug

**What happened?**
[code]
This is the event in daemonset ebs-csi-node.
The Liveness check failed. From this log, you can see that one of the pod's ip and port is missing “:”

**Environment**
kubernetes version:
[code]

- Driver version:
[code]

[2022-07-06 19:48] torredil commented on #1200
@cpawlyszyn Glad to hear you were able to get it working. Thanks for the additional insight :)

[2022-07-07 01:49] shinji62 opened #1300 "EBS Controller pod crashing"
/kind bug

**What happened?**
Controller is crashing and panicking,  not sure this is the cause, but our volume are not being able to be reattach again.

[code]

**What you expected to happen?**
Not to crash
**How to reproduce it (as minimally and precisely as possible)?**
Just a lot of bound / unbound from Kubernetes

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use

[2022-07-07 02:25] shinji62 opened #1301 "Volume are not delete on AWS"
/kind bug

**What happened?**
Deleting persistent volume in eks do not delete them in AWS

**What you expected to happen?**
Volume to be deleted in AWS

**How to reproduce it (as minimally and precisely as possible)?**
Create PVC with Dynamic volume and  to delete them  in k8s

**Anything else we need to know?**:

When I check the log he complain about the finalizer, when I check the volume before

[2022-07-07 04:26] billy98 commented on #1299
Liveness probe failed is the event during the container stop process.
I use kubectl get event -n kube-system to see a large number of events and frequent creation and deletion of pods

[code]

[2022-07-07 04:27] billy98 commented on #1299
[code]

[2022-07-07 11:18] sergeymatsak87 opened #1302 "PVC attaching takes much time"
Duplicating case https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1279 as we observe the same issue when detaching/deleting and attaching PVC to a new node takes more than 6 min and it's followed by a timeout

**What happened?**

[code]

EBS CSI Controller logs
Failure to Delete EBS volume after Detach
[code]

**What you expected to happen?**
It should not take so much time for PVC det

[2022-07-07 14:19] torredil commented on #1299
Thanks for providing the events, it gives helpful context, but we want to take a look at the liveness-probe _container logs_  which might give more insight here. Please provide the output of:

- `kubectl logs -n kube-system $(kubectl get lease -n kube-system ebs-csi-aws-com -o=jsonpath="{.spec.holderIdentity}") -c liveness-probe`

- `kubectl logs -n kube-system $(kubectl get lease -n kube-system e

[2022-07-07 18:07] torredil commented on #1302
I believe this is expected behavior, if you terminate your EC2 instance ungracefully (i.e. without safely evicting all of your pods through `kubectl drain`) the pods that are part of a `StatefulSet` will be stuck terminating on the shutdown node and cannot move to a new running node since the kubelet is not available to delete the pods. If there are volumes used by the pods, the `VolumeAttachment`

[2022-07-08 20:11] #1136 closed

[2022-07-11 09:12] tim-sendible opened #1304 "kubectl apply -k github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master no longer works"
/kind bug

**What happened?**
The documentation says to run `kubectl apply -k github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master` or similar. This used to work. Now results in a 404. Example doc in the middle of this page: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/install.md

**What you expected to happen?**
I expect to be able

[2022-07-11 09:40] #1304 closed

[2022-07-11 14:58] czomo commented on #1287
@torredil @gtxu pvmigrate from [replicatedhq](https://github.com/replicatedhq/pvmigrate) have sth that can help ppl to transfer multiple pv at once. It needs some enchantments of course. wdyt?

[2022-07-11 17:18] torredil commented on #1300
Can you provide more details or context to help reproduce this? Is the controller crashing during startup?
Taking a look at the `ebs-plugin` container logs could be helpful:
- `kubectl logs -n kube-system $(kubectl get lease -n kube-system ebs-csi-aws-com -o=jsonpath="{.spec.holderIdentity}") -c ebs-plugin`

[2022-07-11 17:26] torredil commented on #1301
This is intended behavior if `reclaimPolicy: Retain` is specified in your `StorageClass` manifest. See #1071

[2022-07-11 19:41] #1223 closed

[2022-07-12 02:25] shinji62 commented on #1301
@torredil Thanks for the answer but the SC reclainPolicy is Delete as well in the pv/pvc

[code]

[2022-07-12 02:26] shinji62 commented on #1300
Ok I will get the logs as well.

[2022-07-12 05:42] shinji62 commented on #1300
here the current logs [log-for-aws.txt](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/9089826/log-for-aws.txt)

[2022-07-13 00:44] torredil commented on #1301
@shinji62 Thanks for providing the StorageClass manifest. I just ran through the [dynamic provisioning example](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/dynamic-provisioning) and was not able to reproduce this. The deletion of a PVC object bound to a PV corresponding to this driver with a delete reclaim policy causes the [external-provisioner](https://g

[2022-07-13 04:21] shinji62 commented on #1301
the CSI just panic as well
[log-aws-csi.log](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/files/9098900/log-aws-csi.log)

[2022-07-13 12:23] doryer opened #1310 "Support JSON logging using klog library"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like in detail**
Currently, the structure of the logs in aws-ebs-csi-driver is the default string structure and the chart does not control it. for better observability we would like to enable JSON structured logging option for klog library, I would like to define the structure for the log string/JS

[2022-07-13 15:21] Setheck opened #1311 "2.8.1 release fails to pull containers"
/kind bug

**What happened?**
Helm auto upgraded from 2.8.0 to 2.8.1 and containers pulls failed

**What you expected to happen?**
Successful helm upgrade

**How to reproduce it (as minimally and precisely as possible)?**
I guess install the v2.8.1 helm chart?

**Anything else we need to know?**:
Nope

**Environment**
- Kubernetes version (use `kubectl version`):  eks v 1.22
- Driver version: 2.8.

[2022-07-14 00:19] torredil commented on #1311
Hey thanks for raising this up, is there a specific container that is failing? Helm chart `v2.8.1` pulls container images as follows:
[code]
Verified all images listed above are present in the corresponding registry and driver installation with Helm chart  `v2.8.1` works:

- `Install CSI driver v1.9.0 using Helm chart v2.8.1`

[code]

- `kubectl describe deployment ebs-csi-controller -n kube-syste

[2022-07-14 00:32] torredil commented on #1300
Thanks for providing the logs and further clarification. This issue appears to be a duplicate of #1301, do you mind if we close this and continue the conversation there? If you feel that this issue is not a duplicate, please feel free to `/reopen` it. Thanks again for reporting this.

[2022-07-14 00:32] #1300 closed

[2022-07-14 00:46] Setheck commented on #1311
I'll have to try the upgrade again to check.  But interestingly, I think the failed containers where from ecr. I'll re-upgrade and follow up tomorrow

[2022-07-14 01:07] torredil commented on #1301
Thanks for providing the logs. From looking at the stack trace, the `csi-provisioner` sidecar seems to crash due to an unhandled exception [here ](https://github.com/kubernetes-csi/external-provisioner/blob/b67655857d4800483928fe62e17660175bcb6ef0/pkg/controller/controller.go#L1163)when deleting the volume. I suggest reporting this issue in the [external-provisioner](https://github.com/kubernetes-

[2022-07-14 11:26] simwak commented on #1163
Just had a chat with AWS support, he confirmed this issue. This is just a push to prioritize this further. Our system is impaired because of that currently. Enterprise customer with +100k employees.

[2022-07-14 18:27] Setheck commented on #1311
Ok, looks like upgrade to 2.8.1 succeeded without issue. going to go ahead and close this out.
Thanks for taking a look & verifying.

[2022-07-14 18:27] #1311 closed

[2022-07-15 13:56] #1160 closed

[2022-07-18 02:14] kaovilai commented on #1209
/remove-lifecycle stale

[2022-07-18 13:27] torredil commented on #1200
@achetronic Hey, wanted to check in on this again. To be clear: this is supported. One thing to look out for is the fact that K8s uses a default `StorageClass` when it's not specified, so you would have to [patch the default](https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/#changing-the-default-storageclass) `StorageClass` in the cluster to explicitly use the given

[2022-07-19 16:20] torredil opened #1315 "Stop tagging OS/architecture specific images in public ECR"
**What happened?**

- Currently, ECR public contains additional tags for platform and architecture specific images. This adds unnecessary overhead and is undesirable because the main tag is a manifest list of all the possible images; by using this tag the docker daemon will automatically pull the correct image for the local platform and architecture.

<img width="525" alt="Screen Shot 2022-07-19 a

[2022-07-20 02:56] shinji62 commented on #1301
@torredil Pod are not crashing anymore, but my volumes are still not deleted from AWS, finalizer seems removed but the EBS volumes are not delete on AWS.

[code]

[2022-07-20 08:56] shinji62 commented on #1301
@torredil  So I updated the `k8s.gcr.io/sig-storage/csi-provisioner` to `v3.2.1` and now no more crashing, but I think I know why volumes are not deleted, I got a lot of

[code]

I think that because he could not get the volumes information then it;s still thinking that the volume is attached to the node for example for `vol-0b96dcb1662f14af2`

[code]

[2022-07-22 07:19] aleksrosz opened #1316 ""no deletable volume plugin matched" - PV issue with automated delete PV after deleting PVC"
/kind bug

Hi
I created PVC and PV using client-go. Creating works properly.

[code]

[code]

It looks like all of my other PV was created using YAML and created automatically by Kubernetes.
The problem is when PVC and PV are created, and we want to delete them.

How to reproduce:
1. Have PVC and PV on cluster
2. Delete PVC using go-client or cli
3. Describe PV attached to PVC in events you can se

[2022-07-22 15:45] torredil opened #1317 "Improve EBS CSI driver release process"
**What happened?**

- The existing release process involves having to _manually_ build the multi-arch CSI driver container image when promoting to a private ECR staging registry which is both inefficient and prone to human error. Additionally, the image is manually built again at a later step when pushing to public ECR to preserve tags for platform and architecture specific images, #1315.

https:/

[2022-07-22 20:47] shomeprasanjit opened #1318 "Could not detach/attach volumes to ec2 worker nodes - getting "context deadline exceeded" error - k8s 1.22.6 (self managed)"
Could not detach attach/volume from ec2, error listing AWS instances

**What happened?**
Upgraded the cluster from 1.18.8 to 1.22.6. After the worker nodes refresh. all STS pods are in pending state since it's unable to attach and detach the volumes to ec2 instance.

events from consul application pod (STS)
[code]

ebs controller pod

Detach
[code]

Attach
[code]
Interestingly it's referring to a

[2022-07-25 00:34] #1168 closed

[2022-07-25 07:57] prasanjitshome commented on #1318
**Resolution:** coredns svc was having incorrect label with that of coredns deployment. so EP didn't register any of the coredns IP addresses, even though all pods were running. EBS CSI driver was unable to resolve nodes names causing this issue.

i would expect a better error message which can point to resolution failure rather than just `'ProvisioningFailed' failed to get target node` as this al

[2022-07-25 11:06] aleksrosz commented on #1316
My default storage class has "ebs.csi.aws.com" set as provisioner. Storage class specified in variable in the code above has it too.  I created another storageclass and same story:
[code]

[2022-07-25 13:00] amitde69 commented on #1302
is [ReconcilerMaxWaitForUnmountDuration](https://github.com/kubernetes/kubernetes/blob/3f579d8971fcce96d6b01b968a46c720f10940b8/pkg/controller/volume/attachdetach/attach_detach_controller.go#L94) configurable ? is it part of the control plane ?

[2022-07-25 15:11] torredil commented on #1302
@amitde69 [ReconcilerMaxWaitForUnmountDuration](https://github.com/kubernetes/kubernetes/blob/3f579d8971fcce96d6b01b968a46c720f10940b8/pkg/controller/volume/attachdetach/attach_detach_controller.go#L94) is currently not configurable: https://github.com/kubernetes/kubernetes/issues/105341.
The previously mentioned [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2268-no

[2022-07-25 17:53] k1rk commented on #962
/remove-lifecycle stale

[2022-07-25 21:06] speedfl opened #1320 "Provide a way to copy labels from pvc to pv"
**Is your feature request related to a problem?/Why is this needed**

As a user I want to be able to have a selection of label copied from my pvc to my pv when using a StorageClass. This will allow to rapidly identify the purpose of the PV created (environment, project)

When using Kubecost for example, it would allow to better filter the assets and generate reports.

/feature

**Describe the solu

[2022-07-26 12:39] pagarwal-tibco opened #1322 "ebs-csi-node fails to start on windows machine"
/kind bug

**What happened?**
ebs-csi-node fails to start on windows machine. Following are the logs of ebs-plugin container,
[code]

**Environment**
- Kubernetes version (use `kubectl version`): 1.21
- Driver version: 1.6.2

[2022-07-26 15:17] torredil commented on #1322
Have you installed the [CSIProxy](https://github.com/kubernetes-csi/csi-proxy) on your node? Installing this binary is a [prerequisite](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/windows) for using the CSI driver on Windows to perform storage related operations.

[2022-07-26 15:30] ConnorJC3 commented on #1320
This isn't possible via CSI, as there is no way for the driver to specify labels for the created volume. #1190 is about AWS tags which the driver can control. This probably needs to be opened as a feature request on k/k

[2022-07-26 15:33] pagarwal-tibco commented on #1322
@torredil
Thanks for your response. No, I haven't deployed csi-proxy. I could not find a helm chart for csi-proxy. Do you have any links for the same?

[2022-07-26 15:37] ConnorJC3 commented on #1322
@pagarwal-tibco you cannot deploy the CSI-proxy via a helm chart or kubernetes in general because it needs privileged access to the host, and there is currently not privileged containers on Windows.

There are installation instructions on the [csi-proxy github repo](https://github.com/kubernetes-csi/csi-proxy/#installation), or I believe there is an AMI you can use that has the csi-proxy preinstal

[2022-07-26 15:39] torredil commented on #1322
In April we started shipping the [Amazon EKS Optimized Windows AMI](https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-windows-ami.html) together with the [CSI Proxy](https://github.com/kubernetes-csi/csi-proxy), which enables customers to use CSI drivers on Windows nodes.

[2022-07-26 15:41] rdpsin commented on #1320
PV creation is handled by the `external-provisioner` sidecar, not CSI drivers. You should open a feature request on the sidecar (possibly through PVC annotations).

[2022-07-26 17:46] speedfl commented on #1320
Thanks a lot. I will see :)

[2022-07-26 17:46] #1320 closed

[2022-07-26 22:09] torredil commented on #1288
Addressed in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1312.

[2022-07-26 22:09] #1288 closed

[2022-07-26 22:09] torredil commented on #1289
Addressed in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1312.

[2022-07-26 22:09] #1289 closed

[2022-07-27 21:20] jaypipes opened #1326 "Remove `/vendor` directory"
It's no longer 2015 or Go <=1.11, so we should get rid of the `/vendor` directory and just use Go modules.

We recently [did this for iam authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator/pull/463) and it removes a bunch of code from the repository that no longer is required.

[2022-07-28 14:24] rbarabas commented on #1102
Experienced the same with grace time at the default 30s.

[2022-07-28 14:27] rmccarth opened #1327 "Did not find AWS region in node providerID string"
/kind bug

**What happened?**

I have tested this on both Azure AKS as well as a K3d on Ubuntu and I get the same error.

running: `helm install ebs-csi --set region=us-east-2 .` deploys controllers but ebs-csi-nodes go into crashloopbackoff with the following message:

[code]

**What you expected to happen?**

CSI driver successfully deploys the ebs-csi-node pods.

**How to reproduce it (as minim

[2022-07-28 16:18] ConnorJC3 commented on #1327
The `region` helm chart parameter (which sets the `AWS_REGION` environment variable) is only effective on the controller. It is provided for hybrid cloud style scenarios where the controller runs in a separate region or outside of AWS.

Nodes must run inside AWS and thus are expected to be able to access AWS's metadata service. You should configure your driver installation not to run node pods on

[2022-07-28 18:45] rmccarth commented on #1327
Great, thank you for clarifying!

[2022-07-28 18:54] vishal-swarankar-sdl commented on #207
I am also interested in CSI Volume Cloning feature. Is it supported or not?

[2022-07-28 19:33] torredil commented on #207
Currently, EBS doesn't support volume cloning. The driver can add support for cloning if/when EBS adds support for this.

[2022-07-28 21:17] #1179 closed

[2022-07-29 08:30] pagarwal-tibco commented on #1322
@ConnorJC3 and @torredil
Thanks for help. It worked after using latest Amazon EKS Optimized Windows AMI.

[2022-07-29 08:30] #1322 closed

[2022-07-29 11:42] TBeijen commented on #1033
I noticed this error as well, assuming the aws-ebs-csi-driver EKS addon would work out of the box. But unlike other add-ons it does not.

After I added an assumable role and explicitly set that to the add-on, it works.
Don't forget to cycle the controller to have it pick up its updated service account: `kubectl -n kube-system rollout restart deploy/ebs-csi-controller`

Bit of relevant TF:
[code]
D

[2022-07-29 16:02] ConnorJC3 commented on #1267
@amilanoski could you provide a full test case for scenario 1? When testing, I get scenario 2's behavior (using the default EBS key) when specifying `encrypted: "true"`. Are you sure the volume is in the region that your default key is in, because the default EBS encryption key is set per-region.

[2022-07-29 16:06] aaroniscode commented on #1100
/remove-lifecycle stale

[2022-07-29 16:45] #909 closed

[2022-07-29 16:45] #1326 closed

[2022-07-29 17:37] torredil commented on #1200
/close
Please feel free to reply/reopen if you still need help.

[2022-07-29 17:37] #1200 closed

[2022-07-29 17:40] torredil commented on #1101
/reopen
/remove-lifecycle rotten

[2022-07-29 18:12] #1327 closed

[2022-07-29 20:15] wongma7 commented on #393
closing, we have mostly copy/pasted the important parts from cloudprovider-aws into pkg/cloud , so we kind of have achieved goal of unifying, just in the opposite direction. cloud-provider-aws is working on v2 api, someday we might depend on it but it's probably easier to treat this repo's pkg/cloud as source of truth.

[2022-07-29 20:15] #393 closed

[2022-08-02 06:35] dongbin commented on #1261
+1

[2022-08-03 14:34] Shwethamuralikrishnaa opened #1332 "Enable SecurityContext on container level."
**Is your feature request related to a problem? Please describe.**
We are not able to define containerSecurityContext, this causes ebs-csi-driver containers to get flagged by security scanner.

**Describe the solution you'd like in detail**
The chart must support the containerSecurityContext.

**Describe alternatives you've considered**

**Additional context**

[2022-08-03 16:16] rdpsin commented on #1332
/kind feature

[2022-08-04 19:19] ConnorJC3 commented on #1220
I don't think this is suitable to implement in the driver:

1. Internally, the driver is largely built around the idea that 1 kubernetes volume maps to 1 EBS volume - it would be significant effort to overhaul this
2. This breaks `CSINode`'s `Allocatable` tracking, so `kube-scheduler` will have a random chance of scheduling too many volumes on one node and softlocking the cluster
3. What are the i

[2022-08-04 19:22] ConnorJC3 commented on #1191
/remove-lifecycle rotten

[2022-08-05 07:16] jbasement opened #1336 "csi-provisioner is using wrong api endpoint for CSINode call"
/kind bug

**What happened?**
I'm trying to create a PVC based on an SC with `volumeBindingMode: WaitForFirstConsumer` set. Previously I had `--feature-gates=Topology` set to false, which then resulted in the PVC getting created in the wrong zone.
That's why I set  `--feature-gates=Topology=true` on the csi-provisioner. But now the csi-provisioner throws this error

`reflector.go:127] k8s.io/clien

[2022-08-05 09:15] #1147 closed

[2022-08-05 16:28] ConnorJC3 commented on #1336
The driver does not access `CSINode` objects in any way, this is an issue with the [external provisioner](https://github.com/kubernetes-csi/external-provisioner) and you will need to report there: that said, I don't know how much support they'll provide as k8s 1.16 has been EOL since 2020 (!!). Downgrading your version of the provisioner _might_ work.

[2022-08-05 21:11] jbasement commented on #1336
Thanks a lot for your fast reply! I'll try that route and hope downgrading the provisioner version helps.
I'll close this ticket now as it isn't related to aws-ebs-csi-driver.

[2022-08-05 21:11] #1336 closed

[2022-08-07 07:22] Domantas commented on #1033
My role was added fine by AWS, but it started working when I restarted ebs-csi-controller using your command above.

[2022-08-08 17:32] olemarkus commented on #1232
/remove-lifecycle stale

[2022-08-09 07:52] #954 closed

[2022-08-10 12:33] tareksha opened #1338 "Allow modifying IOPS and Throughput after volume creation"
**Is your feature request related to a problem? Please describe.**
Allow modifying IOPS and Throughput of individual gp3 volumes after they are created.

**Describe the solution you'd like in detail**
I would like to specify different IOPS and Throughput for gp3 volumes provisioned via PersistentVolumeClaims. More importantly i would like to have the ability to modify them after the volume is crea

[2022-08-12 17:51] #1255 closed

[2022-08-15 09:00] #1101 closed

[2022-08-15 09:00] #1332 closed

[2022-08-16 01:00] bala-gif commented on #763
Facing same issue... Why no one responds ?

[2022-08-16 01:26] ConnorJC3 commented on #763
@bala-gif (as well as anyone else having this issue), could you please:

1. Provide the driver version (as well as helm chart version if you are installing via helm)
2. Confirm that your driver log contains lines that look like `EC2MetadataError: failed to make EC2Metadata request status code: 404`
3. Identify which of the three methods to setup permissions for the driver you used and describe how

[2022-08-16 06:43] ilanpillemer commented on #1318
I seem to have same issue. I tried changing labels but that didn't appear to work. Which labels exactly did you change to resolve?

[2022-08-16 07:31] SoulKyu opened #1342 "[EKS 1.23] EBS-CSI UnauthorizedOperation while creating PV"
/kind bug

**What happened?**

Provisionner is no't allowed to create pv.

**What you expected to happen?**

Provisionner to provision pv correctly

**How to reproduce it (as minimally and precisely as possible)?**

Create Kubernetes Cluster with terraform using addon :

[code]

**Anything else we need to know?**:
Their is the log attached with this issue :
[code]

[code]

**Environment**
- Kubern

[2022-08-16 08:03] SoulKyu commented on #1342
[code]

adding this work.

[2022-08-16 08:03] SoulKyu commented on #1342
[code]

[2022-08-16 09:40] pagarwal-tibco opened #1343 "Getting error 'InvalidVolume.NotFound'"
/kind bug

**What happened?**
Initially EBS was provisioned by ebs csi driver. But after ec2 machine is replaced by another machine, I am getting an error on pod
[code]

Following are errors in ebs controller pod
[code]

I could see that PV/PVC are in bound state.

**What you expected to happen?**
EBS volume should get mounted

**Environment**
- Kubernetes version (use `kubectl version`): 1.21
- D

[2022-08-16 13:20] myroslavmail commented on #611
same issue, after EKS cluster upgrade from 1.22 to 1.23, my Prometheus pods are not getting "running" status, but constant "ContainerCreating" and error code as one marked here in a head post: "**Warning FailedAttachVolume 116s (x24 over 34m) attachdetach...**"
In addition I do have messages like: "**Unable to attach or mount volumes: unmounted volumes=[storage-volume], unattached volumes=[aws-iam

[2022-08-16 13:45] myroslavmail commented on #611
ok, so here's fast update which resolved my case and hopefully will help someone else :)
I've decided to check logs of CSI driver which I've installed and those were telling me some news and this exactly was the next:
`GRPC error: rpc error: code = Internal desc = Could not detach volume "vol-0a603986e3de23808" from node "i-05a0b3c16b3d50832": error listing AWS instances: "WebIdentityErr: failed t

[2022-08-16 15:11] ConnorJC3 commented on #1343
@pagarwal-tibco if you check via the AWS CLI or Console, does the volume `vol-0610bdf1017a8d7a8` show up? Is it possible it was deleted accidentally via some non-driver mechanism?

[2022-08-16 15:53] pagarwal-tibco commented on #1343
@ConnorJC3
I do not see `vol-0610bdf1017a8d7a8` volume in AWS Console. But I see PV referring to it as shown below.
[code]

[2022-08-16 16:11] ConnorJC3 commented on #1343
@pagarwal-tibco as far as I can tell, that means the volume has been deleted via some mechanism other than kubernetes. Thus, the driver tries to mount the volume but cannot because it no longer exists. I recommend checking your [AWS CloudTrail](https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html) logs to see what deleted the volume. In the unlikely event that the

[2022-08-16 16:37] #1317 closed

[2022-08-16 16:37] #1315 closed

[2022-08-16 16:41] landinged opened #1345 "failed to mount pv: ..../mount: no such file or directory"
/kind bug

**What happened?**

Can't mount pv to pod, because mounting destination (a subpath called 'mount') doesn't exist.
Error details as follow:

Aug 13 23:59:21 ip-10-97-2-xxx kubelet[10201]: I0813 23:59:21.751464   10201 operation_generator.go:626] "MountVolume.WaitForAttach succeeded for volume \"pvc-0832fe64-5a14-425a-87c8-06e3452adcf9\" (UniqueName: \"kubernetes.io/csi/ebs.csi.aws.com^vo

[2022-08-16 18:55] prasanjitshome commented on #1318
Label: `k8s-app=coredns` earlier it was different.

`kubectl describe ep kube-dns -n kube-system` should give you registered coredns IP's.

[2022-08-16 21:57] ConnorJC3 commented on #1345
Have you set the [`kubeletPath`](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/values.yaml#L171) to `/k8s/kubelet/`, as you seem to have a non-standard path?

[2022-08-16 22:28] ilanpillemer commented on #1318
changing the label made no difference. Still getting similar errors to the above. And when I list the EPs they list correctly. I am guessing it is still a DNS error, as its still a timeout for me. Not sure how to analyse the issue further. If I connect to the host or exec into a pod, how I can confirm I can reach the EC2 Api calls?

[2022-08-17 14:21] landinged commented on #1345
Yes, this option has been set for kubelet: --root-dir=/k8s/kubelet/ .

[2022-08-17 14:37] ConnorJC3 commented on #1345
@landinged have you set it in the helm values for the driver deployment, or have you changed references to `/var/lib/kubelet` in the manifests if not using helm?

[2022-08-17 16:09] caseybrown89 opened #1347 "DaemonSet "ebs-csi-node" is invalid"
/kind bug

**What happened?**

Running through https://aws.amazon.com/premiumsupport/knowledge-center/eks-persistent-storage/ to setup the Amazon EBS CSI driver. I ran into an issue executing the following:

I get the following error:

[code]

**What you expected to happen?**

I expect this step to succeed.

**How to reproduce it (as minimally and precisely as possible)?**

Follow the guide to Ste

[2022-08-17 16:56] torredil commented on #1347
Release `v1.11.0` was aborted due to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1346. Please use the latest version which is `v1.10.0`. We are currently working on releasing a new version, `v1.11.1` which will be announced in the [CHANGELOG](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CHANGELOG.md) when complete.

[2022-08-17 18:46] ConnorJC3 commented on #1347
@caseybrown89 major facepalm, it's because the fix from #1333 for this didn't make its way into the kustomize manifests. This somehow slipped through manual testing too. Opening a PR to fix this now.

[2022-08-17 20:57] rubroboletus opened #1352 "CHANGELOG, CHANGELOG, CHANGELOG!!!"
/kind bug

**What happened?**

missing changes description anywhere

**What you expected to happen?**

see changes at least in CHANGELOG!!!

**How to reproduce it (as minimally and precisely as possible)?**

open CHANGELOG and try to find latest changes

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version:

please, reporting this abot

[2022-08-17 21:02] torredil commented on #1352
Hey, thanks for reporting this. Even though GitHub shows a new tag, the release process is not yet complete, hence why we haven't announced any changes in our CHANGELOG. As soon as container images are available in public ECR / GCR we will create a post-release commit and announce the changes in the CHANGELOG.

[2022-08-17 21:28] #1347 closed

[2022-08-18 07:18] olemarkus commented on #1352
I still think the process is wrong. It should set the release as _draft_ and not _prerelease_. Pre-release means alpha, beta, RCs, while draft means the release is work in progress and won't trigger any notification to watchers etc. So I think the github action should be updated accordingly.

[2022-08-18 13:31] torredil commented on #1352
@olemarkus Agree, this has been addressed in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1351.

[2022-08-18 13:47] olemarkus commented on #1352
Lovely :heart_eyes:

[2022-08-18 16:24] pkit commented on #1163
Okay, after browsing through code it looks like it uses a lot of "heuristics" based on some AWS docs and not on the actual truth on the field. Raised a support ticket with AWS to try to find out what's going on and why that information is not available through metadata, for example.

[2022-08-18 20:00] #1352 closed

[2022-08-18 22:27] ilanpillemer commented on #1318
ok. I got it working. I edited the deploy files for the csi controllers.
I set `hostNetwork: true` and `dnsPolicy: ClusterFirstWithHostNet`.

I am using a secondary subnet range for the pods, is that why I needed to do this?

[2022-08-19 13:23] landinged commented on #1345
after updating 'kubeletDir' to '/k8s/kubelet' in DaemonSet 'ebs-csi-node', the issue has been resolved.
thank you very much for your advice.

[2022-08-19 13:23] #1345 closed

[2022-08-19 15:04] torredil commented on #1318
@ilanpillemer Glad to hear you were able to get it working. `dnsPolicy: ClusterFirstWithHostNet` changes the DNS resolver to the cluster's DNS which is an interesting point to note, thanks for providing your fix. For anyone that is experiencing this issue, I recommend enabling the `--aws-sdk-debug-log=true` option to get more insight into whats going on. I've seen this come up a few times and rest

[2022-08-19 16:08] ilanpillemer commented on #1318
Thanks @torredil, restarting the coreDNS deloyment did not work for me. The only thing that worked was the change to use the Cluster's DNS.

[2022-08-19 20:23] ddmunhoz commented on #1163
@pkit please report back, I'm facing the exact same issue

[2022-08-23 09:38] pagarwal-tibco commented on #1343
Ok. Thanks. I will monitor this further.

[2022-08-23 09:38] #1343 closed

[2022-08-23 14:44] rdpsin commented on #1343
What's the `ReclaimPolicy` on the StorageClass? By default, it's set to `Delete`, which will delete the volume when the pod goes down.

[2022-08-23 14:58] nicodeur opened #1357 "Error on ebs-csi-controller pod"
/kind bug

Hi,

**What happened?**
Container `ebs-plugin` failed to run on `ebs-csi-controller` pod.
See error bellow :
[code]
ebs-csi-controller run on a fargate node, strange ?
<img width="1301" alt="image" src="https://user-images.githubusercontent.com/6707556/186190111-d296b8e2-12f1-4151-998e-b95313c728a9.png">

**What you expected to happen?**

`ebs-csi-controller` run without error, and we c

[2022-08-23 16:18] ConnorJC3 commented on #1357
On fargate you need to specify the region manually, as there is no IMDS and k8s doesn't provide the info.

If you installed with the helm chart you can do so by setting the helm parameter `controller.region` (see here: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/values.yaml#L116-L120).

If you installed via another method you can do so by supplying t

[2022-08-23 16:52] ConnorJC3 commented on #1343
Volume deletion only kicks in when the PVC is deleted, not when the pod is stopped/deleted. Because the PVC/PV still exist in this case, the driver should not have deleted the volume (and if it did so, that would be a bug).

[2022-08-23 17:45] jmhwang7 opened #1361 "Invalid attach limit value -1 cannot be added to CSINode object for "ebs.csi.aws.com""
/kind bug

**What happened?**
We upgraded the ebs-csi-driver from version 1.4.0 to 1.10.0. We have an existing alert that tracks when more than 5 pods are stuck in ContainerCreating. This alert fired and upon running `kubectl describe` on the affected pods, we found the following events:
[code]

When we looked into the node, we found that there were a total of 31 pods with 1 volume each scheduled

[2022-08-23 18:21] olemarkus commented on #1357
Out of curiousity, doesn't fargate nodes have topology labels? I see that the CSI driver tries to extract metadata from the providerID, but this one isn't guaranteed to include region or AZ (which is the case with fargate apparently). But topology flags should still be there?

[2022-08-23 18:31] ConnorJC3 commented on #1357
@olemarkus from my understanding a region is a hard requirement on the controller because the driver uses it for determining the AWS API endpoint to hit.

[2022-08-23 18:42] olemarkus commented on #1357
Yeah. It has to know the region, and the way it does this is:
1. AWS_PROFILE env var
2. EC2 metadata API
3. k8s API by looking up the node name set in `CSI_NODE` env var. On the node it then tries to parse out region from `spec.providerID`.

Number 3. Seems to fail on fargate
[code]

CCM does not guarantee region to be a part of `spec.providerID`. Only the instance ID is really required.

But if i

[2022-08-23 18:50] ConnorJC3 commented on #1357
Ah, I see. Is the topology label always there, even on Fargate regions? If so that could be used instead, I can open a PR for it.

[2022-08-23 18:54] olemarkus commented on #1357
As far as I know, CCM always has to set these. It's a part of the node-controller's contract.

[2022-08-23 19:05] ConnorJC3 commented on #1361
I think the issue here is that driver-managed volumes are being "double counted". If the node already has driver-managed volumes attached (for example, because of a driver restart or upgrade), then they should not be counted against the maxium number of volumes (but with the current code, they do).

Independently, there seems to be an off by 1 error with (at a minimum) `m5a.xlarge` instances, as e

[2022-08-23 19:07] ConnorJC3 commented on #1361
@jmhwang7 also, in the meantime, as a temporary fix you can manually supply the max number of volumes, with the helm parameter `node.volumeAttachLimit` (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/values.yaml#L195), or the command line parameter `--volume-attach-limit` on the node.

[2022-08-23 20:14] jmhwang7 commented on #1361
Thanks for the super fast response and the suggested temporary fix @ConnorJC3 ! We'll investigate setting that parameter.

[2022-08-24 00:23] gwvandesteeg commented on #474
to help people find the root cause of this when upgrading from a previous version using the helm chart, the problem arises from the location of the IRSA serviceAccount annotation having changed from.
[code]
to
[code]
Observable symptom is:
```GRPC error: rpc error: code = Internal desc = Could not detach volume "vol-xxxxxxxxxxx" from node "i-xxxxxxxxx": error listing AWS instances: "NoCredentialPr

[2022-08-24 05:30] jhughes2112 opened #1362 "Using fsGroup causes mount to fail"
/kind bug

**What happened?**
I am using Loki for logging.  It likes to use fsGroup 10001 so it doesn't run as root.  Works fine on an older cluster with the in-tree EBS driver, but that's obsolete now, so I upgraded a couple of months ago to aws-ebs-csi-driver, which worked for general purposes.  Once I tried to install Loki, I got a different error and tracked it down to a bug that was fixed on

[2022-08-24 08:06] nicodeur commented on #1357
csi-controller finished by work by :
* deleting `ebs-csi-controller` installed by helm https://aws.github.io/eks-charts
* reinstall it on the aws console `EKS->Clusters->cluster-name->add-on->add-new`. And it's magically works !

Controller is running on a fargate node, and run docker image `602401143452.dkr.ecr.eu-west-1.amazonaws.com/eks/aws-ebs-csi-driver:v1.10.0`
<img width="1013" alt="image"

[2022-08-24 12:47] ialidzhikov commented on #1224
/remove-lifecycle stale

[2022-08-24 14:23] ConnorJC3 commented on #1362
Can you confirm you have set the helm parameter `node.kubeletPath` (https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/charts/aws-ebs-csi-driver/values.yaml#L171) to `/var/snap/microk8s/common/var/lib/kubelet/`.

And if you haven't, can you re-deploy the driver with that change and see if the issue still occurs? The docs really should mention this, but if you have a non-standard kub

[2022-08-24 14:29] ConnorJC3 commented on #1357
Interesting, maybe the addon specifies the region for you? As an update on issues surrounding this:

#1360 is in the pipeline and will prefer EC2 nodes over Fargate nodes when possible for the controller
@torredil has indicated to me offline he is going to PR a fix to grab the region from the topology label, which should hopefully allow the controller to run consistently on Fargate nodes as well

[2022-08-24 14:36] jhughes2112 commented on #1362
With microk8s, /var/lib/kubelet is symlinked to the proper place already.

[2022-08-24 14:40] ConnorJC3 commented on #1362
A symlink won't work here, the driver needs to have the real path mounted (because the kubelet is going to give the driver paths that start with `/var/snap/microk8s/common/var/lib/kubelet/`, and thus the driver needs to have access to that path specifically).

[2022-08-24 14:41] jhughes2112 commented on #1362
I'll be darned, it works.  Thanks for the tip about the helm parameter.  I didn't see that anywhere.

[2022-08-24 14:42] jhughes2112 commented on #1362
It would be good to call that out specifically, since many non-vanilla k8s packages have their own install folders.

[2022-08-24 14:42] #1362 closed

[2022-08-24 17:16] jmhwang7 commented on #1361
We deployed the temporary fix yesterday and so far so good! Every CSINode object has an allocatable count value: `kubectl get csinode -o custom-columns=NODE:.metadata.name,ALLOCATABLE:'.spec.drivers[0].allocatable.count' | grep none` is the command to run to find any problematic CSINode objects.

I found this [doc page](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.html) helpfu

[2022-08-24 18:51] olemarkus opened #1363 "Use kubetest for running the e2e tests"
Right now, the e2e tests runs a version of the CSI e2e suite copyed into this source tree.

I would think a better way would be to run something like this:
[code]

One needs to provide some additional test binary flags pointing to the CSI driver spec. kubetest2 will assume a path by default, but can help out ensuring this is configurable.

kOps already run this for some time now: https://testgrid.

[2022-08-24 22:18] wongma7 commented on #1363
SGTM, we are doing https://kubernetes-csi.github.io/docs/functional-testing.html      'import the in-tree storage tests and run them using go test.'

a low-effort alternative would be to give test/e2e its own go.mod decoupled from driver go.mod, originally I had this don't recall why I ditched this idea (could have been the amount of effort to maintain 2 go.mods but that is totally irrelevant now

[2022-08-25 07:46] olemarkus commented on #1363
Right. So we went for number 1 there "use [Kubernetes E2E Tests](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external), by providing a DriverDefinition YAML file via a parameter." Since we test a broad range of configurations and kubernetes versions, using a fixed k8s version isn't ideal.

The full ginkgo command is
[code]
Where `--storage.testdriver=/home/prow/go/src/k8s

[2022-08-25 13:21] dschunack opened #1364 "Support fixed number of IOPs for IO2 Volumes"
/kind bug

**What happened?**
Hi,

We want to create IO2 Volumes with a fixed number of IOPs. In our Case 4000, but this failed.

[code]

Look like this is not supported yet for IO2 Volumes as it is for GP3 Volumes.

IO2:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/c05f2f8f2c0db46e35e4984091c6ed403a2b43d4/pkg/cloud/cloud.go#L297

GP3:
https://github.com/kubernetes-sigs/aws-ebs-csi-d

[2022-08-25 17:07] jbehrends opened #1365 "Statically provisioned PV/PVC don't set group ownership when fsGroup is defined"
/kind bug

**What happened?**
When following the "[static-provisioning](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/static-provisioning/manifests)" example/method of using the aws-ebs-csi-driver, setting securityContext.fsGroup in your pod or deployment does NOT configure group ownership of the EBS volume mount.  Setting fsGroup when using the "dynamic-pro

[2022-08-25 18:10] jaqfassqlf commented on #1024
I had to delete the `"${OIDC_PROVIDER}:aud": "sts.amazonaws.com"` part from the condition in the IAM role policy to make it work, when using EKS with AWS managed EBS CSI addon. Otherwise the ServiceAccount didn't assumed the IAM role and caused `UnauthorizedOperation: You are not authorized to perform this operation. `

[2022-08-25 19:46] ConnorJC3 commented on #1365
Kubelet is responsible for managing `fsGroup` permissions (there is an optional feature in k8s 1.22+ for the driver to manage it, but we don't opt in), The driver does not interfere in any way or otherwise set permissions on volumes. This bug should be [reported to k/k](https://github.com/kubernetes/kubernetes/).

[2022-08-28 14:11] #1180 closed

[2022-08-28 17:11] #1192 closed

[2022-08-29 07:20] moogzy opened #1368 "Support additional leader election flags for csi-provisioner and csi-attacher"
**Is your feature request related to a problem?/Why is this needed**

We presently observe an intermittent problem with etcd writes in our EKS clusters which cause the csi-provisioner and csi-attacher to lose their lease and subsequently crash. The lease duration and renewal period is too tight and is exceeded upon a single etcd write deadline being exceeded (7s)

These two containers have the fol

[2022-08-29 07:48] moogzy commented on #1368
Closing this for the moment as the flags appear to be `time.Duration` objects in Go. I'll figure out what the path forward is there first.

[2022-08-29 21:31] joshbranham commented on #1365
@jbehrends were you able to confirm any behavior here? I am seeing the same thing, specifically with just using a raw `awsElasticBlockStore` volume on a Deployment and `fsGroup`. Previously this all worked fine with in-tree CSI but now with `aws-ebs-csi-driver` I am hitting permission issues.

[2022-08-30 02:19] moogzy commented on #1368
Ok scrap that - it accepts a format that `time.Duration` parses. Thus passing in the appropriate Nanoseconds format as an Int works.

Example:

[code]

Why Nanoseconds? The base format for `time.Duration` is in ns so if you just pass in the raw seconds it treats it as 15ns.

[code]

The plan would be to take in a human readable format in "SECONDS" and convert that to Nanoseconds for appropriate pa

[2022-08-30 21:02] ConnorJC3 commented on #1365
@joshbranham @jbehrends did some further digging on this, and I don't think it's a kubelet bug but rather intentional feature. The kubelet refuses to use the `fsGroup` if the volume doesn't specify an `fsType`, and the static provisioning examples don't (see https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L405-L436). If this is what is affecting you, you'll see t

[2022-08-30 21:04] joshbranham commented on #1365
I can confirm setting `fsType` on the volume and `fsGroup` on the `securityContext` did fix my issue.

[2022-08-31 03:52] yizha opened #1369 "Unable to get klog.V(x) logs from k8s.io/mount-utils even cli flag --v=5 is set."
/kind bug

**What happened?**
Unable to get klog.V(x) logs from k8s.io/mount-utils even cli flag `--v=5` is set.

**What you expected to happen?**
After setting `--v=5` logs we should be able to see all V(x) logs from k8s.io/mount-utils.

**How to reproduce it (as minimally and precisely as possible)?**
1. Modify the ebs-csi-node daemonset, for the ebs-plugin container change/add cli flag `--v=5`,

[2022-08-31 12:52] abencomoc commented on #869
/reopen

There is an increased interest of users to have this feature available. Reopening the request...

[2022-08-31 13:00] abencomoc commented on #1100
Similar request was open to add support for EBS Fast Snapshot Restore on the ebs csi driver, issue #869
Linking here for tracking.

[2022-08-31 17:16] k1rk commented on #1032
/remove-lifecycle rotten

[2022-09-01 02:45] yizha commented on #1368
golang time.Duration supports various time format, like '20s', '1m30s' etc, when there is no unit after the number it is parsed as nanosecond. Details here https://pkg.go.dev/time@go1.19#ParseDuration.

Basically in code you can define the flag like this which is more human friendly
[code]

And pass a human friendly time.Duration format (with unit) when setting the flag on cli,
[code]

In helm cha

[2022-09-01 16:02] moogzy commented on #1368
@yizha you're correct, I saw that in the flag.Duration docs and tested it in Go Playground but was getting a failure. Thus the proposal above.

This simplifies my request - I'll send a PR to update the chart to add the flags and take in a string format that is supported by time.Duration.

Thanks.

[2022-09-01 17:36] moogzy commented on #1368
PR out for review --> https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1371

As I'm a first time contributor to this repo there are a few extra hurdles to get over... but shouldn't take long :)

[2022-09-01 18:33] torredil commented on #1368
@moogzy I thank you for your contribution. If you have any questions I would be more than happy to help, but it seems like you have it all figured out :)

[2022-09-02 06:55] olemarkus commented on #1363
I had a look at the various e2e suites we have in this repos and:
* e2e-kubernetes: this one is trivial to migrate to kubernetes2-tester-ginko and can then use the upstream test binaries
* e2e-upgrade: I am not sure how long you will need to run this one. kOps forces migration as of Kubernetes 1.24 so at some point it will not be possible to run these anyway. Kubernetes 1.25 has the in-tree driver

[2022-09-02 14:54] #1369 closed

[2022-09-02 21:53] jlubins opened #1372 "error generating accessibility requirements: no topology key found on CSINode"
/kind bug

**What happened?**
Hi all, I recently upgraded my EKS cluster to 1.23, installing the drivers and doing all of the required permissions and service account tasks beforehand. My existing gp2 EBS volumes are not working out of the box, maybe to do with having to migrate them? Worse, the gp3 storage class that I create isn't working either. I followed this [guide](https://aws.amazon.com/pr

[2022-09-03 00:59] torredil commented on #1372
Hey thanks for reporting this. Are you using taints? first thing that came to mind here is https://github.com/aws/containers-roadmap/issues/1706. You are one step ahead of me as I was going to suggest setting: `tolerateAllTaints: true`.
- Lets confirm the config looks as we would expect by providing the output of: `kubectl -n kube-system get daemonset ebs-csi-node -o yaml | grep tolerations -C 3`.

[2022-09-04 14:26] jlubins commented on #1372
Thank you for getting back to me so quickly!

Interesting, the same error seems to be given in [aws/containers-roadmap#1706](https://github.com/aws/containers-roadmap/issues/1706). I'm not trying to use taints, and I don't believe anything configured on the cluster should be automatically setting them, but I suppose I was pretty desperate to try anything that was giving others similar problems and

[2022-09-05 08:40] mstefany commented on #1264
/remove-lifecycle stale

[2022-09-05 10:24] aashishgoyal246 commented on #679
In my case, pod stuck in Init state after migrating from in-tree plugin to EBS CSI, I followed this doc - https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/install.md#migrating-from-in-tree-ebs-plugin and did same steps, but got these logs -

Sep 05 10:16:42 ip-10-222-101-237.fcinternal.net kubelet[8233]: E0905 10:16:42.916187    8233 nestedpendingoperations.go:301] Operation

[2022-09-05 12:30] jyotibhanot opened #1373 "How to add custom tags while creating pvc"
I am trying to add two custom tags while creating the volumes team_name and bussiness_unit. How can I add this tag using helm chart

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/charts/aws-ebs-csi-driver

[2022-09-05 12:31] jyotibhanot commented on #1261
@achetronic : Is this related to adding custom tags?

[2022-09-05 15:45] ddmunhoz commented on #1163
@jortkoopmans we also have the same issue as yours, as a temporary workaround, we deployed the CSI driver using the helm chart and set --volume-attach-limit=XX.

This will change the limit for all nodes/instance types in your cluster.

To test it out first, change it manually on the csi-driver daemon set.

[2022-09-05 15:46] pkit commented on #1163
@jortkoopmans it looks like it's exactly #1278 I've tested it too. It's always the last two pods that fail if scheduled dynamically one after another. Essentially it's a deal breaker for any dynamic allocation of pods.

[2022-09-05 15:48] pkit commented on #1163
@ddmunhoz as you can see from #1278 it does not help at all. Pods are still stuck.

[2022-09-05 16:19] #1373 closed

[2022-09-06 10:49] achetronic commented on #1261
Hello there,

This is about tagging the snapshots on the provider when creating a VolumeSnapshot CR. The point is that when you destroy a volume, it is possible to create a PVC from the Snapshot, but how do you identify the snapshot you need when destroyed the volume in the cloud and no tags to in the Snapshot? So this feature could solve that problem

[2022-09-06 11:55] xiaolin310 opened #1374 "Does one ec2 instance only can bind one ebs volume ?"
I find this in the doc,
https://kubernetes.io/docs/concepts/storage/volumes/

What if I want to mount two more ebs volumes with one ec2 instance ?

/triage support

[2022-09-06 13:36] torredil commented on #1372
@jlubins It appears `tolerateAllTaints: true` was not set. Did you re-deploy the chart after modifying the value?
`helm upgrade --install aws-ebs-csi-driver --namespace kube-system ./charts/aws-ebs-csi-driver --values ./charts/aws-ebs-csi-driver/values.yaml`.

Please confirm that the driver is running on the node and provide the output of: `kubectl describe node ip-172-31-21-210.ec2.internal`. The

[2022-09-06 16:40] jlubins commented on #1372
You know, I think I may have deployed with Helm incorrectly. I've since redeployed with Helm as you described: pulling and untarring the chart, as well as manually changing `tolerateAllTaints` in the values.yaml that the chart comes with. Now everything is working, including the old gp2 volumes!

However I did it last, I think I downloaded it directly from the helm repo, then created a values.yaml

[2022-09-06 16:40] #1372 closed

[2022-09-06 19:06] torredil commented on #1264
Hi @mstefany, thanks for reporting this. My understanding is that this is not a CSI driver bug; bind mounting `/var/lib/kubelet` is [not intended behavior](https://github.com/kubernetes/kubernetes/issues/105323#issuecomment-1126364641). I would suggest changing the Kubelet dir directly. In doing so, be sure to configure the new `kubeletPath` in the Helm chart: https://github.com/kubernetes-sigs/aw

[2022-09-06 23:57] jmhwang7 commented on #1163
We run and manage our own k8s clusters on top of EC2 instances, but we run the aws-ebs-csi-driver to manage ebs volumes.

We discovered a pretty gnarly bug in 1.10: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1361 . After setting the `volume-attach-limit` as suggested in that issue, we started seeing exactly what @jortkoopmans detailed in this comment: https://github.com/kubernete

[2022-09-07 10:03] pkit commented on #1163
@jmhwang7 nothing got out of there, they provided the exact "calculation" for nitro volumes that is already used in the driver.
See their answer below:

[2022-09-07 11:19] pkit commented on #1258
@diranged it also reports always zero in `describe`:

[code]
This is a mess but authors say that you should look only at `csinode`:
[code]

[2022-09-07 11:22] pkit commented on #1163
@jmhwang7

What I'm seeing is that calculation is much more complex than "28 for Nitro", so suggest trying to lower the number of volumes to something like 23 (as naturally all our `csinode` objects are 25 max right now on Nitro)

[2022-09-07 11:22] jortkoopmans commented on #1278
My conclusion from discussion in #1163 is that my situation is highly likely to be identical to this issue. Given the excellent reproducibility described by @steved , working this issue is probably easier (as opposed what seemingly is a mix of issues in #1163 )

My environment;
[code]
`Driver version:  1.11.2 (and using backwards compatibility mode for kubernetes.io/aws-ebs provisioner)

[2022-09-07 11:33] pkit commented on #1163
@jortkoopmans yup, but right now my ops want to go even further and limit total number of pods on a node. That's how much of a clusterfuck this one is...

[2022-09-07 15:58] xiaolin310 commented on #1374
Thank you for your reply, I think I misunderstood that section.

[2022-09-07 15:58] #1374 closed

[2022-09-07 21:58] jbehrends commented on #1365
Sorry, hadn't gotten a chance to test this till now.  Also verified that setting "spec.csi.fsType" to ext4 fixes the issue.

[2022-09-07 22:42] jbehrends commented on #1365
Opened a PR to update the static-provisioning example as @ConnorJC3 had suggested.

[2022-09-08 14:03] torredil commented on #1258
The Kubelet populates a `CSINode` object for the CSI driver as part of Kubelet plugin registration using the `node-driver-registrar` sidecar container. The correct volume attach limit is **only** reported via this `CSINode` object. You can view the `CSINode` "Allocatables" count with `kubectl describe csinode insert_node_name_here`. My understanding is that the `attachable-volumes-aws-ebs` number

[2022-09-08 14:46] wmesard commented on #1365
It's certainly current behavior, but is it intentional? The volume is mounted at the point where `supportsFSGroup()` [is called](https://github.com/kubernetes/kubernetes/blob/0e54bd294237e8fc3e0f60f3195353f7c25e8a4c/pkg/volume/csi/csi_mounter.go#L291). Instead of looking at the spec, couldn't `csiMountMgr.SetUpAt()` look at the actual volume to get its fsType?

It seems weird/wrong to force the us

[2022-09-08 15:02] ConnorJC3 commented on #1365
@wmesard my understanding is that the `external-provisioner` sidecar is responsible for the "default fstype" magic. Thus, from kubernetes's side the volume really doesn't have an `fsType` set, the driver only sees one because the external provisioner slips one in when it calls the driver.

@gnufied good catch, opening a PR for that.

[2022-09-08 15:49] #1368 closed

[2022-09-08 22:50] moogzy commented on #1368
Thank you @torredil @ConnorJC3 @rdpsin

I couldn't find a common cadence to releases. What kind of eta should I be expecting for a chart release containg this changes?

[2022-09-09 09:37] InsomniaCoder opened #1378 "Support an ability to have initContainer for checking required permissions"
**Is your feature request related to a problem? Please describe.**

For `ebs-csi controller` to be able to provision volumes, it needs to be able to interact with AWS API.

In our current set up, we are using [kiam](https://github.com/uswitch/kiam) to Integrate our Kubernetes clusters with AWS IAM.

**Problem**

We are creating multiple Kubernetes clusters from scratch in a daily basis. There are

[2022-09-09 14:36] sok1234 commented on #1258
@torredil I've set volume limit on the csi driver to **100** and tested on an EKS 1.23 cluster with a t3.xlarge node and I couldn't attach more than 23 volumes (not even 25).

describe node shows **25**:

[code]

describe csinode shows **100**

[code]

I'm using **aws-ebs-csi-driver-2.10.1** helm chart and node is running **v1.23.9-eks-ba74326**.

[2022-09-09 14:53] torredil commented on #1258
@sok1234 The `attachable-volumes-aws-ebs` count displayed when running `kubectl describe nodes` is not relevant in any way. The `CSINode` object `Allocatables` property is what you want to be looking at, which correctly reports the number you've set.

My understanding is that t3.xlarge instances [support a maximum of 28 attachments](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits

[2022-09-09 21:12] torredil commented on #1378
Sounds good to me, feel free to open the PR 👍

[2022-09-09 21:30] torredil commented on #1368
@moogzy Previously, we relied on the judgement of maintainers to release new versions. Moving forward, we would like to stick to quarterly releases but would love to hear your thoughts / feedback on the subject.

[2022-09-10 02:06] krisatverbidio commented on #1291
This happened to me when I was using a patched version of kube2iam to disable sensitive metadata. It was preventing the `/{version}/meta-data/network/interfaces/macs/` endpoint from being passed through. Resolving that issue made this error go away.

[2022-09-10 05:17] olemarkus commented on #1368
@torredil Are you planning anything soon? Given the amount of PRs merged lately, I was waiting for a new release before doing the next kOps, but if nothing is planned in the near future, we'll just carry on.

[2022-09-12 10:01] pquentin commented on #1220
@almson It's not true, AWS even documents it in https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/raid-config.html:

[2022-09-12 11:59] sok1234 commented on #1258
@torredil the instance has 4 ENIs.

If I understand correctly, the total available attachments are calculated as: (Total - [ENIs] - [root EBS volume]). That gives 23 volumes in this case which is exactly what I get.

It looks like the instance type is limiting the attachable volumes which makes the `--volume-attach-limit` useful only for values lower than the default. Is there any way around it or

[2022-09-12 14:03] torredil commented on #1258
@sok1234 Your calculation is correct and I would expect to see an attachment limit of 23 (as reported) given the instance has 4 ENIs. The max number of attachments is limited by the instance type.

By default, the CSI driver parses the instance type and decides the volume limit, but this is only a rough approximation and not accurate in some cases. Specifying the volume limit via `--volume-attach-

[2022-09-12 14:32] torredil commented on #1368
@olemarkus I think we should plan to release new images once we work through some of the open PRs. It would be nice to see https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1335 in the next release. As far releasing a new Helm chart version, I would say within the next few days.

[2022-09-12 19:02] olemarkus commented on #1368
Sounds good

[2022-09-12 19:09] MurphyPuppy opened #1382 "Clarify Release Cadence and Support"
I've seen some discussion on this in #1368, but I'd like to ask for a formal policy on this that us users can count on.

Firstly, is there an official release cadence? How often can we expect releases? I see @torredil mentioned quarterly releases, but that seems very very slow to me - do we really have to wait months to get the latest bugfixes?

Secondly, and more importantly: what is the official

[2022-09-12 20:57] #1364 closed

[2022-09-13 22:29] #1261 closed

[2022-09-13 23:12] torredil commented on #1363
@olemarkus that sounds good to me, agree with merging `e2e-upgrade` and `e2e` into a single module for now since the test is still relevant. This work is a big step in the right direction and helps alleviate the pain associated with upgrades, also unblocks #1341 and lets us run CI in 1.25 since we can self-manage the driver in kOps [v1.25.0-beta.1](https://github.com/kubernetes/kops/releases/tag/v

[2022-09-13 23:23] torredil commented on #1365
Closing this now since #1377 has been merged.

[2022-09-13 23:23] #1365 closed

[2022-09-15 00:15] danports commented on #334
Is there a workaround for this? Deleting the affected pod didn't help. The `volumeattachment` object doesn't exist in my case.

[2022-09-16 04:54] moogzy commented on #1368
@torredil for my knowledge kOps relates to the helm chart release?

This is dependent on the north star you want to aim for and where your risk tolerance sits for bundling `n`changes into a release IMHO. If there hasn't been a regular release cadence then starting somewhere/anywhere (>= 1 month) is a rough starting point. Once you start hitting that consistently then considering whether it needs t

[2022-09-16 08:41] bcha opened #1390 "helm fsGroupPolicy patch fails with immutable field"
/kind bug

**What happened?**

Upgrading with helm..
[code]
...results in `Error: UPGRADE FAILED: cannot patch "ebs.csi.aws.com" with kind CSIDriver: CSIDriver.storage.k8s.io "ebs.csi.aws.com" is invalid: spec.fsGroupPolicy: Invalid value: "File": field is immutable`

**What you expected to happen?**
Smooth upgrade.

**How to reproduce it (as minimally and precisely as possible)?**
Upgrade from he

[2022-09-16 11:39] z0rc commented on #1390
Caused by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1377

[2022-09-16 12:49] ConnorJC3 commented on #1390
Hi all, sorry we didn't catch this!

Firstly, if you want to upgrade to helm chart 1.11.0, you can do so by pre-deleting the `CSIDriver` object, for example with `kubectl delete csidriver ebs.csi.aws.com`. This won't affect existing volumes, but it will prevent the driver from responding to future requests (similar to if the driver container had crashed), so follow it with an upgrade.

If you can'

[2022-09-16 12:50] ConnorJC3 commented on #1390
cc @olemarkus I know you were going to update the kops version of the addon soon, you'll either need custom logic to replace the `CSIDriver` or opt to use the old version on existing clusters.

[2022-09-16 14:03] torredil commented on #1382
Hi @MurphyPuppy 👋

How does monthly release and bi-weekly Helm chart release sound? Starting with `v1.12.0` we plan to support the latest and n-1 version to give users some time to plan for upgrades, appreciate the feedback.

[2022-09-16 15:13] torredil commented on #1382
@MurphyPuppy We need to patch all of the sidecar containers before releasing a new add-on version, then we can work on 1.12.

[2022-09-16 17:52] jscaltreto commented on #1220
Another reason to support this is to allow for volumes which exceed the maximum size for EBS. Most volume types are limited to 16TiB, for example, so it would be nice to be able to combine EBS volumes to create larger Kubernetes volumes.

[2022-09-20 12:15] asahnovskiy-deloitte opened #1393 "After deleting the aws-ebs-csi-driver to PVC still will add wrong annotations"
/kind bug

**What happened?**
I installed aws-ebs-csi-driver via helm chart. Tested app and removed.  Now when I try to create PVC  with another StorageClass (manually or when I install other app via helm) all PVC have
 annotations:
    volume.beta.kubernetes.io/storage-provisioner: ebs.csi.aws.com
    volume.kubernetes.io/storage-provisioner: ebs.csi.aws.com

and I get the issue:
waiting for a vo

[2022-09-20 13:25] grobbie commented on #1166
/remove-lifecycle-rotten

[2022-09-20 13:59] ConnorJC3 commented on #1393
Hi @asahnovskiy-deloitte. It sounds like you are still using a StorageClass setup for use with the EBS CSI Driver. While uninstalling will delete any StorageClasses that we created, it will not delete SCs that you created for the driver. Make sure to delete any SC with the `provisioner` field set to `ebs.csi.aws.com`.

You will need to refer to the documentation of whatever new driver you are usin

[2022-09-20 14:29] asahnovskiy-deloitte commented on #1393
@ConnorJC3  I have
kubectl get sc
NAME                      PROVISIONER             RECLAIMPOLICY   VOLUMEBINDINGMODE      ALLOWVOLUMEEXPANSION   AGE
gp2                                  kubernetes.io/aws-ebs   Delete          WaitForFirstConsumer   false                  2d16h
gp2-encrypted (default)   kubernetes.io/aws-ebs   Retain          Immediate                     true                   6h

[2022-09-20 14:34] asahnovskiy-deloitte commented on #1393
k describe pvc test-pvc
Name:          test-pvc
Namespace:     default
StorageClass:  gp2-encrypted
Status:        Pending
Volume:
Labels:        app=test-pvc
Annotations:   volume.beta.kubernetes.io/storage-provisioner: ebs.csi.aws.com
               volume.kubernetes.io/storage-provisioner: ebs.csi.aws.com
Finalizers:    [kubernetes.io/pvc-protection]
Capacity:
Access Modes:
VolumeMode:    Files

[2022-09-20 14:44] ConnorJC3 commented on #1393
This is probably due to CSI Migration. Kubernetes is moving away from in-tree volume plugins, and thus redirecting the old in-tree requests to their CSI Driver equivalent: https://kubernetes.io/blog/2021/12/10/storage-in-tree-to-csi-migration-status-update/

If you are on EKS, the relevant documentation is here: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi-migration-faq.html (in short,

[2022-09-20 19:28] #1393 closed

[2022-09-20 20:13] #1378 closed

[2022-09-20 20:34] dmitry-mightydevops opened #1395 "csi-attacher continuous errors in log > failed to detach: persistentvolume not found"
/kind bug

**What happened?**

- I upgraded eks cluster to 1.21 -> 1.23
- I had around 140 PVCs in the cluster
- I upgraded ebs csi driver helm chart from 2.6.9 to 2.11.1
- I have issued `k delete pvc, k delete pv` commands for several PVCs
- I have manually removed AWS EC2 volumes listed below via GUI (as my AWS IAM role had no policy `arn:aws:iam::aws:policy/service-role/AmazonEBSCSIDriverPolicy

[2022-09-22 04:59] yuriydzobak opened #1396 "provisioner panic"
/kind bug

**What happened?**
Sometimes the controller exit with status 1. I tied to increase resource remove limits, but it didn't help

Log panic
[code]
**What you expected to happen?**
When the panic happened and when new PVC create and PV has around 50 volumes with status `Available` it do not attach into PVC the controller is creating a new one and it can create infinity count PV
[code]
I use

[2022-09-22 14:00] torredil commented on #1396
The [external-provisioner](https://github.com/kubernetes-csi/external-provisioner) sidecar seems to crash due to an unhandled exception [here](https://github.com/kubernetes-csi/external-provisioner/blob/b67655857d4800483928fe62e17660175bcb6ef0/pkg/controller/controller.go#L1163). I would advise reporting this upstream, but I believe this _may_ have been fixed in `v3.2.1`, which needs to be [update

[2022-09-22 14:02] poojaac opened #1397 "aws-ebs-csi-driver Error: ImagePullBackOff on the windows nodes"
/kind bug

We have enabled aws-ebs-csi-driver through helm chart and since we have mixture of linux and windows nodes in our cluster, `enableWindows` value is set to true. But the daemonset is failing to run on the windows nodes and when describing the pod, we got to know that image itself is failed to pull on the windows node.

**Error - image operating system "linux" cannot be used on this platf

[2022-09-22 14:20] ConnorJC3 commented on #1397
@poojaac Hello, thank you for reporting this issue! I am not able to reproduce this issue, can you provide more information about your kubernetes setup, and perhaps a set of minimal reproduction steps if possible?

Our images use a manifest list, which will cause the container engine (docker/containerd/etc) to automatically pick the appropriate image for the local environment. We currently support

[2022-09-22 14:38] poojaac commented on #1397
We have security restrictions which blocks us from pulling the open source images in the EKS cluster. So we first pull the image into the ECR and then use it.

We are pulling the image **k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.11.3** and using the same in the values.yaml.

Please confirm if this image is correct for both linux and windows

[2022-09-22 14:47] ConnorJC3 commented on #1397
@poojaac that is the correct image (alternatively, you can use `public.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver:v1.11.3`), but some tools will not correctly replicate mutli-arch images. `docker pull` followed by `docker push` has this limitation where it will only push and pull images of the OS docker is running on.

You can check whether or not your image was correctly mirrored by running `docke

[2022-09-22 15:04] poojaac commented on #1397
When inspected the pulled docker image. Below is the output
{
        "schemaVersion": 2,
        "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
        "config": {
                "mediaType": "application/vnd.docker.container.image.v1+json",
                "size": 2169,
                "digest": "sha256:dc876a9bf689987d16d71ed5d45c956d331c9461504add786f5699ba1eb776e7"

[2022-09-22 15:09] ConnorJC3 commented on #1397
That is a linux-only image, as `docker pull` will only pull the image that matches your local OS and cannot be used to mirror multi-arch images like ours. You will need to use a tool that supports such images like `crane` (see my previous comment).

[2022-09-22 15:13] poojaac commented on #1397
@ConnorJC3 Sure, will consider this. Thanks for the hint

[2022-09-22 18:09] wongma7 commented on #1122
Looks like we should be implementing a resolver so that the endpoint is set to AWS_EC2_ENDPOINT iff service is EC2 as documented under https://docs.aws.amazon.com/sdk-for-go/api/aws/endpoints/ "Using Custom Endpoints". In that example they set the endpoint to s3.custom.endpoint.com iff service is S3.

[2022-09-26 08:17] #1396 closed

[2022-09-26 13:41] ConnorJC3 commented on #1395
Delete any PV/PVC that references a volume that was deleted through a mechanism external to the driver. You might need to `--force` delete them.

That's not a file, it's a `volumeattachment` object. Look at "Events:" under `kubectl describe volumeattachments.storage.k8s.io csi-b59abf89e00162a956ee449cd5526d8a1ea8194663873082c335581cb12da076`.

[2022-09-26 15:24] #1357 closed

[2022-09-26 15:53] #1102 closed

[2022-09-27 19:56] ankitjain28may commented on #1166
Any updates on this issue, we are also facing the same issue where it mounts on the node volume instead of pvc/ebs volume. Also ebs-csi-driver misses the`NodeStageVolume` events and directly calling `NodePublishVolume` events resulting in the node volume mount issue in case the unmount got failed/timedout.

[2022-09-27 22:46] euroelessar opened #1402 "Support for multi-regional kubernetes clusters"
**Is your feature request related to a problem? Please describe.**
We have few k8s clusters spanning across multiple regions, and it is currently impossible to deploy `aws-ebs-csi-driver` there as::
1. controller supports exactly one region (making it impossible to point it to two regions)
2. controller hard codes driver name (making it impossible to run two independent versions of it)

**Describe

[2022-09-28 05:42] olemarkus commented on #1363
Just to update on this one. I am piloting a similar change in the FSx driver repo. The stuff there is mostly copied from this repo, yet slightly simpler. Once that works, I'll try to do the same here.

[2022-09-28 14:51] z0rc commented on #729
/remove-lifecycle stale

[2022-09-28 23:24] KlwntSingh opened #1405 "Does ebs csi driver support Windows Server 2022?"
/triage support

[2022-09-29 00:32] KlwntSingh commented on #1397
@ConnorJC3 Please can you please confirm there is no support for windows Server 2022 at this point?

[2022-09-29 17:57] torredil commented on #1405
Currently, the following Windows OS versions are supported:
[code]
We should consider building for `ltsc2022` as well https://github.com/aws/containers-roadmap/issues/1710.

[2022-09-29 19:15] namgk commented on #214
we've got the same issue running k8s 1.23

``
failed to provision volume with StorageClass "gp2": rpc error: code = Internal desc = Could not create volume "pvc-c7610d24-aa0c-42ca-bf23-f07b0b06139f": could not create volume in EC2: RequestCanceled: request context canceled caused by: context deadline exceeded
``

[2022-09-29 21:01] KlwntSingh commented on #1405
Thank you for your answer!

[2022-09-29 21:01] #1405 closed

[2022-09-30 02:30] leftluoyi commented on #1024
Saved my day!!

[2022-10-02 17:39] sharif997 commented on #214
I am facing the same issue , any luck solving it ?

[2022-10-02 19:14] DerekTBrown commented on #1338
@rdpsin I am wondering if this feature could be implemented using a custom resource instead:

1.  The CSI controller would implement a custom resource called `EBSVolumeParameters` which would contain the mutable AWS-specific parameters of EBS volumes (IOPS, Throughput, Storage Type).

2. Each EBS `StorageClass` would point to a `EBSVolumeParameters` object, which would define the parameters for th

[2022-10-03 14:41] ConnorJC3 commented on #1397
@KlwntSingh not as of right now, but see PR #1408 where we're adding support

[2022-10-03 16:36] rdpsin commented on #1338
Yes, we've thought about using CRDs this way. I think there a couple of challenges:

1) This would be EBS specific; will require creating new sidecars.
2) More egregiously, the sidecar will not have any context about which PVC object you want to modify. For example, both PVC A and PVC B would use the same StorageClass referring to `EBSVolumeParameters` C. Now suppose you want to update the volume

[2022-10-03 18:06] DerekTBrown commented on #1338
I agree this is less-than-ideal.

However, a bespoke implementation might be a good way to demonstrate a broader need to the storage SIG.

I am not sure I understand this limitation- it seems like the controller/sidecar could perform a "join" from `EBSVolumeParameters` -> `StorageClass` -> `PVC` to figure out what it needs to update?

[2022-10-04 20:29] #1382 closed

[2022-10-05 09:51] mhobbs812 opened #1415 "Helm chart upgrade 2.11.1 --> 2.12.0 removes entire deployment."
/kind bug

**What happened?**
All the components related the aws-ebs-csi driver provider by the helm chart are gone.

**What you expected to happen?**
I expect to be able to track the major version of the helm chart. Now everything deployed in my cluster is b0rked because it can't use EBS.

**How to reproduce it (as minimally and precisely as possible)?**
Not sure yet, still trying to determine wh

[2022-10-05 10:11] mhobbs812 commented on #1415
Ah, it was my flux.io CD configuration that was the issue. A typo no less.
Closing.

[2022-10-05 10:11] #1415 closed

[2022-10-05 13:51] ConnorJC3 commented on #1405
Update: the most recently released driver version (1.12.0) should now be compatible with 2022 LTSC hosts.

[2022-10-05 14:41] bellaned opened #1416 "Controller's csi-snapshotter container enablement from values file"
**Is your feature request related to a problem?/Why is this needed**
I want to be able to enable controller's csi-snapshotter container from values file not only to depend on api-versions from the server. This is needed in case to test with helm template command which is done locally not on the server-side.

/feature

**Describe the solution you'd like in detail**
A csiSNapshotter property can be

[2022-10-05 15:05] paalkr opened #1417 "EBS PVCs will not mount on nodes with iSCSI multipath installed"
Bug

**What happened?**
EBS PVCs fails to mount on hosts where open-iscsi and multipath-tools is installed.

**How to reproduce it (as minimally and precisely as possible)?**
On an Ubuntu host execute the following

1. write
[code]
to
`/etc/multipath.conf`

2. install and configure iscsi
apt --yes install open-iscsi lsscsi sg3-utils multipath-tools scsitools
sed -i 's/^\(node.session.scan\).*/\1 =

[2022-10-05 21:56] paalkr commented on #1417
The reason behand enabling iSCSI is to use AWS FSx for NetApp with the Trident CSI driver as a storage provider in our Kubernetes clusters.
https://docs.netapp.com/us-en/trident/trident-use/worker-node-prep.html#iscsi-volumes

[2022-10-06 18:46] z0rc opened #1420 "[helm] Don't check capabilities when `enableMetrics: true`"
/kind bug

**What happened?**
ServiceMonitor resource is guarded behind the `.Capabilities.APIVersions.Has` check. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/1380/files#diff-2412b20598542fa98f5a07543074554a7ca2bf9fa414b35e7cbc83a429f3c142R19

This check is problematic, as in order to resolve it `helm template` should be executed with `--validate` flag and connect to cluster that ha

[2022-10-06 19:07] ConnorJC3 commented on #1420
I strongly believe we should leave `enableMetrics` as is. As it currently is, we could add support for other metrics collection systems in the future under the `enableMetrics` option, so that it always just attempts to do the right thing. If we instead make this change, we lock ourselves into supporting only "ServiceMonitors for the Prometheus Operator".

We could add a secondary option to forcefu

[2022-10-06 19:11] z0rc commented on #1420
1. Adding `--api-versions` isn't that trivial or obvious, especially when `helm template` is executed under the hood of several CD tools, like `helmfile` for instance.
2. Yes

That's why I proposed "or replaced with user settable value". Either of options is good for me.

[2022-10-07 16:23] #1416 closed

[2022-10-07 18:01] #1420 closed

[2022-10-10 20:19] torredil commented on #1397
Resolving this issue, if help/clarification is still needed feel free to re-open, thanks.

[2022-10-10 20:19] #1397 closed

[2022-10-11 15:16] ConnorJC3 commented on #1417
Hi, I was able to replicate this issue with Ubuntu, thanks for the concise steps! Unfortunately, when `multipathd` "takes over" a device to add it's `mpathb` subvolume, there is nothing we can do. The linux kernel requires that nothing else is using the device for us to be able to mount it, so `multipathd` needs to be configured not to automatically take over every storage device that is attached.

[2022-10-11 20:36] paalkr commented on #1417
Thanks for pointing me in the right direction. Using strict mode kind of works, but it's not ideal and do have some unfortunate side effects. On the other hand, I managed to create a multipath.conf that excluded EBS disks, but still includes NetApp iSCSI volumes.

[code]

[code]

When listing multipaths you will now see that EBS PVC volumes are not included due to blacklisting
[code]
And that in f

[2022-10-11 20:36] #1417 closed

[2022-10-12 18:33] pserranoa opened #1423 "Version of image at k8s.gcr.io do run correct version"
/kind bug

**What happened?**
There is a different version of driver running the following container images.

k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.12.0 => Contains v1.11.4 driver version
public.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver:v1.12.0 => Contains v1.12.0 driver version

**k8s.gcr.io/provider-aws/aws-ebs-csi-driver:v1.12.0** container image
`docker run -ti k8s.gcr.io/provider-aws/